[2018-06-11 17:47] simon-mo commented on #513
Thanks for submitting this issue! @RehanSD Can you take a look?

[2018-06-11 21:15] simon-mo opened #514 "[CI] Move linter before docker builder"
Right now we run the docker image builder and then the linter. These two should swap their order or at least run in parallel.

[2018-06-11 21:16] RehanSD commented on #513
Hi vijinkp! Thanks for pointing this out. Its actually an error in the tutorial itself, so we'll fix it soon. Keep an eye on this thread for when the updated version is out.

[2018-06-12 00:11] RehanSD commented on #513
Hi @vijinkp! The Clipper system recently adopted adaptive batching, that this tutorial did not account for. We are making changes to the tutorial to account for this feature, and you should see no error.

1. Adaptive Batching - When the server is under load we add duplicates of the requests to measure how long this model takes given some batch size, to find out the optimal batch size for the model

[2018-06-12 06:49] vijinkp commented on #513
Thanks @simon-mo @RehanSD .
I tried the code snippet provided and data structure used for query input was list<list<int>>. I am getting following error.
{'error': 'Json error', 'cause': 'Error parsing JSON: Array input of type Array is not of type float. Expected JSON schema: \n  {\n   "input" := [double] | [int] | [string] | [byte] | [float],\n  }\n'}

How does predict function and query request

[2018-06-12 09:24] vijinkp commented on #513
I was able to run the example if i specify batch_size=1 in 'deploy_python_closure' function.

[2018-06-12 17:24] RehanSD commented on #513
Hi @vijinkp! It seems like you’ve made some progress overnight, but to answer your original question, specifying a batch size of 1 and sending an array of inputs is perfectly acceptable. I think you may have gotten the error you mentioned because you returned an array of arrays and not an array of floats. If you could specify where you got the error (whether when sending requests or when returning

[2018-06-13 05:33] vijinkp commented on #513
@RehanSD Since i was trying to test the model with batch_size of more than 1, i was passing an array of arrays to predict function. That resulted in following error.
{'error': 'Json error', 'cause': 'Error parsing JSON: Array input of type Array is not of type float. Expected JSON schema: \n {\n "input" := [double] | [int] | [string] | [byte] | [float],\n }\n'}

[2018-06-13 06:20] RehanSD commented on #513
Hi @vijinkp! To get a batch size greater than 1, after specifying the desired size in the deploy function call, you just need to send multiple queries normally, and Clipper will batch them for you. For example, if you wanted a batch size of two, with the inputs `[1, 2, 3]` and `[4, 5, 6]`, instead of sending 1 query with the input being `[[1, 2, 3], [4, 5, 6]]`, you would send one query with the i

[2018-06-13 06:25] vijinkp commented on #513
Hi @RehanSD Will Adaptive batching work even if we mention batch_size=1 in each query? One more query, Do you have any end to end example of pytorch/tensorflow model deployment and querying?

[2018-06-13 07:19] RehanSD commented on #513
AHi @vijinkp! I actually made a mistake in my previous answer. If you would like to send a batch of some size, send the array of arrays as you tried, but change the attribute in the query from `input` to `input_batch`. For more info on adaptive batching, check out these [docs](http://docs.clipper.ai/en/v0.3.0/_modules/clipper_admin/deployers/python.html?highlight=batch_size), but the short answer

[2018-06-13 07:32] vijinkp commented on #513
@RehanSD Thanks a lot.. It worked for me.

[2018-06-13 22:46] dcrankshaw commented on #512
Agreed. Using something like memcached is likely the right design choice here. As @dbczumar points out, the query frontend is pseudo-stateful right now, which is not a desirable property of the system.

[2018-06-15 00:33] withsmilo opened #518 "[Bug] QueryFrontend's CPU usage is very high"
I found that QueryFrontend's CPU usage is very high on testing latest Clipper. I suspect that EstimatorFittingThread added by Adaptive Batching v2(@dcrankshaw) is running infinitely.
To reproduce, try below steps.

### Step1 : Start hello-world sample
[code]

### Step2 : Login to QueryFrontend
[code]

### Step3 : Check that query_frontend's CPU usage is 104.7%
[code]

### Step4 : Deploy a new vers

[2018-06-18 21:49] aksnzhy opened #520 "Does Clipper support multiple workers?"
I have 4 GPUs on my PC and I want to use them to serve one model in a load-balanced way. Does Clipper support that?

[2018-06-18 23:09] aksnzhy opened #521 "Run quick start failed"
The Error:

[code]

[2018-06-18 23:13] RehanSD commented on #513
I'm glad @vijinkp!

[2018-06-18 23:27] withsmilo commented on #521
@aksnzhy
Please try to download `clipper/management_frontend:0.3.0` Docker image directly.
[code]
If failed, check your Docker registry.
[code]

[2018-06-18 23:44] withsmilo commented on #512
Agreed. Our team set QueryFrontend's cache size to 1 to disable caching, and some API servers in front of Clipper are caching the prediction result of each input.

[2018-06-19 16:47] #513 closed, assigned to nobody

[2018-06-19 16:52] dcrankshaw commented on #520
Yes it does. You can create [multiple replicas of a model](http://docs.clipper.ai/en/v0.3.0/clipper_connection.html#clipper_admin.ClipperConnection.set_num_replicas) and Clipper will automatically load-balance requests between them. However, Clipper does not yet support deploying models on GPUs automatically. You can instead do this manually by starting the Docker containers yourself using `nvidia

[2018-06-21 16:39] aliraza0337 opened #522 "Where I can find the RClipper package??"
Somehow I am not able to find the R package for clipper.
Thanks

[2018-06-22 05:01] vijinkp opened #523 "Increase thread pool size in query front end"
Is there any way to change '_size_t thread_pool_size_' parameter in '_src/libs/httpserver/server_http.hpp_' while starting the clipper through clipper_admin? If its not, please provide your comments.
Currently its hardcoded, _size_t thread_pool_size=1_.
Awaiting for the reply.

[2018-06-22 18:23] dcrankshaw commented on #522
@Corey-Zumar Can you help him out?

[2018-06-23 17:44] Corey-Zumar commented on #522
@aliraza0337 The Rclipper package is located in the [containers/R](https://github.com/ucbrise/clipper/tree/develop/containers/R) directory. You can follow the instructions in the README to get started

[2018-06-25 06:39] vijinkp commented on #523
@withsmilo, Thanks a lot. Can i pull your version to test ?

[2018-06-25 08:09] withsmilo commented on #523
@vijinkp
Sure! Please add my repo(https://github.com/withsmilo/clipper) to your git-remote, and then checkout my `expose_http_conf` branch.

[2018-06-25 09:22] vijinkp commented on #523
@withsmilo Thanks. I was trying to start clipper, but getting the following error.
_18-06-25:12:27:57 INFO     [docker_container_manager.py:153] [default-cluster] Starting managed Redis instance in Docker
18-06-25:12:28:00 INFO     [docker_container_manager.py:236] [default-cluster] Metric Configuration Saved at /tmp/tmpf_gyedtd.yml
Traceback (most recent call last):
  File "clipper_scripts/clippe

[2018-06-25 23:19] withsmilo commented on #523
@vijinkp
How did you checkout my branch and test it?

[2018-06-26 05:35] vijinkp commented on #523
@withsmilo
i cloned your clipper repo and check out '_expose_http_conf_' branch. Then did a pip install clipper_admin pointing to _clipper_admin_ folder.

[2018-06-26 06:25] withsmilo commented on #523
@vijinkp
First of all, you must set development environment and build Clipper images. Refer to http://clipper.ai/contributing/

[2018-06-26 07:29] vijinkp commented on #523
Thanks @withsmilo. I will setup dev env and test.

[2018-06-26 20:31] csmithnm commented on #473
It is still not working. I have been trying every combination and permutation for months, but have not been able to get a dataframe to work.
**Q: Do you have an R Dataframe example yet?**

If we can't get this to work, then we might have to look else where for a predictive model framework.

[2018-06-27 03:15] dyoung23 opened #525 "I deploy a Keras model,but get a pickle.PicklingError"
I want to deploy a Keras model,code as below:
[code]
But when I run this script,I get a error.
[code]

What's wrong with my predict function?Couldn't I deploy a Keras model in this way?

Thanks in advance.If you have a example of deploying Keras model.I will be very grateful.

[2018-06-27 19:41] simon-mo commented on #525
Hi @dyoung23,

I noticed you put the base_image as `base_image='docker.io/clipper/keras-container:develop`. As I can recall, we never wrote a custom keras container. Did you write it? If so, how?

This error message probably comes from this line in your predict function:
[code]
Precisely, what happened was:
- cloudpickle tries to serialize `model` object
- `model` object is referring to the global

[2018-06-28 02:14] dyoung23 commented on #525
@simon-mo Thank you for your answer.
I saw a example which deploy a pure python model in sklearn. So I follow it  and deploy a Keras model in same way,but fail to realize the effort of Tensorflow.
I build this container in this [Dockerfile](https://gitlab.com/dyoung23/Clipper/blob/master/Dockerfile/KerasDockerfile) and rewrite [keras_container.py.](https://gitlab.com/dyoung23/Clipper/blob/master/c

[2018-06-29 00:00] simon-mo commented on #525
@dyoung23

Writing a deployer would the right way to go. Seeing the `Dockerfile` and `keras_container.py`, I think you are 99% there. The last step would just be writing the deployer that will take model file and build docker container with model file copied into it.

Feel free to ask any more question regarding the deployers! The [tensorflow deployer](https://github.com/ucbrise/clipper/blob/devel

[2018-06-29 00:01] #461 closed, assigned to simon-mo

[2018-06-29 00:02] simon-mo commented on #460
Closed by #503

[2018-06-29 00:02] simon-mo commented on #424
Closed by #503

[2018-06-29 00:02] simon-mo commented on #448
Closed by #503

[2018-06-29 00:02] #448 closed, assigned to simon-mo

[2018-06-29 00:02] #424 closed, assigned to simon-mo

[2018-06-29 00:02] #460 closed, assigned to simon-mo

[2018-07-01 21:59] lgendrot commented on #520
I may be wrong, but instead of starting the docker containers yourself manually, you can simply [make the nvidia-docker runtime the default docker runtime](https://github.com/NVIDIA/nvidia-docker/wiki/Advanced-topics#default-runtime)

I haven't tested it, but presumably this would make every docker container started on your system have GPU access.

[2018-07-04 06:01] xuguangzhao opened #528 "when I deploy clipper in kube cluster,but" ClipperException: Error connecting to Kubernetes cluster. No external node addresses found""
clipper_conn.start_clipper(query_frontend_image="clipper/query_frontend", mgmt_frontend_image="clipper/management_frontend")
18-07-04:05:59:12 INFO     [kubernetes_container_manager.py:33] {u'kind': u'deployments', u'group': u'extensions', u'name': u'redis'} already exists, skipping!
18-07-04:05:59:12 INFO     [kubernetes_container_manager.py:33] {u'kind': u'services', u'name': u'redis'} already e

[2018-07-05 19:48] aliraza0337 commented on #522
Hi,
Thanks for giving me the pointer everything seems to be in order but I am
still getting this error while trying to deploy the R model,

*Traceback (most recent call last):*

*  File
"/Library/Frameworks/R.framework/Versions/3.5/Resources/library/Rclipper/build_container.py",
line 9, in <module>*

*    version.__registry__, version.__version__)*

*AttributeError: 'module' object has no attribut

[2018-07-06 00:22] csmithnm opened #529 "RClipper Docker Container run error - "Failed to install library: Rclipper""
I am having issues getting from the "Build a model" step to the "Deploy and link model".  I can finally get the "Build a model" step working, but when I try to "Query the model" I get the "No connected models found for query" error message from the REST API.

`{"query_id":0,"output":-1.0,"default":true,"default_explanation":"No connected models found for query"}`

I believe the issue is that the `

[2018-07-06 16:37] aliraza0337 opened #530 "Error while running R package"
Thanks for giving me the pointer everything seems to be in order but I am still getting this error while trying to deploy the R model,

**Traceback (most recent call last):
  File "/Library/Frameworks/R.framework/Versions/3.5/Resources/library/Rclipper/build_container.py", line 9, in <module>
    version.__registry__, version.__version__)
AttributeError: 'module' object has no attribute '__registr

[2018-07-06 19:42] simon-mo commented on #530
Hi @aliraza0337 , this might be clipper version issue.

Can you run `pip install git+https://github.com/ucbrise/clipper.git#subdirectory=clipper_admin` to make sure the installed clipper version matches the version Rclipper is calling from.

Basically what happened was:
- RClipper will try to call a python script. This script is up to date.
- The script will try to call `clipper_admin` package ins

[2018-07-06 19:53] csmithnm commented on #530
I am getting a similar error with clipper-develop.
I tried `pip install git+https://github.com/ucbrise/clipper.git#subdirectory=clipper_admin` and it did NOT work.

Traceback (most recent call last):
  File "/usr/local/lib/R/site-library/Rclipper/build_container.py", line 5, in <module>
    from clipper_admin import DockerContainerManager, ClipperConnection, ClipperException
  File "/home/ubuntu/c

[2018-07-06 20:03] aliraza0337 commented on #530
@simon-mo The above error is gone after I ran the update but now I am getting the following, while running the admin

**Traceback (most recent call last):
  File "admin.py", line 7, in <module>
    conn.connect()
  File "/Library/Python/2.7/site-packages/clipper_admin/clipper_admin.py", line 147, in connect
    self.cm.connect()
  File "/Library/Python/2.7/site-packages/clipper_admin/docker/docker

[2018-07-06 20:04] simon-mo commented on #529
Thanks for the suggestion @csmithnm! We are slightly behind on R support and these feedback are great!

I will work on fixing these soon.

[2018-07-06 20:09] simon-mo commented on #530
@aliraza0337 You might need to kill the existing clipper docker containers before starting a new connection. From my experience, this error occurs when there's dangling containers. You can do so by running `docker kill $(docker ps -q)` in your terminal.

[2018-07-06 20:13] simon-mo commented on #530
@csmithnm where are you running the the script? From the traceback, the clipper package that the R/python runtime found was located at `/home/ubuntu/clipper-develop/clipper_admin/....` however it should be located at either a conda environement of python runtime (typically they are located under a directory called `site-pakages` within python folder.

I have seen this error occurs when i start my

[2018-07-06 20:16] aliraza0337 commented on #530
I tried the above command and after that ran `docker container ls`it showed no container, but I am still getting the above error.
Also in the python code, does it have to do anything that we aren't start clipper and right away calling connect?

http://clipper.ai/tutorials/r-deployment/#deploy-and-link-the-model

[2018-07-06 20:17] simon-mo commented on #528
Is the kubernetes cluster running in internal IP? If so you can start clipper with
`clipper_conn = ClipperConnection(KubernetesContainerManager(useInternalIP=True))`

[code]

[2018-07-06 20:22] simon-mo commented on #506
Investigated. Helm Chart does not seem to be the best option for clipper as clipper is much more dynamic.

[2018-07-06 20:22] #506 closed, assigned to nobody

[2018-07-06 20:23] csmithnm commented on #530
It now works. I was forcing Python to look in the /home/ubuntu/clipper-develop/clipper_admin/clipper_admin/clipper_admin.py via the PYTHONPATH environment variable. I removed the PYTHONPATH environment variable and now the build works!!!  Thank You!  I have been working getting Clipper to with with R for MONTHS without any luck. I am hoping this version will do the trick.

[2018-07-06 20:40] csmithnm commented on #530
But be careful with the `clipper-develop` version when you try to deploy. The Clipper developers added `default-cluster` onto the name of the Docker image:

`clipper_conn.deploy_model("r-csus-tc", "6", "strings", "default-cluster-r-csus-tc:6", num_replicas=1)`

[2018-07-06 20:45] aliraza0337 commented on #530
One more thing even if when I run the R code given here:
http://clipper.ai/tutorials/r-deployment/#build-a-model
It gives the expected output, but when I run `docker container ls` I don't see any container.

[2018-07-06 22:25] csmithnm commented on #529
I reinstalled clipper-develop on an entirely new AWS instance and I still can't get my R model to deploy. The docker container crashed again after a 15 minutes build.

The R package CodeDepends is definitely causing some issues. I had to do quite few manual apt-get and R package installs to get all of your required Clipper R packages to work on the Rscript model build side. I am using R 3..4.4 to

[2018-07-07 20:46] aliraza0337 commented on #530
@simon-mo @csmithnm
In case you missed it, just bumping it up.
This is the output if starting R model.
[code]
This is when I start admin:

[code]

what do you think causing it crash, second after running the R model, I don't see any container. when I do `docker container ls`.

[2018-07-09 08:17] xuguangzhao opened #531 "Hanging Several hours :[clipper_admin.py:458] Pushing model Docker image to sum-mode2:1"
When I finish deploy in k8s cluster, and the clipper is running. so I attempt to deploy python sum funtion
,but when I exec :  python_deployer.deploy_python_closure(clipper_conn, name="sum-model", version=1, input_type="doubles", func=feature_sum) ，   bog down few hours：

In [6]: python_deployer.deploy_python_closure(clipper_conn, name="sum-mode2", version=1, input_type="doubles", func=feature_sum

[2018-07-09 08:22] xuguangzhao commented on #528
done ,thanks

[2018-07-09 21:25] simon-mo commented on #531
`ImagePullBackOff` error is usually due to the image minikube is not authorized to pull that image.

Here are steps to resolve this:
- If you are using minikube, you can just have minikube to use the local docker context. See more [here](https://kubernetes.io/docs/setup/minikube/#reusing-the-docker-daemon)
- Else, you can change the following line:
[code]
into
[code]
You can put your docker accoun

[2018-07-09 23:35] withsmilo commented on #530
@aliraza0337 :
http://clipper.ai/tutorials/r-deployment/#deploy-and-link-the-model assumes that a Clipper cluster is running on localhost with a registered application that has the name app1. So you must execute other commands before it.
[code]
and then,
[code]

[2018-07-09 23:56] aliraza0337 commented on #530
Hi @withsmilo
I have tried what you suggested up there, I get the following error.
`18-07-09:19:54:53 INFO     [docker_container_manager.py:151] [default-cluster] Starting managed Redis instance in Docker
18-07-09:19:54:55 INFO     [docker_container_manager.py:229] [default-cluster] Metric Configuration Saved at /private/var/folders/9l/nb5rkvcx70xgfcttqmzqc7dm0000gn/T/tmptIBmbl.yml
18-07-09:19:54:

[2018-07-10 00:07] withsmilo commented on #530
@aliraza0337 :
You got this error,
[code]
Did you execute `Rclipper::build_model("test-model", ...)`? If you had the success to build your R model, you can find your own Docker image(test-model) through `docker images`.

[2018-07-10 00:21] aliraza0337 commented on #530
yes, I do execute that, as I you can see in my R code above at the bottom of my comment, this is how my Rcode looks and it runs with out error:
""
library(Rclipper)
pred_fn = function(inputs) {
return(lapply(inputs, function(input) {
return(as.character(length(input)))
}))
}
Rclipper::build_model("test-model", "1", pred_fn, sample_input = as.integer(c(1,2,3)))
""

and when I view images I see:
def

[2018-07-10 00:25] withsmilo commented on #530
1. Please share your /Users/aliraza/Desktop/SummerEco/RCode/check.py.
2. Please share your Docker image list through `docker images`.

[2018-07-10 00:29] aliraza0337 commented on #530
check.py

[code]
docker images
[code]

[2018-07-10 02:00] withsmilo commented on #530
@simon-mo added 'default-cluster' to Docker image's name on the latest 'develop' branch by [this commit](https://github.com/ucbrise/clipper/commit/3c5a1cc6ce59e0ccd778f526a50808d0e7b2576f#diff-e1c99d5ca218bda649bbaac7cf045cf4R459). So I think that you must execute like this,
[code]

[2018-07-10 02:06] aliraza0337 commented on #530
Okay this time, it didnt give error, but not correct out put. I guess CURL command has issue:

curl -X POST --header "Content-Type:application/json" -d '{"input": [1,2,3,4]}' 127.0.0.1:1337/app1/predict

As we don't have predict here?

[2018-07-10 02:10] aliraza0337 commented on #530
never mind, it seem to be working. Thanks alot :)

[2018-07-10 02:11] withsmilo commented on #530
@aliraza0337 👍 Please close this issue if you resolved the problem.

[2018-07-10 02:19] aliraza0337 commented on #530
@withsmilo it works sometime and sometime its not giving the correct output :/
It gives,
{"query_id":18,"output":-1.0,"default":true,"default_explanation":"No connected models found for query"}

[2018-07-10 02:36] withsmilo commented on #530
Check Clipper_query_frontend's logs when querying your inputs.
[code]

[2018-07-10 03:02] xuguangzhao opened #533 "HTTPConnectionPool(host='192.168.13.79', port=30112): Max retries exceeded with url: /admin/get_all_models (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f0708172e10>: Failed to establish a new connection: [Errno 110] Connection timed out',))"
When I finish deployed in k8s cluster, and the clipper is running.
but when i clipper_admin.get_all_models():

ConnectionError                           Traceback (most recent call last)
<ipython-input-4-374a34b76b9b> in <module>()
----> 1 clipper_conn.get_all_models()

/root/anaconda2/lib/python2.7/site-packages/clipper_admin/clipper_admin.pyc in get_all_models(self, verbose)
    889         req_

[2018-07-10 21:30] #530 closed, assigned to nobody

[2018-07-10 21:41] akhtarnabeel opened #534 "Customize container image for R"
Hi,
I was wondering if there is anyway I can provide my own container image for R code, with dependencies installed in it. So that instead of the default docker container image, it uses my image.

I am doing it because my R code has dependencies.

Thank you very much!

Nabeel

[2018-07-10 22:25] RehanSD commented on #534
Hi Nabeel!
By modifying these [lines](https://github.com/ucbrise/clipper/blob/develop/containers/R/rclipper_user/inst/build_container.py#L8-L9), you can have Clipper build your own custom image. Make sure to follow the template provided in this [file](https://github.com/ucbrise/clipper/blob/develop/dockerfiles/RContainerDockerfile) so that the new container image is compatible.

[2018-07-11 00:04] aliraza0337 opened #535 "what(): Number of model outputs: 1 does not equal the number of inputs: 2"
Can someone give me an example of how an R function with string input and output would look like.
I have tried:

[code]

and then tested like:
`curl -X POST --header "Content-Type:application/json" -d '{"input": "value"}' 127.0.0.1:1337/app1/predict`

It didn't work and I see this error:
` what():  Number of model outputs: 1 does not equal the number of inputs: 2`

But I see both of these are stri

[2018-07-11 03:44] aliraza0337 commented on #535
Even though I am passing and then returning same variable. I am getting the following error.
` Number of model outputs: 1 does not equal the number of inputs: 2`

my prediction function is as following:
[code]

[2018-07-11 06:06] #533 closed, assigned to nobody

[2018-07-11 06:10] xuguangzhao opened #536 "ConnectionError: HTTPConnectionPool(host='192.168.13.79', port=30112): Max retries exceeded with url: /admin/get_all_models (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f0708172e10>: Failed to establish a new connection: [Errno 110] Connection timed out',))"
When I finish deployed in k8s cluster, and the clipper is running.
but when i clipper_admin.get_all_models():

ConnectionError Traceback (most recent call last)
in ()
----> 1 clipper_conn.get_all_models()

/root/anaconda2/lib/python2.7/site-packages/clipper_admin/clipper_admin.pyc in get_all_models(self, verbose)
889 req_json = json.dumps({"verbose": verbose})
890 headers = {'Content-type': 'appli

[2018-07-11 08:37] xuguangzhao opened #537 "Hang several hours:[clipper_admin.py:124] Clipper still initializing."
before clipper is correctly running. because access to private registry is need configed for each node, so when i have done for registry ,I restart docker at each node.  so i  deploy the clipper in k8s cluster again. but when i  exec
clipper_admin.start_clipper()， log is always printing Clipper still initializing（the state has several hours）：

In [1]: from clipper_admin import ClipperConnection, K

[2018-07-11 10:56] boyaryn commented on #477
Thanks for this useful topic.

I have a similar issue. I'm installing Clipper (the latest version) on Google Kubernetes Engine.
Initially I also was getting `Clipper still initializing.` in python3 CLI after running `clipper_conn.start_clipper()` but using `kubectl proxy --port 8080` and providing `kubernetes_proxy_addr` in KubernetesContainerManager's constructor lets it succeed. So for example I

[2018-07-11 13:06] withsmilo commented on #518
I turned off the 'Adaptive Batching v2' by applying this patch. This is just workaround.
[code]

[2018-07-11 21:31] simon-mo commented on #535
We use adaptive batching to figure out the optimal batch size for a model. So the input to your function should be a list of str instead of just a single string; it should return a list of string as well.

See https://github.com/ucbrise/clipper/issues/513 for more info.

[2018-07-11 21:35] simon-mo commented on #536
Are you using kubernetes proxy? If so, you can pass in `kubernetes_proxy_addr` as an argument in constructing `KubernetesContainerManager` as described here:
http://docs.clipper.ai/en/v0.3.0/container_managers.html#clipper_admin.KubernetesContainerManager.__init__

[2018-07-11 22:12] RehanSD commented on #525
@dyoung23 We've received a lot of interest in a Keras deployer, so we were wondering if you would be interested in contributing to Clipper by submitting a PR for your deployer.

[2018-07-12 01:23] xuguangzhao commented on #536
@simon-mo
I use proxy kubernetes_proxy_addr but also is Clipper still initializing：

18-07-12:01:18:12 WARNING  [kubernetes_container_manager.py:241] No external node addresses found. Using Internal IP address
18-07-12:01:18:12 INFO     [kubernetes_container_manager.py:254] Found 1 nodes: 192.168.13.79
18-07-12:01:18:12 INFO     [kubernetes_container_manager.py:263] Setting Clipper mgmt port to 31

[2018-07-12 18:51] csmithnm commented on #534
I want to do the same thing as the Nabee. I want Clipper to deploy my manually built R Docker container because the current build process fails due to dependency conflicts installing RClipper required CodeDepends and histry packages (this really needs to be fixed).

**Q: Where is the build_container.py file that is executed physically stored so I know which one to change to impact the build proces

[2018-07-16 09:50] xuguangzhao opened #538 "[09:38:26.633][error] [STATEDB] StateDB failed to connect to redis when i exec command: kubectl logs mgmt-frontend-7858f5c57c-hqgxm"
before clipper is correctly running. because access to private registry is need configed for each node, so when i have done for registry ,I restart docker at each node. so i deploy the clipper in k8s cluster again. but when i exec
clipper_admin.start_clipper()， repeates  always printing Clipper still initializing

when i look some logs :  kubectl logs mgmt-frontend-7858f5c57c-hqgxm

[09:38:26.633]

[2018-07-16 18:27] aliraza0337 opened #539 "package ‘Rclipper’ is not available (for R version 3.4.4) | installation of package ‘CodeDepends’ had non-zero exit status"
Hi, I have been working with RClipper and I realized my code was breaking because of dependencies! Here i the log while initializing the container and I can see there are some package that aren't being installed because of some issue. Any help will be greatly appreciated.

[code]

[2018-07-20 05:32] aliraza0337 opened #540 "Customized R container"
1: I downloaded the clipper, git clonned.
2: I added some extra lines to [this file ](https://github.com/ucbrise/clipper/blob/develop/dockerfiles/RContainerDockerfile) in order to customize the r-container
3: I re-install the clipper_admin
`sudo pip install clipper_admin`
4: I re-install the R package (Rclipper)
5: I run my R model
6: I run my clipper_admin (python code)
7: I do `docker logs --tai

[2018-07-23 15:54] csmithnm commented on #539
I am having the same issue. There are some serious compatibility issues with the packages of R and what the RClipper requires. I was able to get around the issues on the initial Rscript local model build, but I had to do a lot of manual installs outside of R to get it to work. There was error after error with the Rclipper required dependency packages especially around CodeDepends. To get XML to in

[2018-07-23 16:21] csmithnm commented on #540
I believe you would need to also change this [line](https://github.com/ucbrise/clipper/blob/develop/containers/R/rclipper_user/inst/build_container.py#L8-L9) to point to your new R image.

`#If your new container name is "clipper/r-container-base:custom" here is what the line would look like:`
`CLIPPER_R_CONTAINER_BASE_IMAGE = "clipper/r-container-base:custom")`

**OPTION 2:**  In trying to stay m

[2018-07-24 08:18] donigian opened #541 "XGBoost Example:"
System information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS X
clipper installed from (source or binary): binary
clipper version (): master branch
Python version: Python 3.6.5 :: Anaconda, Inc.

The [XGBoost example ](http://clipper.ai/tutorials/xgboost_deployment/) returns:
[code]

According to [FAQ](http://clipper.ai/tutorials/troubleshooting/), `clipper_conn.inspect_instan

[2018-07-24 11:37] agneeshdg opened #542 "Prometheus metrics not visible using K8S Container Manager"
After deploying a sample model using Kubernetes container manager on an RHEL7 OS, I am not able to view any metrics on the Prometheus UI provided by Clipper. I have a Kubernetes cluster with one master and one worker node.

![image](https://user-images.githubusercontent.com/41427799/43135575-807f81ec-8f63-11e8-9ade-be63662bb058.png)
![image](https://user-images.githubusercontent.com/41427799/43135

[2018-07-24 16:54] coolarhoo commented on #342
Although #434 appears to be closed, the commits made in #254 which was referred to in #434 as solution, are not reflected in neither the develop or 0.3 Release branch. It seems removing links between applications and models is still not allowed. Any plan to pick this up?

[2018-07-24 19:00] RehanSD commented on #541
Hi @donigian!
Would it be possible for you to post the output of the XGBoost model container logs here? The container missing the SLO could be because it is failing for another reason, and the logs can help me assess that.
Thanks!

[2018-07-25 03:36] donigian commented on #541
@RehanSD
Here are the only docker containers which are up? Do you know what the name of the XGBoost model container would be? It might be dead if you don't see it in the list below.

[code]

I suspect it may be `docker logs query_frontend-29528`, but the resulting file is 8xxx lines long!

[2018-07-25 07:19] agneeshdg commented on #537
Hi @xuguangzhao , try using clipper_admin.connect() instead of start_clipper(), since you already have a Clipper cluster as part of the k8s cluster.

[2018-07-25 08:44] jayantjain93 commented on #541
I am getting the exact same issue.
post the SLO exception I start requesting again and I get
`
b'{"query_id":16,"output":-1,"default":true,"default_explanation":"No connected models found for query"}'
`
The model dockers doesn't appear anymore in the docker list. Got the following message in the model docker logs
[code]
The 2 output error seems to be there even when I'm sending a single input batc

[2018-07-25 08:56] jayantjain93 commented on #541
If I got ahead and change the predict function to that given in the example:
[code]

I get the following error:
[code]

[2018-07-25 14:12] jayantjain93 commented on #541
So I found the issue with this. There is type difference from what xgboost returns in batch prediction to what is being used.
The following is the solution to the issue:
[code]

[2018-07-25 21:00] RehanSD commented on #541
Hi @jayantjain93, @donigian, changing your predict function so that it is just
[code]
should fix the issue. The website will be updated shortly.

[2018-07-26 06:46] donigian commented on #541
@RehanSD
I think you meant...

[code]

as model is undefined. thank you :)

[2018-07-26 06:47] #541 closed, assigned to nobody

[2018-07-26 07:55] YogeshSomawar opened #543 "Failed to establish a new connection: [Errno 60] Operation timed out on kubernetes"
I am trying to deploy clipper on kubernetes
I am using kubernetes from native google cloud.

[code]
So as per #537 , I have used connect() for connecting to clipper, but on registering application it is getting timeout,

[code]

PODs got created on k8s :

[code]

Could somebody assist me on this.

[2018-07-26 07:59] YogeshSomawar commented on #536
Please have a look at #537 , might help you.

[2018-07-31 06:24] donigian opened #544 "How to predict using REST for a batch of rows?"
How would you extend `get_test_point()` in this [example](http://clipper.ai/tutorials/xgboost_deployment/) to support a predict call using REST for a batch of rows?
`Note:` I've modified the example to use `doubles` instead of `integers`.

I've tried to modify the following snippet to use an array of arrays, but running into the error below.
[code]
where `batch_test_points()` returns `[ [],[] ]`.

[2018-07-31 10:09] agneeshdg commented on #543
Hi,
Looks like a problem with your frontends. Try to run `clipper_conn.stop_all()` and then

`from clipper_admin import ClipperConnection,KubernetesContainerManager
clipper_conn = ClipperConnection(KubernetesContainerManager(useInternalIP=True)
clipper_conn.start_clipper()`

A new cluster should be deployed.

[2018-08-01 09:31] ssuerbier commented on #544
I just ran into the same issue. If you check this issue: https://github.com/ucbrise/clipper/issues/292 (and the linked PR) it tells you to send the data under `input_batch` instead of `input`. So try:

[code]

This feature is not documented yet in http://clipper.ai/api/api.html as it seems.

[2018-08-01 09:43] simon-mo commented on #544
Thanks for catching that!

Yes, input_batch is the way to go. I’ll add documentation for rest api as well as update tutorial to introduce batch_predict.

[2018-08-01 22:23] thomasSve commented on #525
Has this issue been moved forward? Is the keras deployer being added any time soon?

[2018-08-02 06:57] YogeshSomawar commented on #537
Hi, I am also facing same issue.
I am using k8s from native google cloud.

I have used connect() for connecting to clipper, but on registering application it is getting timeout,

[2018-08-02 08:52] donigian commented on #544
Excellent, updating the documentation will provide clarity.

[2018-08-02 08:52] #544 closed, assigned to nobody

[2018-08-03 16:07] donigian opened #545 "Tracking metrics during training (outside of predict) using Clipper"
Clipper provides a way for developers to track & monitor metrics during inference (model monitoring).
I'm interested in keeping track of metrics during model development (training) using the same [API](http://clipper.ai/tutorials/metrics/).

Curious to hear your thoughts whether there are any sharp edges of using Clipper metrics API for this use case as well.

I would also be interested in hearing

[2018-08-06 01:55] kheraAniruddh opened #546 "Unable to deploy scikit-learn model using deploy_python_closure function"
Hi,

I tried deploying a toy model using scikit-learn on Clipper cluster using DockerContainerManager.

It's successfully able to build the docker image but gets stuck on

On inspecting the docker container, first it exits and on checking the logs of the respective container I get:

I think this is a common error, even others encountered it: https://github.com/ShuaiW/serve-ml-with-clipper/issues/3

[2018-08-06 02:14] withsmilo commented on #546
@kheraAniruddh
How did you execute Clipper? Please share your codes with me.

[2018-08-06 02:15] RehanSD commented on #546
Hi @kheraAniruddh!
Could you please post your call to deploy python closure? To be able to deploy a scikit learn model, you need to install the dependencies correctly, so you should add `numpy` and `scipy`, and then `scikit-learn` to packages to install.

[2018-08-06 02:16] RehanSD commented on #546
I’m fairly certain that the issue here is that you have to install the dependencies for scikit learn manually.

[2018-08-06 02:20] kheraAniruddh commented on #546
@RehanSD, I am absolutely certain that I have specified the dependencies using the pkgs_to_install and they are installed on the container.
(numpy, scipy) gets installed as the scikit dependencies

[2018-08-06 02:22] RehanSD commented on #546
@kheraAniruddh, it would still help to see your code.

[2018-08-06 02:26] kheraAniruddh commented on #546
@withsmilo
[code]

[2018-08-06 02:27] kheraAniruddh commented on #546
@RehanSD
<img width="738" alt="screen shot 2018-08-05 at 7 26 36 pm" src="https://user-images.githubusercontent.com/22443954/43693907-82ee24ca-98e5-11e8-8564-867995e50dfd.png">

[2018-08-06 02:30] kheraAniruddh commented on #546
I appreciate your help. Even you can look into the link I specified in my initial comment. That toy example is giving the same error.

[2018-08-06 02:58] kheraAniruddh commented on #546
@RehanSD, you were right! On specifying the numpy and scipy packages, the model got deployed!

Thanks! I think you can close this issue.

[2018-08-06 04:21] #546 closed, assigned to nobody

[2018-08-06 05:29] simon-mo opened #547 "Default Packages for Python"
We should install some bare minimum packages such that model that depens on scimitar-learn can be deployed out of the box. I suggest
- numpy
- scipy
- scikit-learn

[2018-08-06 06:49] RehanSD commented on #547
@simon-Mo if we just did NumPy and SciPy then a bunch of other things like scikit-learn would become very simple - if NumPy and scipy are already installed then you just need to add scikit-learn to `pkgs_to_install`.
This way we make things like scikit-learn easier to deploy while still keeping our containers lightweight.

[2018-08-07 10:50] YogeshSomawar commented on #543
Hi @agneeshdg,
Thanks for your comments, however, the problem did not resolve.
As I am using this on K8S, does I need to use specific POD IP to establish the connection?

~Yogesh

[2018-08-09 08:45] #545 closed, assigned to nobody

[2018-08-09 09:39] HaoLiuHust opened #548 "where is the batching part?"
for example, if there are multiple clients send request to a server, the request will be construct a batch forward or forward them one by one?

[2018-08-09 10:09] simon-mo commented on #548
Yes. If multiple clients send request to the same model simultaneously (or in a high throughout situation), Clipper will send the largest batch possible to guarantee the latency slo. We avoid sending query one by one as much as possible.  Because we want to take advantage of model’s ability to handle a batch of input.

[2018-08-09 11:54] HaoLiuHust commented on #548
Thanks, where is the batching part in source code?

[2018-08-09 13:33] simon-mo commented on #548
Batch size is determined at
https://github.com/ucbrise/clipper/blob/3c5a1cc6ce59e0ccd778f526a50808d0e7b2576f/src/libclipper/src/containers.cpp#L128
We use an estimation method to adaptively figure out the optimal batch size per model.

The batching happen inside query frontend, which are the cpp code contained in src/ directory. Each model has a queue that aggregate the queries from (potentially)

[2018-08-09 13:56] HaoLiuHust commented on #548
Thanks for your reply, by the way, how can I debug the source code according to request?

[2018-08-10 06:17] simon-mo commented on #548
Can you clarify? Which part of Clipper do you want to debug? Your model log can be checked via docket log or kubectl log.

I’m asking because Clipper has a distributed architecture and distributed system is usually hard to debug as a whole.

[2018-08-10 06:20] HaoLiuHust commented on #548
I want to debug into the batching part so I can make it clear how it works since I would like to use it in my own c++ project, is there an easy way to do this?

[2018-08-10 06:31] simon-mo commented on #548
One way to do it is to modify the dockerfile for QueryFrontend, instead of

https://github.com/ucbrise/clipper/blob/3c5a1cc6ce59e0ccd778f526a50808d0e7b2576f/dockerfiles/QueryFrontendDockerfile#L17

You can write:
[code]

And build the docker image by running the following inside $CLIPPER/dockerfiles:
[code]

And then run your normal Clipper pipeline, after sending the request, you can attach gdb s

[2018-08-10 08:25] HaoLiuHust commented on #548
Thanks for your warmly reply, I will try it. appreciate your wonderful work

[2018-08-13 06:40] robi56 commented on #338
Hi @dcrankshaw, I have tried by using nvidia-docker. I have installed nvidia-docker package in my local machine and  start the docker where model servers using **nvidia-docker container_id** to access the gpu resources from the machine. But the model-server doesn't get gpu access.

[2018-08-13 06:45] simon-mo commented on #338
For the latest nvidia-docker I believe you need to pass in `runtime=“nvidia”` in docker.containers.run

[2018-08-14 02:26] withsmilo opened #549 "[Bug] Memory leak occurred in QueryFrontend when all the user requests met SLO"
To reproduce this bug, try below steps.

### Step1 : Start hello-world sample (cache_size=0, slo_micros=100)
[code]

### Step2 : Login to QueryFrontend
[code]

### Step3 : Check current memory usage. (Approx. 19 MiB)
[code]

### Step4 : Send many requests to the QueryFrontend
[code]

### Step5 : Check that all the requests met SLO
[code]

### Step5 : Check current memory usage. (Approx. 39 MiB)
[c

[2018-08-14 11:49] ksoucy commented on #537
I also experience the same issue but using k8s locally with minikube.

[2018-08-14 14:27] withsmilo commented on #549
I think that TaskExecutor's PredictionCache increased continuously because PredictionCache called PredictionCache::insert_entry() only, not PredictionCache::evict_entries().

[2018-08-15 00:09] simon-mo commented on #549
Evict entry should be called on `put` when the cache buffer is full. But the cache size of 0.

https://github.com/ucbrise/clipper/blob/80c97d27a38d60caaebb2a1ae6a995dd7ff1c82d/src/libclipper/src/task_executor.cpp#L78

I’ll investigate it.

[2018-08-15 12:29] xuguangzhao opened #550 "Error resolving query-frontend-0: [Errno -3] Temporary failure in name resolution"
when I finish deployed clipper on k8s cluster. when i deploy the  sum-model example
![image](https://user-images.githubusercontent.com/40658303/44148102-68603012-a0c9-11e8-861b-c3a7ada76b70.png)

I can't telnet 7000 port , I can telnet 31223 port
![image](https://user-images.githubusercontent.com/40658303/44148161-a7a2d66c-a0c9-11e8-8549-11b2b82d82f3.png)
so I find iptables:
[root@zhiyuan1 ~]# ipt

[2018-08-15 12:29] withsmilo commented on #549
@simon-mo :
Our team has met this error case on the real environment. Anyway, I'm continuing to debug this error.

1. Add a new task to queue.
[code]

2. This code removed a new task. So `batch` returned by `get_batch()` has zero size.
https://github.com/ucbrise/clipper/blob/e0b12200ac8b3aeadd8a0ce037e6a96790b4eaab/src/libclipper/include/clipper/task_executor.hpp#L146

3. So we got this error mess

[2018-08-15 14:22] withsmilo commented on #549
@simon-mo :
This patch is just workaround.
[code]

[2018-08-15 15:15] withsmilo opened #551 "[Bug] SIGSEGV occurred in the SimpleWebServer very rarely"
The stacktrace is here.
[code]
I think that this bug is caused by SimpleWebServer.

[2018-08-15 15:25] withsmilo commented on #551
Clipper uses [SimpleWebServer v2.1.1](https://github.com/ucbrise/clipper/pull/438) now, but we need to update SimpleWebServer to the latest version to resolve this bug. Our team completed to update it already and verified that this bug disappeared.

After finished to merge [this PR](https://github.com/ucbrise/clipper/pull/524) with upstream, I will create a new PR for this issue.

[2018-08-16 18:01] yuezha01 opened #552 "Question about "data=json.dumps({"input": X})" when data input to a deployed model"
Hi,

I am new to Clipper and very excited about the deployment feature offered by Clipper. But I am very confused with the input to a deployed model using the following code.
`requests.post(url, headers, data=json.dumps({"input": X}))`
Based on the examples on Clipper website, I came up with the following naive tests for different X. But I am having a hard time understanding what goes wrong in my

[2018-08-16 18:37] RehanSD commented on #552
Hi @moon412!
I think the issue here is that the output of the predict function needs to be of the same length as the input. To make test 3 work, for example, all you need to do is change it to this:
[code]
In effect, it doesn’t matter what the elements of the list returned by the function is - just that `len(inputs) == len(test3_new(inputs))`. This is because of adaptive batching - to find the opt

[2018-08-17 05:49] yuezha01 commented on #552
Thanks @RehanSD !
Your reply solves the puzzle for me. I was so confused what the data structure of "inputs" looks like.

[2018-08-17 05:49] #552 closed, assigned to nobody

[2018-08-17 06:50] robi56 opened #553 "Dockerfile for python36-closure-container image"
I am searching  to find the Dockrfile * of *python36-closure-container** image from the link https://hub.docker.com/r/clipper/python36-closure-container/
but it doesn't exist there.
Where I find it?

[2018-08-17 06:53] withsmilo commented on #553
@robi56 :
All the dockerfiles are [here](https://github.com/ucbrise/clipper/tree/develop/dockerfiles).

[2018-08-17 07:14] robi56 opened #554 "Nvidia driver,cuda, cudnn,tensorflow-gpu DockerFile Image for Model Container"
I am trying  to install nvidia driver cuda cudnn and related dependcy for running models in gpu mode.

First of all , I built a custom image with the following code

`FROM clipper/python36-closure-container:0.3

RUN mkdir -p /python-deps

RUN apt-get update

RUN apt-get install -y libgtk2.0-dev

RUN pip install pillow

RUN pip install opencv-python

RUN pip install --default-timeout=100000 tensorf

[2018-08-19 22:56] kheraAniruddh opened #555 "dynamic input which leads to change in output, errors out"
Hi,

I cam across this problem. I have an arbitrary python model, which works well when I send an input of same length as what I sent initially.

What I mean is, suppose my input_type="strings", which I use to send an array of json objects (each json object corresponds to one prediction).

After successfully deploying the model, if I send my input with suppose 1 json object in the array, it works

[2018-08-19 23:16] withsmilo commented on #555
@kheraAniruddh :
Your model must return the same length as inputs'. I think that your `predict` function has something wrong. Please share your `predict` function.

[2018-08-19 23:23] kheraAniruddh commented on #555
@withsmilo
Yes I understand that. What I meant I am changing the length of input, which is resulting in this error.
In simple words, I would like to make my predict function to give me predictions for say 'n' people, where 'n' will change with each request.
That is, model should predict for n samples.

Does it make sense?

[2018-08-19 23:27] withsmilo commented on #554
@robi56 :
How about refer to [this site](https://github.com/NVIDIA/nvidia-docker)?

[2018-08-19 23:45] withsmilo commented on #555
@kheraAniruddh :
I understand. You can return prediction results using json format like this,
[code]

[2018-08-20 03:16] zoux86 commented on #425
I run the clipper.ai quickstart examples, i get the error。 i should create a model_is_ready.check file?

Events:
  Type     Reason     Age                   From                Message
  ----     ------     ----                  ----                -------
  Warning  Unhealthy  11m (x1366 over 20h)  kubelet, zhiyuan-4  Readiness probe failed: cat: /model_is_ready.check: No such file or directory

[2018-08-21 06:27] kheraAniruddh commented on #555
Well  after debugging  a bit, I understood the inputs length will always be 2 and inputs is NOT EQUAL to the list of strings which I passed.

Taking the example on the github and clipper.ai :

`def feature_sum(xs):
    return [str(sum(x)) for x in xs]`

`$ curl -X POST --header "Content-Type:application/json" -d '{"input": [1.1, 2.2, 3.3]}' 127.0.0.1:1337/hello-world/predict
 `

Whose output is 6.

[2018-08-21 14:52] RehanSD commented on #555
Hey @kheraAniruddh!
Just as a quick explanation, the reason Clipper does this is because it performs adaptive batching - so even though you’re just sending one input to the model, Clipper varies the batch size by copying that input and creating a batch to find the optimal batch size that still meets the SLO while maximizing throughput. Once it finds this optimal size, it sends batches of this size

[2018-08-21 15:26] #555 closed, assigned to nobody

[2018-08-22 08:45] zoux86 opened #556 "xgboost example error"
i follow the Guide To Deploy XGBoost Models,  everyting is ok when i in this step:

![image](https://user-images.githubusercontent.com/14087435/44452783-f9d29e80-a629-11e8-84da-e3a0ed98a0d7.png)

and i get this error！
![image](https://user-images.githubusercontent.com/14087435/44452837-271f4c80-a62a-11e8-8cc7-0834676ebcf6.png)

it seems that there is a error with "pip xgboost"!

i  consulted the "

[2018-08-23 00:34] janetsungczi opened #557 "Serialization problem in pytorch model"
I encountered some problem when loading back the serialized pytorch model. (pytorch version 0.4.1)

  File "/container/pytorch_container.py", line 82, in <module>
    rpc_service.get_input_type())
  File "/container/pytorch_container.py", line 54, in __init__
    self.model = load_pytorch_model(torch_model_path, torch_weights_path)
  File "/container/pytorch_container.py", line 38, in load_pytorch

[2018-08-23 00:36] simon-mo commented on #557
Yes. Please send a PR if you are interested! Thanks a lot!

[2018-08-23 16:42] kheraAniruddh opened #558 "Rclipper: returning from a function inside the pred_fn results into input/output length inconsistency"
Hi,

 I encountered a weird issue or probably i don't understand R:
`pred_fn= function(inputs) {
    return(lapply(inputs, function(input) {
        return(input)
    }))
}`

This predict function works perfectly, but when I do something like this:

`feature_engineer = function(input) {
    return(input)
}`

`pred_fn= function(inputs) {
    return(lapply(inputs, function(input) {
        input <-

[2018-08-24 04:44] kheraAniruddh commented on #558
:’(

[2018-08-24 04:47] kheraAniruddh commented on #539
Did you guys have any success on this?

[2018-08-24 08:19] cwtan501 commented on #338
After weeks of researching and trial-and-error, I have finally got the Clipper to work with GPU and TensorFlow. I think it is worth to share my little experience with those we are also looking at this issue. I would try my very best to make the steps clear and concise, as summarized as follows:

    1. In order to allow the GPU support for Clipper, you would first need to install nvidia docker Det

[2018-08-24 22:37] csmithnm commented on #539
No, I didn't have any luck. I have given up playing around with the RClipper code - which I have tired to get to work off and on for months. Also I have not heard a thing from the Clipper Team on this RClipper issue for over a month. I am now looking to try out AWS SageMaker which seems to cover the entire model life cycle.  It is supposed to work with R, supports batch and REST APIs:  [Using R wi

[2018-08-26 11:26] zoux86 opened #560 "Failed when use pkgs_to_install argument!"
i run a simple examples with no pkgs_to_install argument, it successed!
but i run the same simple examples with pkgs_to_install , i got this error!
BuildError: The command '/bin/sh -c apt-get -y install build-essential && pip install  random' returned a non-zero code: 1

this is my code:
from clipper_admin import ClipperConnection, KubernetesContainerManager
clipper_conn = ClipperConnection(Kubern

[2018-08-27 17:30] kheraAniruddh commented on #396
@vivekka93 were you able to run the randomforest model container?

[2018-08-28 14:15] ghostfreak3000 opened #561 "Website tutorial keeps timing out on trying to add model image (all i changed with the prometheus port)"
The Getting started tutorial for clipper just keeps making a readtimeout error.
Here's the python.

[code]

Here's the bash
[code]
How do i increase that timeout?.. or better yet, what or where exactly is the problem?

[2018-08-28 15:09] withsmilo commented on #561
@ghostfreak3000 :
You have failed to run a Docker container of 'sum-model'. I think that you have too many Docker containers and images on local. Please retry the Clipper tutorial after cleaning up your Docker container and images.
[code]

[2018-08-28 15:26] ghostfreak3000 commented on #561
Doing that.. while your here
I assume that at this point
[code]
Clipper is downloading the container images.
Is there a verbose option to print the progress?

[2018-08-28 15:45] withsmilo commented on #561
@ghostfreak3000 :
`start_clipper()` does not have a verbose option.

[2018-08-28 16:26] ghostfreak3000 commented on #561
Cool.
Tutorial hanged for 1hr on
[code]
Have to disconnect from the server to go home. so we back to square one.
I've attached the full log
[log.txt](https://github.com/ucbrise/clipper/files/2328905/log.txt)

[2018-08-30 01:15] thomas9t opened #562 "ImportError with sklearn"
I'm trying to deploy a simple model through sklearn. However, the container crashes with the following error message:

[code]

The error persists when `sklearn` is requested in `pkgs_to_install`. I suspect I'm just doing something wrong since deploying sklearn models is probably well trodden turf by now, but I haven't been able to figure out what's going on. Perhaps this comes from the fact that `

[2018-08-30 01:39] zoux86 commented on #562
maybe you should import scipy at the same time.
pkgs_to_install=['scipy','sklearn']
you can try it!

[2018-08-30 02:02] zoux86 opened #563 "pytorch model: Failed to retrieve a prediction response within the specified latency SLO"
This is my code:

from clipper_admin import ClipperConnection, KubernetesContainerManager
clipper_conn = ClipperConnection(KubernetesContainerManager(useInternalIP=True))
clipper_conn.connect()
from torch import nn
import torch
model = nn.Linear(1, 1)
def predict(model,inputs):
    print(inputs)
    conv = torch.autograd.Variable(torch.randn(1, 1))
    pred = model(conv)
    pred = pred.data.numpy

[2018-08-30 02:04] #560 closed, assigned to nobody

[2018-08-30 02:26] withsmilo commented on #563
@zoux86 : Please check QueryFrontend's logs and `pytorch-1` model's logs.

[2018-08-30 03:23] zoux86 commented on #563
@withsmilo Thank you for your advice!
i check the logs, but i still don't know what's wrong!
![image](https://user-images.githubusercontent.com/14087435/44827777-3d8b6080-ac47-11e8-8eff-47f1980e1f24.png)

here is the queryFronted's docker logs

2018-08-30T03:07:52.364355115Z [03:07:52.306][info]  [QUERYPR...] Found 1 tasks
2018-08-30T03:07:52.364396712Z [03:07:52.306][info]  [TASKEXE...] Adding ta

[2018-08-30 10:55] YogeshSomawar opened #564 "Monitoring is not working on google cloud"
I have deployed the clipper on google cloud successfully. Also able to deploy the models successfully.
But not able to any monitoring data in Prometheus.

Getting the following error in metrics POD in the google cloud

`level=error ts=2018-08-30T06:24:25.375947359Z caller=main.go:221 component=k8s_client_runtime err="github.com/prometheus/prometheus/discovery/kubernetes/kubernetes.go:296: Failed t

[2018-08-30 20:08] thomas9t commented on #562
Thanks @zoux86 - that fixed the problem! I knew I was missing something simple 😄 - a little surprising though. I though pip usually installed dependencies along with the target package.

[2018-08-30 20:08] #562 closed, assigned to nobody

[2018-08-30 22:30] #558 closed, assigned to nobody

[2018-08-31 00:18] withsmilo commented on #563
@zoux86 :
Your model's name in your shared codes is `pytorch-1`, but you queried to the `pytorch-zoux2` model.

[2018-08-31 01:18] zoux86 commented on #563
@withsmilo
I build three apps, and three modes pytorch-1, pytorch-2,pytorch-zoux2, they all successed.
but when i query these models, it always show the default result。
i am wondering that there are some mistakes in my code ?

[2018-08-31 02:07] withsmilo commented on #563
@zoux86 :
hmm... I didn't know why your models do not operate because I have not used for Pytorch deployment. How about refer to [this code](https://github.com/ucbrise/clipper/blob/develop/integration-tests/deploy_pytorch_models.py)?

[2018-09-03 02:05] zoux86 opened #565 "How to build a model with the model and clipper code in different py file?"
i have two python files, one is the predict function, one is the clipper code.

feature_sum.py
![image](https://user-images.githubusercontent.com/14087435/44963818-9ddc1400-af5f-11e8-9d11-8fde4f517fde.png)

buildModel.py
![image](https://user-images.githubusercontent.com/14087435/44963766-4c338980-af5f-11e8-8d3b-f807d4da717d.png)

when i run the bulidModel.py. i get this error.
![image](https://us

[2018-09-04 17:02] simon-mo commented on #565
this requires copying the file over. We don't have a hook in python package for this right now. The approach we recommend is to build your custom container:
http://clipper.ai/tutorials/custom_model_container/

[2018-09-04 17:04] simon-mo commented on #564
Hi @YogeshSomawar I'm aware of this. All we need is to add RBAC support in our kubernetes config files. (See https://github.com/prometheus/prometheus/blob/master/documentation/examples/rbac-setup.yml)

Unfortunately we don't have the bandwith to work on this issue until next month. If you can help contribute that would be great; otherwise we will try fix this soon.

[2018-09-05 08:35] YogeshSomawar commented on #564
Thanks for the updates.
I will try by adding RBAC support in our kubernetes config.

[2018-09-06 00:49] zoux86 commented on #565
@simon-mo Thanks! i will have a try!

[2018-09-08 19:17] wnagchenghku opened #566 "Why not use torch.save(model, PATH) to serialize the entire model?"
Hi, in https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_admin/deployers/pytorch.py#L201, I found clipper serializes the model and weight separately using `cloudpickle` and `torch.save(the_model.state_dict(), PATH)`. I'm curious why does clipper do this serialization separately? From https://pytorch.org/docs/stable/notes/serialization.html, pytorch can actually serialize the en

[2018-09-10 16:34] ardysingh opened #567 "integration tests fail with head from develop branch and docker=2.5.1"
[code]

Issue seems to be because of the version of the docker module (2.5.1) in `./clipper_admin/requirements.txt`

Changing the version to 3.5.0 (the latest one for docker: https://pypi.org/project/docker/3.5.0/) resolves the issue.

[2018-09-11 20:44] TomNash opened #568 "Unable to deploy Python closure: hangs indefinitely on cloudpickle error"
Following the steps for [XGBoost deployment](https://clipper.ai/tutorials/xgboost_deployment/), I run into an issue with the command

[code]

The same behavior occurs with the [quickstart guide](http://clipper.ai/), running

[code]

It seems this `while` loop in [docker_container_manager.py](https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_admin/docker/docker_container_manager

[2018-09-12 00:14] udaynaik commented on #568
I have same issue using the example from quickstart.

18-09-11:16:59:37 INFO     [clipper_admin.py:201] Application TestApp was successfully registered
18-09-11:16:59:37 INFO     [deployer_utils.py:44] Saving function to /tmp/clipper/tmp034h3wv3
18-09-11:16:59:37 INFO     [deployer_utils.py:54] Serialized and supplied predict function
18-09-11:16:59:37 INFO     [python.py:192] Python closure saved

[2018-09-12 09:29] simon-mo commented on #568
The quick fix is to `pip install cloudpickle==0.5.3` the reason is that your local cloudpickle version is higher than the one used in docker container, making them incompatible.

[2018-09-12 15:06] #568 closed, assigned to nobody

[2018-09-12 18:59] HarryAtMove opened #569 "Amazon ECS Integration"
HI,

Any thoughts about container deployment in an Amazon ECS environment?

Regards,
Harry Reid III

[2018-09-13 20:47] HarryAtMove opened #571 "External redis crash fix"
When specifying the `redis_ip` for the DockerContainerManager constructor, then connecting to Clipper an exception will be thrown similiar to the following.

[code]

The fix for this is to skip port look up and use the value of `self.redis_port` by replacing line 261 of **clipper/clipper_admin/clipper_admin/docker/docker_container_manager.py** with the following:
[code]

[2018-09-14 20:37] arulbharathi opened #572 "PyTorch CNN Model Serving - Image Querying Mechanism"
Hi
May I have any documentation or small examples where CNN models (preferably PyTorch) are being served using Clipper. I tried using this example (https://github.com/ucbrise/clipper/blob/develop/examples/image_query/example.md), but I am not sure whether it is efficient for image processing algorithms to serve predictions

[2018-09-17 16:43] Aravindakum commented on #569
I have tried deploying container with Amazon ECR ( Elastic Container Registry ) and able to deploy model deployers with ECR and run clipper platform and model instances with EKS ( Elastic Kubernetes Service ).
You have to set up aws cli, and run $(aws ecr get-login --no-include-email --region us-east-1) to docker corresponding docker login user and password.
docker login -u AWS -p "Password" to th

[2018-09-18 02:32] FrankY-Sa opened #573 "Quick Start Error: (container log with python closure container) TypeError: 'str' object does not support item assignment"
python3.5 clipper-develop quick_start: sum-model

Hi,
I tried deploying sum-model gets stuck on

I print the docker's healthy status (unhealthy)

The container log shows that

Any help would be really appreciated!

[2018-09-18 02:46] withsmilo commented on #573
@FrankY-Sa : Please share your `feature_sum` function with me.

[2018-09-18 02:49] ebanner commented on #561
Also hanging indefinitely for me on the call to `python_deployer.deploy_python_closure()`.

[2018-09-18 02:55] FrankY-Sa commented on #573
@withsmilo

[2018-09-18 03:07] FrankY-Sa commented on #573
@withsmilo

[2018-09-18 03:17] ebanner commented on #561
It's hanging in [this while loop](https://github.com/ucbrise/clipper/blob/3c5a1cc6ce59e0ccd778f526a50808d0e7b2576f/clipper_admin/clipper_admin/docker/docker_container_manager.py#L362-L364).

[code]

Here are the values of those expressions.

[code]

I tried commenting out those lines, but here's what I got.

[code]

It actually works when I run it locally. The version of `clipper_admin` is the sam

[2018-09-18 03:23] withsmilo commented on #573
@FrankY-Sa :
I think that the [latest release(v0.5.6)](https://github.com/cloudpipe/cloudpickle/releases/tag/v0.5.6) of `cloudpickle` causes this problem. ([link](https://github.com/cloudpipe/cloudpickle/issues/202)) Please downgrade it from v0.5.6 to v0.5.3 by applying this patch.
[code]

[2018-09-18 03:29] withsmilo commented on #561
@ebanner :
1. I think that your model service has something wrong. Please check your model service's log.
2. `It actually works when I run it locally.` -> Where are you running Clipper now?

[2018-09-18 17:28] gangtao opened #574 "Failed to install on Mac"
I have failed to install this on my Mac.
****
pip install git+https://github.com/ucbrise/clipper.git@develop#subdirectory=clipper_admin
Collecting git+https://github.com/ucbrise/clipper.git@develop#subdirectory=clipper_admin
  Cloning https://github.com/ucbrise/clipper.git (to revision develop) to /private/var/folders/nk/xbb077ys5nd_t4mpb2s4fwfc0000gn/T/pip-req-build-_vFqnE
    Complete output fro

[2018-09-18 17:32] gangtao commented on #574
I have fixed it by upgrade setuptools

[2018-09-18 17:32] #574 closed, assigned to nobody

[2018-09-18 18:09] gangtao commented on #537
I have similar issue, the initializing cannot stop.
the problem is that my k8s is running on AWS, the service is not exposed, so in this case, the clipper cannot access the service by nodename:port.
ConnectionError: HTTPConnectionPool(host='ec2-54-68-64-106.us-west-2.compute.amazonaws.com', port=30204): Max retries exceeded with url: /admin/add_app (Caused by NewConnectionError('<urllib3.connectio

[2018-09-18 18:19] ebanner commented on #561
I'm running it on a AWS ec2 instance.

I ran `clipper_conn.get_clipper_logs()`. The most conspicuous log is the redis log.

[code]

This is the same redis log file on my current machine, which works.

[code]

The model container on the ec2 machine gets terminated almost immediately.

[2018-09-18 18:33] ebanner commented on #561
For completeness, here are all the logs from `clipper_logs/` on the ec2 instance.

image_sha256:3d960da25d:container_afcc8acae6.log

[code]

[image_sha256:7eefa1a263:container_3bc906e38d.log](https://gist.github.com/ebanner/b95dc59f8dcf75a4c5874595bdca2d45)

image_sha256:c29b40eb63:container_afff200e76.log

[code]

image_sha256:c8ecf7c719:container_f4b8766433.log

[code]

image_sha256:db23f46600:c

[2018-09-18 18:43] udaynaik opened #575 "Prediction with dataframe as input"
Hi,
I am trying to understand or looking for code snippets to understand how I can handle multi-column input data with different data types in my predict function that is deployed using:

python_deployer.deploy_python_closure(self.cl, name=modelName, version=version,
                                              input_type=inputType, func=func)

where func is either the following or model.predict.

[2018-09-19 02:35] withsmilo commented on #575
@udaynaik : How about use a string in format of CSV as like "value1,value2,value3"? And then in your prediction function, you could parse and convert it to an object of DataFrame.

[2018-09-19 02:45] withsmilo commented on #561
@ebanner :
I think that this problem is dependent of your dev environment.

First of all, you must retreive your model container's logs.

[2018-09-19 06:11] FrankY-Sa commented on #573
@withsmilo Thanks! others encountered the [issue](https://github.com/ucbrise/clipper/issues/568). The reason is that my local cloudpickle version(0.5.5) is higher than the one used in docker container(0.5.2), making them incompatible.

[2018-09-19 06:11] #573 closed, assigned to nobody

[2018-09-19 13:05] finsqm commented on #561
I'm also having the same issue, `python_deployer.deploy_python_closure` is hanging when I run the XGBoost tutorial locally.

[2018-09-19 17:21] finsqm commented on #561
I think the issue is with this line: https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_admin/docker/docker_container_manager.py#L363

The `State.Health.Status` is only defined if there's a healthcheck in the docker image, which I don't think there is for the default images.

[2018-09-19 19:17] udaynaik commented on #575
@withsmilo  i tried using json string but the container hangs at
18-09-19:12:08:06 INFO     [clipper_admin.py:458] Pushing model Docker image to loan-model:1
18-09-19:12:08:08 INFO     [docker_container_manager.py:257] Found 0 replicas for loan-model:1. Adding 1

Here is my function which works if simply return the "inp":
[code]

My inp is:
 '[{\"LIMIT_BAL\":200000,\"SEX\":2,\"EDUCATION\":1,\"MARR

[2018-09-19 21:51] ebanner commented on #561
Huh, here's the logs from my exited container.

[code]

I get the same error when running with python 3.6.

[code]

[2018-09-19 22:05] withsmilo commented on #561
@finsqm @ebanner : Please refer to this issue,
https://github.com/ucbrise/clipper/issues/568

[2018-09-19 22:17] ebanner commented on #561
Wow, thanks @withsmilo! That fixed the issue.

[2018-09-20 01:36] withsmilo commented on #575
@udaynaik : This sample code is working for me. :)
[code]

[2018-09-20 06:25] udaynaik commented on #575
Thanks ..looks hopeful but interestingly @withsmilo I cut/paste same code and I get this error.  I am using clipper-admin==0.3.0.  Docker engine on Mac: 18.06.1-ce   on Mac OS 10.12.6...
[code]

[2018-09-20 06:41] withsmilo commented on #575
@udaynaik :
Port `9090` is for Promethus. I think that you need to cleanup your environment.
Please retry it after removing all the containers by `$ docker rm -f $(docker ps -a -q)`.

[2018-09-20 10:30] finsqm commented on #561
Same here, thanks 👍

[2018-09-20 16:41] udaynaik commented on #575
@withsmilo thanks! after docker restart/cleanup this worked!!  But when I add "preds = lr_model.predict(df)" in the function returning prediction for each row of data coming in, it does not work (gets stuck at
18-09-20:01:02:01 INFO     [clipper_admin.py:458] Pushing model Docker image to loan:1
18-09-20:01:02:03 INFO     [docker_container_manager.py:257] Found 0 replicas for loan:1. Adding 1
)
My

[2018-09-25 11:27] YogeshSomawar commented on #575
Hi @udaynaik ,

It may happen because of, required modules not installed and container failed to start.
You can see the failed container by , docker ps -a & get the logs of the container like following,

[code]

As here, you are using `sklearn`, you need to install `scipy` module.

just update your python deployer line by,

`python_deployer.deploy_python_closure(clipper_conn, name="udaynaik-model"

[2018-09-27 03:46] RehanSD commented on #572
Hi @arulbharathi we recently published some tutorials on Clipper that we used in Strata NYC '18 as well as RISE Camp 18. They actually use not only a PyTorch Squeezenet model, but also a Darknnet Yolo model, so they should help out. Check out [this](https://github.com/ucbrise/clipper-tutorials/blob/master/1-Clipper-Basics.ipynb) iPython notebook for the tutorial!

[2018-09-27 03:54] RehanSD commented on #563
Hi @zoux86 was this issue resolved? If not, would you mind telling me what pytorch version you are running locally? Currently, the 0.4.1 release uses a serialization method that is not supported by the 0.4.0 version running on the deployment container.

[2018-09-27 03:55] RehanSD commented on #556
Hi @zoux86 is this still not working?

[2018-09-27 19:06] hsubbaraj opened #576 "Deal with trailing slash on predict url"
Deal with trailing slash on predict url

querying

`localhost:1337/pong/predict/`

should behave the same as

`localhost:1337/pong/predict`

[2018-09-28 16:49] simon-mo opened #577 "[CI] Parallel Integration Test Desgin"
I’m starting to work on overhauling our integration test. Our currrent integration test is slow and flaky.

We have the following limitation and requirement:
- We can run only _one_ Jenkins Job because amplab Jenkins is quite outdated. And the lab won’t update Jenkins until the end of year.
- We need to run test on kubernetes. We used to run tests on EKS, this is costly. There are minikube install

[2018-09-28 16:59] simon-mo opened #578 "[Code Quality] Use container to format code."
Code formatting has always been an issue blocking ci. We can restructure `./bin/format_code.sh` to use some lightweight container to format the code base.

Finally, consider Black for python code formatting. It has some advantages over yapf including python version stability.

[2018-09-28 17:01] simon-mo opened #579 "[Roadmap] Clipper 0.4.0 Roadmap"
This issue thread is used to gather community feedback on next Clipper version.

- What major feature do you want to see in Clipper?
- What model deployer do you want to add?
- Which part of Clipper needs to be more battle-tested?
- etc

Please feel free to respond below!

[2018-09-28 17:32] HarryAtMove commented on #579
Support for AWS ECS / Fargate

Dedicated endpoint and data type for image data as input; we would like to be able to pass bytes to the predict function instead of having to base64 encode. This would be possible if we could configure particular applications to specify the input is image data.

Clipper query front end needs to scale horizontally to accommodate throughput of tens to hundreds of reque

[2018-10-01 14:55] gauthamzz opened #580 "Python version error ( add support for 3.7)"
` ClipperException: Python closure deployer only supports Python 2.7, 3.5, and 3.6. Detected 3.7 `

when excecuting the basic example
[code]

Python version 3.7.0
OS Manjaro Linux

[2018-10-01 17:03] hyttysmyrkky commented on #579
- Support for ensemble methods (https://github.com/ucbrise/clipper/issues/450), at least as a plugin (+documentation how to implement that).

- Complete handling of deployments, so that no interaction is required between the user and Docker registry (or between the user and Kubernetes). I'm not sure if this https://github.com/ucbrise/clipper/pull/478 is the last missing step though. Then there is

[2018-10-01 22:08] simon-mo commented on #580
@gauthamzz Thanks for the report! We are aware of it. Python3.7 will be added very soon

[2018-10-01 22:24] gauthamzz commented on #580
Is there a workaround. Other than changing Python version for whole system?
Anything with virtualenv or something ?

[2018-10-01 22:28] simon-mo commented on #580
If you run your code under virtualenv it should be choosing the corresponding version.

[2018-10-02 13:54] pedrochavesmp commented on #579
Option to set the full endpoint name when registering an app (i.e., other than /predict).

[2018-10-06 14:50] withsmilo commented on #579
I'm using Clipper as a prediction-serving module to deploy our ML models smoothly and support thousands of requests per second in the production environment.

* Add some following functions to manage model, app and link.
  * unlink_model_from_app(app_name, model_name)
    * We need to unlink model from app.
    * We applied parts of #254 PR to implement this function.
  * delete_versioned_model(mo

[2018-10-06 16:34] withsmilo opened #583 "Failed to build Clipper natively after upgrading to Mac OS 10.14(Mojave)"
### 1. Upgrading
I upgraded Mac OS to 10.14 and reinstalling brew modules as like below to support 10.14.
[code]
### 2. Failed to build Clipper natively because of `folly`.
[code]
With digging some times, I figured out that latest `folly` caused to a failure to build Clipper. Yes, folly 2018.09.24.00 version starts to contain [this commit](https://github.com/facebook/folly/commit/271f974017dcd6ca0

[2018-10-08 12:10] sentient-soellingeraj opened #584 "On pip3 install, failed building wheel for cryptography"
On install command, I got an error.  I installed on my mac just fine, but had problems on the server

```pip3 install clipper_admin```

Seeing a lot of stack trace blocks that look like this:
```distutils.errors.DistutilsError: Setup script exited with error: command 'x86_64-linux-gnu-gcc' failed with exit status 1```

and
```Failed cleaning build dir for cryptography```

```Command "/usr/bin/pyth

[2018-10-08 12:19] sentient-soellingeraj commented on #584
Someone more familiar with the inner workings might confirm, but what resolved this issue for me was to use ```sudo /usr/bin/env python3 -m pip install clipper_admin``` instead of ```pip3 install clipper_admin```
There appears to be some issues with the pip3 command that cause this issue.

[2018-10-08 12:49] sentient-soellingeraj opened #585 "Docker error on clipper_conn.start_clipper()"
I received the "Docker not running error" even when docker was running, looked as follows:

[code]

[2018-10-08 12:51] sentient-soellingeraj commented on #585
To resolve this, I had to sudo into the python console.
```sudo python3```

[2018-10-08 14:06] withsmilo commented on #585
@sentient-soellingeraj :
I think that you must permit to manage Docker as a non-root user.
https://docs.docker.com/install/linux/linux-postinstall/#manage-docker-as-a-non-root-user

[2018-10-08 14:14] withsmilo commented on #584
@sentient-soellingeraj :
I recommend that you create own Anaconda environment in your server and install clipper_admin.
[code]

[2018-10-09 03:56] #347 closed, assigned to nobody

[2018-10-10 11:51] godkillok commented on #585
@sentient-soellingeraj  i have run python3  from root  but  still have that problem

[2018-10-12 00:38] simon-mo opened #587 "Pin Version in setup.py"
Currently we are not pining version for some of our `clipper_admin` dependencies. We should pin them down. Never use '*'

[2018-10-12 00:39] simon-mo opened #588 "Benchmark against SageMaker and Tensorflow Serving"
A blog post?

[2018-10-12 00:40] withsmilo commented on #587
Yes, we need to update the version of libraries used by Clipper also.

[2018-10-15 05:34] YupaTapuY opened #589 "get stuck when deploying a model"
hi, i tried deploying a model from your tutorial that mentioned in getting started using DockerContainerManager but it get stuck in this process

18-10-15:00:46:16 INFO     [docker_container_manager.py:353] [default-cluster] Found 0 replicas for model:1. Adding 1

im using centOS7 and docker version 18.06.0-ce, after that i tried to deploy my keras tensorflow model with tensorflow deployer and get

[2018-10-15 08:06] simon-mo commented on #589
While it's getting stuck, can you try run `docker ps -a | head` to find out the model container that crashed. And run `docker logs {CONTAINER_NAME}` to see the error logs?

This is something we will improve on in the next release.

[2018-10-16 04:03] simon-mo opened #590 "[Performance] Performance Degradation on Kubernetes"
User is reporting:

[2018-10-16 04:03] simon-mo commented on #590
I will try to re-produce this.

[2018-10-16 04:11] YupaTapuY commented on #589
hi, thanks for the answer, now i know why i got stack in tutorial because my pickle version, but i still got stuck when i deploy my keras model with tensorflow deployer, i want to know whether tensorflow deployer is incompatible with keras model and do clipper have a default keras deployer for that ? anyway thank you for your help

[2018-10-16 04:14] ZhuozhaoLi commented on #590
Thanks. I tried on both minikube and a dedicated Kubernetes cluster, and the issue happened on both case.

I used the tutorial model (sum-list), With the following data input in every query:
`data = [random.uniform(0, 500) for _ in range(2)]`

[2018-10-16 04:30] simon-mo commented on #589
No we do not have a default Keras deployer yet. We will add a Keras deployer in few weeks!

[2018-10-16 04:38] YupaTapuY commented on #589
ah alright, thanks for answering
so for now it still incompatible with keras model and i must make a custom container deployer for that ?

[2018-10-16 08:08] simon-mo commented on #589
Yes. Someone actually implemented all these already here: https://gitlab.com/dyoung23/Clipper

[2018-10-17 08:04] YupaTapuY commented on #589
thanks, i'll try to implemented  it based on that

[2018-10-18 07:44] YupaTapuY commented on #589
thanks, it worked

[2018-10-18 23:18] withsmilo commented on #579
* Support that each model replica has multi RPCServices because IP address resource might be more valuable than memory and CPU in many cases.

[2018-10-22 18:34] kumarivin commented on #589
I am getting similar issue how to resolve this ?

This is what i am seeing in the docker container default-cluster-sum-model:1 for the sample demo in the github

docker logs ee8aee4e8aa5
Starting Python Closure container
Connecting to Clipper with default port: 7000
Traceback (most recent call last):
  File "/container/python_closure_container.py", line 56, in <module>
    rpc_service.get_input_ty

[2018-10-22 18:39] kumarivin commented on #589
found solution in ticket https://github.com/ucbrise/clipper/issues/568

[2018-10-25 03:57] #589 closed, assigned to nobody

[2018-10-25 04:03] YupaTapuY opened #591 "Question about deployed model container?"
hi, i want to ask something about how clipper managing docker container :
1. i already deployed a model with 3 replicas container(A,B,C), how i control it to predict an input into a specified replicas out of the 3(for example container A)
2. will clipper have error handling or error logs feature when container crashed or predict error in the future ?

[2018-10-25 04:30] withsmilo commented on #591
@YupaTapuY :
1. You cannot control this case manually. Why do you need this scenario?
2. If you would like to handle some errors in detail, I recommend you have to implement your custom model container. ([link](http://clipper.ai/tutorials/custom_model_container/))

[2018-10-25 07:50] YupaTapuY commented on #591
thank you for answering

1. then how load balancing work for the three replicas when it had multiple predict requests or how the container manager route the predict request into which container replicas?

2. ohh ok then, i'll implement it with custom container

Thank you very much for the response

[2018-10-25 13:59] gcsfred2 opened #592 "Broken links in http://clipper.ai/tutorials/basic_concepts/"
Text in page:

"One to deploy arbitrary Python functions (within some constraints): [Docs]
One to deploy PySpark models along with pre- and post-processing logic: [Docs]"

Broken links:
http://docs.clipper.ai/en/release-0.2/#pure-python-functions

http://docs.clipper.ai/en/release-0.2/#pyspark-models

[2018-10-27 15:00] withsmilo commented on #591
@YupaTapuY :
1. Clipper has a model queue and working threads related each replica. First of all, TaskExecutor will add your multiple predict requests (aka. tasks) to the related model queue. ([code](https://github.com/ucbrise/clipper/blob/develop/src/libclipper/include/clipper/task_executor.hpp#L411)) And then, if a working thread is idle, it will try to process the requests retrieved from the mo

[2018-10-29 14:43] kumarivin opened #593 "Problem deploying my model"
I am trying to deploy a fastai model https://github.com/fastai/fastai/blob/master/courses/dl2/imdb.ipynb  into clipper by wrapping up the model in the below function

[code]

below is the deployer packages install
`from clipper_admin.deployers import python as python_deployer
python_deployer.deploy_python_closure(clipper_conn, name="sentiment-lm-model", version=1, input_type="string", func=return_

[2018-10-29 15:03] withsmilo commented on #593
@kumarivin :
Your predict function(`return_Sentiment`) is wrong. Do you want to read a csv file as input, predict and save them?

[2018-10-29 15:19] kumarivin commented on #593
@withsmilo  yes I would like to predict and save the sentiment of reviews. Also if you observe, my model is not loaded in the return_sentiment but outside the model, so I am not sure if that is exactly how i can do it or not.

[2018-10-30 03:42] YupaTapuY commented on #591
Thanks, now i know how it processed

Actually i need to know if i can customize the process because i want to make the model versioning system that shifting the task little by little to the new version of the model, not shifting entirely to the new version model

but thanks for answering, really appreciated

[2018-10-30 04:10] withsmilo commented on #591
@YupaTapuY :
Does it means rolling update? I think that Clipper supports 'blue-green' deployment policy basically. But, to imitate rolling update, you can register two Clipper apps 'v1', 'v2' and setup a new gateway server in front of Clipper_qf to control inside traffic between 'v1' and 'v2' manually .

[2018-10-31 00:36] hsubbaraj commented on #593
@kumarivin
The input to the predict function for the python_deployer should be a list of inputs and return a list of outputs. Please refer to http://docs.clipper.ai/en/v0.3.0/model_deployers.html#pure-python-functions for an example. The reason your current implementation won't work right now is because the .csv file isn't copied over to the model container.

There are several solutions to this:
1

[2018-11-01 13:58] eavidan commented on #525
@simon-mo
I have recently implemented a Keras deployer by rewriting the Tensorflow one
just opened a PR for this #594

[2018-11-02 14:42] kumarivin commented on #593
@hsubbaraj thank you , will look into it !!

[2018-11-05 07:24] YupaTapuY commented on #591
oh, alright thanks for the answer, yes i think the scenario is similar to rolling update, and one more thing, may i know if i can access redis db when deploying a model and what stored in redis db ?

anyway, thanks for your answer and support

[2018-11-05 08:29] withsmilo commented on #591
@YupaTapuY :
Yes, you can.

[2018-11-05 10:04] YupaTapuY commented on #591
may i know what stored in redis db ?
thanks anyway

[2018-11-05 14:26] withsmilo commented on #591
@YupaTapuY :
1. Install [redis-py](https://github.com/andymccurdy/redis-py).
2. Get your Redis' IP address.
3. Redis DB table is here.
[code]
4. Now you can find what stored in Redis. For example, you can check REDIS_CONTAINER_DB(3) by this command.
[code]

[2018-11-06 04:19] YupaTapuY commented on #591
ok thanks, it work, now i can see what stored in the redis db

but i have another problems, after i check all the redis db i got an error when i use clipper.conn start clipper()

`18-11-05:23:12:12 INFO     [docker_container_manager.py:119] Starting managed Redis instance in Docker
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.7/site-packages/cli

[2018-11-06 04:36] withsmilo commented on #591
@YupaTapuY :
hmm. Strange problem. Please restart Docker on your local.

[2018-11-06 07:05] YupaTapuY commented on #591
thanks, it's worked now, i just restart docker service and it worked

[2018-11-07 03:49] YupaTapuY commented on #591
one more question, do clipper store information of how many times a deployed model's predict function gets called or something like that ?

thanks before

[2018-11-07 08:19] zoux86 commented on #575
@withsmilo Hi
i run your example, and it works . but i was confused why the anwers is
![image](https://user-images.githubusercontent.com/14087435/48118925-bc84c100-e2a8-11e8-86e9-cf01d50998f3.png)
rather than {'query_id': 75, 'output': [2000,150000], 'default': False}

[2018-11-07 08:27] withsmilo commented on #591
@YupaTapuY :
Do you want to monitor Clipper's metrics? Clipper provides the function. Please refer to [here](https://github.com/ucbrise/clipper/tree/develop/monitoring).

[2018-11-07 08:30] withsmilo commented on #575
@zoux86 :
I sent just **one prediction request** to the Clipper, and then Clipper returned first 'LIMIT_BAL' value by `return df['LIMIT_BAL'].tolist()[0]`. So your result is right.

[2018-11-07 11:40] zoux86 commented on #575
@withsmilo Thanks!
i have another question。

Here is the code:

rom clipper_admin import ClipperConnection, DockerContainerManager
from clipper_admin.deployers import python as python_deployer

clipper_conn = ClipperConnection(DockerContainerManager())
clipper_conn.start_clipper()

import ast
def test_func(inp):
    # inp is a list of string
    def pre(i):
        d = eval(i)
	for key,value in d.

[2018-11-07 13:08] DNCoelho opened #596 "Batching Question"
Does the batching mechanism apply to prediction requests that are themselves made for a batch?
Say I send three requests x, y and z which contain 1, 1, and 2 entries respectively.
If the mechanism tried to batch this requests entries would it form a 4 entry batch or would it only form a 2 entry batch from the entries of x and y while the batch sent through z would be ignored and predicted separate

[2018-11-07 14:14] withsmilo commented on #596
## If you set '-1' as batch size when calling a deployer function like 'python_deployer.deploy_python_closure()',
the adaptive batching policy of Clipper will select a proper batch size automatically. The policy has three batch size determination methods as like,

https://github.com/ucbrise/clipper/blob/3c5a1cc6ce59e0ccd778f526a50808d0e7b2576f/src/libclipper/include/clipper/containers.hpp#L25-L29

[2018-11-07 14:34] withsmilo commented on #575
@zoux86 :
How about this?
[code]

[2018-11-08 02:20] zoux86 commented on #575
@withsmilo it works, thanks!!!

[2018-11-08 14:40] DNCoelho commented on #596
Thank you for your detailed response!

Regarding that bug in the currentpolicy, can it be avoided by indicating the  batch_size manually in the deployer function?
As stated in the documentation:
batch_size (int, optional) – The user-defined query batch size for the model. Replicas of the model will attempt to process at most batch_size queries simultaneously. They may process smaller batches if ba

[2018-11-08 16:51] withsmilo commented on #596
No. If you would like to avoid the bug, you must apply my workaround patch included in #518 to turn off the adaptive batch policy. With my patch, batch size(-1) will be handled as the same with 1.

[2018-11-08 17:16] DNCoelho commented on #596
Ok, once again thank you for the help!

[2018-11-08 17:16] #596 closed, assigned to nobody

[2018-11-09 05:35] dipayan90 commented on #537
@gangtao I too have the same problem. Were you able to get it to work ? I am using UseInternalIP=true.

Relevant code seems to be:

[code]
However the node ips are not accesible from outside, so we get connection time out. I created an ingress controller to talk to the service IP, but not sure how to add it to the `clipper_admin`

[2018-11-10 19:15] dipayan90 opened #597 "Kubernetes model deployment permissions issue"
I see this as a common scenario where in organizations that use a k8s cluster with multi tenancy. Usually every team within the Org is given `admin` `ClusterRole` permissions. Now using the `admin` role, one has permissions to `get`, `delete`, `update`, `list` deployments but not the `status` sub-resource. The admin role permissions do not let you write deployment status. They let you create and d

[2018-11-12 00:18] withsmilo commented on #597
Interesting point!
@simon-mo : What do you think of this issue?

[2018-11-13 18:13] dipayan90 commented on #597
@withsmilo @simon-mo Also another question is there a reason why `NodePort` was used as the K8s `ServiceType` instead of `LoadBalancer` ?

[2018-11-16 04:44] withsmilo commented on #537
@gangtao @dipayan90
How about use kubectl proxy?
[code]
And then, add `kubernetes_proxy_addr` parameter when creating a ClipperConnection object.
[code]

[2018-11-16 05:17] withsmilo opened #598 "How to setup Kubernetes on Mac and use it with Clipper"
## How to setup Kubernetes on Mac
The latest `Docker for Mac` app supports a standalone Kubernetes server since `18.06 Stable` version. Please enable the Kubernetes following this [link](https://docs.docker.com/docker-for-mac/#kubernetes).

## My Test Environment
* MacBook Pro installed macOS Mojave 10.14.1
* Docker Community Edition Version 18.06.1-ce-mac73 (26764) (included Kubernetes: v1.10.3)

[2018-11-16 15:21] withsmilo commented on #518
I resolved this issue. We will have to apply the following patch.
[code]

[2018-11-17 02:37] simon-mo commented on #597
@dipayan90
For using `read_namespaced_deployment` api:
- Yes this will be great!
- We don't have much experience implement Clipper with permission control. We will probably start with exploring RBAC for prometheus.

For `NodePort` instead of `LoadBalancer`:
- When we started implementing it, we found `NotePort` is sufficient. But we should probably switch to `LoadBalancer` for production usage.
-

[2018-11-25 20:42] rkooo567 commented on #592
Seems like these links work.

http://docs.clipper.ai/en/v0.3.0/model_deployers.html#pure-python-functions.
http://docs.clipper.ai/en/v0.3.0/model_deployers.html#pyspark-models

[2018-11-30 10:20] YupaTapuY opened #601 "How to stop specific version of served model ?"

[2018-11-30 10:21] YupaTapuY commented on #601
is there a function that can stop a served model container for specific version, not stop a whole model ?

[2018-11-30 13:41] withsmilo commented on #601
@YupaTapuY :
~I have implemented the function already, but not created it as a PR yet.~

[2018-11-30 14:08] withsmilo commented on #601
I'm so sorry about my wrong comment. You can use this API to stop versioned models,

https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_admin/clipper_admin.py#L1194-L1218

[code]
Please note, however, that this API ONLY deletes them from Docker Orchestration, not Clipper internal.

[2018-12-04 00:47] withsmilo opened #603 "Suggestion - API scheme improvement"
Current Clipper provides the following `clipper_admin` APIs in Python level, but I think that some additional APIs will have to be implemented to maintain Clipper cluster.

- [x] Add `unlink_model_from_app`, which unlinks specified model from specified application.
- [x] Add `unregister_versioned_models`, which unregisters versioned models from Clipper Internal (remove all related resources as lik

[2018-12-12 20:28] vaibhavkhanduja opened #604 "Support Matlab Models"
Please bring in support for Matlab models.

[2018-12-18 00:38] chennupushkar opened #606 "I am using RClipper to deploy the R models. Is there a way i can get to see the DockerFile which is getting deployed?"

[2018-12-19 00:48] withsmilo commented on #606
Hello, @chennupushkar .
The dockerfile related with R container is [here](https://github.com/ucbrise/clipper/blob/develop/dockerfiles/RContainerDockerfile).

[2018-12-21 02:00] simon-mo opened #607 "Clipper Slack Archive"
Evaluate the following approaches to archive slack messages, we are hitting the free tier limits:
- https://github.com/docmarionum1/slack-archive-bot
- https://github.com/wearefine/slack-archive-bot
- https://github.com/dutchcoders/slackarchive

[2019-01-02 06:52] simon-mo opened #610 "[CI] add retry logic to build step as well"
It turns out building containers in parallel can be finicky as well.

For example, in
https://amplab.cs.berkeley.edu/jenkins/job/Clipper-PRB/1770/consoleFull, it failed because of a docker container name collision.

[2019-01-04 15:56] voodoohop opened #611 "How to debug cause of "ImportError when running Container""
I am a bit stuck: I'm trying to deploy a pytorch model which runs fine on my local computer but hangs when trying to deploy it. The model's docker container gives me this error log:

[code]

It seems like it is not able to import some dependency. I installed the same model in a clean anaconda environment on my computer and checked exactly which dependencies I needed to install. I listed these in p

[2019-01-04 16:05] voodoohop commented on #593
I am getting the same error and was wondering if there is some way to get more detailed logs than just this error... I am having difficulty debugging the cause of the error:

[2019-01-04 16:21] simon-mo commented on #611
Hi Thanks for raising this issue.

The import error is because the script is importing `architecture.py` and `architecture.py` is importing `block.py`. Cloupickle (package we use to serialize function) is not able to pick up and bundle these scripts directly. Basically, when we deserialize the script in container, it will run something like `import architecture as arch` and then architecture will

[2019-01-04 16:33] withsmilo commented on #611
Hello, @voodoohop. Happy new year!
First of all, thank you for your error report. Clipper installs the PyTorch library from [pypi](https://pypi.org/project/pytorch/), but pypi has not been updated since Mar 11, 2017 and the 0.1.2 version is the last. Because `xinntao/ESRGAN` has 'PyTorch >= 0.4.0' dependency, you have to create  a custom model container to support the latest PyTorch. Please refer

[2019-01-04 16:36] simon-mo commented on #611
Also

http://clipper.ai/tutorials/custom_model_container/

On Fri, Jan 4, 2019 at 10:33 AM Sungjun.Kim <notifications@github.com>
wrote:

[2019-01-04 16:40] voodoohop commented on #611
Thank you guys for your fast response... @simon-mo I had actually tried consolidating those 3 files into one and had not gotten any further. But it's good to know I need to do that. I still haven't completely wrapped my head around what gets run where.

I will try building a custom model container with the latest pytorch and consolidate the files into one and let you know if it works. Thanks!

[2019-01-04 16:43] simon-mo commented on #611
To be a bit more clear, if you are building custom container, you don’t need to consolidate the files because when building custom containers, you can just copy the files over.

[2019-01-04 17:48] voodoohop commented on #611
Ok so I created a Dockerfile

[code]

Then created the custom-model-image.

I also consildated architecture.py and block.py into [clipper_service.py](https://github.com/voodoohop/ESRGAN/blob/master/clipper_service.py)

Tried deploying the model with this command:

[code]

But still the same error. I also tried copying the 3 python files to the Docker container.

Is there no way to get a more verbo

[2019-01-04 18:47] simon-mo commented on #611
is it possible to push `superresolution-model:1`to the dockerhub? To do that,
- `docker tag superresolution-model:1 <docker_user_name>/superresolution-model:1

[2019-01-04 19:25] voodoohop commented on #611
Here it is: https://cloud.docker.com/repository/docker/voodoohop/superresolution-model

thanks

[2019-01-04 19:58] simon-mo commented on #611
The issue is opencv:
[code]

opencv2 requires several native packages to be used. The fix is to add the following line to your custom model dockerfile
[code]

[2019-01-04 21:35] voodoohop commented on #611
That solved the problem! Thank you so much.

Is there any log file I could have found that error?

[2019-01-05 01:19] simon-mo commented on #611
Not yet. I have to go inside the container and try to load the function myself to see the issue.

To do that, I did:
[code]
and then in a python shell
[code]

We are adding more logging and debugging support in the next few release, there are people actively working on this.

[2019-01-05 08:36] voodoohop commented on #611
Ok! Once I have a better understanding of how the containers work I could try and contribute a fix too but it will still take a little. Thanks again

[2019-01-11 18:41] karthikra commented on #589
@simon-mo
I am getting similar issue how to resolve this ?
docker logs pytorch-model_1-36217
Starting PyTorchContainer container
Connecting to Clipper with default port: 7000
Traceback (most recent call last):
  File "/container/pytorch_container.py", line 82, in <module>
    rpc_service.get_input_type())
  File "/container/pytorch_container.py", line 54, in __init__
    self.model = load_pytorch_

[2019-01-14 17:13] colincrook opened #612 "Custom model container with custom Python packages"
I can't use any of the python model deployer because my model relies on some custom Python packages.
Those custom Python packages can be install via pip but they are not in base URL of Python Package Index (https://pypi.org/simple) and so I need to use the argument -i to use a custom URL.

So, I tried to create my custom image, first by copying all the packages using the COPY command from this exa

[2019-01-14 17:23] RehanSD commented on #612
Hi @colincrook!
Just add a `-i` in the `pkgs_to_install` argument. Ex:
[code]
In both cases, the `pip install` command will be formatted as
[code]
Hope that helps.

[2019-01-14 19:26] colincrook commented on #612
Hi @RehanSD , thanks for the tips. I just tried, my python clipper is stuck at the step:
[docker_container_manager.py:257] Found 0 replicas for test-4:1. Adding 1

and when I check the docker logs for this container id I can see an error:
Encountered an ImportError when running container. You can use the pkgs_to_install argument when calling clipper_admin.build_model() to supply any needed Python

[2019-01-14 21:09] simon-mo commented on #589
@karthikra This is a pytorch issue. Can you run `python -c "import torch; print(torch.__version__)"` to confirm what version of pytorch do you have?

[2019-01-16 13:29] KiranVaranas commented on #305
Spark container  is running and i still see the message {'query_id': 5, 'output': -1.0, 'default': True, 'default_explanation': 'No connected models found for query'}. There is no crash in scala container only error from query_front_end  **Ratio internal:prediction_cache_hit_ratio has denominator zero!**.

[2019-01-17 05:59] jaskirat1208 opened #613 "Problem in deploying tutorial"
Ref: clipper.ai quickstart

Command: `python_deployer.deploy_python_closure(clipper_conn, name="sum-model", version=1, input_type="doubles", func=feature_sum)`
Output
[code]

This goes on for more than 20 minutes. `Successfully added` message does not come
Thanks

[2019-01-21 22:36] simon-mo commented on #613
@RehanSD can you take a look? I'm a bit swamped right now.

[2019-01-22 00:53] avinregmi opened #614 "Google Kubernetes: No external node address found"
Hello,
I'm trying to setup Clipper on GKE. I've downloaded config.yaml file and credentials.json and from GKE and have initialized in my local computer.
I'm able to execute and connect to GKE cluster as shown below
![image](https://user-images.githubusercontent.com/32203792/51505648-cb621680-1db5-11e9-8477-466f83e1006d.png)
After running clipper_conn.start_clipper(), I'm getting an error saying: N

[2019-01-22 01:01] withsmilo commented on #613
@jaskirat1208 :
How about increase your Docker's swap size?

[2019-01-23 20:15] avinregmi commented on #537
I created load balancer service on Google Kubernetes engine. It will forward outside traffic from port 80 to mgmt-frontend deployment at port 1338. I'm able to ping port 80 from outside using netcat. Unfortunately, I'm not able to get a respond from "http://{host}/admin/ping" as a result my code is stuck at "Clipper still initializing". How can I solve this?

[2019-01-24 01:07] rkooo567 commented on #614
Could you try setting useInternalIp=True and run again?

[2019-01-24 02:53] avinregmi commented on #614
Yes, turns out it is looking for DNS server in my cluster. Using useInternalIp=True solved the issue. After solving this, I was able to upload models to my cluster but I was unable to communicate with clipper management via REST. I solved it by settingkubernetes_addr_proxy=None and changing kubernetesContainerMananger: get_admin_addr() function. For some reason, this function will return some long

[2019-01-24 04:43] rkooo567 commented on #614
Based on the API doc, http://docs.clipper.ai/en/v0.3.0/container_managers.html

kubernetes_proxy_addr (str, optional) – The proxy address if you are proxying connections locally using kubectl proxy. If this argument is provided, Clipper will construct the appropriate proxy URLs for accessing Clipper’s Kubernetes services, rather than using the API server addres provided in your kube config.

It se

[2019-01-24 20:45] A-Jacobson opened #615 "question - Pytorch GPU inference examples?"
Are there any examples or documentation related to using clipper to serve models that perform inference on the gpu?

[2019-01-29 06:38] jaskirat1208 commented on #613
@withsmilo I had created a virtual environment using

`conda create -n clipperenv python=3.6.1 anaconda
`
And in this virtual environment, I tried to run those clipper commands. Could you please tell me how to increase my docker swap size ?

[2019-01-29 06:42] withsmilo commented on #613
<img width="497" alt="2019-01-29 3 40 18" src="https://user-images.githubusercontent.com/3915543/51889222-36c26e80-23dc-11e9-84aa-875501e273df.png">
@jaskirat1208 : If you use Docker version on Mac, please tune the 'Swap' bar in upper image.

[2019-01-29 06:45] jaskirat1208 commented on #613
I am using ubuntu, any comments about this ?

[2019-01-29 07:01] withsmilo commented on #613
So sorry. I am not using ubuntu now.

[2019-01-29 08:15] simon-mo commented on #613
Did you do `pip install -U cloudpickle==0.5.3`?

[2019-01-29 08:23] jaskirat1208 commented on #613
@withsmilo  I did this on a mac as well, with a 4 GB swap memory. But no effect.

[2019-01-29 08:28] jaskirat1208 commented on #613
@simon-mo  I hadn't done that before. It worked. Thank you :+1:

[2019-01-29 08:30] tosolveit opened #617 "Apply preprocessing at the prediction time"
Hi,
Requests to prediction services usually needs to be processed before triggering prediction function

- Splitting a text in the request and creating multiple features
- Ignore some features like constants
- map a category to an index value
- Standardize based on a predefined range

How can I achieve that, basically instead of using a request like this,
`curl -X POST --header "Content-Type:appli

[2019-01-29 08:31] #613 closed, assigned to nobody

[2019-01-29 08:34] jaskirat1208 commented on #613
@simon-mo @withsmilo  Could you please update your documentation page about installing cloudpickle as well ? This would be helpful since it was not working without it.

[2019-01-29 08:48] jaskirat1208 commented on #585
I also faced the same problem. Then I started docker as non root as mentioned by @withsmilo. Then there came another issue where it tried to write to a file in /tmp/clipper/promethius.yml. For this purpose, I did chmod 777 over each of them. Then it worked without using sudo.

[2019-01-29 09:53] rkooo567 opened #619 "Official websites' getting started guide has a dependency problem."
http://clipper.ai/

Reported from Yersultan at slack

I tested with conda environment of python 2.7.15 and python 3.6.5. I am using Mac OS 10.13.6 and conda 4.5.11.

If I follow the instruction in the website, the log stops at here.

[code]

And when I checked out the log of sum-model container,
`docker container logs [sum-model-key]`

I could find this exception.

[code]

As descripted at basic e

[2019-01-29 10:08] rkooo567 commented on #619
Just found https://github.com/ucbrise/clipper/pull/618 and https://github.com/ucbrise/clipper/issues/613 through my email. since it is duplicated, I will close the issue.

[2019-01-29 10:08] #619 closed, assigned to nobody

[2019-01-29 13:06] jaskirat1208 opened #620 "Unexpected output on some python mxnet model"
Hi, so I was trying to train and deploy this neural network using clipper. Training data consists of 1000 rows and 1000 columns. In the predict function, I just tried to sum up all the numbers supplied as input. But when I tried to make a request to the server for the computation, the time exceeded slo_time and so the default value of -1 came up.

[code]

[2019-01-29 13:15] withsmilo commented on #617
Clipper permits only "integers", "floats", "doubles", "bytes", or "strings" as input type. So if you would like to pass a data like json format as input type, you must handle it as "strings" type. I think that you have two choices.

1. Simple method.
https://github.com/ucbrise/clipper/issues/575#issuecomment-423011047

2. Create a custom model container.
http://clipper.ai/tutorials/custom_model_co

[2019-01-29 13:34] withsmilo commented on #620
@jaskirat1208 :
I think that your `predict` function is wrong. Please try this.

https://github.com/ucbrise/clipper/blob/develop/integration-tests/deploy_mxnet_models.py#L33-L37

[2019-01-29 13:46] jaskirat1208 commented on #620
@withsmilo  I remodified my predict function(modified code shown above), but still the response time exceeds SLO, so default output -1 coming out.

[2019-01-29 14:38] withsmilo commented on #620
@jaskirat1208 : I'm newbie about mxnet model, but I had success to deploy the following sample mxnet model. My codes are originated from [integration-tests](https://github.com/ucbrise/clipper/blob/develop/integration-tests/deploy_mxnet_models.py).
[code]
Query result is here,
[code]

[2019-01-29 16:00] jaskirat1208 commented on #620
@withsmilo I am also a newbie here(a batchelor's student), just trying out some new stuff. I tried to run your snippet but the output that I am getting is

[code]
What I have in my training data is 10 rows of 785 comma separated random numbers between 1 and 9.

[2019-01-29 16:14] jaskirat1208 commented on #620
Yeah its working. Thank you.

[2019-01-29 16:14] #620 closed, assigned to nobody

[2019-01-29 20:31] rkooo567 commented on #617
Hi, @tosolveit.

For the pre/postprocessing, you need to have a separate server that performs them before you query them. I believe we don't support pre/postprocessing between the query frontend and deployed models.

Also, as @withsmilo mentioned, Clipper does not currently support json format input for queries. Other than the way mentioned above in #575 , you can also send serialized json bytes a

[2019-01-30 13:00] withsmilo opened #621 "Failed to build Clipper Docker images on Mac with new CI/Infrastructure"
@simon-mo merged new CI/Infrastructure recently by https://github.com/ucbrise/clipper/pull/595. It looks great to me, but I found a bug.

### Dev environment
* MacBook Pro + Mojave 10.14.3

### How to build
[code]

### Error messages
[code]

[2019-01-31 18:20] avinregmi opened #623 "Clipper frontend Proxy- asuncion + uvloop requirements"
Requirements for implementing frontend proxy. This will be useful for model pipelines and AB testing.
@simon-mo mentioned to me that we will be using asyncio + uvloop.

[2019-01-31 20:15] rkooo567 opened #624 "Suggestion: JSON data type input."
Currently, Clipper supports 5 different input types, `int, float, double, string, and byte`

It means that if we want to use JSON objects as inputs, we should either use strings (as https://github.com/ucbrise/clipper/issues/575#issuecomment-423011047) or bytes and deserialize them in a predict function. There was a question about this issue as well. https://github.com/ucbrise/clipper/issues/617

W

[2019-02-03 05:21] rkooo567 commented on #615
Hi @A-Jacobson! I think there is no tutorial for GPU inference right now. I will try to find if anyone is working on it.

[2019-02-03 06:09] RehanSD commented on #615
Hi @A-Jacobson! Adding support for inference Omni CUDA enabled GPU’s is a feature we are currently implementing! I’ll be sure to leave you a note when we get it up!

[2019-02-03 15:40] withsmilo commented on #614
@avinregmi @rkooo567
I think this problem depends on the configuration of the k8s.

[2019-02-04 23:50] simon-mo opened #625 "[Roadmap] Logging and Debugging"
We plan to start working on aggregating logs from Clipper containers using [fluentd](https://www.fluentd.org/). This can be divided in the few PRs. @rkooo567 will leads the effort.

### PR 1: Pipe logs to fluentd, use the stdout export
- [x] `clipper_admin` should start the fluentd container and configure it correctly
- [x] When `clipper_admin` start any containers, it should correctly configure t

[2019-02-07 02:49] wcwang07 opened #627 "how to load pretrain tensorflow pb file"
from clipper_admin import ClipperConnection,DockerContainerManager

clipper_conn = ClipperConnection(DockerContainerManager())

try:
	clipper_conn.start_clipper()
except Exception, e:
	print(e)
	clipper_conn.stop_all()

clipper_conn.register_application(name="hello-tf", input_type="int", default_output="this is default output", slo_micros=100000)

def predict(sess, inputs):
	preds = sess.run('pred

[2019-02-07 13:20] liu-bote opened #628 "How to link more than one models to one application?"
I deployed two modes and tried to link them to one application, but I got error:

19-02-07:13:25:52 ERROR    [clipper_admin.py:258] Received error status code: 400 and message: Applications must be linked with at most one model. Attempted to add links to 2 models.

I checked the code in function std::string add_model_links(const std::string& json) in clipper/src/management/src/management_frontend.

[2019-02-07 13:38] withsmilo commented on #628
@Insullone : Hi, Current Clipper supports only the link between `one model` and `one application`. I found [an old issue](https://github.com/ucbrise/clipper/issues/450), @simon-mo , do you know the progress of this issue?

[2019-02-07 13:47] withsmilo commented on #627
Hi, @wcwang07

1. When executing 'python_deployer.deploy_tensorflow_model(...)', did you see error messages?

2. Could you share your model container('tf-mobilnet')'s log with me? (The example below is for reference only.)
[code]
[code]

[2019-02-07 18:09] wcwang07 commented on #627
Hi  @withsmilo
1. When executing python_deployer.deploy_tensorflow_model, did not see any error message.
2. the container logs show that:

2019-02-07 18:02:58.299059: I tensorflow/core/platform/cpu_feature_guard.cc:140] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
19-02-07:18:03:02 INFO     [tf_logging.py:116] Saver not created because there are no v

[2019-02-07 18:09] wcwang07 commented on #627
Hi  @withsmilo
1. When executing python_deployer.deploy_tensorflow_model, did not see any error message.
2. the container logs show that:

2019-02-07 18:02:58.299059: I tensorflow/core/platform/cpu_feature_guard.cc:140] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
19-02-07:18:03:02 INFO     [tf_logging.py:116] Saver not created because there are no v

[2019-02-07 18:27] wcwang07 commented on #627
update:  only need to feed correct data now

Traceback (most recent call last):
  File "/container/tf_container.py", line 84, in <module>
    rpc_service.start(model)
  File "/container/rpc.py", line 726, in start
    self.server.run(collect_metrics=self.collect_metrics)
  File "/container/rpc.py", line 353, in run
    prediction_request)
  File "/container/rpc.py", line 160, in handle_prediction_

[2019-02-07 19:11] wcwang07 commented on #627
ubuntu@ip-172-31-46-38:~$ curl -X POST --header "Content-Type:application/json" -d '{"input": [[[[[0,0,0],[0,0,0],[0,0,0]]]]]}' 127.0.0.1:1337/hello-tf-v2/predict
{"error":"Json error","cause":"Error parsing JSON: Array input of type Array is not of type int. Expected JSON schema: \n  {\n   \"input\" := [double] | [int] | [string] | [byte] | [float],\n  }\n"}

I think front-end is blocking differe

[2019-02-07 19:34] simon-mo commented on #627
Yes we are only accepting array of primitive types. You might need to do
reshaping of input array inside the prediction function.

So the prediction function’s input will be of shape (batch size, input
flattened size)

On Thu, Feb 7, 2019 at 11:11 AM Wei-Ching Wang <notifications@github.com>
wrote:

[2019-02-08 18:03] wcwang07 commented on #338
Hi @cwtan501
I tried to run your template from aws p2 instance but it failed to build docker image at

Step 22/35 : RUN apt-get update && apt-get install -y --no-install-recommends         cuda-libraries-$CUDA_PKG_VERSION         cuda-cublas-9-0=9.0.176.4-1         libnccl2=$NCCL_VERSION-1+cuda9.0 &&     apt-mark hold libnccl2 &&     rm -rf /var/lib/apt/lists/*
 ---> Using cache
 ---> b272447bbe1b

[2019-02-08 21:23] simon-mo commented on #338
Now nvidia provides cuda docker images, we can try:
[code]

Make sure you run docker build inside clipper directory, just `git clone` should do.

[2019-02-09 06:00] RehanSD commented on #615
Hi @A-Jacobson! Just submitted a [PR](https://github.com/ucbrise/clipper/pull/629) for CUDA support for PyTorch! Go ahead and take a look, and follow up if you have any more questions!

[2019-02-09 06:02] RehanSD commented on #554
Hi @robi56! Clipper will soon include native CUDA 10 support for PyTorch and TF! Here is a [PR](https://github.com/ucbrise/clipper/pull/629) adding pytorch support with docker! This can also serve as a handy guide if you want to write your own Dockerfile.

[2019-02-09 06:05] RehanSD commented on #338
Hi @wcwang07 ! Clipper is adding native support for PyTorch and TF on CUDA 10! I've made a [PR](https://github.com/ucbrise/clipper/pull/629) adding support for PyTorch + CUDA 10 on docker, and will be rolling out TF support soon. This can be run on an AWS p2 instance. Make sure to choose the [Deep Learning AMI (Ubuntu) Version 21](https://aws.amazon.com/marketplace/pp/B077GCH38C)

[2019-02-09 06:07] A-Jacobson commented on #615
nice! I'll be trying it out tomorrow then.

[2019-02-11 08:00] rkooo567 opened #630 "[clipper_admin.py:141] [default-cluster] Clipper still initializing: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',))"
I found a weird bug from the most recent version of Clipper.

When I `pip install -e .` at the clipper_admin folder, and ran example/basic_query/example_client.py, the Clipper failed to connect to management frontend.

Here is the log
[code]

I failed at this part of the code (clipper_admin.start_clipper() function)
[code]

Here is the logs of management frontend. It doesn't do anything after pers

[2019-02-11 23:00] A-Jacobson commented on #615
@RehanSD I think your code pointed me in the right direction but I'm running on Kubernetes and it appears you only altered the docker container manager file. Is there a nvidia runtime equivalent for the kubernetes container manager?

[2019-02-12 00:14] simon-mo commented on #615
@A-Jacobson For Kubernetes we need to modify the configuration yaml  according to the [doc](https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/#v1-8-onwards)

So we need to add these lines

[code]
to the bottom of the config file
https://github.com/ucbrise/clipper/blob/c3feae088552ffecb5aa8fb91895d4f4055ba43b/clipper_admin/clipper_admin/kubernetes/model-container-template.yaml#L24-L45

I

[2019-02-12 01:11] wcwang07 opened #631 "tf_container.py modification for running GPU context"
would like to start GPU session in container, and tried the following:

if (len(frozen_graph_exists) == 0):
            with tf.Graph().as_default() as graph:
                self.sess = tf.Session(graph=graph)
                loader.load(self.sess, [tf.saved_model.tag_constants.SERVING],
                            os.path.join(path, "tfmodel"))
        else:
            self.sess = tf.Session(

[2019-02-12 01:44] simon-mo commented on #631
so during line 3, we might want to load it into GPU using `with tf.device("/gpu:0"):`

[2019-02-12 09:13] RichardLS09 opened #632 "How to update model?"
I depoly one model and use it for service, and i wan't to update the model on time, how i should do?
I only find the Clipper can't update the model like tensorflow.serving.

Thanks.

[2019-02-12 11:08] #632 closed, assigned to nobody

[2019-02-12 22:23] rkooo567 commented on #630
It turns out my frontend management docker images have been modified and pushed in the current develop branch, but clipper_admin did not update it, so I used the old docker image of frontend management that was for the python clipper_admin package. I will create a new issue to resolve this issue.

[2019-02-12 22:27] rkooo567 commented on #628
Hi, @withsmilo, @Insullone. Currently, some people are working on query frontend proxy to support the connection of many models to one application. This feature will be on the next version of Clipper I believe.

[2019-02-13 01:35] wcwang07 opened #633 "setup up aws/clipper benchmarking"
have you tried to benchmark sagemaker against clipper? if so, could you share steps to reproduce it?  Could you show how to enable auto scaling on clipper endpoint? Would you share any insight on how clipper integrate with aws kubernetes? Would it be possible to perform A/B testing on clipper?

on the https://github.com/ucbrise/clipper/tree/develop/bench

there is no comparison done for example ag

[2019-02-13 04:12] wcwang07 commented on #338
@simon-mo @RehanSD I was using FROM tensorflow/tensorflow:latest-gpu-py3 this image seems to resolve issue with finding GPU:0 device

[2019-02-13 05:15] wcwang07 commented on #338
@simon-mo ran this new gpu container with following stats:

recv: 0.000223 s, parse: 0.000013 s, handle: 0.157390 s

check it out at

docker pull wcwang07/test-gpu-container

clipper_conn.register_application(name="hello-tf", input_type="int", default_output="this is default output", slo_micros=3000000)

https://gist.github.com/wcwang07/aef2d54c134f7c43e726bf9d027770c9

python_deployer.deploy_tens

[2019-02-13 16:14] dsandii commented on #631
Not sure if this should be a separate issue for greater focus, but how might we control each model replica's `per_process_gpu_memory_fraction`?

For instance, if I want to stand up 3 replicas of my model on a specified GPU, how might I dynamically allocate it s.t. each replica gets ~33% GPU memory allocated? And would this be tough to do without breaking the functionality of `set_num_replicas`?

[2019-02-13 18:52] prasann16 commented on #589
@simon-mo I am getting a similar error:
Traceback (most recent call last): File "/container/pytorch_container.py", line 82, in <module> rpc_service.get_input_type()) File "/container/pytorch_container.py", line 54, in _init_ self.model = load_pytorch_model(torch_model_path, torch_weights_path) File "/container/pytorch_container.py", line 36, in load_pytorch_model model = cloudpickle.load(serialize

[2019-02-13 19:13] wcwang07 commented on #588
in the paper the object recognition experiment was setup using cifar-10, imagenet, would you consider using bench marking using coco data instead? would you be open source model network that you use?

[2019-02-13 19:32] avinregmi opened #634 "google k8s getting another error"
I'm able to deploy a model and it's running. When i'm sending a request to serve container will crash and restart. I've attached log output.
![screen shot 2019-02-13 at 2 29 38 pm](https://user-images.githubusercontent.com/32203792/52738211-2265a080-2f9c-11e9-8644-b8e7e8b99ec2.png)

[2019-02-13 19:50] dsandii commented on #634
I ran into fatal 'unknown opcode' errors myself when trying to run predictions on models exported from environments using Python 3.6 (whereas my model containers were using Python 3.5).

I had to modify my Clipper model Dockerfile to use Python 3.6 instead. I'm not entirely sure if this is what you're experiencing, but hopefully this helps.

[2019-02-13 20:28] avinregmi commented on #634
Yes, after updating to python3.6 it works!!!! Thanks

[2019-02-13 20:28] #634 closed, assigned to nobody

[2019-02-13 23:50] avinregmi commented on #490
Hey, I'm using your updated code with replacing (:) with (=). I'm still not able to delete deployment from google k8s. I've noticed, it turns into replicaset from deployment after calling stop_models() method.

[2019-02-14 00:41] avinregmi commented on #601
@withsmilo  I'm having trouble deleting the model from clipper internal. Is there a way to delete models from clipper internal redis? I've tried deleting application it is linked to but when i'm using get_all_models() it still shows up there even if it does not exist in k8s.

[2019-02-14 02:40] wcwang07 commented on #537
@withsmilo @xuguangzhao trying to start clipper on aws k8s still facing the Clipper still initilizing issue setting local proxy port 8080

followed steps to start k8s cluster:
https://docs.aws.amazon.com/eks/latest/userguide/getting-started.html#vpc-create

![k8s_1](https://user-images.githubusercontent.com/830341/52758841-a29cfd80-2fbe-11e9-87c9-8ffd60c876e7.JPG)

[2019-02-14 14:17] withsmilo commented on #601
@avinregmi : My suggestion for API scheme improvement is https://github.com/ucbrise/clipper/issues/603 and current status is here,
* `unlink_model_from_app` API : implemented but not pull-requested yet.
* `unregister_versioned_models` API : implemented and pull-requested already. (https://github.com/ucbrise/clipper/pull/602)
* Rename `delete_application` to `unregister_application` : implemented b

[2019-02-14 22:34] wcwang07 commented on #634
@avinregmi Hi I was following your thread on kubernetes deployment, the issue I am facing right now is that "Clipper still initializing" how do you get around it?  I am deploying on aws but the issue I have is get_admin will only get default cluster name but it did not get the proper pod name.

[2019-02-15 02:29] wcwang07 commented on #543
@simon-mo @YogeshSomawar @agneeshdg I also tried to run on aws ec2 k8s but it failed on health check, have you guys had similiar problems?
![image](https://user-images.githubusercontent.com/830341/52830612-574e2200-3086-11e9-8c40-4d38761e2f6f.png)

[2019-02-17 01:54] wcwang07 commented on #588
ran uniform load with single arrival process sending one randomly generated color image of size 224x224 for every 120 seconds

![image](https://user-images.githubusercontent.com/830341/52909400-d08f7580-323c-11e9-8246-9e580027e4f7.png)

[2019-02-17 02:01] wcwang07 commented on #588
In TFS, here they set batching parameter to test model latency
https://github.com/tensorflow/serving/issues/344

we know that clipper also use adaptive batching mechanism that is determined by
https://github.com/ucbrise/clipper/blob/3c5a1cc6ce59e0ccd778f526a50808d0e7b2576f/src/libclipper/src/containers.cpp#L128 (https://github.com/ucbrise/clipper/issues/548)

could you show whether batching size c

[2019-02-17 05:00] simon-mo commented on #588
Clipper cannot dynamically change arbitrary batchsize at runtime, however you can set the `max_batch_size` similar to TFS when you deploy the model:
http://docs.clipper.ai/en/v0.3.0/clipper_connection.html#clipper_admin.ClipperConnection.build_and_deploy_model

[2019-02-17 13:16] harmw opened #635 "Stopping models on Kubernetes results in HTTP/400"
Trying to stop a model results in the following K8S error:

[code]
(I've added some newlines for sake of readability)

Interesting thing is, the initial deployment was without errors and the model can handle queries just fine. This is with release `0.3`.

I'll see if I can find/fix this in de codebase, looks like some check that executes only when running `stop_models` (not when deploying).

[2019-02-17 13:24] harmw commented on #635
Looking at https://github.com/ucbrise/clipper/commit/3c5a1cc6ce59e0ccd778f526a50808d0e7b2576f#diff-36bc3d2e47fe660673ab0db0ea7e861a there were quite some changes in how the labels are processed, let's see.

[2019-02-18 14:52] adslwang4601 opened #636 "[RPC] lost contact with a container"
[14:28:29.034][info]         [RPC] lost contact with a container
[14:28:29.034][info]  [CONTAINERS] Removing container - model: lgm-high-1, version: 1, replica ID: 0
[14:28:29.034][info]  [CONTAINERS] All containers of model: lgm-high-1, version: 1 are removed. [14:28:29.034][info]  [CONTAINERS]
Active containers:
	Model: lgm-low-2:1
		rep_id: 0, container_id: 4
	Model: lgm-mean-1:1
		rep_id: 0, c

[2019-02-19 07:05] simon-mo commented on #633
@EyalSel can you share your benchmarking tool is possible?

@wcwang07  Another way to proceed is to re-produce your experiment against sagemaker in Clipper, can you layout what is needed to re-produce your experiment? So far I know that you need
- Setup AWS Kuberenetes (Clipper should work out-of-the-box for this one)
- Setup Autoscaling (Clipper doesn't have native support yet, but you can change

[2019-02-19 18:43] wcwang07 commented on #633
@simon-mo For the current tasks on my plate, having no access to company system:
1.   I need to investigate one use case using recommendation inputs base on age, and location, we would need to understand cache hit ratio for different caching strategy, later I can look into other use case like NLP, CV.
2. I need to understand how to scale in kubernetes using clipper to be cost effective when to sca

[2019-02-19 21:25] wcwang07 opened #637 "local variable 'node' referenced before assignment"
https://github.com/ucbrise/clipper/blob/c3feae088552ffecb5aa8fb91895d4f4055ba43b/clipper_admin/clipper_admin/kubernetes/kubernetes_container_manager.py#L305

[2019-02-19 21:51] #637 closed, assigned to nobody

[2019-02-20 00:17] wcwang07 commented on #633
@simon-mo
I have been trying to setup clipper through EKS

I have been having this issue for a while, have you had this issue before?

![image](https://user-images.githubusercontent.com/830341/53056631-da91be00-3460-11e9-81e6-e110c8b09307.png)

why is is trying to

[2019-02-20 00:17] #633 closed, assigned to nobody

[2019-02-20 20:51] wcwang07 opened #638 "imagepullbackoff kubernetes"
ran into following issue on kubernetes deployment, is there is something I missed here?

![image](https://user-images.githubusercontent.com/830341/53123406-d5d71380-350d-11e9-8000-ed0375489b2f.png)

[2019-02-21 00:13] A-Jacobson commented on #611
What are the limitations of `cloudpickle` exactly? will `from architecture import arch` always cause it to fail? or will it only fail if `architecture.py` imports other blocks from another local file?

I'm trying to let data scientists deploy models from experiment repos and would like to avoid having the nn architecture definitions and clipper deployments in one giant file.

edit: figured this ou

[2019-02-22 09:14] harmw commented on #638
Let me share some snippets of what we're doing:
[code]

The image name would carry the name of your registry:
[code]

Looking at your screenshot, it seems as if you're missing the registry part. For example, here is the output from one of our models:

`Image:          docker.io/wehkamp/blaze-image-recognition-model:28-447e892`

I know of some changes in the naming of things between using `release-

[2019-02-26 12:04] Archelunch opened #639 "can i change endpoint name"
Can I set another url for api like http://%s/simple-example/somethin instead http://%s/simple-example/predict?

[2019-02-26 12:45] withsmilo commented on #639
Hi, @Archelunch.
There is no easy way yet. The clipper source must be modified manually.
https://github.com/ucbrise/clipper/blob/develop/src/frontends/src/query_frontend.hpp#L405

[2019-02-26 13:52] Archelunch opened #640 "failed to build clipper Docker image"
I tried to build docker image
`python_deployer.create_endpoint(clipper_conn, "simple-example", "doubles",
                                    feature_sum, pkgs_to_install=['catboost'])`
But after running script I got this:
`Traceback (most recent call last):
  File "test_api.py", line 46, in <module>
    feature_sum, pkgs_to_install=['catboost'])
  File "/usr/local/lib/python3.6/site-packages/clip

[2019-02-26 14:00] Archelunch commented on #639
Ok, maybe I''try it

[2019-02-26 14:00] #639 closed, assigned to nobody

[2019-02-26 14:34] withsmilo commented on #640
Hi, @Archelunch :
1. Please share your `test_api.py` with us.
2. Please check your firewall if you set it in test machine.

[2019-02-26 14:37] withsmilo commented on #636
Hi, @adslwang4601 :
1. Could you share your scenario with us if you can?
2. What version of Clipper are you using?

[2019-02-26 14:45] Archelunch commented on #640
It is from examples, but only with attempt to install packages
I don't have problems with firewall, because without 'pkgs_to_instal' everything works fine

`from __future__ import print_function
from clipper_admin import ClipperConnection, DockerContainerManager
from clipper_admin.deployers import python as python_deployer
import json
import requests
from datetime import datetime
import time
impor

[2019-02-26 14:48] Archelunch commented on #640
It is from examples, but only with attempt to install packages
I don't have problems with firewall, because without 'pkgs_to_instal' everything works fine

[code]

[2019-02-26 15:26] withsmilo commented on #640
@Archelunch . I had the success to run your `test_api.py` and my logs are here,
[code]
I used custom version of Clipper for test. If you let me know which version you used, I'll test it with it.

[2019-02-26 15:45] Archelunch commented on #640
I installed this version
https://github.com/ucbrise/clipper.git@develop#subdirectory=clipper_admin

[2019-03-06 07:50] xunzhang opened #641 "Does clipper support other client protocol like GraphQL?"
Does clipper support other kinds of client protocol except REST? For example, I'd like to add some logic inside clipper to dispatch requests from client side so GraphQL is more flexible. If not, is that easy to extent to other protocol such as GraphQL or rpc? Thanks.

[2019-03-06 15:19] raghavio opened #642 "Keep getting 'Clipper still initializing' on start"
Hey guys, thanks for such a great tool!

I'm running into an issue when I specify my locally hosted Redis' ip.
[code]
It keeps printing `[clipper_admin.py:124] Clipper still initializing.`

**It all works fine when I don't specify my Redis instance and let Clipper create its own.**

Python: 3.6
Docker: 18.03.0-ce
Redis: 3.2.0

[2019-03-06 19:22] simon-mo commented on #642
Are you using a mac or linux machine? This might be due to that Clipper's container unable to reach redis due to docker's networking issue. You might need to pass {"network":"host"} as `extra_container_kwargs` for `DockerContainerManager` to enable networking between containers and host

[2019-03-06 19:30] raghavio commented on #642
It's a mac. I'll have to use `host.docker.internal` instead of `localhost`. Not sure how I missed this.
Thanks!

[2019-03-06 19:30] #642 closed, assigned to nobody

[2019-03-11 07:45] simon-mo opened #645 "Update requests and pyyaml"
Github Security audits found vulnerabilities in `requests` and `pyyaml` packages, recommendations:
[code]

Reports:
[yaml](https://nvd.nist.gov/vuln/detail/CVE-2017-18342)
[requests](https://nvd.nist.gov/vuln/detail/CVE-2018-18074)

[2019-03-11 21:58] tosolveit opened #646 "Is it possible to serve recommenders"
Hi, as I see we can use models to make predictions, In my case with daily intervals I write recommendations to a file, Is there a way to serve them like sending a user id and get the recommendations?

[2019-03-12 03:35] rkooo567 commented on #641
As far as I know, no. Please correct me if there's a clear way to do so @simon-mo. Model servings are happening through Query Frontend written in C++, so if you want to use GraphQL/RPC, you can modify it to support other protocols. Check https://github.com/ucbrise/clipper/tree/develop/src/frontends.

Another way I can think of is to add another layer that communicates with Query frontend and has a

[2019-03-12 03:37] rkooo567 commented on #646
Hi @tosolveit. Yeah for sure. Clipper supports deployment of Python function. You can read a file from the function and serve based on userid. You can find the example of python function deployment from here https://github.com/ucbrise/clipper/tree/develop/examples/basic_query.

[2019-03-12 07:24] tosolveit commented on #646
You made my day, I am happy like a child, thanks a lot 😀

[2019-03-13 04:27] RehanSD commented on #645
Fixed by #647.

[2019-03-13 04:27] #645 closed, assigned to RehanSD

[2019-03-16 01:45] wcwang07 opened #648 "set_async_mode not a member of 'spdlog'"
how could we compile logging.cpp as there is no function  spdlog::set_async_mode, spdlog::stdout_color_mt, set_async_mode function in spdlog library

[2019-03-19 17:28] wcwang07 commented on #648
git checkout 35865ee54e3c1d537827cb0f88858d10e174cca5 seemsed to resovle it.

[2019-03-19 22:48] #648 closed, assigned to nobody

[2019-03-20 23:10] withsmilo commented on #645
Do we need to modify these codes as well?

* requests
  * https://github.com/ucbrise/clipper/blob/develop/dockerfiles/FrontendExporterDockerfile#L10
  * https://github.com/ucbrise/clipper/blob/develop/dockerfiles/ClipperDevDockerfile#L18
  * https://github.com/ucbrise/clipper/blob/develop/dockerfiles/ClipperPy35DevDockerfile#L23
* yaml
  * https://github.com/ucbrise/clipper/blob/develop/dockerfile

[2019-03-21 08:01] rkooo567 opened #650 "`DockerContainerManager` uses anti pattern."
<img width="541" alt="Screen Shot 2019-03-21 at 12 56 59 AM" src="https://user-images.githubusercontent.com/18510752/54739168-62f4a300-4b74-11e9-9d36-f84ddc462eeb.png">

https://docs.quantifiedcode.com/python-anti-patterns/correctness/mutable_default_value_as_argument.html

`DockerContainerManager` uses mutable default argument for `extra_container_kwargs`. It is commonly considered as Python anti

[2019-03-21 08:12] withsmilo commented on #650
I met already this pattern many times on the Clipper sources. I will try to fix them tonight.

[2019-03-25 23:18] withsmilo opened #656 "[CI] Bug report"
@simon-mo , I listed up the CI bugs here.

1. ~https://amplab.cs.berkeley.edu/jenkins//job/Clipper-PRB/1818/ -> PR  https://github.com/ucbrise/clipper/pull/657 -> merged~
[code]

2. ~https://amplab.cs.berkeley.edu/jenkins//job/Clipper-PRB/1824/ -> PR https://github.com/ucbrise/clipper/pull/655 -> merged~
This error occurred because `docker push` failed.
[code]

3. ~https://amplab.cs.berkeley.edu/j

[2019-03-28 08:53] withsmilo commented on #656
All PRs are merged finally! Thank you, @simon-mo @RehanSD .

[2019-03-28 12:47] withsmilo commented on #650
merged! :)

[2019-03-28 12:47] #650 closed, assigned to nobody

[2019-03-28 12:51] withsmilo commented on #656
7. ~https://amplab.cs.berkeley.edu/jenkins/job/Clipper-PRB/1852 -> https://github.com/ucbrise/clipper/pull/662 -> merged~
This error occurred because `docker push` failed.
[code]

[2019-03-29 06:30] withsmilo commented on #621
solved by #622.

[2019-03-29 06:30] #621 closed, assigned to nobody

[2019-03-30 13:19] withsmilo commented on #518
solved by https://github.com/ucbrise/clipper/pull/608.

[2019-03-30 13:19] #518 closed, assigned to nobody

[2019-03-30 13:21] #345 closed, assigned to nobody

[2019-03-31 14:14] withsmilo commented on #656
8. ~https://amplab.cs.berkeley.edu/jenkins/job/Clipper-PRB/1870 -> https://github.com/ucbrise/clipper/pull/663 -> merged~
When pushing a Docker image, raise `ReadTimeoutError`.
[code]

[2019-04-01 04:09] withsmilo commented on #656
9. ~https://amplab.cs.berkeley.edu/jenkins/job/Clipper-PRB/1874 -> https://github.com/ucbrise/clipper/pull/665~
[code]

[2019-04-01 21:19] withsmilo commented on #523
https://github.com/ucbrise/clipper/issues/524 was merged with ‘develop’ branch finally.

[2019-04-01 21:19] #523 closed, assigned to nobody

[2019-04-01 22:12] #656 closed, assigned to nobody

[2019-04-05 17:51] itobysq opened #668 "Retraining on airflow?"
Great work so far, I really like the flexibility of the platform.

How do you recommend doing scheduled retraining? I typically train models with apache airflow. If I use clipper, I run into a problem because I am running a container inside of a container.

[2019-04-05 21:32] rkooo567 commented on #668
Hi, @itobysq. Could you elaborate a little more about ` I run into a problem because I am running a container inside of a container`? I suppose your airflow server is a container and when you try to run a clipper inside, it causes a problem? Am I correct?

[2019-04-05 21:55] itobysq commented on #668
Thank you for the swift reply. Yes, that's what's happening. I am not reporting a problem. I just want to know what is the most common way to schedule retraining and deploying a model with Clipper. Before Clipper I just build pickle files on an airflow scheduler. I would like to take advantage of Clipper's ability to revert and all of its other great features.

[2019-04-05 23:35] rkooo567 commented on #668
Are you using KuberentesConatinerManager or DockerContainerManager for your cluster?

[2019-04-06 08:09] rkooo567 commented on #668
Sorry my comment was vague. If you use Kubernentes, the typical scenario is like this. Details might vary.

1. Clipper has a `KuberentesManager` class that is used as a parameter of ClipperConnection. There was one setup guide about 5 months ago. Here is the link. https://github.com/ucbrise/clipper/issues/598.

2. Once you somehow setup Clipper in your Kuberentes cluster, you can just easily use `

[2019-04-06 19:23] itobysq commented on #668
Thank you for the thorough answer, I really appreciate it. I hope to try your suggestion later in the coming week.

[2019-04-06 23:14] rkooo567 commented on #668
Sounds good! @itobysq. Let us know if there will be any issues!

[2019-04-07 14:59] withsmilo commented on #668
Hi, @itobysq.
I think that the 'scheduled retraining' you mentioned above depends on how much automation your project requires on the ML pipeline system. This is a discussion of system architecture, which goes beyond the scope of Clipper, but here are some examples of how the system is configured using Clipper.
1. Wehkamp
https://medium.com/wehkamp-techblog/the-wehkamp-ml-platform-eb46638dd8d2

2.

[2019-04-10 22:50] RehanSD commented on #615
Addressed in #669

[2019-04-10 22:50] RehanSD commented on #554
This PR addresses this issue #669

[2019-04-10 22:51] RehanSD commented on #338
Docker is addressed in this PR #669

[2019-04-12 20:02] simon-mo opened #670 "Use EC2 Spot Instance for GPU Testing"
Now we have #669 in place, we need a way to test it. We can use ec2 spot instance to test it.

To do:
- [ ] Prepare an AMI that have GPU driver, nvidia-docker, and minikube with GPU support.
    - Deliverable: `prepare_ami.sh` that should be run at a clean instance and result in the exactly the same ami
    - Deliverable: `ami-{id}` and make it public.
- [ ] Inject aws crendential to jenkins, test

[2019-04-16 06:19] jacekwachowiak opened #671 "JVM (Java/Scala) Spark deployment"
Hi, in the last days I deployed some Python-based models (such as PySpark), but for the project I am working on it would be perfect if there was a way to involve the JVM version of Spark.
I went through the documentation, the paper and the github files, and I found some Scala/Spark dockerfiles, container code and so on, but no instruction or documentation. Is there any reference/instruction that w

[2019-04-16 16:32] rkooo567 commented on #671
Hi, @jacekwachowiak. Everyone misses obvious things easily, so don't hesitate to ask questions! I believe Clipper had a JVM version of container server, but it is not maintained anymore. You can check it out from https://github.com/ucbrise/clipper/blob/227c8e46e5a801e9f94e7e42a5bf0b693a5f9919/bin/shipyard/clipper_test.cfg.py#L9.

There's still possibility that it is usable, but I am not sure. @sim

[2019-04-17 02:01] jacekwachowiak commented on #671
Yes, that's what I was afraid of, since I found only files with last update around a year ago and the website and all readmes are Python-focused.

I am not sure if this would be a dealbreaker (hopefully not!). Anyway, was there any instruction on how to deploy JVM in the previous version of Clipper docs? Or any additional materials? I would still like to take a look, even though it seems that maki

[2019-04-19 01:15] simon-mo commented on #671
You are correct that they are no longer maintained. JVM container does work but might require you to figure out how to package your model according to https://github.com/ucbrise/clipper/tree/develop/containers/jvm

[2019-04-19 21:37] rp4fx12 opened #672 "Return Error Response"
Hi, (not sure if this the right place to ask this) but is there a way to return an error response code if someone passes in bad data to the api? Something like a 4xx status code. Is there also a way to run 5xx's if something breaks?

[2019-04-19 22:08] RehanSD commented on #672
Hi! I'm not sure if this is what you're looking for, but when you register an application you can provide a `default_output` for when the model doesn't return by the latency or crashes.
[code]

[2019-04-19 22:43] RehanSD commented on #598
Hi! When I try this on Ubuntu, I get this warning repeatedly:
[code]
followed by this error:
[code]

[2019-04-21 20:59] rkooo567 commented on #672
Hi, @rp4fx12. Currently, there's no way to customize response code. But the current code already responses with response code 400 or 500 for certain type of request errors. Check out this function in `QueryFrontend`.
https://github.com/ucbrise/clipper/blob/227c8e46e5a801e9f94e7e42a5bf0b693a5f9919/src/frontends/src/query_frontend.hpp#L314

For the sake of context, I would explain how it works brief

[2019-04-22 08:08] jacekwachowiak opened #673 "MXNet default deployment container crashes due to ImportError"
I'm trying to run all the possible frameworks and I cannot make mxnet work but I think the error is somewhere inside the mxnet deployer.

I had some problems with submitting a model and a function that would not return a pickle error but after using the #620 issue and following the example from withsmilo I could deploy it correctly. The problem is that the container died after a second and the log

[2019-04-22 20:47] rkooo567 commented on #673
Seems like you didin't import additional packages in `pkgs_to_install` argument.
[code]
 Can you try to add packages to this argument? Something like
[code]

As you can see from this dockerfile, the original container only has `mxnet` as pip dependencies. https://github.com/ucbrise/clipper/blob/develop/dockerfiles/MXNetContainerDockerfile

[2019-04-23 00:09] jacekwachowiak commented on #673
But since I am using the default version only and doing:
[code]
where `numpy` is used for the creation of the query data, what other packages would I need? That argument was not needed with other deployers - pyspark/pytorch/tf.

[2019-04-23 04:05] rkooo567 commented on #673
@jacekwachowiak I found out clipper generates import error when using `mxnet==1.4.0` version. Can you try using `pip install mxnet==1.1.*` (I tested against 1.3.1 which is the second latest version, and it works as well) and try to run again? I think new version of mxnet has some kinds of dependency issue with Clipper.

[2019-04-23 04:58] rkooo567 opened #674 "Cloudpickle cannot deserialize mxnet 1.4.0"
Following up https://github.com/ucbrise/clipper/issues/673, we found out `cloudpickle` cannot deserialize `mxnet==1.4.0`. (It is verified that it can deserialize `1.3.1`).

[code]
I am trying to find a cause. Please let me know if you can guess any reason.

[2019-04-23 05:56] jacekwachowiak commented on #673
Using version `1.1.0` for the model creation worked well with Clipper, thanks for helping!

[2019-04-23 05:57] #673 closed, assigned to nobody

[2019-04-24 02:01] jacekwachowiak commented on #598
I'm not sure that this belongs here, but I am getting the same type of error ( I'm using Kubernetes with Kubespray on RHEL7 on OpenStack). When I try to start Clipper, the pods start and then:
[code]
EDIT: It was a Kubernetes proxy problem for me

[2019-04-24 16:00] itobysq opened #676 "Vague oserror on deploy_python_closure"
Thanks for building clipper! It's a very compelling idea. When I call a model inside of a function, the function that deploy_python_closure references fails and provides a vague `OSError: Invalid Argument` I tried adding the scipy, numpy and sci-kit learn to the closure based on this [issue:](https://github.com/ucbrise/clipper/issues/546) and I get the same error.

Can someone please provide a hin

[2019-04-24 17:26] rkooo567 commented on #676
Hi, @itobysq. Thank you for raising an issue.

OSError is an error from syscall I believe, and I couldn't find OSError catching clause from Clipper. I guess it is from the function itself. Would you mind showing us

1. The logs of  `deploy_python_closure` (the script you posted)
2. The docker logs of python closure model (If you succeed to deploy the model)?

[2019-04-24 23:59] itobysq commented on #676
I don't believe the docker logs of python closure model exist. The containers that are running at failure are `metric_frontend-17595, query_frontend_exporter-75917, query_frontend-75917, mgmt_frontend-10929, and redis-26171`

The log message when I step through the code is
[code]

[2019-04-25 06:30] rkooo567 commented on #676
Seems like the program is broken at this function.
[code]

As you can see, there is a line that calls a syscall.
[code]

So there's a problem with `open` function.

What I found online is https://bugs.python.org/issue29097. Are you using python 3.6? If so, can you try to update it to python3.6.7 and retry?

[2019-04-25 06:46] rkooo567 commented on #676
Couple other reasons can be

1. `/tmp/clipper/tmp94973q9e` has too huge size. Can you cd to the dir and see the file if it exists? if so can you check the size? https://stackoverflow.com/questions/48122798/oserror-errno-22-invalid-argument-when-reading-a-huge-file
2. Absolute path created by clipper has a illegal character (I really doubt it, but it can be possible). If so, can you try downloading

[2019-04-26 02:08] RehanSD opened #677 "Jenkins Test Script for GPU"
Write testing script for Jenkins to run GPU unittests.

[2019-04-26 02:08] RehanSD commented on #670
Replacing with #677 and closing.

[2019-04-26 02:08] #670 closed, assigned to RehanSD

[2019-04-26 02:09] RehanSD commented on #677
Replacement for #670

[2019-04-26 23:11] itobysq commented on #676
Thank you for looking into this @rkooo567. I had a chance to try your suggestions.
1. I tried using Python 3.6.7 and still have the issue.
2. I could not see the file in `tmp/clipper/` because I believe the file failed to write. I suspect that the problem is that the file is still too big. The model saved in joblib is 4GB. What is the limit for the size of a clipper model?
3. Sorry I am not clear

[2019-04-27 03:53] rkooo567 commented on #676
@itobysq Sorry about 3. What I meant was `develop` version of clipper not python. But I don't think it will help.

https://bugs.python.org/issue24658. As you can see from here, python used to have problems reading/writing more than 2GB files, but seems like it should've been resolved. Can you try creating a smaller size model and run the code again if you don't mind? If it is the issue, we probabl

[2019-04-27 19:01] rkooo567 commented on #625
The first PR's config build is not complete yet.
https://github.com/ucbrise/clipper/pull/652/files/2ea53ce78f3f7725f8619b3e5aac4fd0b635a5eb#diff-4e9780876d0c353566121aba8ecdd09bR137
[code]

This should be handled in PR2 as we need customization for integrating with sqlite

[2019-04-29 17:56] rkooo567 opened #678 "Current CI Broken at docker_metric."
<img width="848" alt="Screen Shot 2019-04-28 at 10 41 52 PM" src="https://user-images.githubusercontent.com/18510752/56915921-8d3b5980-6a6c-11e9-88cb-0144f043d170.png">

Current CI has been broken at `docker_metric` integration test due to the error,
[code]
I found out `urllib3` recently released their new version 1.25 on April 22nd (which is the day our CI starts to be broken).

Our requests libr

[2019-04-30 16:10] rkooo567 commented on #678
It is merged and resolved. I will keep opening the issue so that we can remove urllib3 version constraint later once it becomes stabilized

[2019-04-30 22:06] itobysq commented on #676
I was able to deploy the closure with a model that is only 1.3G instead of 4G. The reduced size does affect my model's performance, unfortunately. I am not running the code in a notebook. I am running the code in a python script.

You are right, I think there needs to be a patch for bigger models if you choose to support them.

[2019-05-01 01:30] rkooo567 commented on #676
@itobysq Thank you for the verification!

I will create an issue about this, and we will fix it in the next release. Also, feel free to create a PR if you would like to solve the problem!

[2019-05-01 01:46] rkooo567 opened #681 "Patch Required: Huge size python closure causes an OSError."
## Related issue
This is related to issue https://github.com/ucbrise/clipper/issues/676.

## Problem
Based on the issue, it seems like more than 2GB of pickled python closure raises an OSError due to python's `open` and `write` function (https://bugs.python.org/issue24658) even with `python 3.6.7`. Our python closure can easily have large size because it captures all the data in code including mod

[2019-05-02 14:25] rp4fx12 opened #682 "Next Release?"
Hi, is anyone able to tell me when the next release will be?

[2019-05-02 15:41] simon-mo commented on #682
Hi, it will be sometime around next week.

[2019-05-02 15:43] #682 closed, assigned to nobody

[2019-05-03 01:05] coldtomatojuice opened #683 "What you need to Modify the current develop version to get ensemble results"
Currently Clipper can only serve result from a single model that is linked to an application where a REST end point is set. however, most functions needed for serving results from multiple models are implemented in the code and I guess it is for the future revision that might enable clipper to select optimized models among all linked models according to a policy chosen.

As per the issue #579 and

[2019-05-03 13:39] withsmilo commented on #683
@coldtomatojuice , Great works! Could you please create a pull request that includes all your work?

[2019-05-03 15:38] #598 closed, assigned to nobody

[2019-05-03 16:11] simon-mo opened #684 "PSA CI will be broken on May 4"
We use dockerhub heavily in our CI, I just got this email from them:

I’ll close this issue when the maintainence is over

[2019-05-04 16:09] withsmilo commented on #676
@itobysq @rkooo567 : I'm so sorry for late reply. How about try to use Python 3.6.8?

[2019-05-05 13:08] coldtomatojuice commented on #683
@withsmilo Sure, I will. Thanks!

[2019-05-07 23:29] withsmilo commented on #683
@simon-mo : Does Clipper have any plan about `selection policy`?

[2019-05-07 23:32] RehanSD commented on #683
@withsmilo @coldtomatojuice Clipper has worked on selection policies before; however, we decided not to implement native selection policies because they require containers to hold state. We have worked on creating a flask app that sits on top of Clipper for A/B, smoke and Blue Green testing.

[2019-05-08 15:09] #684 closed, assigned to nobody

[2019-05-09 05:58] jacekwachowiak opened #687 "[Metrics] Kubernetes Prometheus metrics address"
Following the documentation on [http://clipper.ai/tutorials/metrics/](http://clipper.ai/tutorials/metrics/) I should be able to find the Prometheus address to see some metrics of the Clipper deployments, but the suggested method `clipper_conn.get_metric_addr()` seems not to exist (anymore?). It is also not listed here [http://docs.clipper.ai/en/v0.3.0/clipper_connection.html](http://docs.clipper.a

[2019-05-09 12:33] SarnathK opened #688 "start_clipper() failed"
I am running into issues while starting **clipper_conn.start_clipper()** More details below.

My environment: Windows 10, x64 Machine, 4 Cores, 16GB RAM, Docker 2.0.0.3 in Running State, Conda conda 4.5.11, Virtual environment with Python packages : clipper-admin==0.3.0, docker==3.7.2 (installed via pip)

The following errors occur while start_clipper() is called. When I list docker ps , I see man

[2019-05-09 18:21] rkooo567 commented on #688
Hi, @SarnathK. Thank you for the question!

I believe Clipper does not support Windows. As you can see from code here,
https://github.com/ucbrise/clipper/blob/defb13153f8e55af1abdbe36718e6e9b6fc332b5/clipper_admin/clipper_admin/docker/docker_metric_utils.py#L87, when you run a Prometheus image (which you failed to run by `run_metric_image`), it mounts the config file into `/etc` folder. Windows do

[2019-05-09 18:28] rkooo567 commented on #687
https://github.com/ucbrise/clipper/blob/c941dcb911e4b971cb211abcb1ee8d51b1ec24e4/clipper_admin/clipper_admin/kubernetes/kubernetes_container_manager.py#L517

There is a function for `get_metric_addr` inside `KubernetesContainerManager`, but as you said, there's no way to access through `clipper_conn`. I am not quiet sure why. @simon-mo , can you clarify this part? If there's no special reason, we

[2019-05-10 02:44] SarnathK commented on #688
@rkooo567 Thanks for the answer...

Being in Python and Docker -- I believe Clipper should be able to run in Windows.

Docker on Windows uses Hyper-V underneath and there are other Docker containers like Redis already running (as you can see towards end of my original message).

Also, Windows has it's own etc folder in c:\windows\etc if indeed this is the problem....

Is running Prometheus absolut

[2019-05-10 04:29] rkooo567 commented on #688
@SarnathK
Yep. It should technically work, but as you can see, there are some parts that might cause some errors due to native differences between Mac/Linux and Windows (one of examples is the path). Running prometheus is not the essential as far as I know, but it is used to collect metrics, which you might need for your application. Also, commenting out `run_metric_image # this will run prometheu

[2019-05-10 04:39] rkooo567 commented on #683
I think we need some discussion about merging this into our `develop` right now.

This is a naive way of supporting ensemble results, so instead of merging into `develop` directly, it might be better creating a new branch for this (for more features). Also, we should take care of some backward compatibility as well as unit tests. If the flask app works well, we probably don't need to have this fea

[2019-05-10 05:17] withsmilo commented on #636
@adslwang4601
I met the same issue. I suspect that in rare case, the 'unique' connection id generated automatically by new ZMQ connection between model replica and query_frontend replica, was the same with previous ids, so query_frontend's RPCService couldn't register the model container with it, and then this error was occurred finally.

I will try to fix this error as soon as possible.

[2019-05-10 05:19] withsmilo commented on #551
https://github.com/ucbrise/clipper/pull/524 was merged with 'develop' branch. I will create a new PR which updates the SimpleWebServer sources to latest.

[2019-05-10 05:49] coldtomatojuice commented on #683
Yes, I fully understand the plan what you guys have on upcoming clipper versions, so I issued this first to let people know the way they can modify clipper instantly to get ensemble results from multiple models.
if there are more requirements regarding this feature, it would be better to develop some instant ensemble features, not to make conflict with flask apps, I reckon.
Thank you for your comm

[2019-05-10 08:21] jacekwachowiak commented on #687
Thank you for the quick answer. Indeed, the
`clipper_conn.cm.get_metric_addr()` returns a link:
`'172.17.1.34:8080/api/v1/namespaces/default/services/metrics-at-default-cluster:1390/proxy'`. I have a different problem now though. Going to the browser and using this address returns:
[code]
At the same time `http://172.17.1.34:8080/api/v1/namespaces/default/services/metrics-at-default-cluster` retur

[2019-05-10 11:13] SarnathK commented on #688
@rkooo567 Thank you for your clarification. I moved to Linux and the hello-world app worked like a Charm. Amazing to see so much could be accomplished with just a few calls! This is Amazing! Thanks for such a nice software.
I would request you to document in clipper.ai website that it works only on Linux. I think it can save sometime for someone. I am closing this issue.
Once again, Thanks for you

[2019-05-10 11:13] #688 closed, assigned to nobody

[2019-05-10 14:37] withsmilo commented on #683
@RehanSD @rkooo567 @coldtomatojuice
Thank you for your comments.

My opinion is that implementing some selection policies in Clipper can make the query_frontend a bottleneck in very high traffic environments and make error handling very difficult because the response times of ensemble models are various and may not have a uniform pattern. When using Clipper at the production level, I think bottlen

[2019-05-10 14:51] withsmilo commented on #681
The Python developer merged already the following patches to `python 3.6.8` and `python 3.7.*`.
* 3.6
  * https://github.com/python/cpython/pull/9937
  * https://github.com/python/cpython/pull/10659
* 3.7
  * https://github.com/python/cpython/pull/9936
  * https://github.com/python/cpython/pull/10658

[2019-05-10 15:12] rkooo567 commented on #681
Thanks for the confirmation! I will reproduce https://github.com/ucbrise/clipper/issues/676 with 3.6.8 and close this issue. @withsmilo

[2019-05-10 15:12] rkooo567 commented on #676
@itobysq https://github.com/ucbrise/clipper/issues/681

Can you try python 3.6.8?

[2019-05-10 15:15] rkooo567 commented on #683
@withsmilo @coldtomatojuice  I am planning to update our contribution doc in a few week. I will add this issue as a tip until our flask app is successfully merged.

[2019-05-10 15:27] rkooo567 commented on #687
Seems like the address is trying to access the port 1390 (deployment port) although our service port is 9090?
https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_admin/kubernetes/prom_service.yaml
Can you try 172.17.1.34:8080/api/v1/namespaces/default/services/metrics-at-default-cluster:9090/proxy?

[2019-05-11 08:34] rkooo567 commented on #688
@SarnathK No problem! We will definitely add this information in the documentation. Thank you for raising an issue!

[2019-05-12 19:08] #672 closed, assigned to nobody

[2019-05-12 19:08] #671 closed, assigned to nobody

[2019-05-12 19:08] #668 closed, assigned to nobody

[2019-05-12 19:08] #646 closed, assigned to nobody

[2019-05-12 19:08] #641 closed, assigned to nobody

[2019-05-12 19:13] rkooo567 commented on #625
@simon-mo Will begin to work on part 2 from May 18th.

[2019-05-12 19:15] rkooo567 commented on #628
Some people are planning to work on flask app to enable this, but we are not sure when it will be released. The quick solution you can do is to use this solution. https://github.com/ucbrise/clipper/issues/683

[2019-05-12 23:59] rkooo567 commented on #549
@withsmilo Is this issue handled in one of your recent PRs?

[2019-05-13 00:03] withsmilo commented on #549
@rkooo567 No! I'm just applying the workaround patch to Clipper now because this issue is so complicated. After completing opened PRs, I will dig for this.

[2019-05-13 01:56] jacekwachowiak commented on #687
Going to `172.17.1.34:8080/api/v1/namespaces/default/services/metrics-at-default-cluster` confirms that there is a TCP port at `9090` but I cannot connect - loading without success. Still, since the behavior is different, I will try to debug further.
EDIT:
After a long while the link was changed to `...9090/proxy/graph` but the connection was lost (`read: connection reset by peer`).
EDIT 2:
I chec

[2019-05-13 03:36] rkooo567 commented on #687
Hmm.. so when port is included in the url, it fails. Could you access Prometheus in this way?

Also, @RehanSD @simon-mo @withsmilo, have you guys encountered similar issues?

[2019-05-13 03:40] rkooo567 opened #692 "Question: Why isn't get_metric_addr included in clipper_admin API?"
Related: https://github.com/ucbrise/clipper/issues/687.

Based on our API documentation (http://docs.clipper.ai/en/v0.3.0/clipper_connection.html) and code, it seems like ClipperConnection API doesn't include `get_metric_addr`. Is there any special reason for that? Is there other way to access metric address than using `clipper_conn.cm.get_metric_addr()`?

[2019-05-13 04:27] jacekwachowiak commented on #687
No, it shows loading for a few minutes and then that `Error: 'read tcp 10.233.90.0:44044->10.233.96.59:9090: read: connection reset by peer'
Trying to reach: 'http://10.233.96.59:9090/graph'`.

Unfortunately after stopping Clipper completely and rerunning it with:
[code]
It gets stuck at:
[code]
After a few tries and ~25 seconds it continues with the warning (error more likely) below
[code]
I don'

[2019-05-13 05:50] jacekwachowiak commented on #687
Because model deployment is ok, querying is ok and I cannot get to the Prometheus address in the browser with or without proxy I have to suspect that there is something wrong with the Prometheus pod. Both ways get stuck for a long time and try to redirect to `.../graph` without success.

This is the pod log: (level=info messages removed), the error starts immediately after the launch
[code]

[2019-05-13 06:29] rkooo567 commented on #687
Are you using any cloud service with RBAC? Seems like the log is related to RBAC configuration. RBAC  has been problems for `KubernetesContainerManager` based on https://github.com/ucbrise/clipper/issues?utf8=%E2%9C%93&q=RBAC.

We don't natively support RBAC config now. https://github.com/ucbrise/clipper/issues/564. This can be a temporary solution.

Also, there is one PR that tried to tackle this

[2019-05-13 06:43] jacekwachowiak commented on #687
I checked and yes, Kubespray by default launches RBAC with Kubernetes. I will try to create my cluster from scratch without it and I will update the issue here

[2019-05-13 22:16] withsmilo commented on #692
I think that `get_metric_addr` have to be added to the ClipperConnection API. There is no reason for it to be omitted from the API.

[2019-05-13 22:48] withsmilo commented on #687
@jacekwachowiak
Hi, [The official K8s document](https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/#manually-constructing-apiserver-proxy-urls) gives the service’s proxy URL in case that you use `kubectl proxy`.
[code]

[2019-05-13 23:36] rkooo567 commented on #692
I will create a PR to handle this real quick.

[2019-05-14 04:22] jacekwachowiak commented on #687
Yes, I've seen how the urls are created, but the problem is not there.
I recreated a Kubernetes cluster without RBAC, but it seems it's not working well now, so I may have to try the #605 PR's solution. Can we count on this PR or sth similar to be included by default in Clipper?

[2019-05-14 04:32] rkooo567 commented on #687
The PR is not verified yet. Based on the fact that he created a PR, I believe it should work though.

He was going through a similar problem like you before and asked a question here. https://github.com/ucbrise/clipper/issues/564. @simon-mo said, "All we need is to add RBAC support in our kubernetes config files." You can probably try to create a proper RBAC config files and manually apply them to

[2019-05-14 04:32] rkooo567 commented on #687
Also, did you get the same pod logs when you created your cluster without RBAC?

[2019-05-14 04:49] jacekwachowiak commented on #687
Apparently using Kubespray without RBAC is problematic (looking at how it creates the cluster), I got some pods stuck in pending state, and the same happened to Clipper deployment - it crashed after 5min, as programmed when there was no progress. Since I cannot limit myself to one Kubernetes cluster creation tool (for now Kuberspray on Openstack), I need to consider that on other cluster RBAC migh

[2019-05-14 05:47] jacekwachowiak commented on #687
I used the PR and to no avail :(
[code]
the error is in the Prometheus pod from the beginning, as it was.

[2019-05-14 05:51] jacekwachowiak commented on #564
Hi @YogeshSomawar, I am dealing with the same error, but on Kubespray-based Kubernetes on Openstack. I used your PR to check and there was no difference for me - the error persists.  Have you by any chance tried some other solution or launching Clipper on another cluster? Any info would help!

[2019-05-14 08:58] rkooo567 commented on #687
Could you check if ClusterRole, binding, and service account is applied?

Also, one of reasons why it doesn't work might be because of this line.

https://github.com/ucbrise/clipper/blob/3e90147f708779fa87166cb9e521758c3a9a35fe/clipper_admin/clipper_admin/kubernetes/rbac_cluster_role.yaml#L16

The PR's resources is only set to be ingresses, but for our case, it should be services (I believe). Here

[2019-05-14 09:42] rkooo567 commented on #687
@simon-mo created a new PR on the top of #564. https://github.com/ucbrise/clipper/pull/694. If this passes `kube_metric.py` test, it should be a solution.

If PR doesn't work, there can be two other things you can try. Also, please make sure `ClusterRole`, `ClusterRoleBinding`, and `ServiceAccount`

1
=====
[code]
to prometheus deployment https://github.com/ucbrise/clipper/blob/develop/clipper_adm

[2019-05-14 21:50] liu-bote opened #695 "Question: why query-frontend occupies 1000m cpu for 0 requests?"
I deployed a logistic regression model with Clipper on k8s, and I found that the query-frontend always occupies more than 1000m cpu even if there is no requests to it. Why is query-frontend so busy and what is it doing?

$kubectl top pod
query-frontend-0-xxxxxxxxx-xxxxx 1048m 42Mi

[2019-05-14 22:06] simon-mo commented on #695
Hi thanks for the issue!

This is a bug we just fixed https://github.com/ucbrise/clipper/commit/db35528b6a670e16d9123d681898452060c9d816

We are roll out a new version in next two days.

So if this is urgent you can install the development version of Clipper by
[code]

Otherwise you can `pip install -U clipper_admin` when the bug fix come along.

[2019-05-14 22:16] withsmilo commented on #597
@dipayan90 Fixed. Thanks! These commits will be contained within next release.

[2019-05-14 22:16] #597 closed, assigned to nobody

[2019-05-14 22:16] withsmilo commented on #551
Fixed.

[2019-05-14 22:17] withsmilo commented on #636
@adslwang4601
Fixed. This commit will be contained within next release.

[2019-05-14 22:17] #636 closed, assigned to withsmilo

[2019-05-15 00:29] jacekwachowiak commented on #687
Thank you for the fast and extensive reply, I'll take a look at the PR asap!

[2019-05-15 02:27] jacekwachowiak commented on #687
I saw that the PR #693 about the metric address method was merged, I updated the repo and tried it - it returns no error now, but it does not return the address either:
[code]

[2019-05-15 02:50] rkooo567 commented on #687
Lol I forgot to add return. I will create a PR real soon. Please use cm.get_metric_addr until then.

Also, so you could access the metric through proxy now?

[2019-05-15 03:21] jacekwachowiak commented on #687
Yes, no problem about that :)
And no, I couldn't, but for now I just took the PR without the other things you mentioned and the Prometheus pod returns a single error:
[code]
so maybe the step about the service account can fix that. Going to the address in the browser ends still in loading forever

[2019-05-15 03:39] rkooo567 commented on #687
Can you try this
`kube-apiserver -h | grep enable-admission-plugins` and see if ServiceAccount is included?

Also, @simon-mo You might need to see this for debugging.

[2019-05-15 04:54] jacekwachowiak commented on #687
Can you give me some more details how to run this? I get this and I cannot find a good example how to use `kube-apiserver`:
[code]
Does this help?
[code]

[2019-05-15 05:06] rkooo567 commented on #687
To use `ServiceAccount` (in our case, prometheus service account is on in prom_deployment), we should make sure ServiceAccount admission plugin is on. The command above is what I found from the link, https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/.

I found how to access `kube-apiserver` from stackoverflow. https://stackoverflow.com/questions/50352621/where-is-kube-a

[2019-05-15 05:16] jacekwachowiak commented on #687
[code]
so it seems it is not

[2019-05-15 05:23] rkooo567 commented on #687
Okay. Seems like `NodeRestriction` is the only admission-plugins. The document says we should add ServiceAccount to enable serviceAccount for RBAC.

Can you try to add ServiceAccount in the yaml file? I think you can add
`--enable-admission-plugins=NodeRestriction,ServiceAccount`.

If it doesn't work, you can find the `kube-apiserver` binary from the matser node and run
kube-apiserver --enable-adm

[2019-05-15 05:24] jacekwachowiak commented on #687
On it, I'll update soon

[2019-05-15 05:29] rkooo567 commented on #687
BTW, this is the source about we need ServiceAccount plugin
https://github.com/kubernetes/kubernetes/issues/27973

[2019-05-15 05:30] jacekwachowiak commented on #687
Do I have to restart the pod/container to be sure that the change was applied?
Update: It restarted automatically so sorry for the fuss!

[2019-05-15 05:33] rkooo567 commented on #687
It says kublet periodically scans all the manifest files to update. So I believe it should be fine? I am not 100% sure about this.  https://stackoverflow.com/questions/50007654/how-does-kube-apiserver-restart-after-editing-etc-kubernetes-manifests-kube-api

[2019-05-15 06:22] rkooo567 commented on #687
@jacekwachowiak How's the result? Are you able to access prometheus now?

[2019-05-15 06:25] jacekwachowiak commented on #687
Sorry for the delay but the Murphy's law got involved - the cloud I am using has currently network problems and I have to wait until it's fixed!  It stopped working the moment I changed the manifest, but it's surely not the cause 😅

[2019-05-15 06:28] rkooo567 commented on #687
Haha. gotcha! Let me know if it will resolve the issue!

[2019-05-15 07:18] jacekwachowiak commented on #687
I'm back but without good news, nothing changed. After adding `ServiceAccount` to the `/etc/kubernetes/manifests/kube-apiserver.yaml` at `- --enable-admission-plugins=NodeRestriction` I am still getting the same error in the logs:
`caller=manager.go:214 component="discovery manager scrape" msg="Cannot create Kubernetes discovery" err="open /var/run/secrets/kubernetes.io/serviceaccount/token: no su

[2019-05-15 07:29] rkooo567 commented on #687
Sorry to hear that. Let's try 3 different things, and if it is not solved, we will work on it shortly. You should probably wait until it is resolved.

1
===
In `prom_deployment`, under serviceAccountName, change this
`automountServiceAccountToken: false` to `automountServiceAccountToken: true`. And try to reapply the `prom_deployment`.

So it should look like
[code]

2
===
I think it is a bad solu

[2019-05-15 08:04] rkooo567 commented on #692
PR is merged for this.

[2019-05-15 08:05] #692 closed, assigned to nobody

[2019-05-15 08:05] jacekwachowiak commented on #687
For step **1**: I changed both of  `automountServiceAccountToken: false` to `true` in `/home/cloud-user/.local/lib/python3.6/site-packages/clipper_admin/kubernetes/prom_deployment.yaml`. This makes the Prometheus pod log error disappear. No other changes noticed.
I will try everything else whenever I can.

[2019-05-15 08:13] rkooo567 commented on #687
Hmm, so there's no more error logs, but you still cannot see the metric from the browser?

@withsmilo How did you guys resolve RBAC problem for metrics?

[2019-05-15 13:15] rp4fx12 opened #698 "Way to deploy model but have it not become the current version"
Hi,

Is there a way to deploy a model but not have it be the current version of that model?

The specific use case I was thinking of is to deploy a new model, sanity test and then make it the current version after deployment. I guess I can deploy it, set the current version back to the previous version but I'm still not sure if there's a way to route the request to the new model version. Not sure

[2019-05-15 22:34] withsmilo commented on #687
So sorry we are using the default Prometheus in in-house Kubernetes which is managed by another team, not Clipper's.

[2019-05-15 23:01] withsmilo commented on #698
Hi, @rp4fx12
The latest Clipper checks only the 'external' status of the model which is deployed by you as following.
* docker_container_manager : whether the status is healthy or not ([src](https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_admin/docker/docker_container_manager.py#L408-L415))
* kubernetes_container_manager : whether the number of running replicas is correct or

[2019-05-16 00:52] jacekwachowiak commented on #687
Regarding **3**, I have restarted Clipper with the additional argument:
[code]
I have reverted **1** but it only changed one thing - the log error returned (I tried **3** with both reverted and not reverted **1**). I will try to set it manually to `LoadBalancer` too.

[2019-05-16 01:17] rkooo567 commented on #687
I guess it is the problem of the code itself. Yeah can you try setting load balancer manually? If it doesn’t work I will try to resolve it shortly

[2019-05-16 01:28] jacekwachowiak commented on #687
And also:
[code]

I have put the `"type": "LoadBalancer"` in two places in this file:
[code]
It seems none of the places work. I am still getting `NodePort` as the service unless I specify it as `KubernetesContainerManager` argument

[2019-05-16 01:47] rkooo567 commented on #687
I think you should change the prom_service not deployment (not sure if you already did).

[2019-05-16 01:48] rkooo567 commented on #687
Also, it seems like there is a load balancer service. Is external IP still pending?

[2019-05-16 01:50] jacekwachowiak commented on #687
Oh, yes, I was wondering if there is another file for the service, I'm trying it right now!
After 10 minutes now the IP was not assigned for the case with setting `LoadBalancer` with `KubernetesContainerManager`\
UPDATE:
Setting it manually in the service manifest allows Clipper to start without the error. The IP is not assigned though.
After reading a bit - it seems that LoadBalancer type of serv

[2019-05-16 04:41] rkooo567 commented on #687
Makes sense. If so, using RBAC with nodeport will be the only option. We will debug the RBAC PR real soon and let you know once it is succesfully tested and merged! Sorry for the inconvenience!

[2019-05-16 04:46] jacekwachowiak commented on #687
Thanks! I'll see what I can do anyway and follow all the changes in the repo :)

[2019-05-20 15:32] DNCoelho opened #701 "Prometheus Related Error When Starting Connection"
I'm running clipper on python 3.6 in linux 18.04.
I'm running clipper from a container and I share the current docker.sock via a volume.
When starting a connection to clipper I get the following error:

[code]

Do you have some idea of what may be the cause of this error?
I looked up related issues but all I found was the same error being caused due to clipper being ran in Windows 10. #688

Any he

[2019-05-20 17:17] rkooo567 commented on #701
Before prometheus container is running, clipper creates a config file under tmp directory and mount it to a proper config path inside the container. The problem is most likely that you couldn’t create a yaml file under /tmp folder.

For me, It is very weird because linux is supposed to have a tmp folder. Could you check two things?

1. Check if tmp folder exists in the root. I.e. is there /tmp?
2.

[2019-05-20 22:24] withsmilo opened #702 "[CI] Two or more Jenkins jobs might make the whole unstable"
I found that when we executed two or more Jenkins jobs almost simultaneously, all the jobs were unstable with a high probability.
* May 20, 2019 7:22 AM : https://amplab.cs.berkeley.edu/jenkins/job/Clipper-PRB/2003/
* May 20, 2019 7:20 AM : https://amplab.cs.berkeley.edu/jenkins/job/Clipper-PRB/2002/
* May 20, 2019 7:19 AM : https://amplab.cs.berkeley.edu/jenkins/job/Clipper-PRB/2001/
* May 20, 20

[2019-05-20 22:43] withsmilo commented on #701
Hi, @DNCoelho
Please remove the volumes associated with the container. See https://stackoverflow.com/questions/45972812/are-you-trying-to-mount-a-directory-onto-a-file-or-vice-versa.

[2019-05-21 05:26] rkooo567 commented on #702
I think one of the causes can be because our clusters are not well isolated. The first 3 CI runs in the same worker machine, and 3 of them have request related errors.

@simon-mo and I discussed about it, and he will probably try to use docker-in-docker for testing isolation. Also, I will change `test_util` to use fluentd instead of naive docker logs. By this, we can see aggregated logs in timely

[2019-05-21 05:29] rkooo567 commented on #702
Also, since the 4th job was ran in a different worker, I am not sure if the error is due to simultaneous jobs with other 3.

It seems like it is broken with `address already in use`. I think port conflicts rarely happen. To solve this, we can probably use `lsof` or `netstat` to check available port instead of assigning random port.
EDIT -> This part is just resolved by retrying I think

[2019-05-21 05:42] rkooo567 opened #703 "Looks like our main build still fails."
[code]

Sometimes, our mxnet doesn't even start and fail. I think it is one of reasons why our main build is failing. Any idea about why?

[2019-05-21 05:52] rkooo567 commented on #703
Also, does anyone know why we have tag integration_test_py2 when we use python3?
`python3 ./bin/colorize_output.py --tag integration_py2_mxnet`
https://github.com/ucbrise/clipper/blob/9e41fb24cb2fd2983e10d1aa71e0751e72b7be5c/bin/shipyard/shipyard.py#L121

[2019-05-21 06:02] rkooo567 opened #704 "New contribution document Contents"
I am planning to write a new contribution documentation `CONTRIBUTING.md`. Based on this, I will update the webpage's contribution doc.

I am planning to write these things.

1. The current content (like how to compile query frontend) + custom docker image
2. How our current CI works
3. Link to the design doc, concepts doc, research paper
4. How to work on clipper admin
5. Useful information (ex,

[2019-05-21 07:53] simon-mo commented on #702
I throttled the builds to 1 per node and made sure the the clipper main build and pull request builder share the same throttling parameter. We will see if this helps.

[2019-05-21 08:03] simon-mo commented on #702
Let's keep this issue open for few more days. So right now there are three builds running, each on different nodes:
- worker-07: https://amplab.cs.berkeley.edu/jenkins/job/Clipper-PRB/2009/
- worker-02: https://amplab.cs.berkeley.edu/jenkins/job/Clipper-PRB/2010/
- worker-08: https://amplab.cs.berkeley.edu/jenkins/job/Clipper-PRB/2011/

This is the behavior we wanted. But not sure if the collision

[2019-05-21 08:36] DNCoelho commented on #701
Thank you both for the responses.

@rkooo567
I can both access and create a file in the /tmp folder, as you can see bellow:
![image](https://user-images.githubusercontent.com/44839003/58079846-df722500-7ba9-11e9-81f2-077a6a08910b.png)

@withsmilo
As far as I can see, the problem in the stack overflow question you indicated, occurs due to the volume being shared targeting the nginx.conf file which

[2019-05-21 14:17] withsmilo commented on #703
### 1. integration_py2_mxnet
The 'integration_py2_mxnet' test failed to start `docker run --rm --network=host -v /var/run/docker.sock:/var/run/docker.sock -v /tmp:/tmp         -e CLIPPER_REGISTRY=clipper         -e CL    IPPER_TESTING_DOCKERHUB_PASSWORD=$CLIPPER_TESTING_DOCKERHUB_PASSWORD         clipper/unittests:develop         "python /clipper/integration-tests/deploy_mxnet_models.py"`, but did

[2019-05-21 18:58] itobysq commented on #676
Sorry for the delay, got caught up in some things. I'm running into an issue
[code]
Docker preferences lists /tmp/clipper/ and /tmp/clipper as being able to be bind mounted and it's unclear to me why this error is popping up.

[2019-05-21 23:13] withsmilo commented on #676
<img width="493" alt="mac_docker_preferences" src="https://user-images.githubusercontent.com/3915543/58136540-60442600-7c69-11e9-92fd-c65bf28a0a39.png">
This is my Docker preferences. Do you have `/tmp/clipper/` in it?

[2019-05-22 13:14] ZaninAndrea commented on #701
I'm having the same error with python 3.6 on ubuntu 18.04

[2019-05-22 14:49] rkooo567 commented on #701
Hi, @DNCoelho

So, you created a container that runs clipper inside. And in order to use your docker daemon in your host machine, you mounted the docker.sock to the container. Am i correct?

@ZaninAndrea

Are you also in the same setup?

[2019-05-22 14:59] rkooo567 commented on #701
If it is the case, the problem should be your setup.

The issue is that the docker daemon finds the mounting files from its “host machine”. It creates a directory if it fails to find a specified file from a specified path.

Can you try to go your host machine (not a linux container, but the machine that has the original docker daemon) in which tmp file resides and see if it has a temp file that cl

[2019-05-22 15:24] DNCoelho commented on #701
@rkooo567
There was indeed a directory on the host machine with the same name as the expected file.

If the error is caused due to the file not existing in the host_machine since docker daemon looks there, would it be possible to solve the problem by creating a volume between the host_machine's /tmp folder and the container's /tmp folder?

[2019-05-22 16:02] rkooo567 commented on #701
@DNCoelho I have never tried before, but as long as host machine's /tmp and container's /tmp is in sync, I suppose it should work. Please make sure to delete a folder before you try this out.

[2019-05-22 17:21] ZaninAndrea commented on #701
@rkooo567 no, my mistake, I'm running clipper from outside docker

[2019-05-22 22:06] rkooo567 commented on #701
@ZaninAndrea Could you tell me error logs? Also, would you be able to create a new issue?

[2019-05-23 10:13] DNCoelho commented on #701
@rkooo567
So I tested creating a volume between the host_machine's and the container's tmp folder.
Did get further than last time but this error occurred:
[code]

Do you have any input on this one?

[2019-05-23 11:58] ZaninAndrea opened #705 "prometheus.yml mount error on start_clipper"
I get a `not a directory` error when running the setup script shown in the docs.

## Logs
[code]

`clipper_setup.py` file:

[code]

## Setup
I am using python 3.6.0 (installed with conda) on ubuntu 18.04, my docker version is 18.09.3, I have access to the `/tmp` folder and can create a file in it, furthermore the file that the error refers to (`/tmp/tmp_jv_x578.yml`) exists and contains the follow

[2019-05-23 11:59] ZaninAndrea commented on #701
sure thing: I created a new issue (#705), you find all the relevant logs there

[2019-05-23 15:07] rkooo567 commented on #701
@DNCoelho Seems like `mngt_frontend` is broken and it doesn't respond to a request that deploys a model. Could you check `docker ps -a` and see if any instance is broken? (out of `frontend_exporter`, `prometheus`, `mngt_frontend`, `query_frontend`, `redis`). If so, can you show me logs of broken containers?

[2019-05-23 18:48] rkooo567 commented on #705
Are you using remote docker daemon?

[2019-05-23 18:53] ZaninAndrea commented on #705
No, I'm working locally

[2019-05-23 19:04] rkooo567 commented on #705
https://github.com/ucbrise/clipper/issues/701

Could you try @withsmilo's solution in this post? Also, can you try to update the python version?

[2019-05-23 19:16] ZaninAndrea commented on #705
I tried both python 3.6 and 3.7.

I don't have the linux machine I'm running clipper on with me now, I will try @withsmilo's solution first thing tomorrow, still I doubt it will solve the issue as the file that gives error exists and is a file:

[2019-05-24 05:11] rkooo567 commented on #705
@ZaninAndrea Clipper is not supporting python 3.7 yet. Please try like python >= 3.6.7, <3.7.

The thing is that `is not a directory` happens mostly because the file you try to mount is a directory cuz docker daemon couldn't find the file from the path, and it creates a directory. But for your case, you are not using remote docker as well as Mac/Windows, so, I cannot think of/find resources about

[2019-05-24 05:22] rkooo567 opened #706 "CI: Mxnet python2 test doesn't even start"
I could keep finding that mxnet python2 test sometimes doesn't even run. It makes our CI very unstable. I will try to find the problem next Monday.

[2019-05-24 05:29] rkooo567 commented on #703
I created a PR #707. Please don't merge the PR.

[2019-05-24 05:29] #698 closed, assigned to nobody

[2019-05-24 05:30] #695 closed, assigned to nobody

[2019-05-24 05:31] #674 closed, assigned to nobody

[2019-05-24 05:31] rkooo567 commented on #640
@Archelunch Were you be able to resolve the issue?

[2019-05-24 06:09] Archelunch commented on #640
@rkooo567 yes, it works now

[2019-05-24 06:09] #640 closed, assigned to nobody

[2019-05-24 08:50] ZaninAndrea commented on #705
@rkooo567 Tried python 3.6.7 and removing all volumes as per @withsmilo's solution, but I get the same error

[2019-05-24 11:32] covix commented on #701
I'm having the same error deploying a function in a docker container with clipper installed linked to a dind container.
The output of `docker ps -a` is

![image](https://user-images.githubusercontent.com/4427609/58324018-f1f89280-7e25-11e9-9cc9-b4f8c74b3e4b.png)

which shows that the `metric_frontend` container has only been created. When running `docker inspect` it shows there is a `bind` between

[2019-05-25 04:47] rkooo567 commented on #705
@ZaninAndrea Thank you for trying that! I believe it should be some docker setting issues (because as I said, I couldn't reproduce your log from the same setup), so please raise an issue in the docker community. Let me know if you have any further question!

[2019-05-25 05:08] rkooo567 commented on #701
@covix Thanks for raising an issue! Would you mind you create a new issue since it is a slightly different issue than the author? (You use dind, and the author is using docker.sock to connect to remote docker daemon).

Also, when you initiate the DockerContainerManager, you can define the public IP address. (Yes it hardcodes url + port) https://github.com/ucbrise/clipper/blob/9e41fb24cb2fd2983e10d

[2019-05-25 20:38] rkooo567 commented on #706
@simon-mo @withsmilo found this is happening in worker 7 and 8. Worker 2 does not have this problem.

[2019-05-25 20:40] #630 closed, assigned to nobody

[2019-05-25 20:40] #615 closed, assigned to nobody

[2019-05-25 20:41] #612 closed, assigned to nobody

[2019-05-27 08:03] withsmilo opened #708 "Suggestion: Integration with MLflow"
MLflow(https://github.com/mlflow/mlflow) offers a set of simple APIs that can be used for model tracking and pipeline maintenance, and so on. Also, it deploys easily a ML model to the platforms such as Azure ML and AWS SageMaker. It seems to provide some plug-in to connect with them.

What do you think of integrating Clipper with MLflow? MLflow creates a pickle file contained with ML model in the

[2019-05-27 16:33] rkooo567 commented on #708
I think it is a good idea. I always thought it'd be better if clipper can be integrated with other ml maintenance tools. It can be also a good advertisement of our platform. One concern is if we have enough bandwidth to conduct a project. After discussing what our next release includes, we should probably find a way to look for more contributors.

[2019-05-28 04:46] rkooo567 commented on #701
@covix @DNCoelho How are your guys problem going on? Is it okay to close the issue?

[2019-05-28 04:47] rkooo567 commented on #687
Hi, @jacekwachowiak! @simon-mo will handle this issue shortly and this fix is going to be included in the next release coming soon!

[2019-05-28 04:48] rkooo567 commented on #683
@coldtomatojuice Thanks for the contribution again! I will add this link to the new contribution doc. Also, please feel free to contribute other features if you have!

[2019-05-28 04:51] rkooo567 commented on #678
https://github.com/kennethreitz/requests/pull/5092 says request library is now compatible to urllib 1.25.2. But it is still not compatible to 1.25.1 or 1.25. I will just keep them as is because using 1.25.2 wouldn't make any difference.

[2019-05-28 04:51] #678 closed, assigned to rkooo567

[2019-05-28 04:52] rkooo567 commented on #676
Hi, @itobysq. Would you be able to resolve the issue?

[2019-05-28 04:52] #638 closed, assigned to nobody

[2019-05-28 04:52] #635 closed, assigned to nobody

[2019-05-28 04:55] #627 closed, assigned to nobody

[2019-05-28 04:55] #617 closed, assigned to nobody

[2019-05-28 04:56] #614 closed, assigned to simon-mo

[2019-05-28 04:57] rkooo567 commented on #611
@simon-mo @withsmilo It is a little uncomfortable to handle some packages in the current Clipper. We can probably improve this part later? I will label this issue as check-again.

[2019-05-28 04:57] #610 closed, assigned to nobody

[2019-05-28 04:58] #607 closed, assigned to nobody

[2019-05-28 04:58] #606 closed, assigned to nobody

[2019-05-28 04:59] #593 closed, assigned to nobody

[2019-05-28 05:00] rkooo567 commented on #585
Closed.

[2019-05-28 05:00] #585 closed, assigned to nobody

[2019-05-28 05:04] rkooo567 commented on #576
@simon-mo Is it possible in the current version?

[2019-05-28 05:04] rkooo567 commented on #572
Closed

[2019-05-28 05:04] #572 closed, assigned to nobody

[2019-05-28 05:06] rkooo567 commented on #571
@simon-mo Is it fixed in the current develop?

[2019-05-28 05:12] itobysq commented on #676
Yes, I have /tmp/clipper/ in it as well as /private/tmp/clipper

[2019-05-28 05:27] rkooo567 commented on #566
@simon-mo @withsmilo Any thought?

[2019-05-28 05:29] simon-mo commented on #566
We should. Can you submit a PR?

[2019-05-28 05:30] #592 closed, assigned to nobody

[2019-05-28 05:36] #561 closed, assigned to nobody

[2019-05-28 05:48] rkooo567 opened #709 "Some instructions that are required by Mxnet are not supported by some workers."
Following https://github.com/ucbrise/clipper/issues/706, https://github.com/ucbrise/clipper/issues/703, and https://github.com/ucbrise/clipper/pull/707.

We found out mxnet test is not even running at jenkins worker 7 and 8. It is because some pre-packages required for mxnet is not supported by cpus on worker 7 and 8. We temporarily fixed the problem by running our CI only at worker 2, but it will

[2019-05-28 05:57] rkooo567 commented on #676
@itobysq Sounds good! I will close the issue then.

[2019-05-28 05:57] #676 closed, assigned to nobody

[2019-05-28 05:59] rkooo567 commented on #566
@simon-mo Yep sounds good. I will wait for the author for a couple days and start if he doesn't respond.

@wnagchenghku Would you want to create a PR for this?

[2019-05-28 06:01] rkooo567 commented on #441
Closed as it is resolved.

[2019-05-28 06:01] #441 closed, assigned to rohsuresh

[2019-05-28 06:20] jacekwachowiak commented on #704
From my experience more on the logging process - how could we understand how it's being sent, how to redirect it somewhere else or use another tool to gather the logging data and so on would be useful.

[2019-05-28 06:25] rkooo567 commented on #704
@jacekwachowiak For sure! That will be a very important part. I will definitely add it.

[2019-05-28 08:44] DNCoelho commented on #701
@rkooo567 Sorry for the late answer. After many tries I ended up just running clipper on the host machine since it was turning into a one step forward two steps back kind of deal, nothing major to point out after that. I can also say that the last error I pointed out happened only once, so it most likely was caused due to a broken container as you had suggested.

**Edit:**
I found one other unexpe

[2019-05-28 17:10] rkooo567 commented on #701
@DNCoelho Hi! No worries! We really appreciate your feedback and issues! It helps to make our program a lot better.

I will answer about technical detail tonight. But before that, I'd like to say it is not a good choice to use `DockerContainerManager` for the production. We recommend you to use `KubernetesContainerManager` for the production. (Because you deploy it on the remote server, I suppose

[2019-05-28 19:31] simon-mo opened #710 "Type annotate and check Clipper codebase"
Since the python2 EOL is near and python's static type checking tool is getting better and better, we should consider type annotate the `clipper_admin` code base.

[2019-05-28 22:41] withsmilo commented on #583
@rkooo567 @simon-mo How about upgrade `folly` to latest(or stable version)? As you know, current version(v2017.08.14.00) used by Clipper is incompatible with the latest version, so it will block for new contributors to build Clipper natively. I will create a PR as soon as possible.

https://github.com/ucbrise/clipper/blob/develop/dockerfiles/ClipperLibBaseDockerfile#L16

[2019-05-28 22:52] simon-mo commented on #583
Sounds good to me. Can you submit a PR?

[2019-05-28 22:53] withsmilo commented on #583
@simon-mo Sure. I will.

[2019-05-29 03:28] rkooo567 commented on #706
Will be resolved with this. https://github.com/ucbrise/clipper/issues/709

[2019-05-29 03:28] #706 closed, assigned to nobody

[2019-05-29 03:28] rkooo567 commented on #703
Will be resolved with this. https://github.com/ucbrise/clipper/issues/709

[2019-05-29 03:28] #703 closed, assigned to nobody

[2019-05-29 03:28] rkooo567 commented on #702
@withsmilo @simon-mo I think it will be resolved by this. https://github.com/ucbrise/clipper/issues/709 Can I close?

[2019-05-29 03:29] #683 closed, assigned to nobody

[2019-05-29 03:30] rkooo567 commented on #590
Hi, @simon-mo How's the status for this?

[2019-05-29 03:31] rkooo567 commented on #580
@gauthamzz I believe @withsmilo will handle this. I will create an issue for this.

[2019-05-29 03:32] #584 closed, assigned to nobody

[2019-05-29 03:32] rkooo567 commented on #578
Will be added to the contribution doc. I will close it now.

[2019-05-29 03:32] #578 closed, assigned to nobody

[2019-05-29 03:34] #565 closed, assigned to nobody

[2019-05-29 03:34] rkooo567 commented on #564
Will be handled by this PR. https://github.com/ucbrise/clipper/pull/694

[2019-05-29 03:35] rkooo567 commented on #563
Closed as serialization is resolved.

[2019-05-29 03:35] #563 closed, assigned to nobody

[2019-05-29 03:35] #554 closed, assigned to nobody

[2019-05-29 03:35] #553 closed, assigned to nobody

[2019-05-29 03:37] rkooo567 commented on #525
@dyoung23 https://github.com/ucbrise/clipper/pull/594 has been merged thanks to @eavidan's efforts! You can deploy keras using clipper from the next release.

[2019-05-29 03:37] #525 closed, assigned to nobody

[2019-05-29 03:38] #528 closed, assigned to nobody

[2019-05-29 03:39] simon-mo commented on #702
Yes this can be closed.

On Tue, May 28, 2019 at 8:28 PM SangBin Cho <notifications@github.com>
wrote:

[2019-05-29 03:40] rkooo567 commented on #512
@simon-mo @withsmilo I think it is worth handling in the future release. I will mark with feature request.

[2019-05-29 03:41] #501 closed, assigned to nobody

[2019-05-29 03:42] rkooo567 commented on #499
@simon-mo @withsmilo Any thought?

[2019-05-29 03:42] #495 closed, assigned to nobody

[2019-05-29 03:43] rkooo567 commented on #494
@simon-mo @withsmilo This can be handled in the future release.

[2019-05-29 03:43] rkooo567 commented on #475
@simon-mo Is it resolved?

[2019-05-29 03:47] withsmilo commented on #499
MLFlow uses https://github.com/combust/mleap for low-latency SparkML serving. It seems to be nice for us.

[2019-05-29 04:55] #702 closed, assigned to nobody

[2019-05-29 04:57] rkooo567 commented on #499
@withsmilo I will take a look at it!

[2019-05-29 05:52] jacekwachowiak commented on #704
One more thing - I was testing Clipper with different frameworks and so I have some basic working examples on most of them: PySpark, PyTorch, MXNet, Tensorflow, Scikit, XGBoost in form of easy Jupyter notebooks. Do you think it's worth to add them to the repository so that a user can check Clipper deployment without really writing any code and then go from it to more specific solutions? I know the

[2019-05-29 07:09] covix commented on #701
Hi, I also solved the communication problem installing clipper inside a docker image starting from `docker:dind` instead of connecting `docker:latest` to `docker:dind`!
However, we are planning to use `KubernetesContainerManager` for production.

Thanks for the support!

[2019-05-29 07:28] rkooo567 commented on #704
That actually sounds amazing! We will appreciate any form of contribution to the project. You can write them under `example` folder. Feel free to create new directories if there's no proper category for your tutorial!

[2019-05-29 14:25] DNCoelho commented on #701
@rkooo567  Hey, thanks for the `KubernetesContainerManager` suggestion, will definitely look into it.

Regarding the technical issues, after some more runs the main 3 things that seem to happen most of the time are: either the container is not created similarly to what you can see in the server version of the logs in my first edit; or the container is created but the RPC version seems to be the wr

[2019-05-29 15:24] rkooo567 commented on #687
Hi, @jacekwachowiak I had a new update on https://github.com/ucbrise/clipper/pull/694, and it seems like it can read metrics within the test. Could you merge that PR locally and see if it works on your side?