[2019-05-29 19:16] rkooo567 commented on #701
Hi, @DNCoelho. As far as I know, the container creation logs are recorded in management frontend. You can think `clipper_admin` is a proxy to `mgnt_frontend`, and `query_frontend` is just a load balancer.

About your logs, I think query frontend removes its container because the remote model container is broken. I don't think query frontend can actually remove the container from the cluster. That'

[2019-05-29 19:17] rkooo567 commented on #701
Also, about RPC version, seems like the value is garbage value. @withsmilo Have you seen this logs before?

[2019-05-29 19:50] simon-mo commented on #475
We can tag it WONTFIX. Because caffe2 is basically deprecated in favor of
PyTorch

On Tue, May 28, 2019 at 8:44 PM SangBin Cho <notifications@github.com>
wrote:

[2019-05-29 21:29] withsmilo commented on #701
If you met a new problem, please create it as a new issue. Don’t mix two issues together because it makes it difficult to track them down.

[2019-05-29 21:37] rkooo567 commented on #701
@withsmilo My bad. I will be more careful next time.

@DNCoelho Would you mind creating a new issue about this?

[2019-05-29 22:54] withsmilo commented on #583
It's difficult to determine what version is stable because `folly` is released by weekly. So I will try to apply the `2019.03.18.00` version, which is the latest in brew.

[2019-05-30 00:17] jacekwachowiak commented on #687
Ok, thank you, I'll take a look and let you know when I get something

[2019-05-30 04:18] withsmilo commented on #603
All the APIs are implemented. Closed.

[2019-05-30 04:18] #603 closed, assigned to withsmilo

[2019-05-30 06:51] #475 closed, assigned to nobody

[2019-05-30 15:48] itobysq commented on #676
@rkooo567  it looks like we posted at exactly the same time. This is still an issue. My yes was in reference to @withsmilo 's comment. The issue is not closed, sorry.

[2019-05-31 03:05] rkooo567 commented on #704
@jacekwachowiak Thanks again for awesome work!

[2019-05-31 03:08] rkooo567 commented on #676
@itobysq My bad! Would you mind creating a new issue since the issue is unrelated to the title? (So that people can easily search later when they have the same issue).

[2019-05-31 06:54] #681 closed, assigned to rkooo567

[2019-05-31 14:24] withsmilo opened #715 "Redis connection may be disconnected after a certain period of time"
My teammate is testing Clipper with the private k8s cluster, he found a critical bug after some long tests.

The redis connections (redis - mgmt_frontend, redis - query_frontend) might be broken if there is no action during 30 minutes of starting Clipper cluster. The reason for this problem is that the session persistence time of SWLB is set to be short for our k8s cluster.

To resolve this proble

[2019-05-31 16:11] DNCoelho commented on #701
@rkooo567
@withsmilo

Today I tried to deploy a new model and everything worked without an hitch, which I find kind of strange but you won't see me complaining. I'll close this issue and if the error re-occur I'll create a new appropriate one.

Once again, thanks for all the help. :+1:

[2019-05-31 16:11] #701 closed, assigned to nobody

[2019-05-31 16:39] rkooo567 commented on #701
@DNCoelho Good to hear! Please don't hesitate to create a new issue! That really helps us to learn and make ecosystem better! Thanks again for the issue!

[2019-06-01 07:20] rkooo567 commented on #704
This is my basic structure.

* [Quick Start](#quick-start)
* [Guideline](#guideline)
    * [Feature Request](#feature-request)
    * [Pull Request](#pull-request)
    * [How to Answer Issues](#how-to-answer-issues)
* [How to Start](#how-to-start)
* [Style Guides](#style-guide)
    * [C++](#cpp)
    * [Python](#python)
* [Development](#development)
    * [CI](#CI)
    * [Client Library Develpment (

[2019-06-02 04:15] rkooo567 commented on #705
Hi, @ZaninAndrea. Did you resolve the problem? If so, would you mind sharing your solution?

[2019-06-02 17:17] ZaninAndrea commented on #705
In the end I didn't manage to solve the issue, but I used a work around: installing clipper in a docker-in-docker image.

[2019-06-03 02:31] jacekwachowiak commented on #687
With the current repository status I can access Prometheus. There are a few things that are not working as they should.
1. I am using the method `clipper_conn.cm.get_metric_addr()`. The port is ok, the problem is that the IP returned is always the same (`.33`) - my Kubernetes node3 (out of 3) - could it be that the last IP is somehow always shown? The metrics pod is launched randomly though, so I

[2019-06-03 04:35] rkooo567 commented on #687
@jacekwachowiak Would you mind create a new issue since it is a different problem from the title? (So that other people can see it later.) Also, I will look into it as soon as possible.

[2019-06-03 04:36] jacekwachowiak commented on #687
Ok, on it

[2019-06-03 04:41] jacekwachowiak opened #716 "[Metrics] Prometheus does not always detect Clipper metrics"
Partially continuing from #687
After the RBAC update I can access Prometheus. There are a few things that are not working as they should:
1. I am using the method `clipper_conn.cm.get_metric_addr()`. The port is ok, the problem is that the IP returned is always the same (and sometimes incorrect, IP=`.33` in my case) - my Kubernetes node3 (out of 3) - could it be that the last IP is somehow always

[2019-06-03 16:23] DNCoelho commented on #571
@rkooo567 I had this issue today while working with a fresh install from develop. I fixed it by simply performing a key check before the assignment. This is what I got at line 312 of `DockerContainerManager`:

[code]

By doing this the `redis_port` is not reassigned when an external value is passed, while still behaving normally in case it isn't.

[2019-06-03 22:22] withsmilo commented on #571
@DNCoelho Good point. I think it's missed check. Would you please create a new PR?

[2019-06-04 01:02] withsmilo commented on #708
After sketching first look, I will share it with you through this issue, and ask you to review it.

[2019-06-04 06:19] #583 closed, assigned to withsmilo

[2019-06-04 06:19] #551 closed, assigned to withsmilo

[2019-06-04 07:17] withsmilo opened #718 "Suggestion: Upgrade Tensorflow version (1.6 -> 1.13)"
Current version of Tensorflow in Clipper is `1.6.*`, but this is too old, and does not support Python 3.7. How about upgrade Tensorflow version to `1.13.1`, the latest version?
See https://pypi.org/project/tensorflow/.

[2019-06-04 08:38] DNCoelho commented on #571
@withsmilo  Done :+1:

[2019-06-04 16:39] rkooo567 commented on #716
Hi, I was a little busy yesterday. I will look into it tonight.

[2019-06-04 16:39] rkooo567 commented on #715
Closed with #717

[2019-06-04 16:39] #715 closed, assigned to withsmilo

[2019-06-04 19:39] #571 closed, assigned to nobody

[2019-06-04 20:03] #718 closed, assigned to withsmilo

[2019-06-04 20:26] #521 closed, assigned to nobody

[2019-06-04 20:28] #484 closed, assigned to nobody

[2019-06-05 02:33] rkooo567 commented on #576
Resolved with #721

[2019-06-05 02:33] #576 closed, assigned to hsubbaraj

[2019-06-05 02:34] rkooo567 commented on #705
Resolved.

[2019-06-05 02:34] #705 closed, assigned to nobody

[2019-06-05 02:35] rkooo567 commented on #687
Resolved with #694

[2019-06-05 02:35] #687 closed, assigned to rkooo567

[2019-06-05 02:35] rkooo567 commented on #677
Hey @RehanSD Is it in progress?

[2019-06-05 03:48] rkooo567 commented on #463
@simon-mo Is this done before? Seems like you guys tried to setup the stress test.

[2019-06-05 03:54] rkooo567 commented on #433
https://github.com/ucbrise/clipper/pull/654 Resolved

[2019-06-05 03:54] #433 closed, assigned to es1024

[2019-06-05 03:58] rkooo567 commented on #466
Resolved

[2019-06-05 03:58] #466 closed, assigned to nobody

[2019-06-05 03:59] rkooo567 commented on #467
@simon-mo Has it been addressed?

[2019-06-05 04:01] rkooo567 commented on #449
Resolved

[2019-06-05 04:01] #449 closed, assigned to nobody

[2019-06-05 04:02] rkooo567 commented on #430
@simon-mo Is this handled?

[2019-06-05 04:03] rkooo567 commented on #421
@simon-mo Is this handled?

[2019-06-05 04:04] rkooo567 commented on #406
@simon-mo Above comment says implementation is almost ready. How's the status for this?

[2019-06-05 05:39] jacekwachowiak commented on #704
I was wondering if some hints or good practices about Clipper deployment on different versions of Kubernetes - GKE, EKS. bare metal and so on could be included. It can save a lot of time, if you're sure that your cluster is ready for Clipper. I saw quite a few issues about Clipper never initializing correctly on Google's Kuberenetes or AWS, taking a long time or working only partially and I think

[2019-06-05 06:03] rkooo567 commented on #704
@jacekwachowiak Good point. I agree with you. Seamless integration with those public cloud services and minikube will be one of our primary goals in the future releases. For now, it is a little hard to write docs for all of different versions of Kubernetes because we don't have sufficient examples yet. Maybe the initial contribution doc wouldn't contain them, but we should definitely add them as t

[2019-06-05 06:46] rkooo567 commented on #716
Seems like nodes are isolated to each other for some reasons. Are you using `useInternalIP=True`? I found one suspicious code that might be a reason for this, but I am not 100% sure yet. I will discuss about it with @simon-mo and reply again in a few days.

[2019-06-05 06:51] jacekwachowiak commented on #716
Yes, `useInternalIP=True` is necessary, otherwise it crashes. It seems that the pods cannot talk between nodes, but yet `frontend-query` and `metrics` can, being on different nodes.

[2019-06-05 07:29] rkooo567 commented on #716
One more question. Are you providing `kubernetes_proxy_addr`?

[2019-06-05 07:36] jacekwachowiak commented on #716
No. If I define the `kubernetes_proxy_addr` Clipper will never stop to initialize and the `kubectl proxy` will keep returning `http: proxy error: context canceled`.
EDIT: And even if I stop the initialization and continue with the deployment, I am unable to access Prometheus with the address created / Ok, I ignored the address from `get_metric_address`, used the node IP and `clipper_metric_port` s

[2019-06-05 07:52] jacekwachowiak commented on #716
Currently I am running another, independent Prometheus deployment and service that in theory detects everything and the situation is exactly the same - the model pod is detected on another node but not scraped, the metrics are not 'selectable' and if I run the model on the same node, everything is fine.

[2019-06-05 08:06] rkooo567 commented on #716
Okay. I will write answers for some questions, but I am not 100% sure yet. I will verify all of them within a few days.

1, 2 -> I think this code is the cause. https://github.com/ucbrise/clipper/blob/ddea39d688625e6baed413bb57c32e7fe35fa757/clipper_admin/clipper_admin/kubernetes/kubernetes_container_manager.py#L424

If you use internal Ip without kube proxy, it only adds the __last node__ to the

[2019-06-05 08:09] rkooo567 commented on #716
I found a couple posts. It might help you debugging this problem.

https://stackoverflow.com/questions/45982488/kubernetes-pods-cannot-find-each-other-on-different-nodes
https://github.com/projectcalico/cni-plugin/issues/373

Also, you can probably ask about it in Kubernetes issues as well. Kubernetes setup can be one of the causes for your problem (because I cannot find why prom cannot discover q

[2019-06-05 08:27] jacekwachowiak commented on #716
Thank you for the links, I will take a look and give you the answer to the namespaces doubt asap.
Prometheus pod can detect the frontend pod on different nodes. But then no model metrics can be viewed.
Does this mean that Prometheus failing to scrape the model is still ok if it gets everything from the frontend pod?

[2019-06-06 00:52] jacekwachowiak commented on #716
All pods use the same namespace = `default`. What do you mean by cluster name?
I checked each of these pods with`kubectl describe pod ...`:
[code]

[2019-06-06 04:48] rkooo567 commented on #361
@withsmilo @simon-mo Not sure if this problem still persists? I will add it to the task first.

[2019-06-06 05:08] jacekwachowiak commented on #716
I have created a new cluster with a different network plugin - weave instead of calico and the problem is gone, so it was a Kubernetes network problem, Clipper is working correctly now. I tried using flannel as well but there was another problem. I don't know where exactly the problem was/is, the fix/change is ok for now.
Interestingly enough now Prometheus is accessible even with the incorrect IP

[2019-06-06 06:57] rkooo567 commented on #716
@jacekwachowiak Glad it is resolved! I guess the network was partitioned for some reasons, and there was a problem in inter-node communication. Maybe configuration issue? I will keep it open until I will resolve things that I mentioned above.

Thanks again for raising an issue in detail!

p.s.(Also `-at-{something-something}-` part is the cluster name.)

[2019-06-06 08:04] withsmilo commented on #361
@rkooo567 Let me check it, but I think the problem still happens.

[2019-06-06 20:29] rkooo567 commented on #361
@withsmilo Thanks a lot! 👍

[2019-06-06 20:31] rkooo567 commented on #219
@simon-mo I will write it if it is not written yet.

[2019-06-06 20:34] rkooo567 commented on #325
Closed with #504

[2019-06-06 20:34] #325 closed, assigned to nobody

[2019-06-07 03:05] simon-mo opened #725 "Backport 0.4.1 to current develop"

[2019-06-07 04:13] rkooo567 commented on #725
Will handle this Sat

[2019-06-09 04:50] rkooo567 commented on #725
- [x] Add a summary to the release note
- [x] Add new contents to `clipper-websites`
- [x] Update the API doc
- [ ] Publish the website

[2019-06-09 14:32] JafarAkhondali opened #727 "Academic research on vulnerable c++ code snippet"
Dear ucbrise,
We are a group of Academic researchers. We are analyzing vulnerable C++ code snippets migrated from StackOverflow to GitHub. Our research will be published in Academic publications and will not be used in any Industrial application.
We noted a vulnerable code snippet in your repository that was most likely copied from Stack Overflow. The vulnerability exists in this source code [file

[2019-06-10 06:54] jacekwachowiak opened #729 "Method `stop_models` gives unexpected behaviour on Docker and Kubernetes"
I am running the current develop branch version of Clipper.
I have encountered strange outputs while using the `clipper_conn.stop_models`.
1. On Docker the method crashes with a lengthy output but does remove the running container (the output is pasted at the bottom).

2. On Kubernetes the method returns:
[code]
so if I understand correctly Clipper says that the model was removed correctly, but th

[2019-06-10 07:03] withsmilo commented on #729
@jacekwachowiak
Let me check. What version is your management_frontend image in use? Did you use old management_frontend image?

[2019-06-10 07:15] jacekwachowiak commented on #729
Ok, I am reading now that the Docker images are not updated automatically, so I have to pull them, they are probably outdated, I will pull all of them and recheck!
UPDATE: Using the latest images works well for Docker - error fixed!
UPDATE2: I am already using the latest images with Kubernetes, the models are not stopped by Clipper.

[2019-06-10 07:38] withsmilo opened #730 "Failed to build with boost 1.70.0"
We can install boost 1.70.0 through brew on Mac now, but got failed to build Clipper on Mac with boost 1.70.0. Error message is here, I think this is from SimpleWebServer.
[code]
Clipper is safe because all images use boost 1.65.1.

[2019-06-10 07:42] withsmilo commented on #730
This issue was raised already on SimpleWebServer. [Here](https://gitlab.com/eidheim/Simple-Web-Server/issues/250).

[2019-06-11 04:28] rkooo567 commented on #725
@simon-mo @RehanSD I think I need access permission to our website to check off the second and third box. Would you guys send me DM whenever you have time for this?

[2019-06-11 04:28] rkooo567 commented on #727
The vulnerability is from the RPC benchmarking code, so it does have to be fixed. I will report it through the link attached. Thanks for the the report.

[2019-06-11 04:28] #727 closed, assigned to nobody

[2019-06-11 04:50] withsmilo commented on #729
1. On Docker the problem was resolved, right?
2. We need to debug these codes in KubernetesContainerManager,
https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_admin/kubernetes/kubernetes_container_manager.py#L621-L638

[2019-06-11 21:37] simon-mo commented on #725
@rkooo567 added. try follow the instruction at https://github.com/ucbrise/clipper-website

[2019-06-12 06:10] jacekwachowiak commented on #729
Yes, on Docker everything is fine.
I found this, but since the author did not respond we'll never know if the problem was related #490

Running `stop_models()` removes the deployment but not the pods
I have discovered a dirty trick - **setting the replicas to 0** and then running one of the `stop_models` function gives a clean result. This way the pods are not orphaned. In any other case they cann

[2019-06-12 07:30] jacekwachowiak commented on #729
Some reference materials:
https://github.com/kubernetes/kubernetes/issues/34052
tools that had the same problem:
https://github.com/pachyderm/pachyderm/pull/1694
https://github.com/garden-io/garden/issues/379
From what I see using the API does not work in a cascade mode, deleting only the explicitly defined element, in our case the `deployment`, leaving the `replicaset` and the pods. I will look f

[2019-06-12 08:13] jacekwachowiak commented on #729
I am currently testing something and the first result is ok, so hopefully tomorrow I can create a PR!

[2019-06-12 22:21] withsmilo commented on #729
Good! Welcome to your PR! :laughing:

[2019-06-13 02:20] jacekwachowiak commented on #729
I added removal of each of the replicasets but suprisingly it does not clean the pods and the https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/ExtensionsV1beta1Api.md#delete_collection_namespaced_replica_set does not allow direct pod removal so it seems my solution does not work

[2019-06-13 02:39] withsmilo commented on #729
@jacekwachowiak
I think we have to call [`delete_namespaced_deployment()`](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/ExtensionsV1beta1Api.md#delete_namespaced_deployment) per a query_frontend replica instead of `delete_collection_namespaced_deployment()`. Would you please test these codes?
[code]

[2019-06-13 03:02] jacekwachowiak commented on #729
Hmm, I have taken another approach. I can try with this and the `propagation_policy`, since the option we are using now does not have it and it is surely part of a problem.
I created a PR but if I find this option more concise and working the same I'll edit it asap, thanks for the link!

[2019-06-13 03:41] withsmilo commented on #729
@jacekwachowiak
I found a bug. We have to use `labels`, not `label`.
https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_admin/kubernetes/model-container-template.yaml#L4
Could this patch solve your problem?

[2019-06-13 04:13] jacekwachowiak commented on #729
No, it doesn't seem so, I haven't observed any changes when I changed only this line and left the stop functions untouched

[2019-06-13 04:53] jacekwachowiak commented on #729
[code]
something like this works. Any idea how to apply it to `stop_all_model_containers`? We need a list of models beforehand and the `get_all_models` is unavailable, it's part of the clipper_admin not of the K8s manager

[2019-06-13 06:15] withsmilo commented on #729
@jacekwachowiak
You're right. I didn't consider `stop_all_model_containers()`. I will review your PR soon.

[2019-06-13 08:21] henningsway commented on #443
I've read about the Selection Layer mentioned in the Paper and the talks, but not in the documentation somewhere.

I suppose, this is still a feature on the roadmap, that has been designed but not yet been implemented?

[2019-06-13 08:39] withsmilo commented on #443
Hi, @henningsway .
Clipper team decided not to implement the selection layer. See https://github.com/ucbrise/clipper/issues/683#issuecomment-490290795.

[2019-06-13 08:52] henningsway commented on #443
I can imagine the additional complexity (e.g. stateful containers), but it would have been such a nice set of features... :)

Thank you for the update!

[2019-06-13 13:00] withsmilo commented on #729
resolved by #732

[2019-06-13 13:00] #729 closed, assigned to nobody

[2019-06-13 14:37] withsmilo commented on #580
resolved by #723

[2019-06-13 14:37] #580 closed, assigned to withsmilo

[2019-06-13 22:21] withsmilo commented on #601
resolved by #603.

[2019-06-13 22:21] #601 closed, assigned to nobody

[2019-06-13 22:22] withsmilo commented on #564
resolved by #694.

[2019-06-13 22:22] #564 closed, assigned to nobody

[2019-06-13 22:28] withsmilo commented on #490
resolved by #729.

[2019-06-13 22:28] #490 closed, assigned to nobody

[2019-06-15 18:36] rkooo567 commented on #342
@withsmilo Is it handled with your unlinking model PR?

[2019-06-16 07:04] rkooo567 commented on #730
I faced this error as well. https://www.boost.org/doc/libs/1_70_0/doc/html/boost_asio/history.html

Based on this, get_io_service is deprecated and removed. I will try to replace the function and see if it can compile the program.

[2019-06-18 04:21] jacekwachowiak opened #733 "[Metrics] Kubernetes with a kubectl proxy and Prometheus do not work together"
As in https://github.com/coreos/prometheus-operator/issues/2392 and https://github.com/prometheus/prometheus/issues/1583#issuecomment-214661546 and https://github.com/coreos/prometheus-operator/issues/287 if we run Clipper and use the `kubectl proxy`, Prometheus will be available at the expected address but no variables or graphs can be created using the web GUI. I will check if I can fix that on

[2019-06-18 04:29] jacekwachowiak opened #734 "[Metrics] Prometheus port mismatch"
Kubernetes version of `get _metric_addr`
https://github.com/ucbrise/clipper/blob/df96eb4924809fedc5a70ef1bc080129c2bf962c/clipper_admin/clipper_admin/kubernetes/kubernetes_container_manager.py#L756-L767
uses the
https://github.com/ucbrise/clipper/blob/df96eb4924809fedc5a70ef1bc080129c2bf962c/clipper_admin/clipper_admin/container_manager.py#L9
but the service defined port is
https://github.com/ucbr

[2019-06-18 06:21] jacekwachowiak commented on #733
So good news is that using a LoadBalancer works, but I have not been successful in crating graphs on the NodePort metrics - adding the external url argument did not work for me.

[2019-06-19 06:16] rkooo567 commented on #734
Hi, @jacekwachowiak Thanks for raising an issue. I am a bit busy this week, but I will try to handle issues tomorrow! Thank you for the patience.

[2019-06-22 21:23] rkooo567 commented on #733
@jacekwachowiak Did you figure out anything else? Seems like it should be a bug.

[2019-06-22 21:25] rkooo567 commented on #734
Good catch. 1390 is a port number for the deployment. Could you create a PR to handle this?

[2019-06-24 01:15] jacekwachowiak commented on #733
It seems like a Prometheus bug. The problem is when you have to use the kubectl proxy and you don't have direct acccess to the master node - NodePort service is useless then, the LoadBalancer type is the solution. Anyway, it seems that this is a Prometheus design problem. I am running the default Prometheus and an external Grafana and everything is fine too.

[2019-06-24 01:19] jacekwachowiak commented on #734
Just to confirm - we want to use 1390? I'll change the service yaml then.

[2019-06-24 04:37] rkooo567 commented on #625
#735  handles the second part of the PR. @simon-mo Please review it whenever you are free!

[2019-06-24 04:44] rkooo567 commented on #734
I think we should use 1390 because other services use same port for deployment and services defined in https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_admin/container_manager.py.

But before that, let's get confirmation from @simon-mo in case.

@simon-mo Could you tell us why prom service uses different port number from 1390? Also can you confirm it is okay to change?

[2019-06-24 04:50] rkooo567 commented on #733
Hmm that's weird. Let's keep tracking this issue and see if we can fix this later.

[2019-06-24 05:26] rkooo567 commented on #730
Confirmed the latest simpleWebServer (https://gitlab.com/eidheim/Simple-Web-Server/blob/master/server_http.hpp) does not use deprecated and removed get_io_service. I think we can keep using the version >= 1.65.1 for now, and later when we update the simpleWebServer, it will be fixed.

[2019-06-24 06:11] withsmilo commented on #730
Good news! but we always have to run integration tests on Docker, the local tests on Mac will be impossible before fixing this error.

[2019-06-24 06:20] simon-mo commented on #730
Hi all, few things:
- We can run a sanity check for Clipper to compile on macosx with [travis](https://docs.travis-ci.com/user/reference/osx/). Just a simple test to check Clipper compiles should suffice.
- Ubuntu relies on debian's default boost version, which is currently [1.65](https://launchpad.net/ubuntu/bionic/+package/libboost-dev). However, if the new SimpleWebServer does build against 1.6

[2019-07-01 05:42] rkooo567 opened #737 "Suggestion: GRPC integration"
Currently, every public interface of Query Frontend and Management Frontend is exposed by REST APIs. I'd suggest to expose gRPC interface for query frontend where low latency is much more important. Based on this website's benchmarking, https://dev.to/plutov/benchmarking-grpc-and-rest-in-go-565, gRPC would have 10 times less low latency compared to REST APIs.

I will create a design doc about this

[2019-07-01 06:13] rkooo567 commented on #730
@withsmilo @simon-mo Will ask SimpleWebServer if their current master is compatible to boost 1.65. After that, let's change the SimpleWebserver

https://gitlab.com/eidheim/Simple-Web-Server/issues/266 Verifed from the maintainer that the master is compatible with 1.65 boost without asio apis

[2019-07-02 01:04] withsmilo commented on #737
If Clipper supports the GRPC interface for query frontend, we hope to decrease the number of query frontend or model pods. Previous discussion is https://github.com/ucbrise/clipper/issues/238.

[2019-07-03 02:45] rkooo567 commented on #737
@withsmilo Will check out the link this weekends! 👍

[2019-07-04 04:50] jacekwachowiak opened #739 "Question - where does Clipper store all metric data?"
I tried to purge the data I already gathered, including the records, buckets and so on, but somehow I cannot find where it is stored - I want to be able to do that without stopping completely the cluster so that I have the data of the "new run" when I am testing a new model without having to specify that with every query in Prometheus/Grafana.

[2019-07-05 04:37] jacekwachowiak opened #740 "Stopped model marked as invalid prevents from running a new one"
Sometimes when a model is removed, some information stays behind. When you try to run the `stop_all_model_containers()` an error will print out:
[code]
The problem is that even after a longer wait (expecting the model to be under removal after that message) running `get_all_models()` does not return an empty list (or in general a list without this specific model). After that trying to launch the s

[2019-07-05 04:46] withsmilo commented on #740
@jacekwachowiak : It's strange thing. I think that some timing issue might occur your problem. Could you please share your scenario?

[2019-07-05 04:54] jacekwachowiak commented on #740
Basically I start the cluster, run a model, scale it to X replicas, run different tests - usually sending different loads for a few minutes and then change the parameters - add more replicas, remove some, load another predict function and so on. I noticed that scaling down the replicas is risky, also sometimes one or more of the pods get disconnected and is not restarted automatically, I needed to

[2019-07-05 04:58] withsmilo commented on #740
You're right. It seems to be risky to scale in/out your models. (I didn't it in my case) I will check it this weekend.

[2019-07-05 05:05] jacekwachowiak commented on #740
I just confirmed that scaling to 10 replicas and back was ok, then I repeated that with 20 and when I scaled down all my queries return default values.
Update: The model could not be removed successfully.
There is another thing - when we scale down, the metrics for the removed replicas remain meaning that reading for example latency buckets will fail unless we exclude the values that are at NaN, s

[2019-07-05 05:35] withsmilo commented on #740
I will patch the problem that the metric information for the removed replicas or models remains. I'm so sorry that I patched it to my Clipper already, but didn't create it as a PR.

[2019-07-06 08:35] gmittal commented on #241
Based on the conversation in #233, I assume this issue is resolved now?

[2019-07-06 10:19] withsmilo commented on #241
@gmittal : The latest Clipper version, v0.4.1 supports Keras already. Here are examples for  Keras. I will close this issue.
* https://github.com/ucbrise/clipper/blob/develop/examples/frameworks/keras_on_docker_example.ipynb
* https://github.com/ucbrise/clipper/blob/develop/examples/image_query/keras_on_docker_example.ipynb

[2019-07-06 10:19] #241 closed, assigned to nobody

[2019-07-06 12:46] gmittal commented on #359
I noticed that the PR (#389) for this got abandoned... any chance this is still up for grabs?

[2019-07-06 17:12] rkooo567 commented on #241
@gmittal Also, we will update Keras to API documentation soon. Until then, please look at Pydoc here. https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_admin/deployers/keras.py

[2019-07-06 17:13] rkooo567 commented on #359
@gmittal Hi! We would want to have more sophisticated design for this feature. We will definitely add this feature sooner or later. I will add this to the feature request and start working on it soon.

[2019-07-06 17:22] rkooo567 commented on #739
Hi, @jacekwachowiak

Based on the prometheus documentation here, https://prometheus.io/docs/prometheus/latest/storage/, metrics are stored at `--storage.tsdb.path`.

Our specified path will be `"--storage.tsdb.path=/prometheus"`. So you should be able to find data from `/prometheus` path.
https://github.com/ucbrise/clipper/blob/3c3957c96a00365f5cbbf21ad282bb771804bc42/clipper_admin/clipper_admin/k

[2019-07-09 23:09] withsmilo commented on #740
@jacekwachowiak
So sorry about late reply.

I merged it already. (https://github.com/ucbrise/clipper/pull/711) So this is not the cause of the problem.

I think that supporting scaling down seems to be a difficult problem. (It is relatively easy to support scaling up.) If query_frontend does not communicate with the model container, it is difficult to determine if the container is deleted or if it

[2019-07-11 18:55] rp4fx12 opened #742 "[Question] Increasing the number of query frontend rpc services on k8s"
Hi, in this [code block](https://github.com/ucbrise/clipper/blob/v0.3.0/clipper_admin/clipper_admin/kubernetes/kubernetes_container_manager.py#L189)(I think the same logic is in the current released version too), the query frontend rpc service gets created once for every number of query frontend deployment. Does there need to be an rpc service per deployment or can 1 rpc service be used for all of

[2019-07-11 19:08] simon-mo commented on #742
Here's an illustration
[code]

RPC service per query frontend is responsible for connecting qf to its models. There is an overarching query frontend service load balance between query frontends.

[2019-07-12 13:43] rp4fx12 commented on #742
Thanks!

[2019-07-12 13:43] #742 closed, assigned to nobody

[2019-07-12 16:02] rp4fx12 opened #743 "[Question] Is there a way to send the clipper metrics to an external prometheus server?"
Does clipper only log to the prometheus server that is spun up by clipper or is there a way to spin up a prometheus server external to clipper and log there.

[2019-07-12 16:07] rkooo567 commented on #743
You should definitely connect clipper to your in-house prometheus. (And I think that’s a better solution for production). I think you should change some pod definition to achieve that. @simon or @withsmilo should know more details.

[2019-07-13 01:24] simon-mo commented on #743
[Prometheus Federation](https://prometheus.io/docs/prometheus/latest/federation/) can be used here to connect to Clipper prometheus

[2019-07-16 00:41] jacekwachowiak commented on #743
I am running an independent Prometheus. You can detect Clipper pods' metrics from there if you allow your external Prometheus to detect and scrape Clipper (or any other) logs.
I used this: https://devopscube.com/setup-prometheus-monitoring-on-kubernetes/ to gather Clipper and system metrics at the same time and use them in Grafana

[2019-07-16 00:47] jacekwachowiak commented on #740
Is there a recommended way how to gather metrics in that case? Because leaving aside the problem about removing the pods, when I want to take the average of all pods for latency purposes, since there were past records for the pods that are no longer here, the average will not work. And of course to use past data, the records for the now removed pods must remain but yet should not be detected if we

[2019-07-16 00:50] jacekwachowiak commented on #734
Bump @simon-mo @rkooo567

[2019-07-16 01:01] jacekwachowiak commented on #739
That would mean that if I add the `--web.enable-admin-api` flag to the configuration file, I should be able to remove data when I want to, following https://www.shellhacks.com/prometheus-delete-time-series-metrics/. Maybe I have to try again. Has anyone tried anything similar?

[2019-07-16 01:44] withsmilo commented on #740
Current version of Clipper will delete all the metrics explicitly about the removed model pods. If you'd like to leave them, please block the following codes and rebuild the query_frontend image.
https://github.com/ucbrise/clipper/blob/001f9d5cfe65b100df3abff1c8685c9e17eb8df2/src/libclipper/include/clipper/task_executor.hpp#L659-L663

[2019-07-16 01:57] jacekwachowiak commented on #740
I'm sorry if this is a stupid question, but this removes the mention in Redis, right? The past metrics send to Prometheus will not be touched?

[2019-07-16 02:07] withsmilo commented on #740
You're right.

[2019-07-16 02:34] jacekwachowiak commented on #740
Then it does not fix the problem when Prometheus tries to calculate percentiles/averages by summing up each pod with the same name, even though some were removed. I guess it's not Clipper's problem, but the example for metrics taken from the Grafana dashboard uses some operations such as:
[code]
which will not show anything unless all pods are connected and feeding new data, even one removed or di

[2019-07-16 03:29] rkooo567 commented on #734
@jacekwachowiak Thanks for the reminder. I just DM simon. I will create a PR for this as soon as it is confirmed.

[2019-07-16 03:29] rkooo567 commented on #743
@rp4fx12 ^

[2019-07-16 03:31] rkooo567 commented on #739
@jacekwachowiak Could you find the data from the path? Also, what you mean is when you call the api after enabling the flag, you couldn't not delete them?

[2019-07-16 03:41] rkooo567 commented on #740
@jacekwachowiak I also agree it should be the prometheus' responsibility although it would be useful to support from our side. Personally, the best solution now might be to write a cron job that cleans up metrics of removed pods from prometheus. Seems like similar things have been an issue in other open source programs as well (It is slightly different, but share the similar concern, https://githu

[2019-07-16 03:44] withsmilo commented on #740
@jacekwachowiak
How about try this calculation?
[code]

[2019-07-16 04:01] jacekwachowiak commented on #740
Yes, that's the same kind of problem

[2019-07-16 04:04] jacekwachowiak commented on #739
I followed the article, to allow the external calls to Prometheus pod and then with a call to remove the data but I saw no change

[2019-07-16 19:37] simon-mo commented on #734
Good point. We should use 9090 to stay consistent.

[2019-07-16 19:40] simon-mo commented on #734
For context, `CLIPPER_INTERNAL_METRIC_PORT` was used originally to expose the query frontend exporter port:
https://github.com/ucbrise/clipper/blob/a66648a301c618fed4528e7b103fe737bf803768/monitoring/front_end_exporter.py#L82-L84

So if we change the port there, that would be great.

[2019-07-17 07:13] kiraseed opened #744 "Question Does clipper support pandas' function?"
when i deploy python function that contain pandas' package, the clipper output error, does the cliper  not support by padans (eg: grouby, merge)? or how to solve it？

[2019-07-18 00:08] rkooo567 commented on #744
1. Did you add pandas dependency to `pkgs_to_install `?
2. If not, could you show us error logs?

[2019-07-18 06:15] kiraseed commented on #744
@rkooo567
1. I had added pandas by pkgs_to_install;
2. The error is 'default_explanation': 'Failed to retrieve a prediction response within the specified latency SLO';
such as the function:

def __get_data_lev(dataframe, id_level):
   dg = dataframe.groupby(id_level)
   dataframe = dg.first()
   return dataframe
if i call the function , the result show error that 'Failed to retrieve a prediction r

[2019-07-18 06:23] withsmilo commented on #744
Hi, @kiraseed .
I think that your closure function might be wrong. Would you please share your all codes with us?

[2019-07-18 06:31] simon-mo commented on #744
The returned type need to be a list of strings. Not dataframe type.

On Wed, Jul 17, 2019 at 11:23 PM Sungjun.Kim <notifications@github.com>
wrote:

[2019-07-18 06:55] kiraseed commented on #744
@withsmilo  @rkooo567
the code can run by python, please check it.
def __get_data_lev(dataframe, id_level):

    dg = dataframe.groupby(id_level)
    dataframe = dg.first()
    return dataframe

def __calc_share_clu(xtheta, para_diss, para_allo):

    if not xtheta.index.is_unique:
        print("Index of 'xtheta' must be unique!")
        share_clu = None
    else:
        share_clu = pd.DataFram

[2019-07-19 01:28] kiraseed commented on #744
@withsmilo @rkooo567
thank you for your suggestions.
now the code can run, but requests.post must run tow times.
the first one show error : 'default_explanation': 'Failed to retrieve a prediction response within the specified latency SLO', the second one can output data, why is it?

[2019-07-19 02:16] rkooo567 commented on #744
Clipper batch queries and adaptively adjust the max batch size to maximize throughput within the specified SLO requirement. If it cannot return the query by given SLO (which you provide in your input), it returns that default query result (the one you are looking at). So, it is most likely that your SLO specification is too low compared to your environment / complexity of code. (So, I guess in the

[2019-07-19 06:40] kiraseed commented on #744
@rkooo567
i increase slo_micros's value , but can't solve the problem.

[2019-07-19 07:55] rkooo567 commented on #744
Hmm okay. Can you do `docker ps`, do `docker logs` on the model containers/query frontend, and show us logs for both of them?  (Let me know if you are using `KubernetesContainerManager`)

[2019-07-19 09:13] kiraseed commented on #744
i use DockerContainerManager;
docker ps:
CONTAINER ID        IMAGE                               COMMAND                  CREATED              STATUS                        PORTS                                            NAMES
1bbbd89a0872        default-cluster-sum2:1              "/container/containe…"   About a minute ago   Up About a minute (healthy)

[2019-07-19 09:36] RehanSD commented on #744
Hi @kiraseed! First, please run `docker ps -a`. This will give you something like the following:
<img width="1328" alt="Screen Shot 2019-07-19 at 2 30 20 AM" src="https://user-images.githubusercontent.com/17012605/61525453-4dca3c80-a9cd-11e9-8d88-1898dceabea8.png">
Look for the container where the `image` field matches the name of the model you deployed. For example, if you gave the name `mymodel`

[2019-07-19 09:50] kiraseed commented on #744
Thanks @RehanSD
the output is: /bin/sh: 1: Syntax error: end of file unexpected;

[2019-07-19 09:54] RehanSD commented on #744
Hmm. That's odd. Are you using a custom dockerfile? Could you also post a screens hot of the output of `docker ps -a` and specify which image you used as input for `docker logs`?

[2019-07-22 02:47] kiraseed commented on #744
i have not used custom dockerfile.
docker ps -a all output is:

CONTAINER   ID | IMAGE | COMMAND | CREATED | STATUS | PORTS | NAMES
-- | -- | -- | -- | -- | -- | --
474034ecf562 | default-cluster-sum2:1 | /container/containe… | About a minute ago | Up About a minute(healthy) |   | sum2_1-29302
6d681794ee19 | prom/prometheus:v2.9.2 | /bin/prometheus --c… | About a minute ago | Up About a minute | 0

[2019-07-24 07:00] rkooo567 commented on #744
This error is really odd. Is it the logs of `docker logs 474034ecf562 `? It is also weird that the container is not broken although there is an error. Also, Would you mind sharing your prediction function? with clipper code? I will try to reproduce the problem on my local machine.

[2019-08-26 13:37] #743 closed, assigned to nobody

[2019-08-26 13:45] rp4fx12 opened #745 "[Question] Scaling the Query Frontend"
Hi, this question is sort of a two parter. 1. Do you guys have a slack or something to post questions? 2. The other question is regarding scaling out the query-frontend container. Regarding this portion of the docs: http://clipper.ai/tutorials/container_managers/#known-limitation-query-frontend-scaleout, would a rebalancing method mean that each query frontend would need to have at least one model

[2019-09-03 13:28] ilibx opened #746 "how to deploy models with preprocess models?"
Hi, I want deploy nlp models with clipper, and i want use word2vec as preprocess model. how to deploy it with keras models？

[2019-09-03 19:24] rkooo567 commented on #746
https://github.com/ucbrise/clipper/blob/develop/clipper_admin/docs/model_deployers.rst

Keras deployer is supported from version 0.4.1. I updated the documentation, but probably the official API documentation has not been updated.

@simon-mo Would you be able to update API documentation? http://docs.clipper.ai/en/v0.4.1/model_deployers.html

[2019-09-03 19:25] rkooo567 commented on #745
@simon-mo @RehanSD  Could you guys answer this question?

[2019-09-09 07:58] nopanderer commented on #512
@withsmilo Setting cache size to 1 only works for docker environment. Did you check this in the k8s, too?

[2019-09-10 00:43] withsmilo commented on #745
1. We have a Slack workspace, but I don't have no idea about how to invite you.
2. We usually leave enough query-frontends already created and scale out the model containers as needed to avoid the problem.

[2019-09-10 00:46] withsmilo commented on #512
@nopanderer I will check it ASAP.

[2019-09-10 08:39] withsmilo commented on #512
@nopanderer Our team checked your issue in detail on our clipper-k8s cluster, but couldn't find any problem about disabled caching. When we set query-frontend's cache size to 1, all the model pods always received user requests. Could you check it again?

[2019-09-10 09:26] nopanderer commented on #512
@withsmilo Please try this.

1. Register the model A named "tensorflow-alpha" which gives the binary output, 0 or 1.

2. Predict with model A and input.jpg. This should gives binary output. No wonder.

3. Then, unregister the model A and register the model B named "tensorflow-alpha" which produces float output, [0, 1]. Note that the model A and the model B have the same name.

4. And this is the p

[2019-09-11 02:54] withsmilo commented on #512
@nopanderer
1. What version of Clipper are you using?
2. What Clipper APIs did you call when unregistering the model A?

[2019-09-17 13:34] alexvicegrab commented on #450
Hi @dcrankshaw, is there any update on this?

[2019-09-17 20:15] jeffjunzhang opened #747 "Managing Compute Resources for Containers"
(1) In clipper, when we deploy a model container, e.g., a trained pytorch model, how do we set the CPU and memory limits for it? Is this supported by Clipper admin? If not, any solution to achieve this goal?
(2) Even when we start the clipper cluster, can we set a CPU/memory limit on the whole cluster? Also, is there a way to set the CPU/memory limits for query_frontend and mange_frontend as well?

[2019-09-17 22:50] withsmilo commented on #747
Hi, @jeffjunzhang .
Currently clipper_admin does not support it. So our team modified the following yaml files manually for the purpose you mentioned.
* https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_admin/kubernetes/mgmt-frontend-deployment.yaml
* https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_admin/kubernetes/query-frontend-deployment.yaml
* https://

[2019-09-17 23:42] jeffjunzhang commented on #747
Thank you, @withsmilo
Btw, if I'm using the docker container manager (DockerContainerManager()), which files should I manually modify?

After the modification, we should re-compile all the source codes from scratch, right?

[2019-09-18 00:00] withsmilo commented on #747
@jeffjunzhang ,
Are you testing Clipper on your local PC? If on mac, see https://docs.docker.com/docker-for-mac/#advanced.

[2019-09-18 00:22] jeffjunzhang commented on #747
@withsmilo Thanks again.
I'm testing on a local 24-core server running a Ubuntu.

Basically, say if I have 1 pytorch model to deploy with Clipper, I want to limit the model container with 10 cores+ some memory, and also 10 cores for the query front-end container and management container.

What's the simplest way to achieve these?

[2019-09-18 00:42] nopanderer commented on #512
@withsmilo

Sorry for late reply.
I was testing both 0.3 and 0.4, and found that the cache_size=1 works correctly in clipper:0.4.
How did you fix this cache problem? Which part should I look into?

[2019-09-18 00:51] withsmilo commented on #747
@jeffjunzhang ,
Clipper is using `DockerContainerManager` for test only, not production. How about using `docker update` command to update the resource limit of some containers after deploying Clipper and your models? See https://docs.docker.com/engine/reference/commandline/update/. I think this is the simplest way.

[2019-09-18 00:55] withsmilo commented on #512
@nopanderer
Good news! There are many differences between the two versions, so I'm not sure which part is the cause. See https://github.com/ucbrise/clipper/releases/tag/v0.4.1.

[2019-09-18 00:57] nopanderer commented on #512
@withsmilo

Thank you a lot.

[2019-09-18 01:14] rkooo567 commented on #512
@nopanderer @withsmilo

Query frontend manages its own cache inside the server, and I guess the cache entry wasn’t evicted when model A was unregistered. As a result, when input.jpg was requested, the query frontend  returns the cache entry (which is the output of model A).

[2019-09-18 01:18] rkooo567 commented on #512
If it’s the cause not sure how we can fix it. If your app frequently unregisters models, I recommend you to have a distributed caching layer on the top of query frontend instead

[2019-09-27 11:06] t-800m101 commented on #708
@withsmilo Did you have the time yet to make some initial sketch?

[2019-09-30 01:16] withsmilo commented on #708
@T-800Model101 , I'm so sorry about late reply. this issue has been postponed because I had to resolve urgent issues in my project.

[2019-10-02 02:03] jeffjunzhang commented on #683
Hi @rkooo567, where can we find the "flask app"? Would it be possible to share it somewhere (even if it is on a very early stage) so that we can test on it? Thank you.

[2019-10-10 08:50] DNCoelho opened #748 "Startup order in Kubernetes"
Say you have a working clipper instance deployed in Kubernetes which uses an external persistent Redis instance provided via a statefulset. If for some reason the system stops working and a restart is needed, there is a possibility that the QueryFronend will startup before the Redis instance, which will cause the system to malfunction as it does not detect one of its components. Is there any way o

[2019-10-10 14:37] withsmilo commented on #748
@DNCoelho : We solved this problem by installing Redis + Sentinel + HAProxy on the external servers to increase system stability for our production environment.

[2019-10-12 09:52] asauray opened #749 "Deploying on Nomad orchestrator"
There are currently two options to deploy models: Docker and Kubernetes

I think it would be great to add support for Nomad, which is an open source orchestrator that's a bit simpler than Kubernetes. https://www.nomadproject.io/

The difficulty is that contrary to Kubernetes, DNS is not managed by Nomad itself but by a different applications (most of the time Consul, by the same company Hashicorp)

[2019-10-14 16:25] DNCoelho commented on #748
@withsmilo
Thank you for your reply!
I see what you mean, by increasing stability there should never occur a case where my initial situation may occur. However, it may still happen in which case there would exist a chance of the restart order being an erroneous one. In that case, is there any way to prevent it? Or do you think the possibility of it happening is so remote that the situation may not

[2019-10-14 17:52] simon-mo commented on #748
Hmmm. I can see two alternatives for clipper:
1. Implement init-containers to block query frontend until redis is healthy
2. Have query frontend explicitly block (with exponential backoff and retries count configurable) until redis is ready.

2 seems easier and more native.

[2019-10-15 11:54] asauray commented on #730
Any update on this issue ?

[2019-10-16 07:28] asauray opened #751 "Build is failing on Travis"
The CI build is failing repeatedly on develop branch with this error message

[code]

[2019-10-16 15:58] rkooo567 commented on #751
It is because the image in your local branch is not stored in our testing Dockerhub. Let me figure out how to add this. I will get back this weekends for this.

[2019-10-16 15:58] rkooo567 commented on #749
Could you tag this issue to your PR?

[2019-10-17 08:41] asauray commented on #745
I don't really understand your answer @withsmilo

(1) We agree that the query frontend is stateful right ? So do de we have a 1:1 relationship between a model and a query frontend ?

(2) If you add more instances of the query frontend, and at the same time, model instances connect only to **one** instance of the query frontend. How do you ensure that each query frontend **has at least one connecti

[2019-10-17 12:22] asauray commented on #751
Thanks 🙏

[2019-10-18 07:25] asauray commented on #683
I believe adding a Flask app in front of Clipper is not a good idea. Python is a garbage collected language and using it as a proxy may result in expected latency, which goes against the goal of Clipper.

Could you explain why you think implementing the feature in query would make it a bottleneck @withsmilo ? I think the only problem here lies in the statefulness of Clipper Query. I believe this p

[2019-10-18 07:25] asauray commented on #683
Also, have you considered using Lua for implementing those policies ? @coldtomatojuice

[2019-10-18 09:22] rkooo567 commented on #683
@jeffjunzhang Currently, there's no progress in this because every contributors are busy.
@antoinesauray That's correct. The reason why we thought about an additional layer is because query frontend is designed to stateless to be easily scaled (But we also found out query frontend has long-lived TCP connection with model containers, so it is technically not stateless now). Flask app was a hypothet

[2019-10-18 09:47] DNCoelho commented on #748
@simon-mo
I agree that 2 seems like a better option. In the future, I'll try to change the frontend definition to accommodate this behavior. It may be a good idea to incorporate some sort of similar behavior in the official image though, has this is an issue that anyone who provides an external Redis instance will encounter.

[2019-10-22 21:08] rkooo567 commented on #751
@simon-mo Aren't those images supposed to be pushed by our Jenkins?

[2019-10-24 15:10] SrivatsaN225 opened #752 "Batch_size issue"
The issue is :I  want to see how much time my predict() function is taking.Although I set batch_size to the number of rows of data I am sending but it is still batching it randomly and then calling the predict function. (We can know this by print(len(inputs))  )

Is there any way to disable the automatic batching that clipper is doing? So that the data is sent in one shot. I also tried increasing

[2019-10-30 15:45] robberlang commented on #752
With PR #753 you can get all the inputs of your batch sent to your model function at once.

[2019-10-30 18:03] SrivatsaN225 commented on #752
Issue not Resolved:
Hi I tried on the client end {'input_batch':s} where s is a list. I sent 100K rows and batch_size=100K it is still automatically batching the input rows.How to stop this? If is use only{'input':s} then it's throwing an error.Please explain your answer with some example code. I want to send the whole input in one go to the model how to do this?

[2019-10-31 09:48] robberlang commented on #752
It's not possible that your single query of 100K inputs (using `input_batch`) get sent to your model as a single request. I came across the same problem. The PR I mentioned is a patch to fix this.

[2019-11-01 19:16] jeffjunzhang opened #754 "Metrics"
Hi,
I'm currently testing Clipper with DockerContainerManager in a local cluster.

I'm using Prometheus server at localhost:9090 to check the metrics. There are multiple available metrics. Could we know the exact definitions of them? Is there any doc on this?

For example:
for throughput, there are: model throughput, app throughput and internal aggregate_model throughput, what are the differences?

[2019-11-05 11:52] SrivatsaN225 commented on #752
I have just now installed from your branch and checked  it, is still not working. So I sent 130000 rows and  batch_size=50000 and when I checked the logs the input_rows length was 2357,4866 etc.That it is still automatically batching the input dataset. Even for 10K input rows and batch_size=1K still automatically batching.Please have a look.

[2019-11-06 07:25] asauray commented on #751
do you have some news here @rkooo567 ?

[2019-11-11 09:30] Deninc commented on #611
+1 for this feature

[2019-11-11 13:14] Deninc opened #755 "Debugging input and output"
Dear,
I have this issue of returning empty output:
`curl -X POST --header "Content-Type: application/json" --data '{"input": "1 curry rice"}' localhost:1337/pipeline/predict`
`{"query_id":29,"output":"","default":false}`

However, when I tested inside the model container:

[code]

Any idea how I can inspect what's the actual input that is used in runtime?

[2019-11-19 04:54] jeffjunzhang opened #756 "Number of predictions mismatch"
Hi,

I was testing Clipper with 200 requests.
When I use 'inspect_instance()', the 'app: num_predictions' is always 200. However, sometimes, 'model: num_predcitions' is less than 200 (e.g., 187).
Is this a bug or clipper is internal doing something with these metrics?
(PS: I've set the prediction cache size to 0, so there should be no caching, and the cache hit_ratio is always 0.)

[2019-12-01 14:56] robberlang opened #758 "Potential deadlock when deleting model container replica queue"
A deadlock can occur when a model container replica is removed, crippling all communication between the frontend and all model containers. Any requests that are not in the cache will time out.

This happens as follows (with `TaskExecutionThreadPool` in src/libclipper/include/clipper/threadpool.hpp):
-`interrupt_thread` is called, sending an interrupt to the queue's worker thread
-`delete_queue` is

[2019-12-01 15:06] robberlang commented on #752
DId you build the query frontend docker image with my branch, and specify that image when starting Clipper?

[2019-12-02 13:48] alexvicegrab opened #760 "Issue with speed of clipper with custom PyTorch model"
Dear Clipper admins,

I'm attempting to use Clipper to deploy a single model with approximately 1.3M parameters.

This model's forward pass works very quickly locally (0.1s), while the same model in Clipper generally takes 5 to 20 seconds (usually ~15) to do the forward pass.

I'm quite stumped at what the issue might be with this model, and while I would love to share a detailed example here, the

[2019-12-03 15:08] alexvicegrab commented on #760
For comparison, I managed to implement the same model in Flask and get it doing predictions ~15 times faster, so my suspicion is that the issue is not (at least entirely) related to the containerisation.

[2019-12-04 01:54] lianzhang132 opened #761 "Model Selection"
How is the Model Selection Policy implemented in the code?I don't see any implementation in the code

[2019-12-11 06:14] coldtomatojuice commented on #761
There is currently only one "default selection" policy by which you can select a model registered most recently. You can see how it works from selection_policy.cpp file.
Though you might change the code to select among multiple models, it is for now impossible to link more than one model to an application. So you need to change additional parts to permit multiple model links.

[2019-12-12 06:01] lianzhang132 commented on #761
Do you have any plans for when the model selection mechanism code will be refined?

[2019-12-12 07:47] lianzhang132 opened #762 "Study the source code and development"
I wanted to understand what clipper was doing and the detailed operational relationships between the services.I want to look at something like this. Thank you
![cloudify概括图](https://user-images.githubusercontent.com/39590516/70692480-688fab80-1cf6-11ea-8588-f46cf74824f0.png)

[2019-12-12 07:49] lianzhang132 commented on #762
![image](https://user-images.githubusercontent.com/39590516/70692730-e94ea780-1cf6-11ea-95b3-13920521a78a.png)

[2019-12-12 23:14] coldtomatojuice commented on #761
you can refer to this
https://github.com/ucbrise/clipper/issues/683#issuecomment-490291320

[2019-12-13 06:54] lianzhang132 commented on #761
Ok, thank you very much for your reply

[2019-12-13 06:54] #761 closed, assigned to nobody

[2019-12-15 11:56] lianzhang132 opened #763 "Dynamic Batching"
Hello, dear developers, I did not find the relevant code about Dynamic Batching_size technology in the source code?If so, please reply, thanks

[2019-12-23 08:06] dyoung23 commented on #763
I focus on this project from their paper,I think some features like batching are not implemented.
These days,I look back this project,I think we can follow their ideas to implement these features by ourselves.

[2020-02-26 06:08] #762 closed, assigned to nobody

[2020-03-02 08:54] lianzhang132 opened #764 "discussion question"
Dear developers, I want to find some people to discuss the problems encountered in learning clipper, but I can't find any open instant communication platform for the team, such as qq and WeChat in China.Can we build one?

[2020-03-04 03:04] lianzhang132 opened #765 "Failed to retrieve a prediction response within the specified latency SLO"
Respected development team
I designed a simple example, here's the code, but why don't you get results when you run it?We look forward to and thank you for your reply。

#%%

def quick_sort(list):
    if list == []:
        return []
    else:
        first = list[0]
        left = quick_sort([l for l in list[1:]if l < first])
        right = quick_sort([l for l in list[1:] if l > first])
        r

[2020-03-04 03:13] lianzhang132 commented on #765
I also tried to increase the value of the SLO, but it didn't work

[2020-03-04 03:36] lianzhang132 commented on #765
@zoux86

[2020-03-04 03:38] lianzhang132 commented on #765
@zoux86 看您提出过类似的issues

[2020-03-11 05:37] HarshRangwala commented on #537
Guys, please help. I cant figure whats causing this error. I am doing a project on self driving car.

<b>ConnectionError: HTTPConnectionPool(host='192.168.0.31', port=5000): Max retries exceeded with url: /messages?data=x (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x000001D456A07E08>: Failed to establish a new connection: [WinError 10060] A connection attempt faile

[2020-04-08 03:48] #765 closed, assigned to nobody

[2020-04-08 05:04] lianzhang132 opened #766 "No connected models found for query"
When I deployed my model there was no model container under the running docker container but the log showed success

20-04-08:00:49:07 INFO     [deployer_utils.py:41] Saving function to /tmp/tmp5j2z17qfclipper
20-04-08:00:49:07 INFO     [deployer_utils.py:51] Serialized and supplied predict function
20-04-08:00:49:07 INFO     [tensorflow.py:196] TensorFlow model saved at: /tmp/tmp5j2z17qfclipper/t

[2020-04-10 07:45] pavin opened #767 "all input-type (except double) do not work."
I just changed input type of  example code like below.

=========================================================
clipper_conn.register_application(name="hello-world", input_type="integers", default_output="-1.0", slo_micros=10000000)

def feature_sum(xs):
	return [str(sum(x)) for x in xs]

from clipper_admin.deployers import python as python_deployer
python_deployer.deploy_python_closure(clipper_

[2020-04-14 09:17] pavin commented on #763
I  found 'batch_size' in build_and_deploy_model function.
If the default value of -1 is used, Clipper will adaptively calculate the batch size .
But I couldn't find infomations about model selecction layer.

[2020-04-22 06:02] #767 closed, assigned to nobody

[2020-04-27 06:55] yangzz945 commented on #764
I am using clipper now .Can you build one,and I will join and need discussion question sometime

[2020-04-30 07:39] yangzz945 commented on #764
I create a qq group and ID is 711390137 ，can you join  ？ @lianzhang132

[2020-05-12 18:28] marclipoff opened #768 "Kubernetes Connection - the server could not find the requested resource"
I am trying to run the kubernetes hello world example, as shown [here](https://github.com/ucbrise/clipper/issues/598) (section: Try Clipper's hello-world).

When I run it, I get a "resource not found" error. See full error below.

I've tried running this on a cloud-based kubernetes cluster (AWS EKS) and on minikube. I've played with the inputs to KubernetesContainerManager(), with luck.

[code]

[2020-05-12 18:31] marclipoff commented on #766
The model contain likely exiting due to an error. Use [this](https://github.com/ucbrise/clipper-website/blob/master/content/tutorials/troubleshooting.md) to help debug

[2020-05-14 09:49] sean-sj-jung opened #769 "Question for python_deployer.deploy_python_closure - case of multiple outputs from func"
I am using Catboost (https://catboost.ai/) for classification and have a bit of complication with return values.

In case of xgboost, when you run xgboost.predict(xgb.DMatrix(x)), it returns a single value which gives the probability of a sample being in class 1 against class 0.

Catboost, however, returns both values (https://catboost.ai/docs/concepts/python-reference_catboostclassifier_predict_p

[2020-06-02 05:39] yangzz945 commented on #310
Your method is very good. I have the same problem and resolve it throug your method。Thanks

[2020-07-09 07:19] lisongju opened #770 "About the source code"
I read the clipper source code, I know the StateDB preserving the state of every application. I only read the state_db->get data, I dn not realize where the clipper put data into state_db cache or state_db in redis。

[2020-07-27 08:44] yangzz945 commented on #770
![image](https://user-images.githubusercontent.com/28285328/88522005-5ade2a80-d028-11ea-99d4-1e5d9e0eeea9.png)
You can find put method in the query_frontend.hpp,like the picture

[2020-10-10 02:54] feifeibear opened #771 "basic query example"
Hi, I try to follow the basic query example.
After I launch the python script.
`
python example_client.py
`
I met the following problem.
`
20-10-10:10:49:22 WARNING  [decorators.py:34] [default-cluster] Clipper still initializing:
 query frontend end point http://localhost:1337/metrics health check failed, Retrying in 1 seconds..
`

[2020-10-10 03:26] feifeibear commented on #771
After I switch to another computer. I met the following error in case of using `python example_client.py`

20-10-10:11:23:13 INFO     [docker_container_manager.py:192] [default-cluster] Starting managed Redis instance in Docker
20-10-10:11:23:13 WARNING  [decorators.py:34] 404 Client Error: Not Found ("network clipper_network not found"), Retrying in 3 seconds...
20-10-10:11:23:16 WARNING  [decora

[2020-10-15 09:18] potoo0 opened #773 "develop test failed on win10: qf startup error *Option ‘thread_pool_size’ does not exist*"
my env:
- OS: win10
- docker:
  - docker desktop version: 2.4.0
  - docker version: 19.03.13
- python: 3.7.7
  - clipper-admin: develop

I followed this script:
[code]

but got error:
[code]

and query_frontend container startup error:
[code]

Metric Configuration (`C:\Users\potoo\AppData\Local\Temp\tmpuk9324e9.yml`):
[code]

How to fix it? Or this project does not support windows?

(And it's terr

[2021-01-24 09:22] utkarsh867 opened #774 "Unregistering an application, and then registering again with different output doesn't change the output"
To delete, I do the following:

[code]

To register and deploy:
[code]

I understand that the version number must change for deploying updates. But I want to be able to completely delete the application and register with same name and version. Now that is possible, but if I delete the application and re-create it, and deploy with `version=1` the output does not change even when I change the code i

[2021-02-13 12:17] YCait commented on #560
I met this problem too, how do you fix it?

[2021-05-13 19:06] Adithya-MN opened #776 "Documentation website unavailable(expired)"
The domain containing the docs has expired  - when trying to open [clipper.ai](clipper.ai), I get this redirection

![image](https://user-images.githubusercontent.com/30416447/118174026-f0c63300-b44b-11eb-895d-3a45fc0031dc.png)
Would it be possible to add an offline copy of the docs/potentially have them on readthedocs.io? This would really help

[2021-11-30 16:02] robberlang commented on #776
The website can be built from this [repo](/ucbrise/clipper-website)