[2016-11-10 17:53] dcrankshaw opened #5 "Basic implementation of RPC Service with ZeroMQ"
@Corey-Zumar can you submit a PR for the RPC service implementation (whatever you have) before you go out of town?

[2016-11-16 02:28] #5 closed, assigned to Corey-Zumar

[2017-01-20 21:47] giulio-zhou opened #47 "Clipper does not build on OS X 10.10 due to dependency on std::shared_timed_mutex"
Full error message:
[code]
The project builds successfully when the `std::shared_timed_mutex`'s are replaced with `boost::shared_timed_mutex` (which turns out to be the same thing as `boost::shared_mutex`) but produces the following error when I run the unit tests using `run_unittests.sh`:
[code]
@dcrankshaw @Corey-Zumar
@atumanov Whenever you can, see if the current Clipper project builds for you

[2017-01-21 15:52] dcrankshaw commented on #47
@giulio-zhou Close this and create a JIRA issue

[2017-01-21 16:54] giulio-zhou commented on #47
Will do.

[2017-01-21 16:54] #47 closed, assigned to nobody

[2017-01-22 01:09] sswv opened #49 "Why it exits in configure line 221?"
Is the "exit 0" in line 221 for testing only? Should it be removed? Thanks!
[code]

[2017-01-23 20:46] dcrankshaw commented on #49
Yes that is a leftover from debugging. Thanks for pointing this out. #51 should fix this.

[2017-01-23 20:56] #49 closed, assigned to nobody

[2017-02-17 03:10] vtolani95 opened #67 "README needs information about redis"
When installing clipper and attempting to run ipython tutorial I get the following:

![image](https://cloud.githubusercontent.com/assets/6744971/23051124/63abad5e-f47b-11e6-89c4-9ab02d932461.png)

![image](https://cloud.githubusercontent.com/assets/6744971/23051126/6e3d3bc0-f47b-11e6-8ecb-c0e764315da6.png)

Possibly need documentation about installing redis before running clipper?

[2017-02-22 19:12] mwhittaker opened #73 "Duplicate `models_used_` field."
Inside of `datatypes.hpp`, the `Output` class has a [`std::vector<VersionedModelId> models_used_` field](https://github.com/ucbrise/clipper/blob/910d1a31c911018203e4d1926d68659684ad9d6b/src/libclipper/include/clipper/datatypes.hpp#L44). The `Response` class includes an `Output output_` field, but it also includes a [`std::vector<VersionedModelId> models_used_` field](https://github.com/ucbrise/cli

[2017-02-22 19:34] mwhittaker opened #74 "Unimplemented `state_key_hash` function."
[`size_t state_key_hash(const StateKey& key)`][1] is declared inside of `persistent_state.hpp`, but it is never implemented and never called.

[1]: https://github.com/ucbrise/clipper/blob/910d1a31c911018203e4d1926d68659684ad9d6b/src/libclipper/include/clipper/persistent_state.hpp#L23

[2017-02-22 21:57] dcrankshaw opened #75 "Randomize Redis port selection in unit tests"
cc @shaneknapp

[2017-02-22 21:58] shaneknapp opened #76 "port collisions with hard-coded redis ports"
the hard-coded port number will cause collisions when the PRB and master build simultaneously.

i suggest something like this in your run_unittests.sh script:

[code]

now you need to update your test_constants.hpp file to respect this new port.  a couple of ideas:

1) export the REDIS_PORT variable from your bash, and upon compilation, slurp it in and set it that way (i think this should work)
2)

[2017-02-22 22:00] shaneknapp commented on #75
dupe of https://github.com/ucbrise/clipper/issues/76

[2017-02-22 22:00] #75 closed, assigned to nobody

[2017-02-22 22:05] mwhittaker opened #77 "Possible `labels_to_str` undefined behavior."
The `labels_to_str` function [dereferences `labels.end() - 1`][1] where `labels` is a vector. If `labels` is an empty vector than `*(label.end() - 1)` is undefined behavior (I think).

[1]: https://github.com/ucbrise/clipper/blob/develop/src/libclipper/src/redis.cpp#L62

[2017-02-22 22:08] mwhittaker commented on #77
[Here][1] too.

[1]: https://github.com/ucbrise/clipper/blob/910d1a31c911018203e4d1926d68659684ad9d6b/src/libclipper/src/redis.cpp#L88-L89

[2017-02-28 23:13] dcrankshaw commented on #67
Fixed by #71

[2017-02-28 23:13] #67 closed, assigned to nobody

[2017-03-06 21:18] dcrankshaw commented on #76
Fixed by #66

[2017-03-06 21:18] #76 closed, assigned to nobody

[2017-03-14 09:04] frank2wang87 opened #85 "make can't find the shared_mutex"
hi, I configured the clipper environments following the instruction on the github.
I could successfully execute the configure command. But when I executed the "make" command, I  came across the following error.

 **clipper-develop/src/libclipper/include/clipper/persistent_state.hpp:6:35: fatal error: shared_mutex: No such file or directory**

   Codes of  persistent_state.hpp are following:
  4 #i

[2017-03-14 15:57] dcrankshaw commented on #85
Hi @frank2wang87,

That `#include <shared_mutex>` in persistent_state.hpp can actually be deleted. Let me know if that fixes your problem.

We removed the dependency on `shared_mutex` because the libc++ in OSX 10.11 and older doesn't support it (see the answers to this [StackOverflow post](http://stackoverflow.com/q/34533764/814642) for details).

[2017-03-15 07:20] frank2wang87 commented on #85
hi, @dcrankshaw ,

My PC information is
OS: Ubuntu 14.04.3 LTS
gcc: (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4

I deleted  #include<shared_mutex> in persistent_state.hpp. But some other errors happened. The following are the details.

[ 42%] Building CXX object src/libclipper/CMakeFiles/clipper.dir/src/query_processor.cpp.o
In file included from /home/test/workspace/clipper-develop/src/libclipper/src/q

[2017-03-15 15:37] dcrankshaw commented on #85
Got it. Clipper is built with C++14 so you will need to compile with GCC 5.2 or later.

[2017-03-15 15:51] dcrankshaw commented on #85
Closing this issue. If you run into other problems compiling with GCC >= 5.2 please file a new issue.

[2017-03-15 15:51] #85 closed, assigned to nobody

[2017-03-19 10:54] rmdort opened #90 "Support for different SSH port"
Can you support different sshd port when initializing clipper.

[code]

When i specify port within the IP, redis attempts to connect to incorrect address

[code]

[2017-03-20 02:47] dcrankshaw commented on #90
Sure. Just opened #91 to support this.

[2017-03-20 10:11] frank2wang87 opened #92 "boost error when make"
hi, I filed an issues titled by "make can't find the shared_mutex". Dcrankshaw proposed I  need to compile with GCC 5.2 or later.  And now I compile it with GCC 5.4.0 and run into other problems about boost.

 My PC information is
OS: Ubuntu 14.04.3 LTS
gcc:  5.4.0
boost: boost-1.63

[ 73%] Linking CXX executable bench
../libclipper/libclipper.a(selection_policies.cpp.o): In function `void boost::

[2017-03-20 16:36] rmdort opened #93 "JSON response from prediction"
Correct me if i am wrong. Currently query_front.hpp returns a string output all the time

[code]

I want to return JSON response from `predict_strings` handler in my docker container. Is this currently possible?

[2017-03-20 17:47] dcrankshaw commented on #93
You are correct. This is currently the case. We have an open JIRA issue [CLIPPER-107](https://clipper.atlassian.net/browse/CLIPPER-107) to address this.

It's a fairly high priority for us. I expect we will get to it sometime this week.

[2017-03-21 14:53] rmdort opened #94 "clipper asks for SSH password"
When i connect to clipper, even though i am providing the SSH key, clipper still asks for the password. This only happens once.

[code]

Maybe something to do with Fabric api? I am not logging in as root, but the user has sudo permission

[2017-03-21 15:31] dcrankshaw commented on #94
Does it ask for the login password or the SSH key password? If the ssh key is password protected, the underlying [Python SSH library](http://www.paramiko.org/) will prompt for your password.

[2017-03-21 15:38] dcrankshaw commented on #92
My guess is that you've only installed the Boost headers. [Some of the Boost libraries](http://www.boost.org/doc/libs/1_61_0/more/getting_started/unix-variants.html#header-only-libraries) we use need to be compiled, including Boost serialization.

[2017-03-21 15:38] #92 closed, assigned to nobody

[2017-03-21 16:07] rmdort commented on #94
No. Its asking for the login password. Maybe its because you are running all remote commands as `sudo`?

[2017-03-21 16:12] dcrankshaw commented on #94
Oh yeah that's likely it. We've mostly tested this on AWS where the default Ubuntu instances don't require a password for sudo. The problem is that the Docker commands require sudo, so it's independent of SSH access. Did this break things for you?

[2017-03-21 16:24] rmdort commented on #94
Oh i see. We mostly run docker without sudo privileges

https://github.com/sindresorhus/guides/blob/master/docker-without-sudo.md

It didnt break anything. Just that i didn't want to expose superuser in our python code when connecting to clipper.

The other option is adding the user to visudo to require NOPASSWD, which may be a security risk. Am not sure what is the right thing to do here. But wou

[2017-03-21 16:36] dcrankshaw commented on #94
Yeah that totally makes sense. What if we modified clipper_manager so that you could specify whether sudo privileges were needed? If you're running Docker without sudo, then I don't think anything we do would need sudo privileges.

Something like:
[code]

[2017-03-21 16:38] rmdort commented on #94
Awesome. That will be great 👍  . Thank you.

[2017-03-21 16:48] dcrankshaw commented on #94
I just filed https://clipper.atlassian.net/browse/CLIPPER-135 to track this.

[2017-03-23 17:53] #94 closed, assigned to nobody

[2017-03-24 03:15] dcrankshaw commented on #90
Fixed by #91

[2017-03-24 03:15] #90 closed, assigned to nobody

[2017-03-31 14:54] hrishikeshvganu opened #99 "Model release cycle"
Do you have plans to support the model release cycle? What I mean is a workflow where:

1. The calling application triggers a model retrain based on deterioration in performance
2. Then a new model could be mounted in place of the old version.

#1 can be handled by the calling application but #2 is where I wanted to know if it's possible to programmatically upload a new version.

[2017-04-02 20:28] dcrankshaw commented on #99
Yes this is explicitly supported in Clipper.

Clipper is designed to support frequently retrained models with minimal overhead. A model deployed in Clipper is composed of two elements, the _model container_ and the _model data_. The model container is the code (and any dependencies) needed to evaluate the model. The model data is the state (generally the trained model's parameters in some serializ

[2017-04-02 20:28] #99 closed, assigned to nobody

[2017-04-03 17:21] lucasmoura opened #105 "Failing tests when executing run_unittests.sh"
Some tests appear to fail when executing the run_unittests.sh script, but in the end, it appears that all the tests were executed without any errors. This can be seen on the following image:

![broken_tests](https://cloud.githubusercontent.com/assets/2703696/24621751/fb3fdc8c-1878-11e7-975b-d5fb4cde80f6.png)

This is also happening in the project build. Is that the expected behavior, or should the

[2017-04-03 22:29] dcrankshaw commented on #105
This is not expected behavior. Unfortunately there was a bug in our run_unittests script which meant that it wasn't exiting on error so broken unit tests snuck in. I have fixed the bug but it means the build is broken.

@Corey-Zumar I believe this is due to your changes to the RPC format in #97. Can you fix this?

[2017-04-03 22:47] Corey-Zumar commented on #105
Yep, on it!

[2017-04-04 00:19] Corey-Zumar commented on #105
The failure of `WhenEitherTests.EntryAlreadyComplete` should not have been affected by #97. @dcrankshaw can you take a look at this?

I've opened #107 to fix the input serialization tests.

[2017-04-04 01:16] dcrankshaw commented on #105
Fixed by #107

[2017-04-04 01:16] #105 closed, assigned to nobody

[2017-04-04 01:17] dcrankshaw commented on #105
I don't see that test failing. Maybe it's flaky?

[2017-04-04 01:23] Corey-Zumar commented on #105
I think it is. Can't seem to get it to fail either.

[2017-04-05 17:25] dcrankshaw commented on #77
Fixed by #104

[2017-04-05 17:25] #77 closed, assigned to nobody

[2017-04-06 22:23] sueann opened #112 "safe handling of duplicate register_application requests"
Q: what happens if you try to register the same application twice (same name)?

A: The update will overwrite the old application with the new one. I think the place this will cause problems is you will have multiple query handlers registered to the same REST endpoint and I'm not sure which one will get called. We should probably prevent this from happening (which is a 2 line code change).

[2017-04-06 22:24] sueann opened #113 "Pausing an application or a model"
Q: Is there a concept of a “paused model / application” in Clipper?
Can you “turn off” a model (container) and turn it back on without deleting & re-deploying?

[2017-04-06 23:36] dcrankshaw opened #114 "Verify that model containers are serving previously registered models"
When a model container connects to Clipper, we should check the Redis model table to ensure that the container represents a registered Clipper model. At a minimum, we should log an error message if this is not the case.

[2017-04-10 06:22] frank2wang87 opened #117 "Failed to test the tutorial in the clipper source code version"
I could run  the tutorial successfully in the clipper docker version. But it always reports "No containers found for model tf_cifar:1" when I run the clipper source code version.

The source code clipper was generated in Ubuntu 14.04. (** can clippper work on Ubuntu 14.04?**)

My working steps  of the clipper source code version are the same as the clipper docker version ,which are  marked as foll

[2017-04-10 18:52] sueann opened #118 "Clipper prediction doesn't seem to match the model prediction before deployment"
We're getting mostly 1's for prediction coming from clipper. The model we deployed was giving 0's on some examples, but that is no longer true querying through clipper.

One hypothesis:
The latency requirement for the application is set at 20ms and the /metrics endpoint shows mean latency of 100ms, so maybe it's not serving real predictions to meet the latency goal? Is there a way to check that?

[2017-04-10 19:04] dcrankshaw commented on #118
Your hypothesis is probably correct. If the model doesn't return a prediction in time, you will see a 1 as output. The selection policies are sort of broken right now and we are in the process of removing them in #89 until they can be fixed.

You can try setting the application latency requirement at 150ms and see if you get better results. That shouldn't slow down your predictions because they wi

[2017-04-10 19:22] dcrankshaw commented on #117
I believe this is happening because you haven't downloaded the TensorFlow model. Are there any files in the `examples/tutorial/tf_cifar_model` directory?

The model deployment itself was successful because the Clipper manager library doesn't know that you were missing files and it was able to start the container fine. But when the container started, it was missing the model files it was expecting

[2017-04-10 21:31] jegonzal commented on #118
Does this mean their container is running slowly?   We might want to add a basic dashboard for Clipper to monitor this stuff.

[2017-04-11 11:28] frank2wang87 commented on #117
@ dcrankshaw
hi, dcrankshaw.  I checked the `examples/tutorial/tf_cifar_model` directory and I could find the tensorflow model. In fact, the tensorflow model has been successfully copied to `/tmp/clipper-models/tf_cifar/1/ tf_cifar_model` directory.

When I modified the CLIPPER_IP variable to the explicit IP address(`192.168.0.3`) in the add_container function of clipper_manager.py, this problem w

[2017-04-11 15:30] dcrankshaw commented on #117
The current selection policies are kind of broken and only support binary classification right now. We are removing them in #89 which will fix this problem.

[2017-04-11 15:30] #117 closed, assigned to nobody

[2017-04-11 15:35] dcrankshaw commented on #118
"Slowly" is somewhat subjective. Their container is running more slowly than the latency objective for their application. The metrics already show this. I agree a monitoring dashboard would be good. I created [CLIPPER-142](https://clipper.atlassian.net/browse/CLIPPER-142) to track this for the 0.2 release.

[2017-04-12 01:54] frank2wang87 commented on #117
@dcrankshaw. Does the clipper current support any other AI application(e.g., object detection, semantic segmentation) besides binary image classification?

[2017-04-12 15:40] dcrankshaw commented on #117
Conceptually, Clipper supports any type of AI application. In practice, models are currently constrained to returning a single float per prediction. We are in the process of relaxing this constraint to allow models to return arbitrary strings (with the recommendation that they return JSON). This feature is tracked in [CLIPPER-143](https://clipper.atlassian.net/browse/CLIPPER-143).

[2017-04-13 01:55] frank2wang87 commented on #117
@dcrankshaw. Sounds Great! When will  the new version clipper be published to support to return arbitrary strings?

[2017-04-13 15:56] dcrankshaw commented on #117
I'm not sure yet. @Corey-Zumar is going to spend some time on it this week, so hopefully early next week. For sure in the next week or two.

[2017-04-17 18:53] dcrankshaw commented on #93
Fixed by #116

[2017-04-17 18:54] dcrankshaw commented on #112
Fixed by #115. Clipper now throws an error if you try to register an application with the same name twice.

[2017-04-17 18:54] #112 closed, assigned to nobody

[2017-04-17 19:12] dcrankshaw commented on #118
#116 now explicitly marks predictions as being the result of a default prediction or a prediction from the model container as part of the response object. The metrics at `http://<clipper-url>:1338/metrics` also report the ratio of default predictions.

[2017-04-17 19:12] #118 closed, assigned to nobody

[2017-04-18 08:08] rmdort commented on #93
How does this work? I still cant return a string from my container

[code]

It seems like the output from `query_frontend.hpp` is casted as float

Line 289
[code]

Am i doing something wrong? I created an app which accepts `strings` and i want to output a custom json.

[2017-04-18 11:08] AirAI opened #124 "boost error when executing make"
I could successfully `make` the  old clipper source code (cloned on March). But I came across the following boost error when  I executed `make`  instruction after I updated the new clipper source code today.

../libclipper/libclipper.a(query_processor.cpp.o): In function `boost::detail::shared_state_base::set_exception_at_thread_exit(boost::exception_ptr)':
/home/guest/tools/boost-1.60.0/include/b

[2017-04-18 15:26] dcrankshaw commented on #124
The build is passing so this is likely a problem with your environment. Here are some debugging steps to try.

1. Run `./configure --cleanup` to fully clean the repository.
2. Run `git submodule update --init && git submodule update --checkout` to make sure all the Git submodules are fully synced.
3. Try building with vagrant (there are instructions in the README) which has all of the correct depe

[2017-04-18 15:26] #124 closed, assigned to nobody

[2017-04-18 15:28] dcrankshaw commented on #93
Ahh I closed the issue too early. We ended up splitting some of the work to address this into [CLIPPER-143](https://clipper.atlassian.net/browse/CLIPPER-143) which hasn't been completed yet.

[2017-04-19 14:49] rmdort commented on #93
Cool. Do you have an ETA for this feature? We are eager to use clipper in our product :)

[2017-04-20 09:11] AirAI commented on #93
It seems that the image should be translated to a list to generate a json request.(Line 123 in cifar_utils.py)

`req_json = json.dumps({'uid': uid, 'input': list(x)})`

The list is then translated to original image if the model container receive the true image as input. It is low efficiency when disposing large image or video.  Correct me if I am wrong.

Does the clipper support REST input? i.e, d

[2017-04-21 16:03] dcrankshaw commented on #93
JSON requests are currently supported. You can specify containers that expect strings as input, which can of course be JSON strings. And yes ultimately all inputs come to Clipper as JSON through the REST interface.

The issue under discussion was being able to _return_ arbitrary JSON from containers, which is not currently supported but will be shortly.

[2017-04-25 01:16] frank2wang87 commented on #93
When will this feature be published? We are eager to use it :)

[2017-04-25 01:20] dcrankshaw commented on #93
@Corey-Zumar what's the status of this?

[2017-04-25 01:35] Corey-Zumar commented on #93
@dcrankshaw In progress - continuing to work on it tonight and tomorrow

[2017-04-25 15:50] lucasmoura opened #132 "dowload_cifar not working on python3"
Because of how **urllib** is being used, the **download_cifar** script is not working on python 3, since URLOpener is not availabe since python 3.3.

Should we add support to python 3 to the files related to the tutorials, or just inform that the user should run them with python 2 ?

[2017-04-26 06:22] dcrankshaw commented on #132
I don't have much experience with Python 3. How hard is it to make the tutorial support both Python 2 and 3?

[2017-04-26 09:43] Corey-Zumar commented on #93
This is now under review: #134

[2017-04-26 10:51] frank2wang87 commented on #93
L389 in  query_frontend.hpp
`
clipper::json::add_double(json_response, PREDICTION_RESPONSE_KEY_OUTPUT,
                              query_response.output_.y_hat_);
`

Now it  still returns a double output(double y_hat_). Am I right ?

[2017-04-26 12:24] Corey-Zumar commented on #93
@frank2wang87 That's presently the case. `y_hat_` will be a string (json-formatted or otherwise) after #134 is merged.

[2017-04-26 12:26] frank2wang87 commented on #93
Cool.

[2017-04-26 15:01] lucasmoura commented on #132
I have looked at some python files that are being used in the tutorial and it doesn't seem that hard to make it compatible with Python 3 as well. I will start working on that

[2017-04-26 15:10] dcrankshaw commented on #132
That would be great. Can you create a GitHub issue for making Clipper Python 3 compatible and assign it to yourself?

[2017-04-26 18:11] lucasmoura commented on #132
Okay, I will close this issue and create a new one

[2017-04-26 18:11] #132 closed, assigned to nobody

[2017-04-26 18:14] lucasmoura opened #138 "Make Clipper compatible with Python 3"
While running the tutorials, I realized that Clipper is not supporting Python 3. It will be necessary to update the python files to add support to Python 3 while also maintaining support for Python 2.

It will also be necessary to check the dependencies of the project. For example, [fabric](https://github.com/fabric/fabric) is only available for Python 2.

[2017-04-26 18:16] lucasmoura commented on #132
@dcrankshaw I don't think I can assign myself to the issue using github, since I don't have the necessary permissions, but I will say in the issue that I will be working on it.

[2017-04-26 18:16] lucasmoura commented on #138
I will be working on that issue and I will report any problems that I can find

[2017-04-26 23:54] miramar-labs opened #141 "is the tutorial supposed to work?"

[2017-04-26 23:55] Corey-Zumar commented on #141
@miramar-labs Yes, what's the issue you're facing?

[2017-04-27 00:06] miramar-labs commented on #141
i'm fairly new to jupyter notebooks but I cloned the sources, went through the steps and brought up the first tutorial .. edited cifar_loc to point to a local folder and ran the first cell .. that downloaded the cifar tar.gz. ok .. ran the 2nd cell, got an error .. took a look in extract_cifar.py and that code is looking for a subfolder called 'cifar-10-batches-py' off my download folder .. which

[2017-04-27 00:11] dcrankshaw commented on #141
Can you post the full error output you got when you tried to run the 2nd cell?

[2017-04-27 00:18] miramar-labs commented on #141
so in cell 1 I set my download folder like so:
cifar_loc = "/Users/mlabs/clipper/examples/tutorial/cifar"
ran cell 1 .. it downloaded cifar-10-python.tar.gz to that folder as expected. However, it is not extracted yet.
ran cell 2 .. (thinking it would extract it) .. but got these errors:
Unpickling data batches...
---------------------------------------------------------------------------
OSError

[2017-04-27 01:08] nishadsingh1 commented on #141
@miramar-labs Thanks for altering us to this – there's a PR (#142) up now that attempts to solve the issue you're facing.

[2017-04-27 01:15] miramar-labs commented on #141
another thing (maybe as i'm new to jupyter notebooks) is that i'm trying to reset the tutorial .. start over.. remove my edits .. and auto-saved checkpoints .. so I go to the Kernel menu at the top of the page and select 'Restart & Clear Output' as that sounded promising, but it doesn't seem to reset anything - certainly not my edits anyway .. what's the trick to it?  thanks

[2017-04-27 01:19] nishadsingh1 commented on #141
Yeah, I don't think that changes edits. You can go to File -> Revert to Checkpoint -> click the earliest checkpoint.
<img width="594" alt="screen shot 2017-04-26 at 6 17 43 pm" src="https://cloud.githubusercontent.com/assets/6938722/25463697/d63b32ec-2aac-11e7-8084-4825b0c0df1d.png">

[2017-04-27 01:27] miramar-labs commented on #141
unfortunately there doesn't seem to be an earlier checkpoint that _doesn't_ contain my edits .. hmm .. next time i will be sure to checkpoint before I start ...
(as for resetting .. git checkout -- . on the root of the source tree clears the notebooks)

[2017-04-27 04:33] dcrankshaw commented on #141
Fixed by #142

[2017-04-27 04:33] #141 closed, assigned to nobody

[2017-05-02 01:11] AirAI commented on #93
Has this issue been solved yet?  When will the 0.1 alpha be released? We are looking forward to it.

[2017-05-02 01:13] Corey-Zumar commented on #93
Waiting on #134 to be merged. IMO, the change is stable. You can merge the branch associated with #134 into your copy of the repo and start experimenting with the functionality.

[2017-05-05 17:03] geoHeil opened #144 "kubernetes integration"
do you plan to allow for kubernetes integration instead of using docker-compose / swarm?

[2017-05-08 08:17] rmdort commented on #93
Any ETA on when this is going to be merged?

[2017-05-09 19:46] dcrankshaw commented on #93
Just merged. I was out of town traveling for a few days which caused a delay.

[2017-05-09 20:03] dcrankshaw commented on #73
Fixed by the change to JSON outputs in #134

[2017-05-09 20:03] #73 closed, assigned to nobody

[2017-05-09 20:56] #74 closed, assigned to nobody

[2017-05-10 06:30] yubozhao commented on #144
I would love to know the planning for this as well.

I guess, for now we can split up the redis, query_frontend and mgmt_frontend

[2017-05-10 08:57] AirAI opened #148 "pthread_mutex_lock error after deploying two applications"
The clipper works well when it is deployed one application.  When it is deployed two applications ,it also works well for request related to the first deployed application, but it reports the following error for request related to the second deployed application.
`
Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fffc7fff700 (LWP 59250)]
__GI___pthread_mutex_lock (mutex

[2017-05-10 15:23] rmdort opened #149 "Deploy model causes docker container to exit"
To reproduce this

1. Deploy any model with version no as 1
2. Try the `/predict` api to do a simple call
3. Deploy version 2 of the same model
3. Try `/predict`

query_frontend container exits with code 139

[code]

This is the container log before exiting

[code]

Is there any other log i can look at whats happening. I am using the NoopContainer

[2017-05-10 15:52] rmdort commented on #93
I am still not able to send a simple JSON using predict_strings.

The following code
[code]

gives the output

[code]

Am i doing anything wrong here?

[2017-05-10 17:22] dcrankshaw commented on #93
Hmm let me dig into this. I'll report back soon.

[2017-05-11 19:24] dcrankshaw commented on #93
Ahh the problem is how you are formulating the JSON response. The input to the predict function is a list of strings and Clipper expects you to return a list of JSON responses, one for each input. Try this:

[code]

I just added some more explicit type checking in #151 to make this easier to catch.

[2017-05-11 19:24] #93 closed, assigned to nobody

[2017-05-11 20:23] dcrankshaw commented on #149
Confirming that I can reproduce this. I was able to reproduce the error while running under lldb. Attaching the stacktrace here for future reference.

[code]

And the full log:
[code]

[2017-05-12 15:20] rmdort commented on #149
* Containers also die even when a model for a new project is deployed.
* And also when `/predict` is called on the first project

We have also noticed when is a model is being deployed (ie when a docker container is pulled), the output of `/predict` is `default`.  Shouldnt it get the right predictions from the old container?

Actually clipper currently cant handle multiple projects. `/predict` on

[2017-05-12 15:22] dcrankshaw commented on #149
I've found the issue. I'll be submitting a fix in a few minutes.

[2017-05-12 15:32] dcrankshaw commented on #149
Let me pull that statement back a little bit. I've found the problem that causes the query_frontend container to die when a new model is deployed. It may be related to #148 as well (where Clipper can't handle to applications), but I have yet to verify that. I will look into that next.

As far as the problem where Clipper returns default when a new model is deployed but the container hasn't connect

[2017-05-12 15:36] dcrankshaw opened #152 "Clipper returns default predictions when a new version of a model is deployed but not connected"
When a user updates a model version, Clipper is informed that the model version has changed and it immediately starts to query the new version. However, it can take several minutes for the container for that new version to initialize and connect to Clipper. In that intervening period, Clipper attempts to query the latest version, cannot find any containers for that model version, and instead retur

[2017-05-12 15:36] dcrankshaw commented on #149
Filed #152 to track the default predictions issue

[2017-05-12 15:49] dcrankshaw commented on #144
We do plan to enable Kubernetes integration. The clipper_manager script is in serious need of refactoring. The plan is to build a library that abstracts out the container management functionality behind an API. Then we can have an implementation of the interface for Kubernetes, one with plain Docker/Docker-compose, and potentially even other container management tools.

[2017-05-12 15:57] rmdort commented on #149
Thank you for the clarifications. Clearer now :)

[2017-05-12 23:23] #149 closed, assigned to dcrankshaw

[2017-05-13 01:37] rmdort commented on #152
Maybe clipper_manager could have functions to `undeploy` old models. I was thinking, when a new model is successfully deployed, clipper can automatically stop the old containers/models.

Or `undeploy` can also be called manually from the clipper manager

Maybe a few new APIs

1. Undeploy a model
2. Remove application
3. Pause application

[2017-05-13 04:54] rmdort opened #154 "query_frontend - very high CPU usage"
I am on Google cloud platform server (n1-highmem-2 - 2 vCPUs, 13 GB memory) . No apps running

query_frontend is using 200% of the CPU

![image](https://cloud.githubusercontent.com/assets/118231/26022526/7ff6fc1e-37da-11e7-9807-a029716dbffe.png)

Is this normal. Do you need any other logs?

[2017-05-13 05:11] rmdort opened #155 "Restart clipper containers and app containers on server reboot"
Upon server reboot, can we restart

1. Clipper containers - I think this can be by adding `restart:always` to `docker-compose.yaml` file
2. Model containers - If a model is currently active, can we restart the specific containers. Not sure how this can be done.

Can we also move redis storage to a persistent volume in docker-compose. I think i saw a discussion about this on your Jira, but the issu

[2017-05-13 05:42] rmdort opened #156 "Add a content type header in the response"
Clipper returns json without a proper `Content-Type` header.

Can we set it to `application/json`

[2017-05-14 23:39] AirAI commented on #148
Has the problem been solved yet?

[2017-05-15 20:56] Corey-Zumar opened #158 "Return default prediction explanation in query frontend response JSON"
We should return a user-readable explanation in the event that Clipper returns a JSON response containing the default prediction (i.e "no active containers available" when no container is available to field the query)

[2017-05-17 06:50] dcrankshaw commented on #148
It's in progress. I'm pretty sure that #157 + #149 fixes this.

[2017-05-17 06:53] dcrankshaw commented on #154
Yeah this is a known issue. We have a few busy waits in the codebase that we're in the process of getting rid of. Clipper should get a little more efficient in the next few weeks.

[2017-05-17 06:54] dcrankshaw commented on #154
#157 should help with this substantially

[2017-05-17 21:52] nishadsingh1 opened #159 "Reduce time until container is ready to serve predictions"
It now takes ~10 minutes to get a container up and running, ready to serve predictions. We should improve that.

[2017-05-18 23:40] #148 closed, assigned to nobody

[2017-05-19 00:38] rmdort commented on #154
Thank you. I just tested with #157 and the CPU usage hasn't come down. This issue still persists

[2017-05-19 02:29] dcrankshaw commented on #154
Yeah you're right. We removed some but not all the busy waits. #162 takes care of the rest, at least while Clipper is idle.

[2017-05-19 23:03] #154 closed, assigned to nobody

[2017-05-20 01:28] daijidj opened #167 "Error when tried run the clipper"
Hi, I ran into two issues when tried the clipper project:

1. when run the "pip install -r requirements.txt" , the error occur:

Traceback (most recent call last):
  File "/Library/Python/2.7/site-packages/pip-9.0.1-py2.7.egg/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/Library/Python/2.7/site-packages/pip-9.0.1-py2.7.egg/pip/commands/install.py", line 342,

[2017-05-20 03:52] dcrankshaw commented on #155
Fixed by #161

[2017-05-20 04:07] dcrankshaw commented on #167
The first error appears to be a permissions issue when trying to do `pip install`. You can try doing `sudo pip install`. Alternatively, we recommend using [Anaconda](https://www.continuum.io/downloads) for your Python installation, which should avoid any permissions issues.

For the second error, can you post the output of `docker ps -a` and the output of `docker logs clipper_mgmt_frontend_1`? For

[2017-05-20 04:22] #156 closed, assigned to Corey-Zumar

[2017-05-20 05:24] rmdort opened #169 "stop_all only removes clipper/management_frontend"
`clipper.stop_all()` only removes management_frontend container. It should remove all clipper containers.

[2017-05-20 05:28] rmdort opened #170 "mkdir permission denied issue"
I am getting the following error when deploying models

[code]

How to replicate
* Start clipper
* Deploy a model
* `sudo reboot` the server
* Deploy a new model

[2017-05-20 05:30] dcrankshaw commented on #169
Yeah this was a temporary regression. Fixed in #168.

[2017-05-20 05:30] #169 closed, assigned to nobody

[2017-05-20 05:33] dcrankshaw commented on #170
So Clipper needs to serialize some data somewhere to deploy a model. Right now we create a fresh directory in `/tmp` to deploy the model. Can you modify the permissions on /tmp so it's writable by by the user running deploy_model?

[2017-05-20 05:41] #170 closed, assigned to nobody

[2017-05-20 09:09] rmdort commented on #155
Something is not working right. The redis path is not persisted after reboot.

Scenario
1. Run clipper
2. Register an application and deploy a model
3. Hard reboot server
4. Clipper containers are relaunched automatically

`clipper.get_all_apps()` shows zero applications

Is this anything to do with `redis_persistence_path` ? I am connecting to clipper using the below command

[code]

[2017-05-20 16:17] dcrankshaw commented on #155
@rmdort Can you verify that `/tmp/clipper_redis_data` still exists when you reboot the server? Often, `/tmp` gets cleared on reboot, so you may want to use a different path to persist the data.

[2017-05-20 16:19] dcrankshaw opened #172 "Allow redis_persistence_path to read from an existing Redis snapshot"
I just realized that forcing `redis_persistence_path` to not already exist will be problematic if you want to restart the Redis container and have it read from an existing Redis snapshot.

@Corey-Zumar Can you check if you can replicate the Docker container issue I was having when setting `redis_persistence_path` to `/tmp`?

[2017-05-20 20:30] Corey-Zumar commented on #172
@dcrankshaw Confirmed that I can reproduce this behavior when setting the path to `/tmp`

[2017-05-21 04:53] rmdort commented on #155
Yes it does get removed. I have tried setting redis_persistence_path to `/data/clipper_redis_data` . But on reboot, redis doesn't read from this path.

[2017-05-22 23:43] dcrankshaw opened #175 "Make clipper_manager use version tag not latest versions of Docker containers"
In clipper_manager, all the Docker containers use the `latest` tag when they should be used the `0.1` tag.

[2017-05-23 00:17] rmdort opened #176 "Unloading old models"
When a new model is deployed, can clipper unload previous versions of that model ?

We deploy at least 10 versions of a model a day. All the old docker containers hogs the machine. Right now we manually stop the old ones. Is it possible to have an API to undeploy?

[2017-05-23 02:40] AirAI opened #177 "No selection state found for query with user_id: 1"
when I send a query request with "uid=0"to the PREDICT port of the registered application, it works well. But if i assign uid with 1 or other value(i.e, uid=1, or uid=2), it reports the following error. What is the variable uid used for?
No selection state found for query with user_id: 1

Codes are similar to the cifar_utils.py in L122
uid=1
url = "http://%s:1337/%s/predict" % (host, app)
json = j

[2017-05-23 19:14] dcrankshaw opened #179 "Clipper_manager does not support sudo in local mode"
Clipper manager should support running Docker commands that require sudo in both local and remote mode. It currently only supports this in remote mode. The relevant code is [here](https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_manager.py#L228-L229) and was written this way because Fabric doesn't support running local commands with sudo. We should fix this, but for now one wo

[2017-05-24 08:41] nishadsingh1 opened #181 "Model-container implementation documentation"
We should have some documentation on the how to implement a model-container

[2017-05-26 20:46] dcrankshaw opened #184 "Remove uid from prediction queries until personalization is supported"
Currently, users must supply a uid as part of the prediction request body but it is never used and must always be 0. We should remove the uid field entirely. The simplest way to do this is to just stop checking for `uid` when we parse the prediction request JSON and hardcode the uid as 0.

Replace [this line](https://github.com/ucbrise/clipper/blob/dd7b42185bc974b42cf104c2503f206477001bcb/src/fron

[2017-05-26 20:47] dcrankshaw commented on #177
Apologies for the confusion. The user ID currently must be 0. I just filed #184 to remove it from the prediction request object until personalization is supported.

[2017-05-26 20:47] #177 closed, assigned to nobody

[2017-05-27 18:24] dcrankshaw commented on #181
We don't need both an issue and pull request. #182 is sufficient.

[2017-05-27 18:24] #181 closed, assigned to nobody

[2017-05-27 18:24] dcrankshaw commented on #167
@daijidj Any progress on this?

[2017-05-27 18:30] dcrankshaw commented on #176
This is definitely an important feature. The big blocker here is what should be removing the containers. We would like `query_frontend` and `management_frontend` containers to be independent of any particular underlying model container technology. E.g. Clipper should not need to care whether a model container is running in Docker, on bare metal, etc.

How do you envision this working? Would you li

[2017-05-27 18:46] rmdort commented on #176
Yes thats right. I am currently handling in `clipper_manager`. I label each container with `model_name` and remove old ones when new model is deployed.

https://github.com/rmdort/clipper/blob/ola/clipper_admin/clipper_manager.py#L866

[2017-05-27 18:49] dcrankshaw commented on #176
Cool. I actually just learned about Docker labels recently and this seems like a good intermediate solution to the problem. I'll put together a PR to address this soon.

[2017-05-31 05:34] #179 closed, assigned to nobody

[2017-06-01 03:31] jegonzal opened #188 "Confusing parts of Clipper Manager API"
The following are a list of peculiarities I found in the python admin API:

- [x] The `clipper_admin` python module contains the `clipper_manager`.  Is the second _clipper_ needed?
- [ ] The `register_application` function takes a `model` argument but must the model exist?  It seems (from the demo) that the model does not need to be present when registering it in an application.  This should proba

[2017-06-01 19:56] dcrankshaw opened #190 "Support deploy_predict_function running outside Anaconda"
If you call `deploy_predict_function` running outside of an Anaconda environment, we should still serialize the function and try to run it in the python container. Basically, we should wrap [this block](https://github.com/ucbrise/clipper/blob/4e893ddd107d5319a1cf41c699bcbcffb0ae2197/clipper_admin/clipper_manager.py#L679-L693) in an if-statement that saves and checks the anaconda environment if pre

[2017-06-02 07:54] dcrankshaw opened #191 "Allow model versions to be strings"
There's no real reason to enforce that model versions be numeric. We should allow them to be strings, which for example would allow versions to be SHAs (e.g. git hashes).

[2017-06-02 15:18] #158 closed, assigned to Corey-Zumar

[2017-06-02 20:50] nishadsingh1 commented on #159
Addressed in https://github.com/ucbrise/clipper/pull/160

[2017-06-02 20:50] #159 closed, assigned to nobody

[2017-06-03 18:50] #190 closed, assigned to nishadsingh1

[2017-06-03 21:24] dcrankshaw commented on #175
It turns out this is actually fairly complicated to support with the way versioning interacts with our tests right now.

[2017-06-03 21:24] #175 closed, assigned to dcrankshaw

[2017-06-04 18:19] feynmanliang opened #198 "Use SemVer for model versioning"
Model version is current stored as an `int` (see https://github.com/ucbrise/clipper/blob/develop/src/libclipper/include/clipper/datatypes.hpp#L14 and https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_manager.py#L453) which makes it difficult to distinguish whether a version bump is a bug-fix or feature and whether it's is backwards compatible.

[SemVer](http://semver.org) could

[2017-06-04 19:39] feynmanliang opened #199 "Deploying model from s3 fails for clipper running inside non-Debian distros"
https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_manager.py#L513 requires `dpkg-query`, a tool only available in Debian-based linux distros. As a result, dockerized deployments of clipper require the use of a ubuntu/debian base and lighter-weight container distros (e.g. alpine) cannot be used. This definitely impacts container image size and may also introduce performance over

[2017-06-04 20:11] feynmanliang opened #200 "Volume mounting host paths into docker containers precludes distributed deployment of models"
To deploy a model, clipper currently:

* On the client running `clipper_manager`, serializes the prediction function to disk (https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_manager.py#L666) and copies the pickled function to the clipper host (https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_manager.py#L539) at a magical `/tmp/{model_repo}/{name}/{version

[2017-06-04 20:16] feynmanliang commented on #198
Relates to #197 #191

[2017-06-04 23:47] dcrankshaw commented on #198
#197 should be sufficient to support semantic versioning if the user wants. I don't want to enforce a particular versioning scheme because different uses cases will have different versioning requirements. I'm pretty sure that there are use cases where semantic versioning of models doesn't make sense.

[2017-06-04 23:47] #198 closed, assigned to nobody

[2017-06-04 23:58] dcrankshaw commented on #199
That bit of code is legacy that I actually ripped out in #196 until we can support it better. However, note that that code does not actually run inside Clipper docker containers, but is instead used to pull model data to the local file system which a Clipper model container can then read. The right way to address this is to let model containers read model data from non-local paths. This is technic

[2017-06-05 00:00] dcrankshaw commented on #199
Ahh, and I now see that you identified this point in #200!

[2017-06-05 02:16] #176 closed, assigned to dcrankshaw

[2017-06-05 02:16] #184 closed, assigned to dcrankshaw

[2017-06-05 02:36] dcrankshaw opened #201 "Unify integration testing infrastructure"
We currently have several integration tests under `integration-tests/` with some redundant functionality and using a variety of testing frameworks (unittest, manual checking, etc). These should be unified into a single integration test suite.

[2017-06-08 16:44] hrishikeshvganu commented on #167
I have a similar problem. When I issue:
` clipper.get_all_containers()` I get:

[code]

 @dcrankshaw: the logs you asked for are here:

[code]

[2017-06-08 17:47] hrishikeshvganu commented on #167
I had some old docker images for clipper frontend, backend and they were being used. When I deleted them and created the Clipper management class object everything worked fine. Seems to be incompatibility between clipper_admin and old docker images

[2017-06-08 17:51] dcrankshaw commented on #167
Great. Glad you figured that out. I'm surprised that Docker didn't take care of that for you. Usually the Docker daemon will check to see if there is a newer version of the image (since we tag the images with "latest") and pull that down if so.

[2017-06-08 17:51] #167 closed, assigned to nobody

[2017-06-08 20:49] #199 closed, assigned to nobody

[2017-06-08 22:54] dcrankshaw opened #207 "Save module dependencies when serializing Python closures"
Deploying Python closures to Clipper will break when the user is using multi-module Python programs and tries to capture functions defined in other modules (that are defined locally, not as part of installed pip packages). We should port PyWren's [module dependency code](https://github.com/pywren/pywren/blob/master/pywren/serialize/module_dependency.py) to Clipper to automatically capture included

[2017-06-08 22:57] dcrankshaw opened #208 "deploy_model with an empty label list causes an error"
If you supply `deploy_model` with an argument `labels` that's an empty list, `add_container` gets an index out of bounds exception when iterating through the result of the redis query given by:
`redis-cli -h {host} -p 6379 -n {db} hgetall {key}`.

[2017-06-09 15:50] rmdort opened #209 "Remove inactive container Error 64"
Getting this error when `remove_inactive_containers` is called
[code]

[2017-06-09 16:27] dcrankshaw commented on #209
Shoot. This is a fabric quoting issue. Looking into it now.

[2017-06-12 18:04] #209 closed, assigned to nobody

[2017-06-12 22:12] dcrankshaw opened #212 "add a cache eviction policy"
Currently the prediction cache in Clipper can grow without bound. This is basically a memory leak an we should implement cache eviction. This involves determining how to safely delete cache entries.

[2017-06-16 21:21] Corey-Zumar opened #216 "Support Redis persistence with docker volumes and Kubernetes integration"
Currently, redis only persists to a local file system path, which is not a very robust deployment strategy. Instead, we should use docker volumes and ensure that redis can be restarted within a kubernetes cluster. We're currently investigating the best way to achieve this.

[2017-06-16 21:32] dcrankshaw commented on #114
Decided that this is a bad idea

[2017-06-16 21:32] #114 closed, assigned to nobody

[2017-06-16 21:38] dcrankshaw opened #217 "Remove dependency on system clang-format for consistent formatting across dev environments"
Our `./bin/check_format.sh` script uses the system-installed clang-format version which seems to have varying behavior across versions. This makes it really hard for developers to ensure that their code will pass the CI format checks. Instead, the formatting and format check scripts should download a consistent clang-format version and not use the one installed by the system.

[2017-06-16 21:39] dcrankshaw commented on #138
This is still a relevant issue. As we refactor the Clipper admin to make it more modular and add support for Kubernetes, we will remove the dependency on fabric which is not Python 3 compatible.

[2017-06-16 21:41] dcrankshaw commented on #144
Progress on this has begun with #206

[2017-06-16 21:42] dcrankshaw commented on #155
The outstanding issue here is a Redis related issue that is a duplicate of #216. Closing.

[2017-06-16 21:42] #155 closed, assigned to Corey-Zumar

[2017-06-16 21:43] dcrankshaw commented on #172
Duplicate of #216

[2017-06-16 21:43] #172 closed, assigned to nobody

[2017-06-16 21:56] dcrankshaw opened #218 "Refactor model and application registration and linking"
There is some confusion and some limitations around the way that models and applications are registered with Clipper.

- [x] Currently applications specify the name of the model that they will query. This is a little bit awkward and requires the developer registering the application to know the name of the model, even if it hasn't been registered yet. Instead, one proposal is to register model and

[2017-06-16 21:58] dcrankshaw commented on #188
The remaining confusing parts can be tracked in #218

[2017-06-16 21:58] #188 closed, assigned to dcrankshaw

[2017-06-16 22:13] dcrankshaw opened #219 "Write a persistent storage backend design doc"
We should document all of our Redis table schemas and uses

[2017-06-16 22:20] dcrankshaw opened #220 "Add Apache License headers to each source file"

[2017-06-16 22:36] dcrankshaw opened #221 "Add file names and line numbers to logging messages"
Right now you have to grep log messages to see where they are coming from. It would be nice to have line numbers and file names printed as part of each logging message to help with debugging.

[2017-06-19 16:58] dcrankshaw opened #222 "Fix task latency measurement for better batching behavior"
While benchmarking (#204) Clipper, @nishadsingh1 discovered that the latency measurements used to estimate container throughput and therefore batch size include the time a task spends in the model queue waiting to be executed. As a result, we underestimate batch sizes as the queues start to fill up.

@nishadsingh1, you have a fix for this right?

[2017-06-19 18:00] nishadsingh1 commented on #222
Yep, it's demonstrated here: https://github.com/ucbrise/clipper/pull/204/files#diff-b833f65e61cd8ad63fd6e579acbb3096R459.
I'll get a PR up with the fix + other general benchmarking refactoring when #191 is merged in to avoid a rebase

[2017-06-20 01:52] dcrankshaw opened #224 "On macOS query always returns the default prediction"
This behavior has only been observed on macOS, so I think it's likely that the problem has to do with the way Clang compiles Boost on macs.

Steps to reproduce
1. Start Clipper
2. Register an application with type doubles and default output X and very large latency SLO.
3. Register an external model matching the name specified when registering the application
4. Connect the model to Clipper (I use

[2017-06-20 02:10] rmdort commented on #224
I have also observed that the very first prediction request after a model is deployed always returns the default response. We are running clipper on ubuntu. Not sure if this is the same issue?

[2017-06-20 19:14] #191 closed, assigned to nishadsingh1

[2017-06-21 22:41] nishadsingh1 commented on #218
https://github.com/nishadsingh1/clipper/tree/links is a WIP branch that will address the first checkbox in this issue

[2017-06-23 22:11] dcrankshaw commented on #222
This will be fixed by #225

[2017-06-23 22:30] dcrankshaw opened #227 "Histogram metric computes 1,5,15 min rates incorrectly"
There is a bug in the way the the `metrics::Histogram` computes the running rates. For example, with a steady workload of ~850 qps, the histogram reports the following rates:

[code]

[2017-06-24 00:27] Corey-Zumar commented on #227
PR out for a fix: https://github.com/ucbrise/clipper/pull/228

[2017-06-24 03:43] #227 closed, assigned to Corey-Zumar

[2017-06-24 04:03] rmdort opened #229 "Update clipper python plugin"
@dcrankshaw can you update clipper python plugin to the latest master branch?

[2017-06-24 04:08] dcrankshaw commented on #229
I will create a new patch release and update the clipper python package on pypi this weekend. In the meantime, you can install the pip package locally by cloning the Clipper repo and running the following command

[code]

See the [pip docs](https://pip.pypa.io/en/stable/reference/pip_install/#editable-installs) for details.

[2017-06-27 05:36] bigdata2 opened #230 "Error publishing model: Error parsing JSON: Type mismatch!"
I installed clipper_admin using pip install.

I got the following error when I ran the quick start example mentioned in the README:

Anaconda environment found. Verifying packages.
Fetching package metadata .........
Solving package specifications: .

Supplied environment details
Serialized and supplied predict function
model_data_path is: /tmp/predict_serializations/feature_sum_model
Error publis

[2017-06-27 05:54] Corey-Zumar opened #231 "Clipper RPC Layer fails to fully process content messages under certain conditions"
In the case that a container content (prediction response) message is received by Clipper for an unrecognized container, the message is never fully read from the socket. Subsequent messages are then corrupted when unread fields from the partially-read content message are mistakenly polled from the socket later on. This may occur when Clipper restarts after issuing a high-latency prediction request

[2017-06-27 07:45] nishadsingh1 commented on #230
Thanks for letting us know! @dcrankshaw, I think we pushed a new version of the management frontend but haven't updated the pip package to reflect the changes to the management library -- does that sound right?

[2017-06-27 09:02] raopku opened #233 "Does clipper support keras models now?"

[2017-06-27 15:50] #231 closed, assigned to Corey-Zumar

[2017-06-27 15:56] dcrankshaw commented on #230
No the pip package has been updated since then. Try pulling the latest versions of the Docker containers.

[code]

[2017-06-27 15:57] dcrankshaw commented on #230
Ahh apologies, I misread your error. That's a typo in the README. We changed

[code]

[2017-06-27 15:59] dcrankshaw commented on #230
(Deleted my previous comments. That's what I get for responding to issues before drinking my first cup of coffee). @nishadsingh1 is correct. I'll put out a new release today. The salient change is that model versions can now be strings.

[2017-06-27 16:29] dcrankshaw commented on #230
The new release is out. Run `pip install -U clipper_admin` to upgrade.

[2017-06-27 16:29] #230 closed, assigned to nobody

[2017-06-27 16:30] dcrankshaw commented on #229
New release is out. Run `pip install -U clipper_admin` to upgrade.

[2017-06-27 16:30] #229 closed, assigned to nobody

[2017-06-28 10:55] rmdort opened #235 "Cannot start clipper after update"
Locally when i run `clipper.start()`, it gives an error

[code]

[2017-06-28 15:51] dcrankshaw commented on #235
I'm unable to reproduce this locally. It looks like it might be a problem with out of date Docker containers. Specifically, it looks like docker-compose may be trying to find a Docker container that has been updated. Try deleting the docker-compose.yml file in this directory and running `Clipper.start()` again. If that does not solve the problem, I would try deleting all of the Clipper Docker imag

[2017-06-28 15:51] #235 closed, assigned to nobody

[2017-06-29 19:40] dcrankshaw opened #238 "Implement a high-performance RPC Query frontend"
The current query frontend accepts predictions requests with a REST-like interface using HTTP+JSON. This has the benefit of being easy to use and widely supported, but comes at a performance cost.

The biggest current question is what RPC system to use. Whichever system we use must be able to sustain hundreds of queries per second.

Do we want to write our own RPC client and distribute a single cl

[2017-06-29 22:54] smrtslckr commented on #233
I would also be interested in this functionality.

[2017-06-30 01:38] rmdort commented on #233
Yes it does. TF and Keras are supported out of the box. Since its based on docker containers, Any python based ML models are supported AFAIK. Even support for R and Spark models are being added.

I have been running Keras models in production using clipper for around 2 months now

[2017-06-30 02:18] smrtslckr opened #239 "E2E Encryption Configuration for Clipper Services"
What would be the best way to configure E2E encryption for clipper services?  I currently utilize AWS Elastic Container Service and Elastic Beanstalk with Docker Containers which allow easy configuration of the correct E2E encryption options for my APIs.

[2017-06-30 03:59] dcrankshaw opened #240 "Out of the box support for deploying TensorFlow models"
Support deploying TensorFlow models directly from the `clipper_admin` tool, similarly to the way we support deploying PySpark models directly by calling `Clipper.deploy_pyspark_model`.

[2017-06-30 04:01] dcrankshaw commented on #239
Can you expand on your use case a little bit? You can send encrypted inputs to Clipper for prediction, and decrypt them only in your deployed model containers when they need to make predictions.

[2017-06-30 04:02] dcrankshaw opened #241 "Out of the box support for deploying Keras models"
As requested in #233

[2017-06-30 04:21] dcrankshaw opened #242 "First class support for deploying R models"
**Motivation:** Currently, Clipper supports model containers written in Python and Java/Scala. #195 extended the Python model container implementation to deploy R models and call them from Python containers. But this is pretty burdensome for developers and adds an unnecessary layer of indirection.

**Feature:** Clipper should support model containers directly implemented in R and out of the box su

[2017-06-30 05:11] dcrankshaw opened #244 "Pin Docker image version dependencies to specific releases"
Fix how Docker files depend on each other (for example, all of the model container Docker files are built with `FROM clipper/py-rpc:latest`, but really the 0.1 containers should be built from the 0.1 RPC base image, etc).

We should also fix which Docker image version the `clipper_admin` library uses, so that the 0.2.x releases use the 0.2 versions of the Docker images, but the version on develop

[2017-06-30 16:35] smrtslckr commented on #239
@dcrankshaw Certainly, thank you for inquiring.  I meant what would be the best way to specify TLS protocols and ciphers for setting up E2E encryption for a Clipper service for example?  My apologies since I have limited ops experience but in the AWS elastic beanstalk case you can use ebextensions files to configure these settings.

[2017-06-30 20:33] dcrankshaw commented on #212
Using a clock cache eviction policy is probably the best balance of simplicity and efficiency.

[2017-07-05 09:24] rmdort opened #245 "Error when using predict (Connection aborted)"
We are getting this error occasionally with clipper when using `/predict`

We are sending around 50 prediction requests to clipper (not parallel)

[code]
Logs doesnt show anything. What might be the cause?

[2017-07-05 16:23] dcrankshaw commented on #245
@Corey-Zumar can you look into this?

[2017-07-05 16:28] dcrankshaw commented on #239
This is somewhat orthogonal to Clipper's core functionality. I would imagine that you would do it in a similar way as for a web server or other REST service, but unfortunately I can't provide any more specific guidance.

[2017-07-05 16:28] #239 closed, assigned to nobody

[2017-07-05 17:57] Corey-Zumar commented on #245
@rmdort Can you provide some information about the latency SLO of your application and approximate input size?

[2017-07-05 19:38] Corey-Zumar commented on #245
@dcrankshaw The issue seems to be that we fail to handle exceptions occurring within the context of the future returned by `decode_and_handle_predict()` within the query frontend. As a result, no HTTP response is returned and the connection eventually times out. [httplib](https://docs.python.org/2/library/httplib.html) then throws the insufficiently descriptive connection aborted error for Python

[2017-07-05 23:00] Corey-Zumar commented on #245
@rmdort After #246 is merged, try replicating the error again and monitor Clipper's logs. Let me know if you see one of the following log messages:
[code]
or
[code]

[2017-07-06 16:46] rmdort commented on #245
ok noted. Latency is set to 320ms. We are facing another issue where query_frontend fails to find the model.

[code]

This is happening atleast once a day now. We had to re-deploy the model to fix it.

[2017-07-06 20:48] Corey-Zumar commented on #245
@rmdort #246 was merged. Please let me know what kind of log output you're encountering. Will look into the Redis issue

[2017-07-10 15:41] #222 closed, assigned to nishadsingh1

[2017-07-10 22:35] dcrankshaw commented on #218
Fixed by #226

[2017-07-10 22:35] #218 closed, assigned to nishadsingh1

[2017-07-13 05:47] #207 closed, assigned to nishadsingh1

[2017-07-19 17:09] morde08 opened #255 "Feature Request: Allow for multiple input types for one model"
Would make it so that when inputs are sent to model for prediction you can have different types of inputs in the data.

[2017-07-20 23:37] rlnsanz opened #256 "Update ReadMe and Documentation"
The `register_application` method of Clipper has been updated to take 5 arguments, but the GitHub ReadMe, and Clipper API documentation only mention 4 arguments.

[2017-07-21 16:33] dcrankshaw commented on #256
Ahh good catch. It's actually the other way around: the old version took 5 arguments and we updated it. I did two things to address this:

1. I added a note to the README in #257 to clarify that the quickstart in the readme corresponds to the API version in that commit, not necessarily the released version.
2. I fixed the default documentation branch on readthedocs so that <http://docs.clipper.ai>

[2017-07-21 16:33] #256 closed, assigned to nobody

[2017-07-23 05:48] geoHeil opened #258 "manually edit docker container"
How can I manually edit the docker container to include some custom packages not found on conda?

[2017-07-25 05:18] rmdort commented on #245
BadStatusLine error seems to be fixed.

But i am getting errors `No connected models` when using `predict`. This happens very very often. Why does the app disconnect from the model?

I always have to re-deploy the model to get it running again.

Any logs i should look at?

[2017-07-26 07:01] rmdort opened #259 "Clipper manager and local redis-cli"
Clipper manager assumes that user has `redis-cli` installed on his computer

https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_manager.py#L1321

Can this be changed to an API call to management front-end ?

[2017-07-28 02:30] dcrankshaw commented on #259
Yeah great idea. Reviewing #260 now.

[2017-07-28 02:44] dcrankshaw opened #262 "Update the clipper-spark package to support new clipper_admin impl"
We are changing slightly how models are built and deployed to Clipper. The [clipper-spark](https://github.com/ucbrise/clipper/blob/develop/containers/jvm/clipper-spark/src/main/scala/ai/clipper/spark/Clipper.scala) package provides an implementation of the `deploy_model` method from clipper_admin in Scala. This needs to be updated to reflect the new clipper_admin implementation that will be introd

[2017-07-28 16:22] #259 closed, assigned to nobody

[2017-07-28 18:10] Corey-Zumar commented on #245
@rmdort Can you send log output for a container that disconnects in the way you describe? Full log output from the query frontend would also be very helpful.

[2017-07-30 01:28] qingzma opened #263 "Docker python container is destroyed immediately after its creation"
I define a function(called _deploy_linear_regression()_ ) in a self-defined python module to deploy python regression models.

If I call this function within the module, everything works fine.
However, if I dont call this function within the module, but import this python module in jupyter notebook and call this function, say, _module_name.deploy_linear_regression()_, then the python docker contai

[2017-07-31 17:48] qingzma commented on #263
I think I have figured out what is going wrong.

 it is a personal code mistake when trying to build my own prediction model, which leads to the destruction of the python container immediately after its construction.

However,  there is no warning to give that hint, but saying the model is deployed successfully!
And if you call _clipper.get_linked_models()_  in jupyter notebook, you can still get

[2017-07-31 18:02] rmdort commented on #245
Sorry for the late reply. The containers are always running, but clipper response says `No connected models...`

Actually we have migrated from clipper to kubernetes. We were getting really low concurrent connections (only 15) with clipper. And every now and often clipper disconnects from the model and complains `No connected models` which has caused us a lot of problems in production.

Thanks for

[2017-08-01 01:08] Corey-Zumar commented on #245
No problem! Can you upload log output from the `clipper/query_frontend` container when this issue occurs, as well as log output from the container that clipper can't find? It would help a lot with the debugging process.

[2017-08-01 06:47] rmdort commented on #245
This is from docker log

Right before it got disconnected from the model

[code]

Re-deploy
[code]

If there is any other log file i need to look at, let me know

[2017-08-01 08:54] Corey-Zumar commented on #245
Do you have log files for the container with name `596f7a9af983421bdd3632e2-staging` and version `1500482753` ?

[2017-08-02 03:15] #244 closed, assigned to dcrankshaw

[2017-08-02 06:46] bigdata2 opened #265 "Docker container exits due to errors after clipper.deploy_predict_function"
I have a very simple tensorflow model that I am trying to deploy using the following command:
clipper.deploy_predict_function("mnist_model", 3, mnist_score, "doubles")

However, the model fails to deploy and the docker log for the container has a few errors. Is there something else I need to do to deploy this function?

My model and docker log are copied below.

**Model**:

[code]
**Docker Log**:

[2017-08-02 07:57] Corey-Zumar commented on #265
This is an undocumented limitation of `deploy_predict_function`. The system commands issued by [clipper_manager.py](clipper_manager.py) refer to `docker` rather than `nvidia-docker`, preventing proper resolution of gpu dependencies like the cuda libraries. For this use case, try modifying `add_container_cmd` on line 1329 of [clipper_manager.py](clipper_manager.py) so that it executes `nvidia-docke

[2017-08-03 16:56] zerowgravity commented on #224
Not sure if this is MacOS specific, but when deploying the predict_function an empty set is returned from redis.

[code]

[2017-08-03 18:12] bigdata2 commented on #265
@Corey-Zumar : I have changed my environment to use tensorflow with no GPU, I will revisit nvidia-docker later. I still have a question -- how do I deploy a trained model like the one shown in my original question the same way cifar10 example was deployed? Specifically, I want tf_session to be initialized in a class so that I do not recreate graph for each inference and would like to see my predic

[2017-08-03 18:31] Corey-Zumar commented on #265
You'll want to use `clipper_manager.deploy_model` rather than `deploy_predict_function`. You will also need to [export your tensorflow model as a meta graph](https://www.tensorflow.org/programmers_guide/meta_graph). Then, write a python container that loads the meta graph and serves the model - this can be done with very limited modifications to [tf_cifar_container.py](tf_cifar_container.py). Once

[2017-08-03 18:38] Corey-Zumar commented on #263
@qingzma Clipper does not currently prune its connected container registry, so that explains why you still see the ID for the crashed container. However, performance is unaffected: Clipper will not attempt to query a container that is no longer connected.

[2017-08-03 18:38] #263 closed, assigned to nobody

[2017-08-05 03:38] bigdata2 commented on #265
A few comments from my experiment of porting my model to the docker container:
- Update version of clipper/py-rpc to latest in clipper/TensorFlowCifarDockerfile, there is no 0.2-rc1 version available in Docker hub.
- Update Tensorflow from 1.0 to 1.2.
- Tensorflow Saver class now creates more than two files after saving the model, i.e. it also creates a protocol buffer file and an index file. The

[2017-08-05 09:58] Corey-Zumar commented on #265
@bigdata2 Thanks for documenting the process and providing feedback. We'll take your notes into consideration and address our current issues / shortcomings with Tensorflow deployment. Did everything work out after the modifications you described?

[2017-08-05 10:06] bigdata2 commented on #265
@Corey-Zumar Yes, it worked. But it was somewhat difficult to debug because if there is an issue with the model, the REST API returns the default value with a comment on the lines that it is returning default value because SLO value exceeded. An insight into why SLO value exceeded would be helpful both for debugging and runtime monitoring. At any rate, it is a good start towards a user friendly de

[2017-08-05 10:08] Corey-Zumar commented on #265
Got it - I absolutely agree. I'll explore strategies for improving the clarity of our default output explanations.

[2017-08-13 17:50] gsvijayraajaa opened #267 "Docker Cloud and DCOS Integration"
HI,

Any thoughts about container deployment in docker cloud and DCOS ( mesosphere ) environment?

Regards,
Vijay Raajaa GS

[2017-08-15 15:07] mdagost opened #269 "Quickstart broken with newest conda"
It looks like there's a problem with the Quickstart instructions [here](http://clipper.ai/overview/quickstart/).  It's during the anaconda environment bundling:

[code]

Here are my versions of python and conda:

[code]

I think the problem is that there were recent changes to `ResolvePackageNotFound`:

https://github.com/conda/conda/blob/master/conda/exceptions.py#L31-L36

Here's the full output:

[2017-08-16 17:44] dcrankshaw commented on #269
Thanks for bringing this to our attention (and for digging into the cause!). We'll look into this ASAP.

[2017-08-16 17:48] dcrankshaw commented on #265
@bigdata2 Thanks for bringing this to our attention. Debugging exactly what is going on in the model containers is definitely harder than it should be. We've noted this and making model containers easier to debug is on our roadmap.

[2017-08-16 17:48] #265 closed, assigned to nobody

[2017-08-16 17:54] dcrankshaw commented on #267
This is an interesting point. We're currently in the middle of a big refactor of the Clipper manager client library (tracked in #251). As part of the refactor, we factored out the container management functionality into a `ContainerManager` interface (https://github.com/ucbrise/clipper/pull/251/files#diff-76b8c1c1fd409044dbbbabcb22c95d19), with different implementations of that interface for diffe

[2017-08-16 17:57] #233 closed, assigned to nobody

[2017-08-17 01:40] raopku opened #270 "About the Feature of Easily update or add models to running applications"
Is the code below supported by clipper?
[code]

does it support frequently update running model?

[2017-08-17 06:51] gsvijayraajaa commented on #267
Sure. Looking forward to the update.

Regards,
Vijay Raajaa G S

[2017-08-18 22:45] mdagost commented on #269
Thanks!  A bit more info.  I rolled back to conda `4.3.21`, and I don't get that error anymore.  It becomes

[code]

However, now it fails with

[code]

Do I need to have local redis installed?  Didn't see that in the Quickstart.

[2017-08-21 16:35] dcrankshaw commented on #270
The above code snippet looks like it should work. However, there is a non-trivial overhead in deploying a new model, and it will take each new model container at least a few seconds to start up. Part of this overhead is starting a new Docker container.

[2017-08-21 19:16] mdagost commented on #269
For posterity, for anyone who comes after me, I had to do 2 things to get the Quickstart instructions to work.  I had to `brew install redis` on a Mac to get a local `redis-cli`, and I had to change the imports to

[code]

[2017-08-25 17:10] #224 closed, assigned to nobody

[2017-08-25 20:13] dcrankshaw commented on #270
The question has been answered. Closing.

[2017-08-25 20:13] #270 closed, assigned to nobody

[2017-08-29 06:46] #212 closed, assigned to Corey-Zumar

[2017-08-31 17:18] dcrankshaw opened #275 "Move DockerHub automated builds to be built by Jenkins"
Currently, all of our public Docker images are built using Docker Hub automated builds. However, the automated builds are fairly restrictive and hard to work with. We should switch to building the images with Jenkins as a post-commit hook on `develop` and each release branch and just directly pushing to Docker hub.

cc @shaneknapp

[2017-08-31 17:20] dcrankshaw opened #276 "Fix Kubernetes test"
The kubernetes test requires a kube config that needs to be created and added to the test. In addition, this requires the `KubernetesContainerManager` constructor to take an optional config argument.

[2017-08-31 19:00] dcrankshaw opened #277 "Latest Clipper documentation on ReadTheDocs is missing the actual API docs"
For some reason, all of the documentation in `index.rst` is building fine, but the links to the autodoc methods are all missing.

[2017-09-01 08:06] #208 closed, assigned to nobody

[2017-09-01 17:16] dcrankshaw opened #281 "PySpark tests are flaky"
Our PySpark tests are really flaky due to a Spark bug. I think it's due to [SPARK-18406](https://issues.apache.org/jira/browse/SPARK-18406) which was patched in 2.1.1 while our tests currently run on Spark 2.1.1.

They fail with the following stack trace ([example](https://amplab.cs.berkeley.edu/jenkins/job/Clipper/2842/console):

[code]

[2017-09-02 00:18] #281 closed, assigned to dcrankshaw

[2017-09-02 05:50] #277 closed, assigned to dcrankshaw

[2017-09-02 06:35] dcrankshaw commented on #216
Fixed by #251

[2017-09-02 06:35] #216 closed, assigned to dcrankshaw

[2017-09-02 06:36] dcrankshaw commented on #144
Support for Kubernetes added in #251

[2017-09-02 06:36] #144 closed, assigned to dcrankshaw

[2017-09-02 06:37] dcrankshaw commented on #200
After the refactor in #251, Clipper no longer mounts volumes from the local filesystem by default.

[2017-09-02 06:37] #200 closed, assigned to dcrankshaw

[2017-09-02 06:38] dcrankshaw commented on #201
This was basically resolved by the addition of `integration_tests/test_utils.py` in #251

[2017-09-02 06:38] #201 closed, assigned to nobody

[2017-09-02 06:42] dcrankshaw commented on #258
An explanation of the recommended way to update images with additional dependencies (such as additional pip/conda packages) was added to the docs in the section on [Python function deployment](http://docs.clipper.ai/en/develop/#pure-python-functions) (towards the bottom of that section).

[2017-09-02 06:42] #258 closed, assigned to nobody

[2017-09-03 00:11] #275 closed, assigned to dcrankshaw

[2017-09-03 22:11] dcrankshaw opened #285 "Model containers should have a choice of running in batch or single-input mode"
Currently, we expect all deployed models to be a function from a list of inputs to a list of outputs. This allows models the ability to do batching, but it makes the function signature of models more complicated. For simple models that want to operate on a single-input at a time, users have to remember to wrap the input in for-loop.

Instead, we should support deploying two types of models: batch

[2017-09-04 00:37] #276 closed, assigned to dcrankshaw

[2017-09-04 00:38] dcrankshaw commented on #217
Addressed by #274

[2017-09-04 00:38] #217 closed, assigned to dcrankshaw

[2017-09-04 20:12] Wapaul1 opened #287 "Provide more useful error message when the Docker client detects the Docker version is too old"
I installed docker via `sudo apt-get install docker.io`, and `docker --verison` returns `Docker version 1.12.6, build 78d1802`. The stack trace is below:
[code]

[2017-09-06 21:33] Corey-Zumar opened #288 "ClipperConnection with DockerContainerManager gives erroneous successful connection output when no cluster is running"
Steps to reproduce:

1. Kill all clipper-related docker containers
2. Create an instance of `clipper_admin.DockerContainerManager`.
3. Construct a `clipper_admin.ClipperConnection` object using the new container manager object
4. Invoke `connection.connect()`
5. See a "Successfully connected to Clipper cluster..." message, despite the fact that there is no active cluster to which to connect

[2017-09-07 01:33] abuvaneswari opened #289 "Error : client and server don't have same version"
Hello,

I followed the quickstart instructions from
http://clipper.ai/overview/quickstart/

Using Ubuntu 14.04 and Python 2.7.6
Installed clipper_admin

Getting the following error message.
Please help resolve.
Thanks,
Buvana

Checking if Docker is running...

Note: Docker must download the Clipper Docker images if they are not already cached. This may take awhile.

Fatal error: local() encountere

[2017-09-07 01:36] dcrankshaw commented on #289
It looks like your version of Docker is really old. What does the command `docker --version` show?

Also, you may want try the latest version of clipper_admin https://github.com/ucbrise/clipper#quickstart

It will be released as part of the 0.2.0 release in the next couple days.

[2017-09-07 01:42] abuvaneswari commented on #289
Hello,

Thank you for the info on the new version of clipper. Will try that as well.

Docker version 1.6.2

-Buvana

From: Dan Crankshaw [mailto:notifications@github.com]
Sent: Wednesday, September 06, 2017 9:37 PM
To: ucbrise/clipper <clipper@noreply.github.com>
Cc: Ramanan, Buvana (Nokia - US/Murray Hill) <buvana.ramanan@nokia-bell-labs.com>; Author <author@noreply.github.com>
Subject: Re: [ucbr

[2017-09-07 02:00] abuvaneswari commented on #289
Installed the latest docker and Clipper is running!

From: Dan Crankshaw [mailto:notifications@github.com]
Sent: Wednesday, September 06, 2017 9:37 PM
To: ucbrise/clipper <clipper@noreply.github.com>
Cc: Ramanan, Buvana (Nokia - US/Murray Hill) <buvana.ramanan@nokia-bell-labs.com>; Author <author@noreply.github.com>
Subject: Re: [ucbrise/clipper] Error : client and server don't have same version (

[2017-09-07 02:13] dcrankshaw commented on #289
Great to hear!

[2017-09-07 02:13] #289 closed, assigned to nobody

[2017-09-07 02:15] dcrankshaw commented on #287
This is caused because your version of Docker is too old. Clipper should catch this error and return a more useful error message.

[2017-09-09 03:55] chakpongchung commented on #117
@dcrankshaw

" In practice, models are currently constrained to returning a single float per prediction."

If I want to add support for object detection with tensorflow, then one single float return is not enough. Ideally it can return a json file. Where is this constraint from?

For sending images as input to the object detection, can Clipper support images uploading? So far I am thinking using g

[2017-09-09 19:43] dcrankshaw commented on #117
Hi @chakpongchung. It looks like that documentation is out of date. Where are you quoting from?

In fact, models must now return predictions as strings. These are commonly JSON strings, but aren't constrained to be valid JSON. The hope is that this gives users a lot of flexibility in terms of what their models product. So this should already meet your needs.

As far as sending the images to Clippe

[2017-09-09 20:07] abuvaneswari opened #291 "sklearn model not able to find cifar10 data"
Hello,

I am trying to run your performance benchmark code with your sklearn model (https://github.com/ucbrise/clipper/blob/develop/bench/setup_sklearn_bench.sh)

============================================================
First, I downloaded the cifar10 dataset using your python download scirpt (https://github.com/ucbrise/clipper/blob/develop/examples/tutorial/download_cifar.py) to a local direc

[2017-09-09 20:33] chakpongchung commented on #117
@dcrankshaw Thanks for the feedback!

From the paper and here it seems you are using base64  or int/float vectors for file transfer first, waiting for batch construction and then send the query using RPC? The images are pre-uploaded first  before the  batch size is reached or uploaded as arguments along with the RPC call after the batch size is reached ?

For detection, my model is trained using t

[2017-09-11 02:47] aaryavrate commented on #240
+1

[2017-09-11 06:09] dcrankshaw opened #292 "Add batch prediction interface"
Clipper's query frontend currently accepts only a single input at a time for predictions. Clipper should instead accept a list of inputs at once and return a list of outputs. This will improve both usability and performance, as users will no longer be forced to send a separate HTTP request for each prediction.

In particular, Clipper expects prediction requests in the following JSON format:

[code

[2017-09-12 05:58] dcrankshaw commented on #291
Ahh yes there is a step missing from the instructions in `bench/README.md`. After you download the Python CIFAR dataset, you need to extract the data to a CSV. From the root of the Clipper directory, run:

[code]

To be extra clear, `<path_to_downloaded_dataset>` should be the exact same argument you provided to the download script. The `extrac_cifar.py` script will automatically look for the data

[2017-09-12 07:11] #291 closed, assigned to nobody

[2017-09-21 22:05] dcrankshaw opened #296 "Use RPC heartbeats to detect model containers that have crashed"
The model container RPC implementation includes heartbeats to detect liveness. Currently, model containers use these heartbeats to detect if the query frontend has crashed and attempt to reconnect. The query frontend should also use the heartbeats to prune model containers that have crashed. This would enable Clipper to respond with more informative error messages and help users disambiguate betwe

[2017-10-03 20:11] dcrankshaw commented on #242
Implemented in #261

[2017-10-03 20:11] #242 closed, assigned to Corey-Zumar

[2017-10-11 21:29] RayTsui opened #300 "ld: symbol(s) not found for architecture x86_64 clang: error: linker command failed with exit code 1 (use -v to see invocation) make[2]: *** [src/frontends/query_frontend] Error 1 make[1]: *** [src/frontends/CMakeFiles/query_frontend.dir/all] Error 2 make: *** [all] Error 2"
I obey the instructions in the CONTRIBUTING in the http://clipper.ai/contributing/. After I clone and built dependencies including Boost, cmake and until folly, I test the configurations and make commands through the instructions as follows:
"First generate the CMake files with ./configure. This generates an out-of-source build directory called debug. Go into this directory and then **run make to

[2017-10-11 21:37] dcrankshaw commented on #300
What operating system are you using?

[2017-10-11 21:51] RayTsui commented on #300
macOS Sierra version 10.12.3

[2017-10-11 21:54] dcrankshaw commented on #300
How did you install the dependencies? Did you use `brew install`? Also, can you post the output from running `./configure`?

[2017-10-11 21:58] RayTsui commented on #300
Yes, I install the dependencies as listed using brew install.
the output after runing ./configure is listed as followed:
Wed Oct 11 14:56:38 PDT 2017
Testing existing cmake version...
Detected 3.9.4.. . Required 3.2.3
CMake version is good
======================= BUILD CONFIGURATION ========================
System Information:
Darwin Kernel Version 16.4.0: Thu Dec 22 22:53:21 PST 2016; root:xnu-37

[2017-10-14 05:51] geoHeil opened #301 "python 3 support"
currently, the installation of clipper requires python 2 is python 3 support planned for the future?

[2017-10-14 06:03] geoHeil opened #302 "link not maintained"
`[deployer_utils.py:63] Warning: Anaconda environment was either not found or exporting the environment failed. Your function will still be serialized and deployed, but may fail due to missing dependencies. In this case, please re-run inside an Anaconda environment. See http://clipper.ai/documentation/python_model_deployment/ for more information.`
points to a link with an 404 error

[2017-10-14 06:22] geoHeil commented on #301
https://github.com/ucbrise/clipper/issues/138

[2017-10-14 06:22] #301 closed, assigned to nobody

[2017-10-17 04:56] simon-mo commented on #302
It should be this link:
http://docs.clipper.ai/en/release-0.2/index.html?highlight=Anaconda#pure-python-functions

I will submit a PR for this quick fix.

[2017-10-18 17:11] dcrankshaw commented on #300
Were you able to figure this out?

[2017-10-18 20:23] RayTsui commented on #300
Not yet, I still came across the same issue.

[2017-10-19 03:12] withsmilo commented on #238
Any update of this issue?

[2017-10-19 03:24] withsmilo commented on #300
Strange case. I had a success to build Clipper below configuration on OSX El Capitan 10.11.6.
[code]

[2017-10-19 23:23] RayTsui commented on #300
@withsmilo  I also had a success on building Clipper, but after successful building, I used make in debug directory to compile the code, the posted errors occurs.

[2017-10-20 00:18] withsmilo commented on #300
@RayTsui : I had a success to compile the code with my configuration. I found that some were omitted in your configuration when comparing it with my configuration. Please check below,
[code]
I don't know why omitted. How about re-clone latest clipper repo and re-install the dependencies?

[2017-10-20 00:23] RayTsui commented on #300
@withsmilo Thanks a lot for your time of considering my case, I will try again based on your suggestions. Repeat it again. I will give the feedback if I have any progress.

[2017-10-20 01:10] RayTsui commented on #300
@withsmilo After I download the most recent zip, clipper-release-0.2, I directly run the ./configure in the home directory of clipper-release-0.2, this time, I even got the errors:

"
======================= Debug =========================
cmake -D CMAKE_BUILD_TYPE=Debug ../
-- The CXX compiler identification is AppleClang 8.1.0.8020042
-- Check for working CXX compiler: /Library/Developer/Command

[2017-10-20 01:14] RayTsui commented on #300
@withsmilo Actually, when I first configure the clipper, I can obtain sentences
Cloning into 'googletest-src'...
Already on 'master'

But I got the above errors, after I copy the CMakeLists.txt to the redox and repidjson, I got additional more errors. I really do not know why.

[2017-10-20 01:19] withsmilo commented on #300
@RayTsui : Release zip file DOES NOT include source files of submodules! Clone the repo like this,
[code]

[2017-10-20 01:33] RayTsui commented on #300
@withsmilo The same errors after the successful ./configure are

Scanning dependencies of target query_frontend
[ 64%] Building CXX object src/frontends/CMakeFiles/query_frontend.dir/src/query_frontend_main.cpp.o
[ 66%] Linking CXX executable query_frontend
Undefined symbols for architecture x86_64:
.....
ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed with exit

[2017-10-20 17:44] sbcd90 opened #305 "Issue with prediction_cache_hit_ratio"
When I try to run the quick start example in README, I get the response,

[code]

When I try to analyze the issue based on the guideline
http://clipper.ai/tutorials/troubleshooting/#no-connected-models-found-for-query

I find that the no. of replicas available is 0 & further analyzing the logs I find the issue,
in the clipper/query_frontend:develop container.
[code]

Can someone please help me in

[2017-10-22 21:43] withsmilo commented on #305
@sbcd90 : Your model container maybe crashed. Check your container logs, not query_frontend logs.

[2017-10-23 17:24] sbcd90 commented on #305
@withsmilo ,
unfortunately, this code is not windows compatible. I found the issue is with the anaconda environment can't be exported. So, the container crashes due to missing dependencies.

[2017-10-23 22:29] #305 closed, assigned to nobody

[2017-10-29 08:32] dcrankshaw commented on #305
@sbcd90: Could you file the issue describing the problem you encountered (e.g. any stack traces you have available)? We would like the automatic export of Python dependencies to work on Windows. It's a bit difficult to automatically track down all Python dependencies, so we are particularly interested in edge cases that break that section of code.

[2017-10-30 01:21] #302 closed, assigned to nobody

[2017-11-02 08:19] simon-mo opened #306 "'ClipperException' object has no attribute 'msg'"
In `exceptions.py`, `ClipperException` is defined as:
[code]

But in `start_clipper` of `ClipperConnection` class (line 113-115 of `clipper_admin.py`), the `e.msg` call will raise an error if such exception is catched:
[code]

[code]

I can work on a fix to define `__init__` for `ClipperException`.

P.S. This error is not discovered because there hasn't been any `ClipperException` raised during `s

[2017-11-02 08:22] simon-mo opened #307 "No Error Message when Docker is not running"
There is no error message for the case that the user failed to start Docker before starting clipper.

The error message user will encounter is quite obscure:
[code]

I will work on a fix to report the user there's issue with connecting to Docker. The user should be able to see this when Docker is not running in the background:
[code]

[2017-11-02 15:33] dcrankshaw commented on #238
We've implemented a prototype GRPC implementation in an experimental branch, and actually found that it didn't have great performance.

@withsmilo is your interest in this for performance reasons? And if so, would you mind sharing a bit more about what your expected workloads and performance demands are? In particular, are you looking for lower latency (which GRPC should help with), higher through

[2017-11-03 05:18] withsmilo commented on #238
@dcrankshaw : Thank you for your reply. I'm searching some methods(GRPC implementation or something else) to cover high workloads on the Query Frontend service. Can I scale Query Frontend service on the Kubernetes environment easily? I found [a replica value](https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_admin/kubernetes/query-frontend-deployment.yaml#L9) in the query-front

[2017-11-03 08:45] bdod6 opened #309 "xgboost models will not load"
Hello,

I've trying to use Clipper to deploy an xgboost model. However, the model container instantly exits after I run the python deployer. This is the traceback I'm getting from the logs:

[code]

I'm not sure if this is an issue with Clipper or with the compiler within the docker container. I don't know why the model container would exit immediately on deployment like this?

[2017-11-03 09:21] withsmilo commented on #309
Default [PyClosureContainerDockerfile](https://github.com/ucbrise/clipper/blob/develop/dockerfiles/PyClosureContainerDockerfile) and [python_container_conda_deps.txt](https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_admin/python_container_conda_deps.txt) don't have the xgboost module installed. You must create own DockerFile to install xgboost module according to the [this ref

[2017-11-03 09:25] bdod6 commented on #309
Yep, I did install xgboost using a separate Dockerfile and called it as the build image. I confirmed this after running docker exec <id> pip list and xgboost is shown as installed. So I don’t believe this is an import error.

[2017-11-03 10:36] withsmilo commented on #309
Your error log shows that Clipper failed to call LoadLibrary() in your own container. I think that xgboost module needs to reinstall, maybe to rebuild. (refer to this link: https://github.com/dmlc/xgboost/issues/463)

[2017-11-04 07:40] bdod6 commented on #309
Ok I figured it out. Docker requires the right gcc compiler in order for xgboost to work. However, even after installing gcc, it still doesn't compile correctly. That's because the default Clipper conda environ has an outdated version of `/bin/../lib/libgomp.so.1`. You have to also run `conda install libgcc` to update the file.

This is my Dockerfile that I got to run:

[code]

[2017-11-04 07:40] #309 closed, assigned to nobody

[2017-11-06 07:35] #306 closed, assigned to simon-mo

[2017-11-06 07:35] #307 closed, assigned to simon-mo

[2017-11-06 07:46] dcrankshaw opened #310 "Enable Clipper to run with multiple query frontend replicas"
Allowing Clipper to run with multiple query frontend replicas is desirable to provide high availability and to provide horizontal scaling to higher throughputs. There are a few blockers to implementing this currently, the biggest blocker has to with Kubernetes load-balancing ([quoting from the docs](http://clipper.ai/tutorials/container_managers/#known-limitation-query-frontend-scaleout))

This is

[2017-11-06 07:46] dcrankshaw commented on #238
Got it. Unfortunately the query frontend doesn't scale well with Kubernetes quite yet. Here's a [brief explanation](http://clipper.ai/tutorials/container_managers/#known-limitation-query-frontend-scaleout) about why from the Clipper docs. The good news is that there will be some significant performance improvements to the query frontend coming down the pipe soon, and we are actively investigating

[2017-11-07 18:29] bdod6 opened #312 "query frontend error when running concurrent requests"
I'm testing clipper by running two python scripts concurrently that queries the front-end for a prediction. Here's the  script

[code]

This runs fine when I run it normally. However, running concurrently causes the model to crash. The model throws a `ValueError: feature_names mismatch:`. I think this error is occuring because the model will occasionally receive an input list that is twice as long

[2017-11-07 18:51] dcrankshaw commented on #312
I suspect this is caused by Clipper's use of batching. To improve throughput, Clipper will send a batch of predictions at a time to the model. [This section](http://clipper.ai/tutorials/basic_concepts/#defining-a-model) of the user guide should help you fix your model, but the TL;DR is that models **should take a list of inputs as argument and return a list of strings.**

[2017-11-07 20:16] bdod6 commented on #312
thanks for the fast response.

I believe I am taking in a list of inputs for my model though? I'm using a pickled XGBoost model for the prediction, but this is the python function:

[code]

So are you basically saying there's no way prevent Clipper from sending batch requests to the model? This seems like a major limitation since instead of a single output per request, the model will randomly need

[2017-11-07 20:28] dcrankshaw commented on #312
You shouldn't need to do any parsing or anything. The predict function is called with a Python list of numpy arrays, where each element in the list (i.e. each numpy array) is the input from a single request.

If you want your model to process a single input at a time, just wrap the model call in a for-loop. Try the following modification to the above function:

[code]

[2017-11-07 20:30] dcrankshaw commented on #312
You're right that this is a little bit confusing for new users though. We won't be removing batching because it's pretty critical for performance for some models, but we plan on making batching optional in #285 so model containers are easier to write.

[2017-11-08 00:31] withsmilo commented on #312
How about below code?
[code]

[2017-11-08 18:04] dcrankshaw commented on #312
@withsmilo That would work too, but in that case `_predict` should just return `str(y_pred)`, not `[str(y_pred)]`

[2017-11-08 20:27] bdod6 commented on #312
Sorry, i didn't mean to say that doing the for loop was the actual problem. It's more that the model will randomly output two predictions in a list when clipper decides to batch requests. So in a real-time prediction scenario, we are sending a request to Clipper, and the service expects a single prediction back so it can take the right action. The throughput is several hundred requests per second,

[2017-11-09 20:13] dcrankshaw commented on #312
I'm not sure I understand the problem. To be explicit, batching works in the following way. Imagine I have two clients, Alice and Bob.

If only Alice sends a request, Clipper will forward that single query in a batch of size 1 to the model. The model will make a prediction on that query and return a list of predictions with 1 element to Clipper. Clipper will take that prediction and return the res

[2017-11-10 21:12] Corey-Zumar opened #314 "Implement a model deployer for PyTorch"
This requires three components:

* A new PyTorch container (the [PySpark](https://github.com/ucbrise/clipper/blob/develop/containers/python/pyspark_container.py) container is a good reference)

* A Dockerfile to build the container ([PySpark reference](https://github.com/ucbrise/clipper/blob/develop/dockerfiles/PySparkContainerDockerfile))

* A PyTorch model deployer ([PySpark reference](https://g

[2017-11-10 22:10] Corey-Zumar opened #315 "Allow models to specify a fixed batch size"
Implement an option that allows the user to specify a pre-defined batch size for a given model. If this option is set for a model "M", all containers for this model, "C_1M" ... "C_kM", should use the specified batch size. Otherwise, if the option is not set, we should continue to estimate container batch sizes using the current logic.

[2017-11-13 22:36] bdod6 commented on #312
ahh...thanks for the explanation! I hadn't realized that Clipper would unbatch and correctly route the requests. I had just assumed the request would receive the final output in model function. Tested it and now works as expected. That makes sense now... thanks!

[2017-11-13 22:36] #312 closed, assigned to nobody

[2017-11-14 00:39] skidder opened #317 "Kubernetes Container Manager failing with "unexpected keyword argument 'assert_hostname'""
I'm encountering an error when initializing the Kubernetes container manager. The error message is:
[code]

This error occurs when establishing a connection to Kubernetes so that it can create the query-frontend, model, and Redis containers. I've provides the relevant portions of the Dockerfile and my script below.

Dockerfile contents:
[code]

Python script:
[code]

Python error output:
[code]

[2017-11-14 01:23] santi81 commented on #310
@dcrankshaw In addition to the issue mentioned above , the Query Frontend is pseudo-stateless because of the cache.I guess it would be hard to scale out with this kind of approach.Do you think moving to Redis as a distributed cache would be an option?

[2017-11-16 01:54] santi81 commented on #312
@dcrankshaw I tried to test this behavior but haven't been successful in seeing batching work.From the logs of the model server it can be seen that the model server is actually receiving 2 request instead of one.

[2017-11-16 05:38] dcrankshaw commented on #315
@Corey-Zumar can you annotate this with links to the relevant implementation in the `high-perf-clipper` branch?

[2017-11-16 05:51] dcrankshaw commented on #310
Yeah we would consider this. I think that long-term, it makes sense to move the cache outside of Clipper entirely. You don't want the cache in front of Clipper because it needs to be aware of model versions, but it makes sense to have a single shared cache among all query frontends rather than rolling our own. @santi81, can you file an issue requesting this feature?

[2017-11-16 06:11] dcrankshaw commented on #312
@santi81 I'm not sure what you mean. In general batching should be transparent to the clients. What type of behavior were you expecting to observe?

[2017-11-16 06:47] dcrankshaw commented on #317
So it looks like this must be the result of [this line](https://github.com/ucbrise/clipper/blob/e94219ac91785694b56b7d853548809ecde7cd95/clipper_admin/clipper_admin/kubernetes/kubernetes_container_manager.py#L61). But I'm unable to reproduce and I'm not sure why it's causing problems.

Can you paste the output of `pip list` so I can see exactly which library versions are installed?

[2017-11-16 07:46] santi81 commented on #312
@dcrankshaw sorry i wasn't clear.This is what i tried.Deployed a simple python model in which the predict function exactly returns the size of input list to test batching.Something like:

` def feature_batch(xs):
     print("Query incoming")
     return [str(len(xs)) for x in xs]`

Linked this model to an application with slo of 10 seconds. Then sent 2 requests almost at the same time.I was expect

[2017-11-16 18:55] #240 closed, assigned to dcrankshaw

[2017-11-17 02:29] santi81 commented on #312
@dcrankshaw can you please let me know if my understanding from above is correct?

[2017-11-17 04:11] dcrankshaw commented on #312
There isn't a test for this specifically. But if your model container showed that it received two queries, then it didn't batch them. The following function is probably the easiest way to observe batching.

Deploy the following function using the Python model deployer:

[code]

Once you've deployed that function, send multiple requests to Clipper simultaneously. They don't have to be sent at exact

[2017-11-17 08:58] Corey-Zumar commented on #315
Here are the relevant steps that need to be taken, in conjunction with references from `high-perf-clipper`:

1. Modify the Clipper admin API to allow the user to specify a batch size:
This involves the addition of a new "batch_size" parameter register_model function, as well as the build_and_deploy_model function

2. Modify Clipper's ModelContainer class to accept an optional "batch_size" paramete

[2017-11-18 02:23] RayTsui commented on #245
I came across the same issue. And I read through the reason in link http://clipper.ai/tutorials/troubleshooting/ and use the suningclipper_conn.cm.get_num_replicas(name="hello-world",version=3) to check the number of model container, the result is 0. The result may be just as described in the link that the model container can not be normally initiated.

If there is any solution, please post it.

[2017-11-19 22:58] dcrankshaw commented on #245
There are many different reasons why your container cannot be started. Can you paste the logs from the crashed container?

[2017-11-22 00:28] RayTsui commented on #305
@sbcd90 Hi, I had the same issue as yours, how did you solve this issue?

[2017-11-23 22:22] #269 closed, assigned to nobody

[2017-11-27 12:16] kakru opened #325 "Querying Clipper with an image"
Please provide an example of querying Clipper with an image.
I assume that it should be already possible with an image encoded to JSON and passed as a string:

A basic example could return image size tuple done with a Python Closure model.

Are there any plans on extending accepted input format types?

[2017-11-27 15:27] kakru commented on #325
I managed to run a simple query sending an image as (b64encoded) string in JSON:
[code]

and using the following python closure in Clipper:

[code]

But it doesn't seem like an optimal solution.

Is there a better way?

[2017-11-27 16:36] dcrankshaw commented on #325
You can actually register a model with type "bytes" and then send your image as a base64 encoded string to Clipper in the same way. Clipper will decode the string back into a byte array and provide your Python closure a byte array directly. This is a little more efficient because the RPC message from Clipper to the model container will be the bytes directly, rather than the base64 encoding.

We do

[2017-11-27 17:08] kakru commented on #325
Great, thank you!

I have registered the model with type "bytes" as suggested

[code]

and modified the python closure to the following:
[code]
It works well.

If you find it useful to add an example like that to the guide/tutorial - I can prepare a PR for docs.
This would open a possibility of extending the tutorial with TensorFlow supported object detection (with already trained network) and oth

[2017-11-27 17:38] dcrankshaw commented on #325
Yeah that would be a great contribution! The guides are part of the Clipper website repo (https://github.com/ucbrise/clipper-website/tree/master/content/tutorials). You can either add a section to the "Basic Concepts" guide, or create a new tutorial for image detection (if you're feeling really ambitious).

By the way, Tensorflow support was added in #319. It just hasn't made it out into a release

[2017-11-28 14:36] kakru opened #327 "Allow use of frozen Tensorflow models (.pb) with a TF container"
Implement an option that allows the user to deploy a frozen tensorflow model.
Would you suggest to extend the existing deployer, or to create a new one?

[2017-11-28 17:19] dcrankshaw commented on #327
I think that extending the existing deployer is the right way to go.

[2017-11-28 22:31] withsmilo commented on #317
@skidder : I found [this issue](https://github.com/kubernetes-incubator/client-python/issues/197). How about set like below in your Dockerfile?
[code]

[2017-11-29 09:33] withsmilo commented on #154
This issue still occurs after applied #162. I did a stress test to the query_frontend container and found that query_frontend is using very high CPU usage although the test is finished (some requests were failed) and no app is running.

[2017-11-29 17:35] dcrankshaw commented on #327
@kakru Does #328 address this?

[2017-11-29 19:21] dcrankshaw opened #329 "Add StateDB cache"
Add a cache to the StateDB to prevent unnecessary Redis operations on the critical path. Cache entries should be updated appropriately in response to database “put” operations. Concurrency control is particularly important to ensure that the cache remains valid.

See https://github.com/dcrankshaw/clipper/commit/1252e07079c38f65524b4bafbf31c3f0b730d78d for an incomplete solution

[2017-11-29 19:22] dcrankshaw opened #330 "Ensure the performant use of copy and move semantics system wide"

[2017-11-29 19:23] dcrankshaw opened #331 "Improve input hashing performance for prediction cache"
Improve input hashing performance to ensure that the prediction cache is not a bottleneck for reasonably large inputs (i.e. ImageNet images). We should explore more efficient hashing procedures.

For applications expecting very heterogeneous workloads, we should make note of the fact that disabling the cache will improve performance.

[2017-11-29 19:24] dcrankshaw opened #332 "Remove Folly and Wangle dependencies"
Implement more performant thread pool executors.(If necessary due to a loss of library support, move from futures to callbacks. See https://github.com/dcrankshaw/clipper/pull/46/files.

[2017-11-29 19:26] dcrankshaw opened #333 "Reduce internal memory allocation and improve memory re-use"
We can either use the high-perf-clipper implementations of calloc and malloc (see https://github.com/dcrankshaw/clipper/pull/46/files) or explore alternative implementations.

Jemalloc is worth looking into as well.

[2017-11-29 19:27] dcrankshaw opened #334 "Refactor RPC implementation to reduce copying"
+ Replace usages of std::vector<T> with std::shared_ptr<T>
+ Update the prediction request message protocol such that a request with `N` inputs is broken up into `N` distinct message parts - one for each input. This eliminates `N` memcpy operations that are currently performed to aggregate the content into a single message part. See: https://github.com/dcrankshaw/clipper/pull/45
+ Construct ZMQ me

[2017-11-29 19:28] dcrankshaw opened #335 "Replace lock-based queues with MoodyCamel’s lock-free queue"
In particular, the queues in the RPC layer: See https://github.com/dcrankshaw/clipper/blob/high-perf-clipper/src/libclipper/include/clipper/rpc_service.hpp, https://github.com/dcrankshaw/clipper/blob/high-perf-clipper/src/libclipper/src/rpc_service.cpp)

[2017-11-29 19:29] dcrankshaw opened #336 "Allow models to return primitive data types"
Allow models to return primitive data types, in addition to strings. For reference, see: https://github.com/dcrankshaw/clipper/pull/5/files , https://github.com/dcrankshaw/clipper/pull/6/files

[2017-11-29 19:32] kakru commented on #327
@dcrankshaw #328 doesn't directly address the problem, but when it's merged I'll extend it to support also .pb files

[2017-11-29 19:42] dcrankshaw opened #337 "Better function estimator for latency-aware batching"
The current way that Clipper estimates prediction latency as a function of batch-size is very noisy. We should use quantile regression estimate to learn the function instead.

[2017-11-29 19:45] dcrankshaw opened #338 "Support deploying models with GPU access"
For Kubernetes, we can use the experimental GPU support feature: https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/

For Docker, we can use [nvidia-docker](https://github.com/NVIDIA/nvidia-docker).

[2017-11-29 20:37] dcrankshaw opened #339 "Improved metrics and monitoring infrastructure"
Clipper already tracks some basic internal performance metrics, but these are tracked on an ad-hoc basis and not aggregated. As we expand support for running larger Clipper clusters with multiple query frontend replicas, we need better metrics tracking and monitoring. Furthermore, we will be expanding to provide statistical performance monitoring early next year and will want to integrate these in

[2017-11-29 20:40] dcrankshaw opened #340 "PyTorch + ONNX + Caffe2 Model deployer"
Along with a standard PyTorch model deployer, we should implement a model deployer that exports a PyTorch model to Caffe2 using ONNX.

[2017-11-29 20:40] dcrankshaw opened #341 "XGBoost model deployer"
Change ClipperCon `deploy_model` to be able to accept packages to pip install within Container keeping base image lightweight. Add integration test for XGBoost model (using above feature to install xgboost within container), and examples to help users.

[2017-11-29 20:42] dcrankshaw opened #342 "Allow models, applications, and application-links to be deleted"
This is fairly self-explanatory, but basically there’s no way to delete models and applications right now. This has a pretty clear use case I think. The hardest part here will be ensuring correct and complete cleanup, and thinking about what to do if a delete fails partway through.

#254 is a good starting point

[2017-12-01 18:28] dcrankshaw opened #343 "Replace custom fork of Cloudpickle with the maintained pip package"
We're currently using a custom fork of cloudpickle copied into the Clipper repo. But we don't do anything special with our fork, and the project is actively maintained.

[2017-12-01 19:43] simon-mo commented on #138
Hi @jwirjo

The latest development is just to add version specification in package dependency for pip packaging in pull request #311. You just need to add these files to your branch: https://github.com/ucbrise/clipper/pull/311/files

Here’s few things I researched that might be helpful:
* A great resource:
    * Instagram’s 2to3 lessons: https://youtu.be/66XoCk79kjM?t=1487
    * Use ensure_byte(),

[2017-12-06 21:13] santi81 commented on #327
@kakru I tried to address this in 328 ...pls have a look

[2017-12-07 15:51] kakru commented on #327
@santi81 Thanks, now it works for both frozen and meta.

One suggestion:
In clipper_admin/clipper_admin/deployers/tensorflow.py:192 I'd suggest using copytree instead of copyfile to keep the behavior consistent between model types (cf. line 207). Possible problem might arise if there is more than one file in the saved_model_path (check is for >0) and only the first .pb file is copied

[2017-12-12 07:40] withsmilo opened #345 "Re-link an app to other model"
After registering my app and model A to Clipper, can I re-link my app to other model B?
If I cannot, why do you limit apps to having at most 1 linked model?

[2017-12-13 17:54] Jeffwan commented on #219
How's the progress of this issue. I looked at original design documentation but found nothing about persistent layer.

[2017-12-19 19:57] whiletruelearn opened #347 "Error in deploying Python function which uses Cython"
I have a predict function which i wanted to export which internally has some Cython component. Currently `cloudpickle` has issues in dumping this.

The stack trace i got is as below.

`  File "/home/ubuntu/anaconda2/envs/py27/lib/python2.7/site-packages/clipper_admin/deployers/cloudpickle.py", line 264, in save_function
    self.save_function_tuple(obj)
  File "/home/ubuntu/anaconda2/envs/py27/lib

[2017-12-28 19:37] Jeffwan commented on #345
def link_model_to_app(self, app_name, model_name) is used to re-link your app to other models.

[2017-12-28 19:55] Jeffwan commented on #238
Could you share some benchmark results in GRPC implementation?  In the description, "Whichever system we use must be able to sustain hundreds of queries per second",  is that the performance goal?

[2017-12-29 03:24] withsmilo commented on #347
@whiletruelearn :
I had the same issue before. If you are able to write/read your Cython component to/from a file, upload it to FTP(or some other storage) before deploying your model, and download it from FTP in a model container.

[2017-12-29 03:30] withsmilo commented on #345
@Jeffwan :
It can't. Sources said, if the application has previously been linked to a different model, link_model_to_app() will fail. ([codes](https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_admin/clipper_admin.py#L205-L207))

[2018-01-05 21:52] bdod6 opened #351 "Tensorflow deployer: files not found"
I was testing out the tensorflow model deployer and it was giving me this error message:

`Exception: Frozen Tensorflow Model: ./tf_models not found or some files are missing`

It looks like it's expecting the models to be inside a `data` directory, regardless of what path you pass to the deployer.

For the following lines in tensorflow.py

[code]

I think `data` needs to be replaced with the mode

[2018-01-05 22:55] simon-mo opened #352 "Integration tests flaky with "Error starting userland proxy... bind: address already in use""
It seems `clipper_admin_tests.py` causes a lot of unexpected failure. It fails on the same error but with different unit tests that has nothing to do with the code I changed:
- test_inspect_instance_returns_json_dict: Bind for 0.0.0.0:37967 failed: port is already allocated. [829 log](https://amplab.cs.berkeley.edu/jenkins/job/Clipper-PRB/829/console).
- test_python_closure_deploys_successfully: E

[2018-01-08 17:50] dcrankshaw commented on #351
Nice catch. Can you file a PR to fix this?

[2018-01-09 02:06] Corey-Zumar commented on #347
@whiletruelearn #346 Updates the version of cloudpickle that is used when deploying models. If this does not fix cython-related issues, writing your own container and using [deploy_model](https://github.com/ucbrise/clipper/blob/193cf8b683348415e7db9324a1c85fb0b94ce487/clipper_admin/clipper_admin/clipper_admin.py#L389) will allow you to serve your function.

[2018-01-09 02:11] Corey-Zumar commented on #345
@withsmilo I will review #254 which should allow you to re-link your application to a different model. Currently, we only support linking to one model at a time because multi-model queries require a protocol for combining model outputs to generate a single response. This functionality will be implemented in a future release, ideally supporting UDFs for output aggregation.

[2018-01-09 02:18] Corey-Zumar commented on #327
#328 Has addressed this issue. Closing.

[2018-01-09 02:18] #327 closed, assigned to nobody

[2018-01-09 02:20] Corey-Zumar commented on #325
@kakru Reviewing #325 now, sorry for the delay

[2018-01-09 10:40] Corey-Zumar commented on #317
@skidder Did you manage to get this working?

[2018-01-10 05:22] #343 closed, assigned to nobody

[2018-01-10 19:23] bdod6 commented on #351
sure, https://github.com/ucbrise/clipper/pull/353

[2018-01-10 19:23] #351 closed, assigned to nobody

[2018-01-11 05:58] lgendrot commented on #352
Total shot in the dark here, because I only recently stumbled on Clipper, but I run into port issues like this very frequently in Docker, usually after starting and stopping containers in quick succession. I can usually trace it back to containers I explicitly stopped failing to actually be stopped, or appearing to be stopped (via `docker ps`) but not giving up their ports for one reason or anothe

[2018-01-11 07:08] simon-mo commented on #339
#348 gives a MVP. I'll start working on a second PR that includes:
- [x] Allow port specification for Prometheus container port forwarding (to avoid clash, at least).
- [x] Add Monitor Example/Tutorial in example folder. Include a default visualization with Grafana section in it. [Grafana Docker](http://docs.grafana.org/installation/docker/)
- [x] Set up "configuration" like metric specification f

[2018-01-12 09:04] withsmilo commented on #310
@dcrankshaw
I met this issue. When I increased the replicas of query-frontend from 1 to 2, Clipper gave me so slow replies about some requests.

[2018-01-14 09:10] simon-mo commented on #339
@dcrankshaw

Is there a way to push frontend-exporter to dockerhub? It's not [there now](https://hub.docker.com/u/clipper/).

I though add this line `create_image frontend-exporter FrontendExporterDockerfile $public` to `build_docker_images.sh` works?

Or are those strictly for release 0.2? And we are going to push frontend-exporter at the next release?

[2018-01-15 22:26] dcrankshaw commented on #339
Ahh yeah this was a permissions issue. I just fixed it. The Jenkins docker
image builder is running right now. The image should be pushed soon.

On Sun, Jan 14, 2018 at 1:10 AM, Simon Mo <notifications@github.com> wrote:

[2018-01-15 22:27] simon-mo commented on #339
That's great!

[2018-01-15 22:28] dcrankshaw commented on #310
Yeah I'm not surprised. Clipper doesn't support multiple query frontends in the same cluster currently, so I'm not surprised that this broke things. We're working on this right now.

[2018-01-15 23:26] withsmilo commented on #310
Great! Our team is using Clipper to deploy our model in a closed environment, and trying to widen the target customers. In the point of view to scale-out the system, this issue is a big obstacle.

[2018-01-15 23:37] dcrankshaw commented on #310
Cool! Yeah we know this is one of the big blocking obstacles to using
Clipper in more production environments. We will update this issue with
progress soon.

On Mon, Jan 15, 2018 at 3:26 PM, Sungjun, Kim <notifications@github.com>
wrote:

[2018-01-17 08:28] simon-mo commented on #339
Now user can view Grafana likes this:
<img width="1280" alt="screen shot 2018-01-17 at 12 20 51 am" src="https://user-images.githubusercontent.com/21118851/35032842-4940f0a6-fb1d-11e7-9b61-def918e357af.png">
(The yellow container was killed midway to show the difference)

Code in my fork now: https://github.com/simon-mo/clipper/tree/metrics/examples/monitoring

[2018-01-17 17:16] dcrankshaw opened #355 "Frontend Exporter broke the linter"
@simon-mo It looks like somehow [`front_end_exporter.py`](https://github.com/ucbrise/clipper/blob/f20cfa556ba2d7986d85969c3ace2618177525a3/monitoring/front_end_exporter.py) is failing the code format check ([Jenkins log](https://amplab.cs.berkeley.edu/jenkins/job/Clipper/3299/console)). Can you look into this?

[2018-01-17 17:20] simon-mo commented on #355
Shoot. Seems like `{**result, **d}` is python3 syntax. I'll fix it within today

[2018-01-17 18:54] simon-mo commented on #355
See PR #356

[2018-01-18 09:49] simon-mo commented on #339
<img width="1280" alt="screen shot 2018-01-18 at 1 10 47 am" src="https://user-images.githubusercontent.com/21118851/35091579-ce354b0c-fbf1-11e7-8557-9ecdd2de280c.png">
Most recent Metric!

[2018-01-18 13:25] santi81 commented on #238
@dcrankshaw : Could you please share some benchmarks for gRPC based query frontend.We are looking for a gRPC based communication channel in addition to REST/HTTP. We do not have a very high throughput requirement but  need a gRPC frontend to integrate with our internal tools.Would it make sense to have an gRPC based query frontend as an optional communication channel which can be specified during

[2018-01-18 16:41] #355 closed, assigned to simon-mo

[2018-01-18 19:02] Corey-Zumar commented on #315
Completed via #320

[2018-01-18 19:02] #315 closed, assigned to nobody

[2018-01-18 19:02] Corey-Zumar commented on #314
Completed via #346

[2018-01-18 19:02] #314 closed, assigned to nobody

[2018-01-18 19:04] Corey-Zumar commented on #292
Completed via #321

[2018-01-18 19:04] #292 closed, assigned to nobody

[2018-01-18 19:10] dcrankshaw commented on #340
@haofanwang what's the progress on this?

[2018-01-18 19:23] Corey-Zumar opened #359 "Add an option to specify a configuration file when starting clipper"
* Currently, users have to issue many `register_model`, `deploy_model`, and `add_application` commands (among others) via clipper_admin after starting clipper.

* These commands need to be re-issued after models are stopped, Redis is cleared, etc.

* It would be helpful to allow users to specify a set of models and applications to deploy and register, respectively, through a configuration file. Th

[2018-01-18 21:23] dcrankshaw opened #360 "Adding model container testing function to clipper admin"
Currently, when users use one of the model deployers to deploy a predict function to Clipper, they have no way to debug their function before deploying the model. We should add a `test_predict_function` method to each model deployer that allows users to test that their function has the correct signature and can be properly saved and loaded.

The `test_predict_function` should have the following ar

[2018-01-19 00:13] Corey-Zumar opened #361 "First query fails when model reconnects"
Steps to reproduce:

1. Start Clipper locally (via `bin/start_clipper.sh`)
2. Connect the no-op container by executing the container script in a python shell
3. Register a model associated with the no-op container, create an application, and link the model to the application
4. Query the application, observe that queries are routed normally
5. Restart the no-op container by killing its associated

[2018-01-19 01:42] haofanwang commented on #340
Will pull request this weekend if without errors. Sorry for delay.

[2018-01-19 18:26] dcrankshaw opened #363 "[Metrics] Prometheus monitoring support for K8s container manager"
Tracking issue for adding Prometheus monitoring support to the K8s container manager as part of #339.

[2018-01-19 22:19] jwirjo commented on #138
1.) Make clipper_admin Python 3 compatible.
2.) Make rpc.py Python 3 compatible.
3.) Make Python 3 version of Python Closure Dockerfile & RPC Dockerfile. (make sure all dependencies are python3 compatible)
4.) Modify integration tests: clipper_admin_tests.py

[2018-01-19 22:23] simon-mo commented on #138
Just reminded me:
- yapf python formatter and linter expect different syntax behavior for different python version. (Something I struggled a lot in PR #356) If we are doing this, we should all format the code using same python version (since bin/format_code.sh) use the python that’s in your PATH.

[2018-01-19 22:48] Corey-Zumar opened #364 "Add MXNet model deployer"
* We should add a deployer for MXNet models. This deployer will closely follow the format of other model deployers (Tensorflow, PyTorch, etc)

[2018-01-19 23:23] Corey-Zumar opened #365 "Write an integration test for batch prediction"
* This should use the new batch prediction functionality exposed by the query frontend.

[2018-01-19 23:29] Corey-Zumar commented on #360
@dcrankshaw This issue belongs to Rohan Suresh. He needs to be added as a collaborator before I can assign him this issue.

[2018-01-19 23:31] Corey-Zumar commented on #359
@dcrankshaw This issue belongs to Nikhil Duggirila. He needs to be added as a collaborator before I can assign this to him.

[2018-01-20 01:33] dcrankshaw commented on #138
@jwirjo you may find this guide on creating packages for PyPy helpful when converting the Python package to be both 2 and 3 compatible:

https://hynek.me/articles/sharing-your-labor-of-love-pypi-quick-and-dirty/

[2018-01-20 01:36] dcrankshaw opened #366 "Update model deployer documentation to include expanded library support"
The model deployer documentation on http://docs.clipper.ai/en/develop/#model-deployers does not include the additional deployers we've added for PyTorch and TensorFlow.

[2018-01-21 17:35] Jeffwan opened #367 "CondaHTTPError occurs in building python images"
Found an error when building python closure images.

[code]

Adding
`RUN conda config --set ssl_verify no` before
`conda install -y --file /lib/python_container_conda_deps.txt` will resolve this issue.
Not sure if that's the most elegant way.

Affected docker files.

- dockerfiles/PyClosureContainerDockerfile
- dockerfiles/PyClosureContainerDockerfile
- dockerfiles/PyTorchContainerDockerfile
- doc

[2018-01-21 18:41] dcrankshaw commented on #367
This looks like a transient network error. I'm unable to reproduce. Maybe try building the containers again?

[2018-01-21 19:30] dcrankshaw commented on #367
I actually was able to reproduce this when building the PyTorch container. Reopening.

[2018-01-21 19:40] dcrankshaw commented on #219
Unfortunately this design doc has not been written. The authoritative source for our Redis configuration schema is in [redis.cpp](https://github.com/ucbrise/clipper/blob/develop/src/libclipper/src/redis.cpp), specifically in the `add_*` methods (add_model, add_container, etc).

[2018-01-21 23:19] #367 closed, assigned to nobody

[2018-01-22 07:03] withsmilo commented on #310
@dcrankshaw : Please let me share your works. What is your plan to change QueryFrontend's architecture?

[2018-01-22 07:26] Corey-Zumar opened #371 "Batched predictions: Segmentation fault and JSON parsing errors"
Steps to reproduce:

1. Start Clipper and register an appliction

2. (optional). Run the no-op container locally, register a model corresponding to the container, and link the model to the application

3. Send a batched input of type "doubles" to the application.

4. Observe that the query frontend crashes or emits the following log message: ```Unexpected error: JSON schema invalid```. If this is

[2018-01-22 18:38] geoHeil opened #372 "Look into kubernetes integration with KubeFlow"
I know some k8s integration is already available. But probably it would be interesting to see what https://github.com/google/kubeflow has to offer

[2018-01-23 01:06] #371 closed, assigned to nobody

[2018-01-23 01:10] dcrankshaw commented on #310
I'm currently working on a design doc for this. I will post it to this
issue as soon as it's ready for comments. Should be by the end of the week.

On Sun, Jan 21, 2018 at 11:03 PM, Sungjun, Kim <notifications@github.com>
wrote:

[2018-01-24 00:41] #352 closed, assigned to dcrankshaw

[2018-01-24 17:35] dcrankshaw opened #374 "Generate REST API Documentation"
Clipper exposes a significant and growing REST API for both managing the cluster and querying Clipper. We should document this API using something like [Swagger](https://swagger.io/) to help people modify clipper admin or write their own tools.

[2018-01-24 20:00] simon-mo commented on #374
This looks like a very very fun project for me to work on. Can I take this?

[2018-01-24 20:03] dcrankshaw commented on #374
Go for it!

[2018-01-25 00:05] #365 closed, assigned to Corey-Zumar

[2018-01-25 16:51] dcrankshaw commented on #138
@jwirjo [here are some instructions](https://gist.github.com/dcrankshaw/1207956669768c8b31adffb122923b12) for running a model container outside of Docker in a standalone process for debugging `rpc.py`.

[2018-01-26 00:30] Jeffwan commented on #310
By the way, Is current RPC implementation a problem to scale out query frontends? Now model container plays a role like rpc client (DEALER/REQ) and query frontend is like Server(ROUTER/REP). If we have more replicate query frontend instances,

- Model containerA connects to one of query frontend instance B through kubernetes Load balancing. There would be a problem if traffic are load balanced on

[2018-01-26 00:38] rohsuresh opened #375 "rfind error with posixpath in deploy_python_closure"

[2018-01-26 01:29] rohsuresh commented on #375
Resolved by setting up new conda environment.

[2018-01-26 01:29] #375 closed, assigned to nobody

[2018-01-26 23:51] dcrankshaw commented on #262
This issue is assigned to Niraj

[2018-01-27 06:01] yrbahn opened #376 "GraphDef ParseFromString error"
When loading a tensorflow pb model, the following error happens:
 File "/container/tf_container.py", line 29, in __init__
    graph_def.ParseFromString(f.read())
 google.protobuf.message.DecodeError: Error parsing message

Why does it happens?

[2018-01-27 12:23] #376 closed, assigned to nobody

[2018-01-28 23:52] ryanhoque opened #379 "Error when running integration tests"
After passing about 10 of the integration tests, all subsequent tests fail with the exact same "Too many open files" error in what seems to be the requests module. Issue has been experienced by myself and another developer independently with a clean copy of the code. Stack trace is as follows:

[code]

[2018-01-29 00:14] simon-mo commented on #379
The issue is your file descriptor limit too low.
1. Run `ulimit -a` to see how many file descriptor allowed in your current system.
2. Adjust the limit according to https://github.com/elastic/elasticsearch/issues/18022

[2018-01-29 00:14] #379 closed, assigned to nobody

[2018-01-29 00:15] simon-mo commented on #379
And you should probably just run the integration test for the specific function your are working on. And then leave the full integration test for jenkins to run.

[2018-01-29 00:15] ryanhoque commented on #379
Makes sense. Thanks Simon!

[2018-01-29 07:36] withsmilo opened #381 "requests.exceptions.ChunkedEncodingError is occurred in check_and_write_deps.py"
This error is occurred very rarely. I think that we might add some retries to `check_solvability_write_deps` function.
[code]

[2018-01-30 07:39] MauriceManning opened #382 "serve-machine-learning-models-with-clipper notebook issue"
I am also having a similar issue with the quick start after installing Clipper for the first time.

Just installed Clipper on Mac OSX 10.13.2, running conda version 4.4.8 and have created this env:

(clipper27) mauricemanning:clipper$conda list
packages in environment at /Users/mauricemanning/anaconda3/envs/clipper27:

Name                    Version                   Build  Channel
appnope

[2018-01-30 16:04] withsmilo opened #383 "Pull too many prom/prometheus images"
I'm following `develop` branch now. When I start with the quick-start guide, Clipper pulled too many prom/prometheus images like below,
[code]

[2018-01-30 16:06] simon-mo commented on #383
This is my bad. I'm responsible for metrics monitoring and prometheus is part it. I'll submit a fix (set version tag on docker image) very soon. Apologize for that!

[2018-01-30 16:08] withsmilo commented on #383
@simon-mo Thanks! :)

[2018-01-30 16:42] withsmilo commented on #382
@MauriceManning : I think that the latest anaconda(4.4.8) is not compatible with Clipper. I recommend to use anaconda 4.3.X instead of 4.4.8 for a while.

[2018-01-30 23:33] dcrankshaw commented on #262
Some more details on this.

In #251 we changed the way that model containers in Clipper work by default. Prior to #251, we would mount a directory containing model data in the model's docker container at runtime. However, this approach requires the model data to be present on the local filesystem when a container is started. When we added Kubernetes support in #251, we could no longer guarantee wh

[2018-01-31 00:09] dcrankshaw commented on #238
Unfortunately the benchmarks we have are not directly comparable because there were other modifications to the system as well. The more I think about this though the more I think it makes sense to support a GRPC channel as well, both for high(er) performance and because GRPC is a fairly widespread library used in distributed microservice architectures.

[2018-01-31 00:51] dcrankshaw commented on #381
Yeah that function is a little flaky. @withsmilo can you submit a PR with those checks?

[2018-01-31 01:32] dcrankshaw opened #386 "Fixed batch size integration test is flaky"
`test_fixed_batch_size_model_processes_specified_query_batch_size_when_saturated` from the Clipper manager integration tests is flaky. After discussing with @Corey-Zumar, sticking a `time.sleep` in the model container to allow Clipper enough time to enqueue all the requests should address the issue.

[2018-01-31 01:35] withsmilo commented on #381
@dcrankshaw OK. I will do it.

[2018-01-31 22:40] santi81 commented on #238
@dcrankshaw i do see you have a branch on this ...if its okay with you i would like to take this up, please let me know

[2018-01-31 23:25] santi81 commented on #338
@dcrankshaw i have done some work on this ...i would like to pick this up if its fine with you guys

[2018-02-01 00:34] MauriceManning commented on #382
Hello
Thanks for the help.

I installed anaconda 4.3.1 on an Ubuntu instance inside of vagrant on my
Mac. Then I installed Docker-CE, then I installed Clipper from Github.

Attempted to run the test script but I receive:

In [*1*]: *from* *clipper_admin* *import* ClipperConnection,
DockerContainerManager

In [*2*]: clipper_conn = ClipperConnection(DockerContainerManager())

In [*3*]: clipper_conn.

[2018-02-01 03:33] MauriceManning commented on #382
ok, was able to get Clipper running on that version of anaconda in an
Ubuntu instance on Azure.

On Wed, Jan 31, 2018 at 12:42 AM, Sungjun, Kim <notifications@github.com>
wrote:

[2018-02-01 04:38] dcrankshaw opened #391 "Support mounting volumes on model containers"
For the Kubernetes container manager, we should support [Kubernetes volumes](https://kubernetes.io/docs/concepts/storage/volumes/) and for the Docker container manager we should support [Docker volumes](https://docs.docker.com/storage/volumes/)

[2018-02-01 04:39] dcrankshaw opened #392 "Submit R model deployer package to CRAN"

[2018-02-01 11:31] vivekka93 opened #396 "Dependency issues while building R model"
While deploying a trained randomForest model in R, I come across the following error:
`Error in .local(e, collector, basedir, reset, formulaInputs, ...) :
  don't know about randomForest.formularandomForest
`

Steps to reproduce:
Train a randomForest classifier on a sample data
[code]
Wrap the model in a function
[code]
Build the model
[code]
Above step throws the error
[code]

[2018-02-01 16:42] dcrankshaw opened #397 "Replace Rcpp dependency in R container with a non-GPL replacement."
The R model containers currently use Rcpp to call the C++ RPC implementation. But Rcpp is GPL-licensed, which could cause issues for some users. We should look into replacing it with a pure R RPC implementation that doesn't have the same licensing restrictions.

[2018-02-02 23:24] RehanSD opened #399 "Create a Conda Environment for Dev"
Create a environment.yml file that installs dependencies required to develop for clipper.

[2018-02-02 23:36] RehanSD commented on #399
Might want to make a shell script instead of just conda environment so that brew can be used to install necessary dependencies.

[2018-02-02 23:42] simon-mo commented on #399
you mean something like this:
[code]
What exactly is need though?

[2018-02-02 23:56] RehanSD commented on #399
@simon-mo I was thinking something like
[code]
And addressing need, I just thought that it would be helpful for on boarding dev members, because something that I noticed was time consuming was figuring out all the deps I needed to install - for example, for dependencies like kubernetes, I figured out I needed to install them by going through the errors that unittests.sh threw.

[2018-02-03 00:03] simon-mo commented on #399
Hmmm.. I don't think the shell script is the way to go because many people has part of the environment setup. We should still have the `environment.yml` but have a separate doc like this: https://dask.pydata.org/en/latest/develop.html#development-environment

[2018-02-03 00:09] RehanSD commented on #399
Thats interesting - but what about stuff like docker and kubernetes that are essential to install on your machine? Plus, I think if the script is written correctly to check for deps before installing, it should be lightweight for people with partial setup, but still effective and in depth enough for people who are just starting, right?

[2018-02-03 00:15] simon-mo commented on #399
The thing is:
- If you are developing with docker, you don't need kubernetes.
- If you are developing with kubernetes, the minikube on mac doesn't really function nicely. (It can run simple example but developing with kubernetes on local machine is quite a challenge. Don't ask me how did i found out lol).
- I agree that a simple script can definitely help. but won't it be nice we can have a develo

[2018-02-03 00:21] RehanSD commented on #399
Actually I was thinking about a developer doc - I definitely agree that that would take care of a lot of issues - unrelated side note, I was developing with docker but not kubernetes, when I ran into an issue importing kubernetes, so I had to pip install kubernetes.

Maybe instead of heavyweight script installing everything, an environment.yml file for installs of like tensor flow, pyspark, xgboos

[2018-02-03 00:26] dcrankshaw opened #400 "Turn the RISE Camp Pong demo into an example on the Clipper website"
see https://github.com/ucbrise/risecamp/tree/master/rl_and_pong

[2018-02-03 01:44] atumanov commented on #400
👍

[2018-02-03 20:54] simon-mo opened #401 "[Metrics] Enable user-defined metrics"
We shouldn’t just let user define how the metric is computed via a configuration file.

Following that main idea, here are three approaches:
* Pass in a queue/pipe entry point to the specific model function. For example:
    *  def sum_model(xs, metric_queue=None)
* Let the model return prediction + metric.
* (My vote): expose the metric “queue” through http endpoint, let the model container post

[2018-02-04 21:16] #383 closed, assigned to simon-mo

[2018-02-04 23:29] dcrankshaw commented on #238
@santi81 that would be great! We structured the Clipper codebase with the intention of supporting multiple query frontends, so hopefully it shouldn't be overly complicated. As you noticed, I have a [branch with a prototype grpc implementation](https://github.com/dcrankshaw/clipper/tree/rpc_frontend).

Basically, the way the code is structured is that all of the core system code is in `src/libclipp

[2018-02-05 00:17] dcrankshaw commented on #338
Sure that would be great. Have you worked with the Kubernetes GPU support? Go ahead and assign the issue to yourself.

[2018-02-05 00:57] dcrankshaw commented on #396
@Corey-Zumar does this look familiar?

[2018-02-05 03:21] Corey-Zumar commented on #396
@dcrankshaw I haven't seen this before. Will look into it.

[2018-02-05 05:14] dcrankshaw commented on #399
This is a great discussion. The developer documentation is definitely out of date. If you want to edit it, here's the relevant source for the website: https://github.com/ucbrise/clipper-website/blob/master/content/contributing/_index.md

Also, for more detailed development instructions on specific parts of the codebase, feel free to create or edit a README.md document in the relevant directory.

N

[2018-02-05 05:15] dcrankshaw commented on #399
I agree that trying to create a general shell script might end up being overly complicated. Detailed instructions on what all the dependencies are is probably the right way to go.

[2018-02-05 06:10] #381 closed, assigned to withsmilo

[2018-02-05 17:38] dcrankshaw opened #403 "Update submodules and package dependencies to latest version"
Note: This requires careful testing to make sure we don't break anything

[2018-02-05 17:39] dcrankshaw commented on #335
Fixed by #380

[2018-02-05 17:39] #335 closed, assigned to ryanhoque

[2018-02-05 19:28] #382 closed, assigned to nobody

[2018-02-05 22:15] dcrankshaw commented on #399
After thinking about this more I think the right way to do this is to create a development docker image that has all of the required dependencies. Then the user can still do development in their local repo but test everything in the Docker container by doing

[code]

[2018-02-06 23:07] dcrankshaw commented on #138
@jwirjo now that you've made `rpc.py` Python 3 compatible, here are the next steps:
1) Create Python 3 versions of [RPCDockerfile](https://github.com/ucbrise/clipper/blob/develop/dockerfiles/RPCDockerfile) and [`PyClosureDockerFile`](https://github.com/ucbrise/clipper/blob/develop/dockerfiles/PyClosureContainerDockerfile). `RPCPy3Dockerfile` should replace the base image in [this line](https://git

[2018-02-07 07:35] dcrankshaw commented on #285
Based on discussion in #395, we decided that rather than supporting single-input mode, we should improve our documentation and debugging capabilities to help users use the batching functionality in Clipper correctly. #394 is a good first step in that direction.

[2018-02-07 07:35] #285 closed, assigned to amogkam

[2018-02-07 17:15] #386 closed, assigned to Corey-Zumar

[2018-02-07 18:36] #329 closed, assigned to Corey-Zumar

[2018-02-08 00:46] withsmilo commented on #152
@dcrankshaw
This issue is critical for the product deployment system. We resolved it by applying the ['blue-green' deployment](https://martinfowler.com/bliki/BlueGreenDeployment.html) policy to our system. I implemented own SwarmContainerManager inspired by DockerContainerManager.

* we call `python_deployer.deploy_python_closure()`.
  * [python_deployer] calls `build_and_deploy_model()` of clippe

[2018-02-08 01:07] dcrankshaw opened #406 "Enable users to query historical versions of a model"
cc @gtfierro @moustafa-a

[2018-02-08 18:49] simon-mo opened #408 "[Metric Monitoring] Use Summary instead of Histogram"
Because the latency metrics are extremely dependent on the specific jobs, hard-coded, pre-configured histogram buckets are not suitable for monitoring. A better model is [prometheus summary](https://prometheus.io/docs/concepts/metric_types/#summary), which calculate the quantiles and stream it to the prometheus server.

But before we switch, we need to measure the performance cost, prometheus [cla

[2018-02-12 02:05] withsmilo commented on #310
Any update here?

[2018-02-12 18:45] dcrankshaw commented on #152
Yeah agreed. Have you found that Swarm's container status is sufficient to indicate whether a container is running yet? We've found that for several deep learning models, especially when running on a GPU, there is a non-trivial amount of time *after a container has started* to initialize the model and connect to Clipper. Using the underlying container manager to detect when the containers ready as

[2018-02-12 18:51] dcrankshaw commented on #152
@chester-leung For a first version of a fix, you should modify the `container_manager.deploy_model` function to block until the container is actually running. Right now, we start the container then return immediately, rather than waiting until the container is fully running. You'll need to implement this for both the [Kubernetes container manager](https://github.com/ucbrise/clipper/blob/137cc852a5

[2018-02-12 20:36] dcrankshaw commented on #401
@simon-mo just to clarify, this is for users to export metrics from their own models right?

For option 3, can you spec out a in a little more detail an example of what this would look like? This seems more complicated than letting the model return any additional metrics (option 2). Is the advantage that it doesn't require changing the RPC code?

[2018-02-12 20:54] dcrankshaw commented on #408
There are some other downsides to summaries as well. In particular, it sounds like they cannot be combined so it sounds like it would be hard to support aggregate metrics (e.g. across model containers). What if we set the histogram buckets based on the user-provided SLO?

[2018-02-12 21:26] simon-mo commented on #408
You are right. I’m closing this. But I’ll open a new issue later to:
- find the best way to generate buckets given SLO
- add an api in clipper admin for user to specific buckets if needed.

[2018-02-12 21:26] #408 closed, assigned to nobody

[2018-02-12 21:40] simon-mo commented on #401
@dcrankshaw
Yep. The example use case I have in mind is
1. A classification model, the count for each categories.
2. Some metrics of input data: variance, image histogram (concept drift detection)
3. Time metric for long running model. (layer-wise latency for each layer in CNN).

Users should be responsible exporting, Clipper should be responsible handling the metric and integrat them into prometh

[2018-02-12 23:26] withsmilo commented on #152
@dcrankshaw
Thank you for your advice. I agreed with your opinion. How about use Docker's [healthcheck](https://docs.docker.com/engine/reference/builder/#healthcheck) option in DockerFile and then check `healthy` status in the our *ContainerManager to decide whether a container is running or not?

According to [the reference](https://docs.docker.com/engine/reference/builder/#healthcheck),

[2018-02-14 03:01] dcrankshaw commented on #152
That's a good idea. @chester-leung for a first step, let's get a version working that just looks at the container state. As a second step, we can modify the RPC implementation to write a file somewhere once the container has connected to Clipper as the healthcheck.

[2018-02-14 05:17] dcrankshaw commented on #310
This is in progress. @rbala19 can you give a brief summary of what we tried and what you're working on now?

[2018-02-14 08:36] rbala19 commented on #310
Over the past two weeks, we've been looking into a more fault tolerant implementation of the query-frontend to model interaction. Currently, we have a system in place that allows the user to specify how many query-frontend replicas they want to deploy. Once these replicas are deployed, any model that is subsequently deployed will be deployed to each replica frontend.

In addition to increasing fau

[2018-02-15 23:29] Corey-Zumar commented on #396
@vivekka93 This appears to be an issue with CodeDepends - the library used for capturing function dependencies. The problematic call is located here: https://github.com/ucbrise/clipper/blob/dd127184521c7e2590758fc18e6ee4866805fdc5/containers/R/rclipper_user/R/serialize_model.R#L116. I've filed an issue with CodeDepends: https://github.com/duncantl/CodeDepends/issues/21. I will look into finding a

[2018-02-16 01:34] dcrankshaw commented on #364
Added in #405

[2018-02-16 01:34] #364 closed, assigned to chester-leung

[2018-02-20 01:04] simon-mo commented on #339
This issue kind of outdated. Closing to open up more fine-grained issues.

[2018-02-20 01:06] dcrankshaw commented on #339
Let's leave this open until #411 gets merged. That gets the initial infrastructure in place. Then we can switch to more fine-grained issues as we tackle various improvements.

[2018-02-20 01:07] simon-mo opened #412 "[Metrics] Allow users to specify histogram buckets in clipper_admin"
~~Currently, we support users to specify the histogram buckets in `metric_config.yaml`~~, we should enable users to set the configuration inside clipper_admin interface so users can interact with metric inside `clipper_admin` through scripting or python-cli

[2018-02-20 01:24] simon-mo commented on #401
Examples to be added:
1. Time metrics for preprocessing step and prediction step.
2. Result count for each classification (_concept drift_)

[2018-02-21 06:20] simon-mo commented on #412
After some thoughts:
- `metric_config.yaml` is not visible to users and packed directly into rpc.py. This metric_config files is for Clipper's own metrics.
- If users want to specify histogram buckets for Clipper's metrics (as overriding default buckets), one place can be at `deployer::create_endpoint`. However, this requires changes in all the possible deployers and creates unnecessary complicati

[2018-02-21 06:28] simon-mo commented on #412
/api/v1/
- add
	POST: name, type, description, (bucket)
- report
	POST: name, metric data
- update_default
	POST: name, new_bucket

[2018-02-21 18:34] dcrankshaw commented on #412
That makes sense. I think it's logical to place *model-specific* metric configuration (whether that is changing default bucket sizes, adding their own metrics, etc), in the model container code.

[2018-02-21 19:04] dcrankshaw commented on #412
The other thing to keep in mind is how to support these metrics in model containers implemented in other languages. Is there a way to keep the metrics exporter code unified in Python, and export to it from a model container written in Java or R?

[2018-02-23 20:47] dcrankshaw commented on #340
Added in #362

[2018-02-23 20:47] #340 closed, assigned to haofanwang

[2018-02-28 00:07] dcrankshaw opened #421 "[Metrics] Extend metrics to measure physical performance stats"
It would be great to extend our monitoring infrastructure to measure more physical performance. To start with, @blackhat06 suggested tracking the following resource metrics:

+ [ ] Disk IO: % time that device was busy
+ [ ] Memory: % of total memory capacity in use
+ [ ] CPU Utilization: 5,10,15 min
+ [ ] Memory Utilization: Breakdown by memory
+ [ ] % volume usage: Disk all mounted
+ [ ] Bits IN/

[2018-02-28 01:03] simon-mo commented on #421
Prometheus can track these with node exporter https://github.com/prometheus/node_exporter/blob/master/README.md

For Kubernetes we can just scrape kube-api-server/metrics. Kubernetes expose Prometheus metrics there

[2018-03-01 07:15] hitesh-tarani opened #422 "Issue in deploying models when clipper_admin package is hosted in docker application"
I am trying to deploy clipper models from an application running in docker on the same host where clipper query & management frontend and redis are running.
I am starting my clipper connection with container manager:
DockerContainerManager(docker_ip_address=`<my-ipv4-addr>`)

But the deployment is failing with the following traceback:
`Traceback:`
[code]
In the docs [http://docs.clipper.ai/en/rele

[2018-03-01 07:16] simon-mo opened #423 "[Metrics] Model Container Metric Server Design"
## Model Container Metric Server Design

To implement #412 and #401, we planed to build a small metric server that was spawned by `rpc.py` and exposes the api to accept any user defined metrics or update default configuration.

After experimenting with a small metric server inside model container RPC, the performance is not optimal. For a small python flask server accepting metrics dictionary via

[2018-03-01 07:16] simon-mo commented on #423
@Corey-Zumar any comments?

[2018-03-01 19:46] Corey-Zumar commented on #423
@Simon-Mo This makes sense. Can you elaborate on the process of communicating between the metrics-server subprocess and the rpc process? Metrics data from a model class inheriting from `rpc.ModelContainerBase` will need to be transmitted to the metrics subprocess and then persisted to Redis via the pub-sub mechanism. Do you intend to use a multi-process queue or some other piece of MP infrastructu

[2018-03-01 19:51] Corey-Zumar commented on #423
@Simon-Mo Ah, I see. Your proposed multi-process communication strategy is the use of the Redis channel, right? We'll want to make sure that the RPC implementation makes calls to the Redis channel on a separate thread; we don't want metrics message passing overheads to detract from RPC performance; this should be straightforward in R and C++, but the GIL may complicate the task in Python.

[2018-03-01 23:16] simon-mo commented on #423
@Corey-Zumar It is true the redis is now a multi-process communication strategy.

Addressing other points:
- I ran some numbers: from a raw ({str: int, str: float}) dictionary via pickle to send out the metric:
   1. redis-py takes 85 µs over TCP, 42 µs over unix socket.
   2. zeromq takes 80 µs
   2. [credis](https://github.com/yihuang/credis) takes 53 µs over TCP, **30 µs over unix socket**.
 (r

[2018-03-02 00:07] withsmilo commented on #422
@hitesh-tarani
You have an error failed to build your Docker image. I think that your error has nothing to do with `docker_ip_address` .

[2018-03-02 02:07] withsmilo commented on #310
@dcrankshaw
Is it true?

[2018-03-02 07:40] hitesh-tarani commented on #422
This was an issue with running docker-py inside docker container.
Needed to bind-mount docker socket in the container.
Reference: [https://github.com/docker/docker-py/issues/1334](https://github.com/docker/docker-py/issues/1334)

Thanks, for the help. Closing the issue.

[2018-03-02 07:40] #422 closed, assigned to nobody

[2018-03-02 07:58] hitesh-tarani opened #424 "[Metrics] Docker Metric Monitoring using hardcoded ip and ports for Prometheus Configuration"
[docker_metric_utils.py#L156](https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_admin/docker/docker_metric_utils.py#L156) & [docker_metric_utils.py#L176](https://github.com/ucbrise/clipper/blob/develop/clipper_admin/clipper_admin/docker/docker_metric_utils.py#L176) uses hardcoded ports for prometheus configuration.
@withsmilo, PR #402 should use configuration added in #384.

[2018-03-06 03:03] chester-leung opened #425 "Signal when rpc.start() is called"
Use Docker health checking to signal when rpc.start() is called.

[2018-03-06 09:37] chester-leung commented on #152
So far, I've implemented a fix to force the container manager to sleep until all added containers are deemed ready. This should fix the problem of querying a model in a new container before the new container is fully functional.

[2018-03-06 17:22] Jeffwan commented on #310
@rbala19 @dcrankshaw
Instead of making changes on existing solution, I am thinking is it possible to ask query processor to connect to model containers ? (models can be deployed as kubernetes service)
1. Everytime end user deploys a model, write <model, k8s-service-lb> in meta store.
2. For every prediction request, query processor get model endpoint from meta store.
3. Query processor send rpc re

[2018-03-07 19:16] dcrankshaw commented on #425
Will address #152

[2018-03-08 00:45] dcrankshaw commented on #424
@simon-mo can you look into this?

[2018-03-08 01:11] simon-mo commented on #424
@dcrankshaw yeah sure it should be a quick fix. @hitesh-tarani thanks for catching this!

[2018-03-08 09:02] chester-leung commented on #425
Issue: When we update a model version, we query the new model before its container and it are ready, resulting in default predictions being returned. We want to wait until the new model is ready to be queried before we go ahead and query it.

Proposal: Before `rpc.start()` is called, we know that the model and its container are ready. Therefore, in this function, we can use the SDK version of the

[2018-03-08 19:17] simon-mo opened #430 "[Metrics] Use Prometheus label system for frontend-exporter"
Currently, the frontend-exporter just flatten the metric json and log each sub-metric as guage. We need to use Prometheus label system for our metrics.

For example,
[code]
should be
[code]

In short, figure out the schema and convert it appropriately.

[2018-03-09 03:26] dcrankshaw commented on #310
You're right that it simplifies the architecture. However, that approach has two big drawbacks.

1) Initiating a new connection for each request adds a significant amount of overhead, and will substantially impact our ability to meet latency SLOs.
2) The query frontend has a single request queue that dispatches to all replicas of a model. We carefully load-balance and dispatch these requests in ba

[2018-03-09 03:52] dcrankshaw commented on #425
Thanks for writing this up. This is mostly right. Everything after the first paragraph of the proposal is spot on.

In terms of actually writing the `model_is_ready` file though, remember that `rpc.start()` is called *inside the container.* So we don't need to use docker exec, we can just directly write a file to the filesystem from within `rpc.py`. Does that make sense?

[2018-03-09 04:02] chester-leung commented on #425
Got it. Should I go ahead and implement this?

[2018-03-09 04:04] RehanSD commented on #341
@dcrankshaw @simon-mo Simon and I were talking, and we highlighted two approaches to deploying models like XGBoost:
* Have a nested predict function (within main) that has the model, i.e.: (user code)
[code]
* Have a separate, general, deployer for models that you can pickle - that way, any and all models that we/users utilize in this fashion can have similar syntax to the other models - users eit

[2018-03-09 04:24] simon-mo commented on #341
^ A separate "XGBoost" deployer is something we can market. We can tell the users:
- There is a XGBoost deployer at your disposal that takes some pickled model that serve it. You can go from a saved model to rest endpoint within 10 lines.
- In fact, we wrote XGBoost deployer just using `depoly_and_test_model` or `depoly_python_closure`, check out tutorial on writing your own deployer!
- It's reall

[2018-03-09 04:29] RehanSD commented on #341
^ Actually Simon I think that the PyRPC deployer does just that. I'm not sure where the error I was getting from earlier came from, but it seems to be resolved. Might have been something I changed on accident.

[2018-03-09 18:35] dcrankshaw commented on #341
I agree with @simon-mo that this is something we should market and write a
tutorial about. But we don't need a separate implementation. The Python
closure deployer already is the model deployer for any Python objects
(models or otherwise) that can be pickled. The only reason we have separate
model deployers for the other frameworks is because those models cannot be
pickled. Since XGBoost can be pi

[2018-03-10 22:29] simon-mo commented on #421
Update:
- For Docker, we can safely assume user only has on node so we can just run a node exporter at startup.
- Kubernetes's API service does expose metrics but the metrics are about the api server requests itself and etcd usage. We should use a DaemonSet. It will deploy a prometheus node exporter to each node (https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/). In fact this i

[2018-03-11 03:17] lgendrot commented on #338
I've been paying rather close attention to this issue, so I'm just wondering if there's been any behind-the-scenes movement on it? Feels like a major value add for clipper.

[2018-03-12 19:39] dcrankshaw commented on #421
Awesome. cc @blackhat06

[2018-03-12 23:19] dcrankshaw opened #433 "Allow models to be deleted"
As part of the effort to complete #342

[2018-03-12 23:20] dcrankshaw opened #434 "Allow applications and application links to be deleted"
As part of the effort to complete #342

[2018-03-13 22:24] #360 closed, assigned to rohsuresh

[2018-03-13 23:31] dcrankshaw commented on #392
The R package depends on a Python package (clipper_admin), so we will be unable to get it past the CRAN review process. For now, the recommended way to install the R package is from github.

[2018-03-13 23:31] #392 closed, assigned to Corey-Zumar

[2018-03-14 04:20] simon-mo opened #436 "[Kubernetes] What image pull policy to use?"
- So we do not have a image pull policy in all Kuberntetes configuration. This will lead to Kubernetes use the cached image on the node. This is fine for Clipper's management/query frontend as well as redis. **However, model container shouldn't be cached**.
- There is model version exposed to the user but the most likely scenario is: user use the same name for some model over and over again and pr

[2018-03-14 05:31] dcrankshaw opened #437 "Run Clipper in its own user-specified namespace on Kubernetes"
We currently deploy Clipper into the default Kubernetes namespace. Instead, we should allow users to specify a namespace for the Clipper cluster. This will help users keep things isolated. It will also allow users to run multiple independent Clipper clusters in different namespaces on the same Kubernetes cluster.

[2018-03-15 04:38] dcrankshaw commented on #436
So Clipper won't let you deploy multiple models with the same name and version. The idea is that once Clipper is informed of a model and version, that should be immutable. If you want to change anything, you have to register a new model or change the version. In that case, caching seems like it should be fine.

[2018-03-15 10:31] inejc commented on #406
Any new info regarding the plans around this? This seems like a critical feature to have in order to do AB testing. How big of a task would it be to implement it + which parts of the project would it touch (I don't think I would be able to offer too much help if it would require writing a lot of C++ code 😄)?

[2018-03-15 17:18] dcrankshaw opened #439 "Evaluate the use of MLeap in the Spark Scala model containers"
1) Export some common Spark models (e.g. the ones referenced in the Spark ML tutorials) to MLeap and benchmark the inference performance of native Spark vs MLeap.
2) If MLeap is sufficiently faster, include a model deployer that allows users to export Spark models and run them in MLeap automatically.

[2018-03-16 05:59] dcrankshaw commented on #406
@daminig is working on this. She has an implementation already and is just ironing out the testing. We'll have a PR up next week.

[2018-03-16 08:52] inejc commented on #406
That's great to hear. Thanks for the reply.

[2018-03-17 03:26] dcrankshaw commented on #339
Added in #427

[2018-03-17 03:26] #339 closed, assigned to simon-mo

[2018-03-17 03:27] dcrankshaw commented on #363
Added in #427

[2018-03-17 03:27] #363 closed, assigned to simon-mo

[2018-03-18 21:59] rohsuresh opened #441 "Extend model container testing to all deployers"
Extend model serialization/functionality testing of test_predict_function to all deployers (not just python).

[2018-03-19 09:52] vinotna opened #442 "Clipper does not persist application and model details"
Stopping the clipper seem to remove all application and model details from clipper/redis. Please find the use case details below,

1. Start clipper

[code]

2. Register an application using clipper_conn.register_application()

3. Deploy the model using deploy_python_closure()

4. Link model to application using clipper_conn.link_model_to_app()

5. Stop clipper

`clipper_conn.stop_all()`

6. Start

[2018-03-20 02:19] xunzhang opened #443 "Using clipper without model selection layer"
Can I use clipper without model selection layer? Say, the application directly send requests and they go to the model abstraction layer(dynamic batching) and RPC the backend serving service?

The reason why I don't want to use model selection is that sometimes when training served models, we have already decided what model to use, and I don't want additional overhead to do model selection at runti

[2018-03-20 05:26] dcrankshaw commented on #442
Hi @vinotna. This behavior happens because the Redis container gets stopped by `stop_all()` and a new one started when you call `start_clipper()` again. We recommend providing Clipper with your own, fault-tolerant and persistent Redis instance. See [this documentation](http://clipper.ai/tutorials/container_managers/) for a little more detail.

[2018-03-20 05:26] #442 closed, assigned to nobody

[2018-03-20 09:32] simon-mo opened #445 "[Integration Test] PySpark Redundancy"
In [PySpark Integration Test](https://github.com/ucbrise/clipper/blob/09dfc9766e9f5bebefe6cdc7690267d2860028f4/integration-tests/deploy_pyspark_models.py#L162-L178) we have the following lines:

[code]

There are two issues:
- Three models are trained. Do we need to train 3 models and test all three?
- The random forest model is not deployed. The svm is deployed twice.

[2018-03-21 01:03] dsimmen opened #446 "connection refused connecting with clipper at local host port"
Working through first install and "hello world".   Any ideas why this is failing.

dsimmen-MBP-8C916:~ dsimmen$ python
Python 2.7.10 (default, Feb  7 2017, 00:08:15)
[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.34)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

18-03-20:18:00:40 INFO     [clipper_admin.py:123] Successfully connected to Clipper cluster at

[2018-03-21 01:07] withsmilo commented on #446
@dsimmen
Did you start Clipper before registering the 'hello-world' application?
[code]

[2018-03-21 02:59] dcrankshaw commented on #338
I just implemented this. It still needs a bit of testing, but I should have
a PR up by the end of the week.

On Sat, Mar 10, 2018 at 7:17 PM, Luc Gendrot <notifications@github.com>
wrote:

[2018-03-21 03:09] dcrankshaw commented on #443
Hi @xunzhang. This is actually the only currently supported way to use Clipper right now. We are currently working on adding back support for selection policies, but right now no selection policies are used. You link a model directly to an application and queries go straight to the model.

[2018-03-21 03:09] #443 closed, assigned to nobody

[2018-03-21 03:10] dcrankshaw commented on #445
That is definitely a bug. The intent was to deploy the random forest model instead of the SVM model twice. The idea behind testing all 3 models is that they use different sub-components of Spark's ML interface, so this gives us slightly better test coverage. Do the Spark tests take a long time to run?

[2018-03-23 01:41] dsimmen commented on #446
Thanks for reply. I sent the wrong session : ) Yes, there us a start_clipper() error. Thanks.

dsimmen-MBP-8C916:~ dsimmen$ python
Python 2.7.10 (default, Feb  7 2017, 00:08:15)
[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.34)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/U

[2018-03-23 05:43] dcrankshaw commented on #446
Hi @dsimmen. Sorry you're having trouble. Let me see if I can help you debug.

What version of Python are you using? Were you able to successfully run `start_clipper()`? If so, can you paste the output of `docker ps -a` after you start Clipper?

[2018-03-23 05:48] simon-mo commented on #446
The issue seems to be the MacOS pre installed package (six). Few comments
and solution here:
https://github.com/google/google-api-python-client/issues/100

On Thu, Mar 22, 2018 at 10:44 PM Dan Crankshaw <notifications@github.com>
wrote:

[2018-03-23 20:33] simon-mo opened #448 "[Metrics] Use tempfile module instead of '/tmp'"
`/tmp` is not Windows compatible. Use `tempfile` module instead:
[code]

[2018-03-26 02:01] withsmilo commented on #310
@dcrankshaw
For container orchestration I use Docker Swarm, not Kubernetes. In this case, if I increase the replicas of Query-Frontend, Clipper gave me so slow replies about some requests. Through inspecting Clipper codes, I found that _current Clipper architecture does not support Docker Swarm_, in which multiple replicas of a Swarm service have **the same IP and port**. So I modified Clipper arc

[2018-03-26 16:43] kvechera opened #449 "Running Clipper without Docker containers at all"
Is there any recommended way to run the Clipper services without separating them into a Docker containers? I.e. run the query frontend with a caffe2 model rpc-server in the single machine. With no cluster management, redis etc. Something similar to plain Nginx + MXNet Model Server bundle.

[2018-03-26 17:42] dsimmen commented on #446
Thanks for the pointer. I needed to upgrade osx six package. This command worked for me “pip install six --upgrade --user python”

From: Simon Mo <notifications@github.com>
Reply-To: ucbrise/clipper <reply@reply.github.com>
Date: Thursday, March 22, 2018 at 10:48 PM
To: ucbrise/clipper <clipper@noreply.github.com>
Cc: David Simmen <dsimmen@splunk.com>, Mention <mention@noreply.github.com>
Subject:

[2018-03-26 21:27] dcrankshaw opened #450 "Add support for selection policies (for A/B testing, etc) as outlined in the Clipper NSDI paper"
The [Clipper NSDI paper](https://www.usenix.org/conference/nsdi17/technical-sessions/presentation/crankshaw) and the original [design doc](https://docs.google.com/document/d/1Ghc-CAKXzzRshSa6FlonFa5ttmtHRAqFwMg7vhuJakw/edit?usp=sharing) included support for *selection policies* to support use cases ranging from A/B testing and label-based or query-based model to more complex techniques such as ens

[2018-03-26 21:29] #341 closed, assigned to RehanSD

[2018-03-26 22:01] dcrankshaw commented on #310
@withsmilo Oh very cool. Glad to hear you got this working for your use case. And thanks for sharing here! This should help future users who have similar use cases to yours.

[2018-03-26 23:36] simon-mo opened #452 "[Metrics] Port metrics client to Java & R containers"
Now we have implemented a language agnostic metric server in python, we need to add client support for Java and R model container. To do so, the following actions need to be taken:
- [ ] Write a client is corresponding language. (That is, add `clipper_admin.metrics` and implement `add_metric` and `report_metric` method)
- [ ] Find a way start a subprocess call to (1) start redis server (2) start t

[2018-03-29 00:13] dcrankshaw commented on #449
There's nothing inherent about the Clipper implementation that requires Docker. There's a [script](https://github.com/ucbrise/clipper/blob/develop/bin/start_clipper.sh) in `bin/` that you can use to start Clipper directly outside of Docker, although it may require some tweaking (we recently added support for Prometheus which that script will not start). Once you've started Clipper, you can connect

[2018-03-29 00:29] #446 closed, assigned to nobody

[2018-03-29 15:39] withsmilo opened #456 "[Bug] Clipper returns an unintended result when prediction result is too long"
I modified QuickStart codes like below,
[code]

And then, sent some following calls to the Clipper API,
[code]
I received the following unintended result.
[code]
QueryFrontend's error logs are here.
[code]
But if I reduce prediction result's size, everything is OK.
[code]

What's wrong?

[2018-04-04 00:52] dcrankshaw opened #459 "Use pip freeze to add dependency tracking back to Clipper"
In #435 we removed a feature that automatically tracked down Python package dependencies and installed them in model containers at runtime. The reason to remove the dependency handling was twofold.
1. The dependency handling relied on Anaconda, and conda was causing a ton of issues in our Docker builds. I decided to remove conda from our Docker containers and just build minimal docker images.
2. T

[2018-04-04 01:03] simon-mo commented on #459
`pip freeze` outputs whatever user `pip install` before. It can be a huge list if the user is not in a virtualenv/conda env and involves a lot of unrelated packages. Option 3 needs a clever solution that track the exact packages needed by the user's model.

[2018-04-04 01:29] dcrankshaw commented on #459
@simon-mo Yeah that's what the [module dependency analyzer](https://github.com/ucbrise/clipper/blob/931561fa02e790af25483455948ff53a3f2e47f2/clipper_admin/clipper_admin/deployers/module_dependency.py) attempts to do. But part of the problem with the just-removed existing implementation was that it captured a bunch of spurious packages that weren't needed.

[2018-04-04 16:23] dcrankshaw opened #460 "Enable multiple Clipper clusters to be running concurrently in Docker & Kubernetes"
We should allow users to specify a cluster name for Clipper when starting an instance. Then a ClipperConnection object should be associated with that specific cluster name. This will enable multiple clusters to be running side by side on the same K8s cluster, which is useful for supporting multi-tenancy applications and will help with testing.

This can be achieved via a slight modification of the

[2018-04-05 22:13] dcrankshaw commented on #460
Alternatively we can use Kubernetes namespaces to achieve this

[2018-04-05 23:32] simon-mo commented on #423
Closed via #440

[2018-04-05 23:32] #423 closed, assigned to nobody

[2018-04-05 23:32] simon-mo commented on #412
Closed via #440

[2018-04-05 23:32] #412 closed, assigned to simon-mo

[2018-04-05 23:32] simon-mo commented on #401
Closed via #440

[2018-04-05 23:32] #401 closed, assigned to simon-mo

[2018-04-06 03:44] dcrankshaw commented on #374
Added in ucbrise/clipper-website#15

[2018-04-06 03:44] #374 closed, assigned to simon-mo

[2018-04-06 07:40] simon-mo opened #461 "[Refactor] Use template engine to generate kubernetes YAML"
instead of doing things like
[code]

We can use template engine like [jinja2](http://jinja.pocoo.org/docs/2.10/intro/), we can just readin the yaml file, render it from a dictionary of variables:
[code]

This will probably reduce ~100 lines of code + abstracting away service/deployment creation.

[2018-04-06 17:28] #456 closed, assigned to nobody

[2018-04-07 00:31] ryanhoque opened #463 "Criteo ad serving simulator"
Having a long-running Clipper cluster under an active workload will serve as a stress-test for the system. More specifically, we will deploy Clipper on Kubernetes with Redis configured to run in fault-tolerant mode and query Clipper's REST interface. We will be training the first place model from the 2014 display advertising Kaggle competition with a dataset from Criteo and deploy it to Clipper ev

[2018-04-08 17:18] #152 closed, assigned to chester-leung

[2018-04-08 17:18] #425 closed, assigned to chester-leung

[2018-04-08 17:18] #436 closed, assigned to nobody

[2018-04-09 16:23] gtfierro commented on #406
Any progress on this?

[2018-04-09 18:48] sudham opened #465 "No Clipper query frontend found"
Am trying to deply a model - I get this error
"No Clipper query frontend found to attach model container to"
Please let me know how to resolve this.

[2018-04-10 12:49] sujit420 opened #466 "how to serve pretrained pytorch/tensorflow/scikit models"
I am using deploy_pytorch_model() method, passing my pytorch model as a parameter. It gets stuck every time after saying: "Found 0 replicas of <model name>: adding 1"
Simultaneously, I am getting error while deploying : "Error saving torch model: Translate instance has no attribute 'state_dict'"
Note: I am using a pre-trained pytorch model of type dict.

[2018-04-10 17:53] csmithnm commented on #422
Can someone please give me a hint how I would "bind-mount docker socket in the container" for the clipper_admin?
I am trying the Clipper.ai "Getting Started" and I have tried digging into the clipper_admin code, but I am having issues finding the exact location of where to add the mount:
`-v /var/run/docker.sock:/var/run/docker.sock`
Would that be in the clipper/clipper_admin/docs/Makefile ?  Unde

[2018-04-10 19:14] csmithnm commented on #422
CORRECTION: After more digging...I see that clipper/clipper_admin/docs/Makefile is completely wrong because it is for documentation.  I am now digging into the DockerContainerManager() API possibly under the `extra_container_kwargs={}` option.

[2018-04-10 21:45] csmithnm commented on #422
SOLVED:  After more digging, I found the issue was with NOT having Docker running (sorry, total noob error). So I started up Docker and then ran into a "Permission denied" error.  Which probably has to do with having installed Anaconda2 via root. So I sudo'd  to root: `sudo su -`, then started `ipython` and issued the [Clipper.ai Getting Started](http://clipper.ai/) commands and got Clipper runnin

[2018-04-11 09:22] kbalka opened #467 "Tensorflow model container stops responding after predict function thrown exception"
After passing incorrect input to predict function, I have to scale down and up the model in
order to predict again.

I think the exceptions from predict function should be caught and logged, but they should not
break the prediction loop.

Logs from model container:

Sent heartbeat!
Received heartbeat!
Sent heartbeat!
Received heartbeat!
Sent heartbeat!
Received heartbeat!
Sent heartbeat!
Received

[2018-04-13 00:00] withsmilo commented on #465
@sudham :
Did you start Clipper before deploying your model?

[2018-04-13 00:29] withsmilo opened #468 "QueryFrontend's memory usage increases continuously"
I have deployed so many different versions of the same model repeatedly using Clipper to our cluster for a week. As the result, QueryFrontend's memory usage increased continuously. (95MB -> 250MB) I think that ActiveContainers list of QueryFrontend is growing up quickly, but old `ModelContainer`s are not deleted from the ActiveContainers list.

Is this intentional?

[2018-04-13 08:49] sheikirfanbasha opened #469 "Trouble in getting_started"
Hi,

I am running on `ubuntu 16.04` and python version: `Python 2.7.14 :: Anaconda, Inc.`

I am following the steps mentioned as per [getting started doc](http://clipper.ai/).

But, when I execute the below command in `ipython`. I keep getting the error `AttributeError: 'bool' object has no attribute 'startswith'`

[code]

I have tested it both on Mac and Ubuntu. In both environments I see the sam

[2018-04-14 05:00] sheikirfanbasha commented on #469
Solved by installing `clipper_admin` directly from `github`.
[code]

[2018-04-14 05:00] #469 closed, assigned to nobody

[2018-04-15 05:33] dcrankshaw commented on #467
Ahh this is an excellent point. Thanks for bringing this to our attention.

[2018-04-15 05:39] dcrankshaw commented on #468
It's intended behavior but not desired behavior. #378 detects when old containers are no longer connected and GCs them from the active containers list, which should address this issue.

[2018-04-15 13:04] withsmilo commented on #468
@dcrankshaw : Thanks for your reply. For serving side of stability, I think that this issue is critical.
We will apply some workaround fixes before merging with #378.

[2018-04-16 01:49] #396 closed, assigned to Corey-Zumar

[2018-04-16 16:01] sudham commented on #465
I was able to resolve it - it seems as if there was not enough disk space. Thank you.
Am closing this issue.

[2018-04-16 16:01] #465 closed, assigned to nobody

[2018-04-16 16:03] sudham opened #472 "Error, exception handling"
I tried this example
https://github.com/ShuaiW/serve-ml-with-clipper
and it works. However, I have a question - what is the best way to handle errors and exceptions ?

[2018-04-18 13:52] withsmilo commented on #468
I would like to share some test results with you. My Clipper's QueryFrontend maintains latest ModelContainer only in the ActiveContainers list (containers_), but QueryFrontend's memory usage still increases continuously.

Where do you think the cause is? ==> I think that RPCService's `connections_containers_map` is increasing continuously. Thank you!

[2018-04-19 04:41] csmithnm opened #473 "Q: Examples of RClipper using complex R DataFrames?"
**Q: Would it be possible to get some more complex examples of RClipper using R DataFrames?**
The current example only uses "ints" which does not really show the needed complexity to implement a complex R DataFrame with multiple strings with label/value pairs. Actually, I am not even sure if Clipper supports label/value pairs as inputs, for example:
{"Name":"Luke Skywalker",
"Age":"34",
"Height":"

[2018-04-19 04:49] csmithnm opened #474 "Missing Docker clipper/r-container-base:0.2.0 for RClipper"
When attempting build an R model using the RClipper build_model() function, the build was unable to download the Docker image `clipper/r-container-base:0.2.0`.  When I went to the Docker repository, I found there were no "0.2.0" tag versions so I had to download the "develop" version to my local Docker install and rename the image tag to "0.2.0" to get the build to work.

[2018-04-20 07:02] simon-mo opened #475 "Caffe2 Build Issue"
Caffe2OnnxContainer is having issue building from source.

Some submodule checkout failed:
[code]

Jenkins Log: https://amplab.cs.berkeley.edu/jenkins/job/Clipper-PRB/1371/console

Related issue on PyTorch and Caffe2 issue page:
https://github.com/caffe2/caffe2/issues/2510
https://github.com/pytorch/pytorch/issues/6776

[2018-04-20 07:07] simon-mo commented on #475
I was able to reproduce it on my local machine:

[code]

[2018-04-20 07:12] simon-mo commented on #472
@sudham Thanks for trying out Clipper!
Do you mean handle errors that occurs within models? This is something we are aware of and will address soon. See #467

[2018-04-20 07:19] simon-mo commented on #466
@sujit420

1. `deploy_pytorch_model()` needs prediction function that takes (model, input) as parameter as well.
2. The model needs to be pytorch model instead of a dict. You might need to use `model.load_state_dict` to load the parameter into a pytorch model (`nn.Module`) object .

See more at: http://pytorch.org/docs/master/notes/serialization.html

[2018-04-20 07:26] simon-mo commented on #473
I'll leave the first question to @Corey-Zumar. key-value pairs are potential use case such that Clipper will directly be exposed as part of the micro-service.

To answer the second question, do you mean the input format for each applications?
- You can use `clipper_conn.get_all_apps(verbose=True)` to get all applications' `name, input_type, default_output, slo_micros`; or `clipper_conn.get_all_mod

[2018-04-20 07:28] simon-mo commented on #475
Some builds succeed because docker cached it:
[code]

[2018-04-20 08:37] paul-crease opened #477 "Prometheus monitoring in K8s has incorrect permissions"
I am unable to run Clipper on K8s version 1.10.0 (using minikube). Prometheus seems to not have correct permissions.

**Method to reproduce**:
install minikube version: v0.26.1, K8s version 1.10.0
run command to start minikube:
```minikube start --insecure-registry localhost:5000```

run python code to init clipper cluster on K8s:

[code]

**Expected Result**:
All components of Clipper are install

[2018-04-20 09:04] simon-mo commented on #477
@paul-crease

For this snippet:
[code]
If I add `clipper_conn.start_clipper()` before `clipper_conn.connect()`, (running clipper the first time), I was able to start prometheus in my minikube environment, logging shows:
[code]

Can you try `clipper_conn.start_clipper()` and see if that will work?

[2018-04-20 09:41] paul-crease commented on #477
@simon-mo - Thanks for the suggestion. I updated the code as suggested but had no luck:

[code]
Again I just get the error msg below repeatedly:

[code]
I also tried to remove clipper completely and then re-run the suggested code, but I get the same result as before for Metrics logging

[2018-04-20 09:51] Corey-Zumar commented on #473
@csmithnm Great question regarding R dataframes. Rclipper accepts dataframes in json-serialized format using the [jsonlite](https://cran.r-project.org/web/packages/jsonlite/vignettes/json-aaquickstart.html) library. For example, to send the mtcars dataframe to clipper, you could proceed as follows:

In an R shell:
[code]

You can the send the `json_mtcars` string to a Clipper application in the bo

[2018-04-20 10:15] simon-mo commented on #477
@paul-crease

- I tried reproducing the issue with a fresh install of minikube `v0.26.1`, K8s `v1.10.0` on a Mac.
- I was able to run
[code]
with success. Although it took quite a long time, this is because the local machine is pulling the images. It took ~3 minutes on average download speed of 7-9Mb/s for the fresh install.
- You can first run `kubectl get pods` and then `kubectl describe po/{pod

[2018-04-20 14:52] paul-crease commented on #477
Again, thanks for the quick response. I am using OSX v10.11.5

"I'm wondering if it is possible that any configuration flags were set" - I just used defaults, `minikube config view` returns nothing.

`minikube start --insecure-registry localhost:5000 --vm-driver hyperkit` - this still results in the same behaviour

`kubectl get pods all` - I get the same results, everything is Running after a coup

[2018-04-20 19:29] goswamig commented on #475
any update ?

[2018-04-20 20:42] dcrankshaw commented on #477
@chester-leung is going to try to reproduce this on OSX.

[2018-04-20 20:48] dcrankshaw commented on #468
That's a good point. @amogkam is going to look into cleaning up the connections map now that #378 got merged.

[2018-04-20 20:51] csmithnm commented on #473
Thank you for that example of how to get the R dataframe into a format for the POST request - that helped to move me a little further forward.

My next question is about setting up the `sample_input =` interface to the R model function during the `build_model()` step.

**Q: What format/syntax is used for the R build_model() sample_input for an R dataframe and the POST "input"?**
Would it look like

[2018-04-20 21:22] amogkam commented on #468
@withsmilo #378 should actually remove inactive containers from both the `active_containers` list and `connections_containers_map`.

If the problem is persistent even with this PR merged, then I can dig into it further, but for now it looks like everything should be good.

[2018-04-20 21:30] Corey-Zumar commented on #473
@csmithnm Thank you for the very detailed description of the problem. The issue is that your dataframe is being interpreted as an array, rather than a string. You'll want to put quotation marks around the outer brackets, [[]], and escape the interior quotation marks (i.e. "mpg" becomes \\"mpg\\"). Please let me know if this works.

I realize that this isn't the cleanest interface. Perhaps it would

[2018-04-21 11:11] #472 closed, assigned to nobody

[2018-04-21 17:48] withsmilo commented on #468
@dcrankshaw @amogkam :
Thank you very much for quick review and merging of #378 PR. But after merging #378 with my branch, I found the new following problems.

#### **1. QueryFrontend sometimes crashed and caused the critical segment fault.**
How about you? I cannot be certain of that this problem is for Clipper develop branch or not because my branch is a little different from it. Anyway, to solv

[2018-04-22 01:34] chester-leung commented on #477
@paul-crease I'm able to reproduce this on OSX 10.12.6.

I'll look further into this and let you know what I find.

[2018-04-23 15:52] simon-mo commented on #463
@ryanhoque
If you need help on the metric part, feel free to ping me. We can make a public Grafana dashboard and show everyone the metrics.

For example, wikipedia has great public metric dashboard: https://grafana.wikimedia.org/dashboard/db/performance-metrics?refresh=5m&orgId=1

[2018-04-23 18:25] ryanhoque commented on #463
@simon-mo That'd be great!

[2018-04-23 21:53] csmithnm commented on #473
Thanks again for the tip on the input format. I am getting further. I believe I have gotten the inputs to work - now I think the next error is dealing with the format of the output. I tried sending the mtcars dataframe back in the return, but that failed so I tried to simplify things with just returning a string like in the example below. Each time I get the same output error dealing with `encodin

[2018-04-23 23:03] simon-mo commented on #477
@paul-crease Thanks for you patience. @chester-leung and I were able to figure out the issue.

### Issue

- When `minikube` runs on VirtualBox, (which is the default option), all the ports are closed. User have to use `kubectl proxy` to access kubernetes api and all the services.
- It shows `Clipper is still initializing` because it can't access the query frontend.

### Solution

- Clipper team is

[2018-04-25 07:10] paul-crease commented on #477
Hello. Thank you for the solution, it now works as expected. Another solution I found was to downgrade minikube to 0.25.1, which then uses K8s v1.9.4 by default. This also then solves the problem.

[2018-04-25 07:53] amogkam commented on #468
@withsmilo Thank you for the detailed response and for digging into this issue! The changes that you made make sense to me. Could you add these changes in `check_container_activity` and `remove_container` to your PR?

[2018-04-25 15:11] withsmilo commented on #468
@amogkam :
Current my PR solved `3. GarbageCollectionThread's bug` only, but I will add some codes to solve `1. check_container_activity's bug` and `2. remove_container's bug` to it.

[2018-05-01 19:55] simon-mo opened #483 "[Release] PYPI description broken"
Our package’s descrtipn on the new python package index is broken: https://pypi.org/project/clipper_admin/#description

[2018-05-01 20:00] pbontrager commented on #238
Are there plans to make the interface symmetric? Currently it's easy to send images but very inefficient to return them. With the rise of GANs NNs are returning much more than predictions. We are investigating using Clipper but our network needs to be able to return images and animations.

[2018-05-09 07:09] sheikirfanbasha opened #484 "Inconsistent prediction results for the deployed model after a day of usage"
I have a two versions of model named 'sum-model' deployed on clipper. And created an application named 'sum-app' and linked them both. The `docker ps` output is as follows:
[code]
The prediction outputs were as expected for one day. From the next day the prediction output for any changed input is always the default output with an SLO error.

### Prediction output for a cached input
[code]

### ERR

[2018-05-09 08:48] withsmilo commented on #484
@sheikirfanbasha :
Your `query-frontend`'s log shows that you have at least four replicas of sum-model.
[code]
But your Docker list has just one replica of sum-model.
[code]
Did you remove other replicas of sum-model?

[2018-05-10 22:04] csmithnm opened #486 "RClipper Error in POST: Error in if (encoding.mode == \"NULL\") {: argument is of length zero\n\"}"
I am on the process of trying to get my own example of RClipper to work using an R data frame, but I just can't seem to get it to work. The error that I get when I submit the "curl" via the REST API has been giving me the following error:
`{"query_id":9,"output":"{\"error\": Error in if (encoding.mode == \"NULL\") {: argument is of length zero\n\"}","default":false}`

I have tried numerous formats

[2018-05-10 22:59] santi81 commented on #467
@dcrankshaw do you think it makes sense to actually link it with readiness probes

[2018-05-11 14:56] #138 closed, assigned to jwirjo

[2018-05-14 02:17] withsmilo commented on #468
@amogkam :
sorry for late. I pushed some commits to my PR. I found that QueryFrontend's memory usage STILL increases continuously, so I am digging into this issue.

[2018-05-14 18:35] maccam912 opened #490 "Kubernetes label selector should use = to match label to value, not :"
https://github.com/ucbrise/clipper/blob/6388d9e8c07b780f9b0d74aaa05628f01f1f7bea/clipper_admin/clipper_admin/kubernetes/kubernetes_container_manager.py#L391

I haven't looked for where else this might be, but I was trying to stop all models with a certain name and noticed that this label selector needs an equal sign instead of a colon. The way it is  written now results in this error:

[code]

[2018-05-14 18:36] maccam912 commented on #490
I'll do a really quick PR for this.

[2018-05-14 18:52] maccam912 commented on #490
This deletes the deployment just fine, but it doesn't delete replicaset or pods as far as I can tell. It looks like stop_all() does these manually.

[2018-05-14 18:53] maccam912 commented on #490
I'll update my PR to include deleting the replica sets and pods too. And fix stop_all_model_containers too.

[2018-05-14 21:37] dcrankshaw commented on #475
@simon-mo Did the recent merge of the Caffe2 and Pytorch repos fix this build issue?

[2018-05-14 21:45] simon-mo commented on #475
@dcrankshaw No. The build was successful but there was an error loading some shared library when we `import caffe2`. The log was buried in jenkins.

My plan was wait for the PyTorch1.0 to come out during the summer (https://pytorch.org/2018/05/02/road-to-1.0.html) and then devote some hours to figure out the best way to install caffe2.

[2018-05-14 21:48] dcrankshaw commented on #475
Sounds like a good plan to me. I'll leave this issue open as a tracking issue in the meantime.

[2018-05-15 21:24] dcrankshaw commented on #310
Added in #462

[2018-05-15 21:24] #310 closed, assigned to rohsuresh, rbala19

[2018-05-15 21:25] dcrankshaw commented on #296
Fixed by #378

[2018-05-15 21:25] #296 closed, assigned to amogkam

[2018-05-16 12:02] sheikirfan commented on #484
@withsmilo Thanks for pointing that. But I don't remember having created or deleted more replicas for the sum-model. I only have deployed new version of the same model.

Anyways, I did a restart of my system and restarted all the docker containers and I don't see this behavior any more. Running consistently even after 5 days.

[2018-05-16 17:20] dcrankshaw commented on #463
What is the current status of this? @ryanhoque were you able to get this finished before the end of the semester?

[2018-05-16 17:54] ryanhoque commented on #463
@dcrankshaw I'm still having an issue with specifying an external redis cluster and I have to coordinate with Simon to finish up metrics, but it shouldn't take more than a few hours.

[2018-05-16 18:19] dcrankshaw commented on #238
@pbontrager This is great feedback. Can you expand a bit more on your performance requirements? For example, if we had a zero-copy frontend RPC interface that allowed you to use byte arrays both to send inputs and receive outputs, would that be sufficient? How big are your inputs/outputs, and what types of throughputs/latencies do you expect?

[2018-05-17 18:14] miramar-labs opened #494 "http protocol is hard-coded"
in clipper_admin.py the 'http' protocol is hard-coded in a bunch of format strings ... this should be configurable

[2018-05-17 18:57] jaganadhg opened #495 "Singularity container support for Clipper type: question"
Hi Team,
Anybody have experience with Clipper.ai and Singularity container solution.

Best

Jagan

[2018-05-19 17:02] YuchenJin commented on #475
You can do this in your dockerfile to build Caffe2OnnxContainer successfully:

[code]

[2018-05-22 00:06] pbontrager commented on #238
This would be great for our requirements. We would be generating short video clips instead of streaming in realtime. Also, at that point, the bottleneck is problably running the inferences on CPU.

[2018-05-22 15:20] GastonAQS commented on #300
Hi, I know... it's an old post but here it comes my answer.
I use OS X Sierra and g++ command to compile cpp in the terminal and I got that error too.
How I solved that? I used -lm or -ll or -ly as parameters of g++ command. For me -lm worked but for some friends doesn't so maybe you have to try with the others. Try to combine them too.
I'm sorry for my English, I still learning.
Greetings from Ar

[2018-05-22 18:58] #399 closed, assigned to nobody

[2018-05-22 19:05] simon-mo commented on #448
I'll fix occurrences in `./docker/docker_metric_utils.py`, the rest is not user-facing.

[2018-05-22 19:06] simon-mo commented on #424
Will fix this in upcoming multi-tenancy support.

[2018-05-22 19:07] simon-mo commented on #460
As a note: this will also fix #424 #448 ~#501~

[2018-05-24 05:32] parkerzf opened #499 "Ask about the performance issue of pyspark model serving"
One concern for the pyspark model serving is the real time performance or latency.

Clipper provides a wrapper of pyspark session, as mentioned in the document:

The model container creates a long-lived SparkSession when it is first initialized and uses that to load this model once at initialization time. The long-lived SparkSession and loaded model are provided by the container as arguments to th

[2018-05-28 16:45] #334 closed, assigned to Corey-Zumar

[2018-05-28 16:45] #330 closed, assigned to nobody

[2018-05-28 16:45] #331 closed, assigned to Corey-Zumar

[2018-05-28 16:45] #333 closed, assigned to nobody

[2018-05-28 18:49] simon-mo opened #501 "Close redis port"
We shouldn't expose redis port to the user because it's not necessary.

User should only be able to see:
1. query frontend 1337 port
2. management frontend 1338 port
3. metrics 9090 port

We should stop port-forward:
1. redis 6379 port
2. query rpc 7000 port

[2018-05-28 18:55] simon-mo commented on #501
redis-ip can still be used when there's external redis

[2018-05-28 19:43] simon-mo commented on #461
Ok i'm going to do this for kubernetes in multi-tenancy PR because the code is becoming very unreadable. Mostly my fault in implementing query frontend fault tolerance.

[2018-05-28 19:44] simon-mo commented on #461
#460

[2018-05-29 00:15] simon-mo commented on #460
Implementation Note:

## Docker
Docker multi-tenancy will be implemented via adding labels to containers. In Docker, each `run` command will always create a new container. Each container will have a randomly generated name which is used as unique identifier.

## Kubernetes
We can't do the same in k8s because k8s use `name` as unique identifier. However, the `name` is specified by users. Therefore,

[2018-06-05 22:09] simon-mo opened #506 "Investigate & Use Helm Chart for Kubernetes Deployment"
https://helm.sh/

- [ ] Write up a design doc for adopting helm chart. (Make sure to outline how helm chart can benefit us as Clipper architecture grows)
- [ ] Implement it.

[2018-06-05 23:28] #437 closed, assigned to santi81

[2018-06-06 00:37] dcrankshaw commented on #337
Addressed in #451

[2018-06-06 00:37] #337 closed, assigned to Corey-Zumar

[2018-06-06 00:37] dcrankshaw commented on #366
Added in #498

[2018-06-06 00:37] #366 closed, assigned to dcrankshaw

[2018-06-06 00:38] dcrankshaw commented on #434
Fixed in #254

[2018-06-06 00:38] #434 closed, assigned to JayShenoy

[2018-06-06 00:38] #403 closed, assigned to dcrankshaw

[2018-06-06 21:57] dbczumar opened #512 "Query frontend cache is inconsistent across replicas"
Because predictions are cached within the query frontend, horizontally scaling the frontend will result in frontend replicas having different prediction cache contents. This motivates decoupling the prediction cache from the query frontend, which is also beneficial because it ensures that query frontend replicas are not storing large volumes of prediction data directly. Exploring the use of a dist

[2018-06-08 20:55] #483 closed, assigned to nobody

[2018-06-11 13:20] vijinkp opened #513 "XGBoost Deployment Example is not working"
I am getting following error in docker logs while running XGBoost deployment example in Ubuntu 18.04 box.
Got start of message 0
Traceback (most recent call last):
  File "/container/python_closure_container.py", line 61, in <module>
    rpc_service.start(model)
  File "/container/rpc.py", line 726, in start
    self.server.run(collect_metrics=self.collect_metrics)
  File "/container/rpc.py", line